Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[public-api] Define DeleteWorkspace
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/ide_client.pb.go
  components/public-api/go/experimental/v1/ide_client_grpc.pb.go
  components/public-api/go/experimental/v1/oidc.pb.go
  components/public-api/go/experimental/v1/oidc_grpc.pb.go
  components/public-api/go/experimental/v1/pagination.pb.go
  components/public-api/go/experimental/v1/projects.pb.go
  components/public-api/go/experimental/v1/projects_grpc.pb.go
  components/public-api/go/experimental/v1/teams.pb.go
  components/public-api/go/experimental/v1/teams_grpc.pb.go
  components/public-api/go/experimental/v1/tokens.pb.go
  components/public-api/go/experimental/v1/tokens_grpc.pb.go
  components/public-api/go/experimental/v1/user.pb.go
  components/public-api/go/experimental/v1/user_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/ide_client.connect.go
  components/public-api/go/experimental/v1/v1connect/oidc.connect.go
  components/public-api/go/experimental/v1/v1connect/projects.connect.go
  components/public-api/go/experimental/v1/v1connect/teams.connect.go
  components/public-api/go/experimental/v1/v1connect/tokens.connect.go
  components/public-api/go/experimental/v1/v1connect/user.connect.go
  components/public-api/go/experimental/v1/v1connect/workspaces.connect.go
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/go/experimental/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/ide_client_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/ide_client_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/pagination_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/projects_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/projects_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/teams_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/teams_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/tokens_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/tokens_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/user_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/user_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: none

[public-api] Implement & Use Delete Workspace RPC
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/workspace-model.ts
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
Due: components-dashboard-app

Avoid shutting down terminals when closing JetBrains Client
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodTerminalService.kt
Due: none

[previewctl] changed staleness logic
  dev/preview/previewctl/cmd/stale.go
  dev/preview/previewctl/pkg/preview/status.go
Due: none

fix: messaging around projects & prebuild error
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/prebuilds/start-prebuild-context-parser.ts
Due: none

ide: extend integration tests timeout to 2h
  .gitpod.yml
  .werft/ide-integration-tests-startup.sh
  dev/image/Dockerfile
  test/run.sh
  test/tests/ide/jetbrains/gateway_test.go
Due: none

restore tests
  test/tests/ide/jetbrains/gateway_test.go
Due: none

[ws-manager] remove unneeded metric
  components/ws-manager/pkg/manager/metrics.go
Due: components-ws-manager-app

[dashboard] new workspace with options
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/hooks/use-user-and-teams-loader.ts
  components/dashboard/src/icons/Editor.svg
  components/dashboard/src/icons/Repository.svg
  components/dashboard/src/icons/WorkspaceClass.svg
  components/dashboard/src/index.css
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/start/Open.tsx
  components/dashboard/src/workspaces/StartWorkspaceModal.tsx
  components/gitpod-protocol/src/ide-protocol.ts
  components/gitpod-protocol/src/util/gitpod-host-url.ts
Due: components-dashboard-app

wip for sso setup
  components/dashboard/src/App.tsx
  components/dashboard/src/sso-setup/SSOSetup.tsx
Due: components-dashboard-app

Removing LoggedInApp to simplify a bit
  components/dashboard/src/App.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/app/LocalPreviewAlert.tsx
  components/dashboard/src/app/LoggedInApp.tsx
Due: components-dashboard-app

Removing stubbed out page/route
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/sso-setup/SSOSetup.tsx
Due: components-dashboard-app

Shifting root path www redirect to App component
  components/dashboard/src/App.tsx
  components/dashboard/src/index.tsx
Due: components-dashboard-app

set default state vs checking on each render
  components/dashboard/src/app/AppRoutes.tsx
Due: components-dashboard-app

Default state instead of checking on every render
  components/dashboard/src/app/AppRoutes.tsx
Due: components-dashboard-app

Shifting some of the redirects/rewrites above App
  components/dashboard/src/App.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/app/is-website-slug.ts
  components/dashboard/src/index.tsx
  components/dashboard/src/utils.ts
Due: components-dashboard-app

Decomposing top level App render flow
  components/dashboard/src/App.tsx
  components/dashboard/src/app/AdminRoute.tsx
  components/dashboard/src/app/AppLoading.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/app/Blocked.tsx
  components/dashboard/src/app/LoggedInApp.tsx
  components/dashboard/src/app/is-website-slug.ts
Due: components-dashboard-app

Apply suggestions from code review
  components/ws-manager-api/go/config/config.go
  components/ws-manager/cmd/run.go
Due: components-ws-manager-app

Watch the config.manager change
  components/ws-manager/cmd/run.go
Due: components-ws-manager-app

If dryRun, return gRPC FailedPrecondition
  components/ws-manager-api/go/config/config.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/manager_ee.go
  install/installer/pkg/components/ws-manager/configmap.go
Due: components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Fix the metric workspace_starts_failure_total and workspace_stops_total
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/metrics.go
  components/ws-manager/pkg/manager/status.go
  components/ws-manager/pkg/manager/testdata/status_brokenScheduler_UNKNOWN00.golden
  components/ws-manager/pkg/manager/testdata/status_cannotPull_004_CREATING00.golden
  components/ws-manager/pkg/manager/testdata/status_cannotPull_005_STOPPED00.golden
  components/ws-manager/pkg/manager/testdata/status_contentInitFailed_005_STOPPED00.golden
  components/ws-manager/pkg/manager/testdata/status_errimgpull.golden
  components/ws-manager/pkg/manager/testdata/status_errimgpull_CREATING01.golden
  components/ws-manager/pkg/manager/testdata/status_failedBeforeStopping_explicitFail.golden
  components/ws-manager/pkg/manager/testdata/status_failedLogs_RUNNING00.golden
  components/ws-manager/pkg/manager/testdata/status_failedPending_evicted_UNKNOWN01.golden
  components/ws-manager/pkg/manager/testdata/status_failedPending_evicted_UNKNOWN02.golden
  components/ws-manager/pkg/manager/testdata/status_failedWorkspaceMount_PENDING00.golden
  components/ws-manager/pkg/manager/testdata/status_headlessTaskFailed_STOPPING00.golden
  components/ws-manager/pkg/manager/testdata/status_headless_STOPPING00.golden
  components/ws-manager/pkg/manager/testdata/status_ideFailedToStart_005_RUNNING00.golden
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING01.golden
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING02.golden
  components/ws-manager/pkg/manager/testdata/status_regularStart_Initializing00.golden
  components/ws-manager/pkg/manager/testdata/status_stuckInStopping_RUNNING00.golden
  components/ws-manager/pkg/manager/testdata/status_stuckInStopping_STOPPING00.golden
  components/ws-manager/pkg/manager/testdata/status_workspace_startup_failed.golden
  components/ws-manager/pkg/manager/testdata/status_wsstartup_Creating00.golden
  components/ws-manager/pkg/manager/testdata/status_wsstartup_Creating01.golden
Due: components-ws-manager-app

fix: trim repo url while open new workspace
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

bump: package `@jmondi/oauth2-server`
  components/gitpod-db/package.json
  components/server/package.json
  yarn.lock
Due: none
