Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

more go mod tidy
  components/ee/agent-smith/go.mod
  components/ee/agent-smith/go.sum
  test/go.mod
  test/go.sum
Due: components-ee-agent-smith-app

[image-builder-bob, installer] Select the correct version of containerd....
  components/image-builder-bob/cmd/daemon.go
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

[dashboard] Don't show User Notifications and Feedback on Dedicated
  components/dashboard/src/Insights.tsx
  components/dashboard/src/data/installation/default-workspace-image-query.ts
  components/dashboard/src/data/installation/installation-config-query.ts
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/policies/MaxParallelWorkspaces.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

fix import
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Fixe-da-imports-a
  components/dashboard/src/dedicated-setup/use-needs-setup.ts
  components/dashboard/src/dedicated-setup/use-show-dedicated-setup.ts
Due: components-dashboard-app

Fix second place where Feedback menu item appears
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

fix copy
  components/dashboard/src/teams/TeamOnboarding.tsx
Due: components-dashboard-app

Repo suggestions improvements (#20582)
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/predefined-repos.ts
  components/dashboard/src/insights/download/DownloadInsights.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailGeneral.tsx
  components/dashboard/src/repositories/detail/general/ManageRepoSuggestion.tsx
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Replace usage menu item with insights on Dedicated
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Rename usage-related functions to insights in download module
  components/dashboard/src/insights/download/DownloadInsights.tsx
  components/dashboard/src/insights/download/download-sessions.ts
Due: components-dashboard-app

[dashboard] Don't show User Notifications and Feedback on Dedicated (#20583)
  components/dashboard/src/Insights.tsx
  components/dashboard/src/data/installation/default-workspace-image-query.ts
  components/dashboard/src/data/installation/installation-config-query.ts
  components/dashboard/src/dedicated-setup/use-needs-setup.ts
  components/dashboard/src/dedicated-setup/use-show-dedicated-setup.ts
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/policies/MaxParallelWorkspaces.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

Replace usage menu item with insights on Dedicated (#20587)
  components/dashboard/src/insights/download/DownloadInsights.tsx
  components/dashboard/src/insights/download/download-sessions.ts
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Add permission check for Insights page and don't show it in the menu for non-owners
  components/dashboard/src/Insights.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Make necessary permission clear
  components/dashboard/src/Insights.tsx
Due: components-dashboard-app

Bring more disjunction to your life
  components/dashboard/src/Insights.tsx
Due: components-dashboard-app

Add permission check for Insights page and don't show it in the menu for non-owners (#20593)
  components/dashboard/src/Insights.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Fix image build failed for GAR
  components/image-builder-bob/pkg/proxy/proxy.go
  components/image-builder-bob/pkg/proxy/proxy_test.go
Due: none

Fix image build failed for GAR (#20596)
  components/image-builder-bob/pkg/proxy/proxy.go
  components/image-builder-bob/pkg/proxy/proxy_test.go
Due: none

[dashbard] Persist `configurationId` for selected projects on new workspace page
  components/dashboard/package.json
  components/dashboard/src/index.tsx
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  yarn.lock
Due: components-dashboard-app

[docker-up] Minor fixes and add tests
  components/docker-up/BUILD.yaml
  components/docker-up/docker-up/main.go
  components/docker-up/dockerd/args.go
  components/docker-up/dockerd/args_test.go
  components/docker-up/go.mod
  components/docker-up/go.sum
Due: none

[image-builder-bob] Tests&fixes from an experimental PR
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/pkg/proxy/auth.go
  components/image-builder-bob/pkg/proxy/auth_test.go
Due: none

[supervisor, ws-manager] Write docker credentials into client config file if passed into workspace
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/docker.go
  components/supervisor/pkg/supervisor/docker_test.go
  components/ws-manager-mk2/controllers/create.go
Due: components-supervisor-app

[server] Introduce project.settings.enableDockerdAuthentication and expose it on the API
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/v1/configuration.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/ConfigurationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
  components/server/src/api/configuration-service-api.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[dashboard] Add "Docker registry authentication" toggle under projects/env vars
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
  components/dashboard/src/repositories/detail/variables/EnableDockerdAuthentication.tsx
Due: components-dashboard-app

[supervisor/frontend] Fix workspace title generation
  components/dashboard/src/start/StartWorkspace.tsx
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/webpack.config.js
  components/ws-manager-bridge/leeway.Dockerfile
Due: components-dashboard-app, components-supervisor-app, components-ws-manager-bridge-app

Fix rider
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Make it build
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Fix use-latest checkbox not working
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

[server] Guard project.settings.enableDockerdAuthentication by org write_settings permission
  components/server/src/projects/projects-service.ts
Due: none

review comments with cleanup + small fixes
  components/dashboard/src/repositories/detail/variables/EnableDockerdAuthentication.tsx
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/docker.go
Due: components-dashboard-app, components-supervisor-app

[docker-up] Auto-login dockerd if GITPOD_IMAGE_AUTH is set (#20586)
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
  components/dashboard/src/repositories/detail/variables/EnableDockerdAuthentication.tsx
  components/docker-up/BUILD.yaml
  components/docker-up/docker-up/main.go
  components/docker-up/dockerd/args.go
  components/docker-up/dockerd/args_test.go
  components/docker-up/go.mod
  components/docker-up/go.sum
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/pkg/proxy/auth.go
  components/image-builder-bob/pkg/proxy/auth_test.go
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/v1/configuration.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/ConfigurationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
  components/server/src/api/configuration-service-api.ts
  components/server/src/projects/projects-service.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/docker.go
  components/supervisor/pkg/supervisor/docker_test.go
  components/ws-manager-mk2/controllers/create.go
Due: components-dashboard-app, components-supervisor-app

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to (#20368)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[dashboard] Remove shutdown notice
  components/dashboard/src/Login.tsx
Due: components-dashboard-app

[dashboard] Remove shutdown notice (#20600)
  components/dashboard/src/Login.tsx
Due: components-dashboard-app

Fix main build
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_2.golden
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_3.golden
  components/public-api/typescript-common/fixtures/toConfiguration_1.golden
  components/public-api/typescript-common/fixtures/toConfiguration_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_3.golden
Due: none

squashed (- oidc/newUser)
  components/dashboard/package.json
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/components/podkit/forms/TextArea.tsx
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/index.css
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/repositories/detail/general/ManageRepoSuggestion.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/teams/onboarding/OrgMemberAvatarInput.tsx
  components/dashboard/src/teams/onboarding/OrganizationJoinModal.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageConfigurationField.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageEditor.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessagePreview.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/package.json
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  yarn.lock
Due: components-dashboard-app
