Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[nsinsider] Support network limit enforcement
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

[ws-daemon] Support updating netlimits
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-daemon/pkg/netlimit/config.go
  components/ws-daemon/pkg/netlimit/netlimit.go
Due: components-ws-daemon-app

[werft] only publish jetbrains gateway plugin when relevant file changes
  .werft/jobs/build/build-and-publish.ts
  .werft/jobs/build/job-config.ts
  WORKSPACE.yaml
  components/ide/jetbrains/gateway-plugin/BUILD.yaml
Due: none

Added a missing license header
  components/gitpod-protocol/go/gitpod-config-types.go
Due: components-gitpod-protocol-go-lib

Activate ZeroSS Certificate Issuer for core-dev
  dev/preview/infrastructure/harvester/cert.tf
Due: none

Imporve naming in job
  .werft/jobs/build/deploy-to-preview-environment.ts
Due: none

Add `applicationCluster` field to default bridge
  install/installer/pkg/components/ws-manager-bridge/objects.go
  install/installer/pkg/components/ws-manager-bridge/types.go
Due: none

Run `make generateRenderTests`
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[sever] Delegate stripe customer create to usage (behind feature flag)
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Add `application_cluster` to ListResponse message
  components/ws-manager-bridge-api/cluster-service.proto
  components/ws-manager-bridge-api/go/cluster-service.pb.go
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.d.ts
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.js
Due: none

Return application cluster from `service-server`
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

Fix invalid defer return
  components/content-service/pkg/initializer/git.go
Due: components-content-service-app

Fix potential leak of request body
  components/ws-manager/pkg/manager/probe.go
Due: components-ws-manager-app

[billing] Implement CreateStripeCustomer
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/stripe/stripe.go
Due: none

[server] Fix BillingMode tests
  components/server/ee/src/billing/billing-mode.spec.db.ts
Due: none

[usage] Proto changes Stripe RPC
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
Due: none

Update dashboards.libsonnet
  operations/observability/mixins/self-hosted/dashboards.libsonnet
Due: none

Change the extension of the `code-nightly` workflow
  .github/workflows/code-nightly.yml
Due: none

Update Platform Version of JetBrains Gateway Plugin to 223.6646.21-CUSTOM-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[stripe] Create d_b_stripe_customer table to store Customer ID and Attribution ID
  components/gitpod-db/src/typeorm/migration/1666082193187-AddStripeCustomerTable.ts
Due: none

Revert "[preview] Fix broken shortname assignment in preview envs"
  .werft/jobs/build/installer/installer.ts
  .werft/jobs/build/installer/post-process.sh
Due: none

Update Gitpod Gateway Connector to match the latest API
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/latest/GitpodConnector.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/stable/GitpodConnector.kt
Due: none

previewctl get-credentials
  dev/preview/previewctl/cmd/credentials.go
  dev/preview/previewctl/cmd/get_name.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/list_previews.go
  dev/preview/previewctl/cmd/root.go
  dev/preview/previewctl/cmd/ssh_vm.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/main.go
  dev/preview/previewctl/pkg/gcloud/config.go
  dev/preview/previewctl/pkg/k8s/config.go
  dev/preview/previewctl/pkg/k8s/harvester.go
  dev/preview/previewctl/pkg/k8s/service.go
  dev/preview/previewctl/pkg/k8s/service_test.go
  dev/preview/previewctl/pkg/k8s/vm.go
  dev/preview/previewctl/pkg/k8s/vm_test.go
  dev/preview/previewctl/pkg/preview/preview.go
Due: none

[content-service] Make prebuild initializer more robust
  components/content-service/pkg/git/git.go
  components/content-service/pkg/initializer/git.go
  components/content-service/pkg/initializer/prebuild.go
Due: components-content-service-app

Update Caddy to v2.6.2
  components/dashboard/leeway.Dockerfile
  components/ide-metrics/go.mod
  components/ide-proxy/Dockerfile
  components/proxy/Dockerfile
  components/proxy/plugins/configcat/go.mod
  components/proxy/plugins/configcat/go.sum
  components/proxy/plugins/corsorigin/go.mod
  components/proxy/plugins/corsorigin/go.sum
  components/proxy/plugins/headlesslogdownload/go.mod
  components/proxy/plugins/headlesslogdownload/go.sum
  components/proxy/plugins/jsonselect/go.mod
  components/proxy/plugins/jsonselect/go.sum
  components/proxy/plugins/logif/go.mod
  components/proxy/plugins/logif/go.sum
  components/proxy/plugins/secwebsocketkey/go.mod
  components/proxy/plugins/secwebsocketkey/go.sum
  components/proxy/plugins/sshtunnel/go.mod
  components/proxy/plugins/sshtunnel/go.sum
  components/proxy/plugins/workspacedownload/go.mod
  components/proxy/plugins/workspacedownload/go.sum
  components/usage/go.mod
  components/usage/go.sum
Due: components-dashboard-app

Update Caddy function signature
  components/proxy/plugins/logif/plugin.go
Due: none

Update configuration
  components/ide-proxy/conf/Caddyfile
  components/proxy/Dockerfile
  components/proxy/conf/Caddyfile
Due: none

[public-api] Cleanup definitions
  components/public-api-server/pkg/apiv1/prebuild.go
  components/public-api-server/pkg/apiv1/prebuild_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
  components/public-api/gitpod/v1/prebuilds.proto
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/examples_test.go
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/prebuilds_grpc.pb.go
  components/public-api/go/v1/v1connect/prebuilds.connect.go
  components/public-api/go/v1/v1connect/workspaces.connect.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/prebuilds_connectweb.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.ts
Due: none

[public-api] Define basic Teams Service
  components/public-api/gitpod/v1/teams.proto
  components/public-api/go/v1/teams.pb.go
  components/public-api/go/v1/teams_grpc.pb.go
  components/public-api/go/v1/v1connect/teams.connect.go
  components/public-api/typescript/src/gitpod/v1/teams_connectweb.ts
  components/public-api/typescript/src/gitpod/v1/teams_pb.ts
Due: none

refactor(jetbrains): gha workflow to update ide images
  .github/workflows/jetbrains-updates-template.yml
  .github/workflows/jetbrains-updates.yml
  components/ide/jetbrains/image/gha-update-image/index.js
  components/ide/jetbrains/image/gha-update-image/package.json
  components/ide/jetbrains/image/gha-update-image/yarn.lock
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

test: Show a commit hash on the nightly job
  .werft/workspace-run-integration-tests.sh
Due: none

[stripe] Recreate d_b_stripe_customer table
  components/gitpod-db/src/typeorm/migration/1666162573134-RecreateStripeCustomersTable.ts
Due: none
