Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

(⊙_◎)
  .github/workflows/build.yml
Due: none

[dashboard] closeable limit-reached-modal
  components/dashboard/src/components/UsageLimitReachedModal.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[server] further limit sendHeartbeat (#16788)
  components/server/src/auth/rate-limiter.ts
Due: none

Update go modules
  components/node-labeler/go.mod
  components/node-labeler/go.sum
Due: none

Fix invalid module name
  components/node-labeler/go.mod
Due: none

Fix modules
  components/node-labeler/go.mod
  components/node-labeler/go.sum
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[dashboard] keep start button disabled (#16784)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[dashboard] reload reloads orgs
  components/dashboard/src/App.tsx
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/data/setup.tsx
Due: components-dashboard-app

[installer] Do not pull blobserve implementation into installer
  components/blobserve/pkg/blobserve/blobserve.go
  components/blobserve/pkg/blobserve/refstore.go
  components/blobserve/pkg/config/blobserve.go
  install/installer/pkg/components/blobserve/configmap.go
Due: components-blobserve-app

fix
  components/blobserve/pkg/blobserve/blobspace_test.go
Due: components-blobserve-app

Fix
  components/blobserve/pkg/blobserve/blobserve.go
  components/blobserve/pkg/blobserve/blobspace_test.go
  components/blobserve/pkg/blobserve/refstore.go
  components/blobserve/pkg/config/blobserve.go
  install/installer/pkg/components/blobserve/configmap.go
Due: components-blobserve-app

[db] Setup go db tracing
  components/gitpod-db/go/conn.go
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
Due: none

fix
  install/installer/go.mod
  install/installer/go.sum
Due: none

fix
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/usage/go.mod
  components/usage/go.sum
Due: none

Fix
  components/gitpod-db/go/conn.go
Due: none

Fix
  components/gitpod-db/go/conn.go
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
Due: none

[server] Remove admin OTS create/use flow
  components/server/src/config.ts
  components/server/src/installation-admin/installation-admin-controller.ts
  components/server/src/user/user-controller.ts
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/constants.go
  install/installer/pkg/components/server/deployment.go
Due: none

[switch2payg] Switch Org context for TS2 links (#16780)
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[db] Setup go db tracing (#16706)
  components/gitpod-db/go/conn.go
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/usage/go.mod
  components/usage/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

[dashboard] closeable limit-reached-modal (#16789)
  components/dashboard/src/components/UsageLimitReachedModal.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[dashboard] reload reloads orgs (#16790)
  components/dashboard/src/App.tsx
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/data/setup.tsx
Due: components-dashboard-app

[ws-man-bridge] Correct name for Workspac Instance Controller var
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

fix
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
Due: none

[server] allow members to leave
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Update Switch to PAYG success subtitle
  components/dashboard/src/SwitchToPAYG.tsx
Due: components-dashboard-app

Fix
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

Update Switch to PAYG success subtitle (#16779)
  components/dashboard/src/SwitchToPAYG.tsx
Due: components-dashboard-app

[ws-man-bridge] Correct name for Workspace Instance Controller var (#16795)
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

[gha] fix build + docker build
  .github/pull_request_template.md
  .github/workflows/build.yml
Due: none

[gha] fix build + docker build (#16798)
  .github/pull_request_template.md
  .github/workflows/build.yml
Due: none

[dev image] update to Jammy
  dev/image/Dockerfile
Due: none

[dev image] update images latest dev image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

fix ineff assignment
  components/ws-daemon/pkg/internal/session/workspace.go
Due: components-ws-daemon-app

[dashboard] fix login
  components/dashboard/src/App.tsx
Due: components-dashboard-app

[server] allow members to leave (#16796)
  components/dashboard/src/App.tsx
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[code-web-extension] fix PortsViews icons doesn't show up in Safari
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
