Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Improve organization members filter
  components/dashboard/src/teams/Members.tsx
Due: components-dashboard-app

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Skip testing CLion for the time being
  test/tests/ide/jetbrains/gateway_test.go
Due: none

[server] added metric for db pool queueing (#18477) (#18481)
  components/server/src/init.ts
  components/server/src/prometheus-metrics.ts
Due: none

[JetBrains] Update IDE images to new build version (#18438)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  test/tests/ide/jetbrains/gateway_test.go
Due: none

Generate service-waiter txt when create migration
  components/gitpod-db/BUILD.yaml
  components/gitpod-db/package.json
  components/gitpod-db/scripts/generate-latest-migration.sh
  components/gitpod-db/src/typeorm/migration/README.md
  components/service-waiter/BUILD.yaml
  components/service-waiter/cmd/database.go
  components/service-waiter/cmd/database_test.go
  components/service-waiter/cmd/resources/latest-migration.txt
Due: components-service-waiter-app

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.9559-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Revert "Generate service-waiter txt when create migration"
  components/gitpod-db/BUILD.yaml
  components/gitpod-db/package.json
  components/gitpod-db/scripts/generate-latest-migration.sh
  components/gitpod-db/src/typeorm/migration/README.md
  components/service-waiter/BUILD.yaml
  components/service-waiter/cmd/database.go
  components/service-waiter/cmd/database_test.go
  components/service-waiter/cmd/resources/latest-migration.txt
Due: components-service-waiter-app

Add log
  components/service-waiter/cmd/database.go
Due: components-service-waiter-app

Make db waiter to wait latest migration (#18455)
  components/gitpod-db/BUILD.yaml
  components/gitpod-db/scripts/generate-latest-migration.sh
  components/service-waiter/BUILD.yaml
  components/service-waiter/cmd/database.go
  components/service-waiter/cmd/database_test.go
  components/service-waiter/cmd/resources/latest-migration.txt
  install/installer/pkg/common/common.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/usage/deployment.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
Due: components-service-waiter-app

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.9559-EAP-CANDIDATE-SNAPSHOT (#18482)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[preview] update VM image (again) for gen103
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

[common-go] improve `stopping file watch` logging
  components/common-go/watch/file.go
Due: components-common-go-lib

[server] fix typeorm metrics
  components/server/src/init.ts
Due: none

Improve organization members filter (#18480)
  components/dashboard/src/teams/Members.tsx
Due: components-dashboard-app

Update VS Code Browser to `1.81.1`
  WORKSPACE.yaml
Due: none

[server] fix typeorm metrics (#18484)
  components/server/src/init.ts
Due: none

[ws-daemon] additional logging for markunmount
  components/ws-daemon/pkg/daemon/markunmount.go
Due: components-ws-daemon-app

Improve SSO log in button UX
  components/dashboard/src/login/SSOLoginForm.tsx
Due: components-dashboard-app

[ws-manager-mk2] test create w/o git config (#18475)
  components/ws-manager-mk2/controllers/create_test.go
Due: none

Update primary button style
  components/dashboard/src/components/Button.tsx
  components/dashboard/src/components/SelectableCardSolid.tsx
  components/dashboard/src/index.css
  components/dashboard/tailwind.config.js
Due: components-dashboard-app

Improve SSO log in button UX (#18487)
  components/dashboard/src/login/SSOLoginForm.tsx
Due: components-dashboard-app

Update Stable
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[tracing] decorator based on open-telemtry
  components/gitpod-protocol/package.json
  components/gitpod-protocol/src/util/open-telemetry-tracing.spec.ts
  components/gitpod-protocol/src/util/open-telemetry-tracing.ts
  components/server/src/orgs/organization-service.ts
  yarn.lock
Due: none

[preview] update again for gen103
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

Add read_ssh and write_ssh permissions
  components/server/src/authorization/definitions.ts
  components/server/src/user/sshkey-service.spec.db.ts
  components/server/src/user/sshkey-service.ts
  components/spicedb/schema/schema.yaml
Due: none

Try blue button
  components/dashboard/src/components/Button.tsx
  components/dashboard/src/index.css
Due: components-dashboard-app

add requestorId to sshkeyservice
  components/server/src/user/sshkey-service.spec.db.ts
  components/server/src/user/sshkey-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[fga] Introduce sshkeyservice (#18479)
  components/server/src/authorization/definitions.ts
  components/server/src/container-module.ts
  components/server/src/user/sshkey-service.spec.db.ts
  components/server/src/user/sshkey-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/spicedb/schema/schema.yaml
Due: none

remove definetly-gp support
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/config-provider.ts
  components/server/src/workspace/image-source-provider.ts
Due: components-gitpod-protocol-go-lib

[ws-daemon] additional logging for markunmount (#18486)
  components/ws-daemon/pkg/daemon/markunmount.go
Due: components-ws-daemon-app

[preview] update again for gen103 (#18489)
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

Update runc to v1.1.9
  components/docker-up/dependencies.sh
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
Due: components-ws-daemon-app

Update runc to v1.1.9
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-manager-mk2/go.mod
  install/installer/go.mod
  install/installer/go.sum
Due: components-ws-daemon-app

Update runc test
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
Due: components-ws-daemon-app

[obs] reduce false positives for GitpodImageBuildDurationAnomaly
  operations/observability/mixins/workspace/rules/central/image-builder.yaml
Due: none

[obs] reduce false positives for GitpodImageBuildDurationAnomaly (#18496)
  operations/observability/mixins/workspace/rules/central/image-builder.yaml
Due: none

Fix stable commit
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[new-workspace] Fix recent repositories for BBS
  components/gitpod-protocol/src/protocol.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Update VS Code Browser to `1.81.1` (#18485)
  WORKSPACE.yaml
  install/installer/pkg/components/workspace/ide/constants.go
Due: none
