Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[dashboard] Always show the '(Re)Run Prebuild' buttons in the UI
  components/dashboard/src/projects/Prebuild.tsx
  components/dashboard/src/projects/Prebuilds.tsx
  components/dashboard/src/projects/Project.tsx
Due: components-dashboard-app

[server] When a user triggers a new prebuild, always force the creation of a new prebuild
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[usage] increment cycle on finalize invoice
  components/gitpod-db/go/cost_center.go
  components/usage/pkg/apiv1/billing.go
Due: none

[dashboard] update description
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

[ubp] allow usage of team without stripe sub
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/server/src/user/user-service.ts
Due: components-dashboard-app

[ubp] smaller balance view impr
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

chore: move to ide-service jetbrains warmup logic
  components/ide-service/BUILD.yaml
  components/ide-service/pkg/server/server.go
  components/ide-service/pkg/server/testdata/resolve_ws_config_prebuild_intellij.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_prebuild_multiple_ide.golden
Due: none

dev/preview:configure-workspace fix
  .gitpod.yml
  dev/preview/workflow/preview/configure-workspace.sh
Due: none

[server] IAM: Report missing session as client error instead of system error
  components/server/src/auth/authenticator.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/prometheus-metrics.ts
Due: none

[dashboard] Adjust Chargebee plan end-of-life notification text
  components/dashboard/src/settings/Plans.tsx
  components/dashboard/src/settings/Teams.tsx
Due: components-dashboard-app

[server] move workspace ide configuration to ide service
  components/gitpod-protocol/src/workspace-instance.ts
  components/server/src/ide-service.spec.ts
  components/server/src/ide-service.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Add IDE Service Dashboard
  operations/observability/mixins/IDE/dashboards.libsonnet
  operations/observability/mixins/IDE/dashboards/components/ide-service.json
Due: none

[pat] Paginate list tokens
  components/dashboard/src/settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

Point code nightly worklow to the release branch
  .github/workflows/code-nightly.yml
Due: none

[usage] handle no stopping but stopped time
  components/gitpod-db/go/workspace_instance.go
  components/usage/pkg/apiv1/pricer_test.go
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
Due: none

[server] Move admin endpoints on GitpodServer to AdminServer
  components/gitpod-protocol/src/admin-protocol.ts
  components/gitpod-protocol/src/gitpod-service.ts
Due: none

Increase scrape interval to decrease datapoints per minute
  operations/observability/mixins/self-hosted/rules/argocd/servicemonitor.yaml
  operations/observability/mixins/self-hosted/rules/pyrra/servicemonitor.yaml
Due: none

[public-api] define endpoints for ports and git token
  components/public-api/gitpod/experimental/v1/user.proto
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/user.pb.go
  components/public-api/go/experimental/v1/user_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/user.connect.go
  components/public-api/go/experimental/v1/v1connect/workspaces.connect.go
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/go/experimental/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/user_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/user_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspace_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspace_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: none

[dashboard] make sure all team route under `/t`
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

previewctl tidy and simplify
  .werft/ide-integration-tests-startup.sh
  .werft/workspace-run-integration-tests.sh
  dev/preview/previewctl/cmd/access.go
  dev/preview/previewctl/cmd/credentials.go
  dev/preview/previewctl/cmd/get.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/root.go
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s.go
  dev/preview/previewctl/pkg/k8s/service.go
  dev/preview/previewctl/pkg/k8s/service_test.go
  dev/preview/previewctl/pkg/preview/context.go
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/util.go
  dev/preview/previewctl/pkg/preview/util_test.go
  dev/preview/previewctl/pkg/util/git.go
  dev/preview/workflow/lib/ensure-gcloud-auth.sh
  dev/preview/workflow/preview/build.sh
  dev/preview/workflow/preview/configure-workspace.sh
  dev/preview/workflow/preview/preview.sh
Due: none

Remove outdated logic with now obsolete clients
  components/dashboard/src/settings/SelectIDE.tsx
Due: components-dashboard-app

Add versions to the dashboard
  components/dashboard/src/settings/SelectIDE.tsx
  components/gitpod-protocol/src/ide-protocol.ts
Due: components-dashboard-app

[content-service] Implement support for S3
  components/content-service-api/go/config/config.go
  components/content-service/go.mod
  components/content-service/go.sum
  components/content-service/pkg/layer/provider_test.go
  components/content-service/pkg/service/blob-service.go
  components/content-service/pkg/service/content-service.go
  components/content-service/pkg/storage/gcloud.go
  components/content-service/pkg/storage/generate-mock.sh
  components/content-service/pkg/storage/minio.go
  components/content-service/pkg/storage/mock/mock.go
  components/content-service/pkg/storage/noop.go
  components/content-service/pkg/storage/s3.go
  components/content-service/pkg/storage/s3_test.go
  components/content-service/pkg/storage/storage.go
  components/content-service/pkg/storage/suite_test.go
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  install/installer/go.mod
  install/installer/go.sum
  test/go.mod
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

[content-service] S3 fixes (object attributes, prefix, error types)
  components/content-service/pkg/storage/s3.go
Due: components-content-service-app

[content-service] Ensure snapshot names can be parsed
  components/content-service/pkg/storage/s3.go
Due: components-content-service-app

[content-service] Provide test command
  components/content-service/cmd/test.go
Due: components-content-service-app
