Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[image-builder-mk3] Avoid sending "Unknown" error code in all cases
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
Due: none

Fix redigo package missing
  components/blobserve/go.mod
  components/gitpod-cli/go.mod
  components/ide-service/go.mod
  components/image-builder-bob/go.mod
  components/image-builder-mk3/go.mod
  components/local-app/go.sum
  components/registry-facade/go.mod
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  install/installer/go.mod
Due: components-blobserve-app, components-gitpod-cli-app, components-local-app-app-linux, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Fix redigo package missing (#20859)
  components/blobserve/go.mod
  components/ide-service/go.mod
  components/image-builder-bob/go.mod
  components/image-builder-mk3/go.mod
  components/registry-facade/go.mod
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  install/installer/go.mod
Due: components-blobserve-app, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

update index (#20820)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[ws-manager-mk2] image-builder proxy: Prefix proxied gRPC services to avoid name clashes with the original service
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/pkg/proxy/imagebuilder.go
  components/ws-manager-mk2/pkg/proxy/servicename-prefixer.go
  components/ws-manager-mk2/pkg/proxy/servicename-prefixer_test.go
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[code] update code image layers (#20861)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[server, bridge] Bump @grpc/grpc-js 1.12.6 -> 1.13.4 and @authzed/authzed-node 1.2.2 -> 1.3.1
  components/content-service-api/typescript/package.json
  components/gitpod-protocol/package.json
  components/ide-metrics-api/typescript-grpc/package.json
  components/image-builder-api/typescript/package.json
  components/server/package.json
  components/supervisor-api/typescript-grpc/package.json
  components/ws-daemon-api/typescript/package.json
  components/ws-manager-api/typescript/package.json
  components/ws-manager-bridge-api/typescript/package.json
  yarn.lock
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[server] Fix spicedb retry on DEADLINE_EXCEEDED & UNAVAILABLE
  components/server/src/authorization/spicedb-authorizer.ts
Due: none

[server] Fix spicedb retry on DEADLINE_EXCEEDED & UNAVAILABLE (#20867)
  components/server/src/authorization/spicedb-authorizer.ts
Due: none

[image-builder] Avoid returning "Unknown" (#20854)
  .clinerules/learning-journal.md
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/pkg/proxy/imagebuilder.go
  components/ws-manager-mk2/pkg/proxy/servicename-prefixer.go
  components/ws-manager-mk2/pkg/proxy/servicename-prefixer_test.go
Due: none

Remove MCP servers setup from .gitpod.yml
  .gitpod.yml
  scripts/install-git-mcp-go.sh
  scripts/install-linear-mcp-go.sh
Due: none

[scrubber] Scrub Git URLs in log messages (#20843)
  components/gitpod-protocol/src/util/scrubbing-config.ts
  components/gitpod-protocol/src/util/scrubbing.spec.ts
  components/gitpod-protocol/src/util/scrubbing.ts
  components/scrubber/config.go
  components/scrubber/sanitisation_test.go
  components/scrubber/scrubber_test.go
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

1
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/src/test/kotlin/io/gitpod/jetbrains/remote/util/LocalHostUriTest.kt
Due: none

Fix
  components/ide/jetbrains/backend-plugin/src/main/kotlin/kotlinx/coroutines/guava/ListenableFuture.kt
Due: none

Add test cases back
  components/ide/jetbrains/backend-plugin/src/test/kotlin/io/gitpod/jetbrains/remote/util/LocalHostUriTest.kt
Due: none

Fix stable build
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Fix build
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/src/main/kotlin/kotlinx/coroutines/guava/ListenableFuture.kt
Due: none

Fix rider latest build
  components/ide/jetbrains/backend-plugin/build.gradle-latest.kts
Due: none

[JetBrains] Make backend-plugin compatible with 2025.2 (#20871)
  components/ide/jetbrains/backend-plugin/build.gradle-latest.kts
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/kotlinx/coroutines/guava/ListenableFuture.kt
  components/ide/jetbrains/backend-plugin/src/test/kotlin/io/gitpod/jetbrains/remote/util/LocalHostUriTest.kt
Due: none

Fix rider build
  components/ide/jetbrains/backend-plugin/build.gradle-stable.kts
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/optional/GitpodRiderPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-rider/META-INF/plugin.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

[JetBrains] Improve ports listener leak
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodPortForwardingService.kt
Due: none

[image-builder-api] Add use_retry_client to ResolveBaseImageRequest and BuildRequest
  components/image-builder-api/go/imgbuilder.pb.go
  components/image-builder-api/go/imgbuilder_grpc.pb.go
  components/image-builder-api/go/mock/mock.go
  components/image-builder-api/go/subassembly.pb.go
  components/image-builder-api/go/subassembly_grpc.pb.go
  components/image-builder-api/imgbuilder.proto
  components/image-builder-api/typescript/src/imgbuilder_grpc_pb.d.ts
  components/image-builder-api/typescript/src/imgbuilder_grpc_pb.js
  components/image-builder-api/typescript/src/imgbuilder_pb.d.ts
  components/image-builder-api/typescript/src/imgbuilder_pb.js
  components/image-builder-api/typescript/src/subassembly_grpc_pb.d.ts
  components/image-builder-api/typescript/src/subassembly_grpc_pb.js
  components/image-builder-api/typescript/src/subassembly_pb.d.ts
  components/image-builder-api/typescript/src/subassembly_pb.js
Due: none

[image-builder] Fix generate.sh
  components/image-builder-api/generate.sh
Due: none

[server] Pass "useRetryClient" on all requests to image-builder
  components/server/src/workspace/workspace-starter.ts
Due: none

[image-builder] Use req.GetUseRetryClient() instead of feature flag resolved on startup
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
  components/image-builder-mk3/pkg/orchestrator/orchestrator_test.go
  components/image-builder-mk3/pkg/resolve/resolve.go
Due: none

[image-builder] Introduce retry for all resolver requests (timeout 15s, up to 3 times) for all network-related issues (#20868)
  components/image-builder-api/generate.sh
  components/image-builder-api/go/imgbuilder.pb.go
  components/image-builder-api/go/imgbuilder_grpc.pb.go
  components/image-builder-api/go/mock/mock.go
  components/image-builder-api/go/subassembly.pb.go
  components/image-builder-api/go/subassembly_grpc.pb.go
  components/image-builder-api/imgbuilder.proto
  components/image-builder-api/typescript/src/imgbuilder_grpc_pb.d.ts
  components/image-builder-api/typescript/src/imgbuilder_grpc_pb.js
  components/image-builder-api/typescript/src/imgbuilder_pb.d.ts
  components/image-builder-api/typescript/src/imgbuilder_pb.js
  components/image-builder-api/typescript/src/subassembly_grpc_pb.d.ts
  components/image-builder-api/typescript/src/subassembly_grpc_pb.js
  components/image-builder-api/typescript/src/subassembly_pb.d.ts
  components/image-builder-api/typescript/src/subassembly_pb.js
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
  components/image-builder-mk3/pkg/orchestrator/orchestrator_test.go
  components/image-builder-mk3/pkg/resolve/resolve.go
  components/server/src/workspace/workspace-starter.ts
Due: none

[registry-facade] Do retry if copying a blob fails mid way
  components/registry-facade/pkg/registry/blob.go
  components/registry-facade/pkg/registry/blob_test.go
  memory-bank/activeContext.md
  memory-bank/components/registry-facade.md
  memory-bank/progress.md
Due: components-registry-facade-app

[registry-facade] Do retry if copying a blob fails mid way (#20879)
  components/registry-facade/pkg/registry/blob.go
  components/registry-facade/pkg/registry/blob_test.go
  memory-bank/activeContext.md
  memory-bank/components/registry-facade.md
  memory-bank/progress.md
Due: components-registry-facade-app

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none
