Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[ws-daemon] Scrape psi conditionally
  components/common-go/kubernetes/kubernetes.go
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/cgroup/plugin_psi.go
Due: components-common-go-lib, components-ws-daemon-app

[common-go] Add test for reading psi values
  components/common-go/cgroups/cgroups_test.go
Due: components-common-go-lib

[ws-manager-api] Generate grpc for psi
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

[psi] Add comment and clean up test files
  components/common-go/cgroups/cgroup.go
  components/common-go/cgroups/cgroups_test.go
  components/ws-daemon/pkg/cgroup/plugin_psi.go
Due: components-common-go-lib, components-ws-daemon-app

[common-go] Change cgroup package name
  components/common-go/cgroups/v1/cpu.go
  components/common-go/cgroups/v1/memory.go
  components/common-go/cgroups/v2/cpu.go
  components/common-go/cgroups/v2/cpu_test.go
  components/common-go/cgroups/v2/io.go
  components/common-go/cgroups/v2/memory.go
Due: components-common-go-lib

[ws-daemon] Introduce plugin options
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/cgroup/plugin_cachereclaim.go
  components/ws-daemon/pkg/cgroup/plugin_fuse.go
  components/ws-daemon/pkg/cgroup/plugin_fuse_v2.go
  components/ws-daemon/pkg/cgroup/plugin_iolimit_v1.go
  components/ws-daemon/pkg/cgroup/plugin_iolimit_v2.go
  components/ws-daemon/pkg/cgroup/plugin_proc_limit_v2.go
  components/ws-daemon/pkg/cgroup/plugin_process_priority_v2.go
Due: components-ws-daemon-app

[server] Enable psi for paying users
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

ws-manager: use kubernetes operation timeout for mark workspace annotation operation
  components/ws-manager/pkg/manager/annotations.go
Due: components-ws-manager-app

fix order change in config only not works
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
Due: components-supervisor-app

[server] Use CostCenter to determine BillingAccount options
  components/dashboard/src/components/BillingAccountSelector.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/user/usage-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[server] Limit BillingAccount selection on server side
  components/gitpod-protocol/src/attribution.ts
  components/server/src/user/user-service.ts
Due: none

[server] Block users from attributing usage to any other user except themselves
  components/server/src/user/user-service.ts
Due: none

Re-add "[server][dashboard] Implement a 'Use Last Successful Prebuild' workspace creation mode"
  components/dashboard/src/start/CreateWorkspace.tsx
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/prebuilds/incremental-prebuilds-service.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/workspace-factory.ts
Due: components-dashboard-app

Re-add "[server] Don't fetch the repository config a second time when starting incremental prebuilds"
  components/server/ee/src/prebuilds/incremental-prebuilds-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/workspace-factory.ts
Due: none

[gitpod-db] Increase "before each" timeout of AccountingDBSpec 10s → 30s
  components/gitpod-db/src/accounting-db.spec.db.ts
Due: none

Re-add "[dashboard] Introduce showUseLastSuccessfulPrebuild feature flag"
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

[server] Don't attribute usage to a team without active billing
  components/server/src/user/user-service.ts
Due: none

Add test cases and fix workspace configed ports alway on top
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
Due: components-supervisor-app

remove ports for workspace config
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports-config_test.go
  components/supervisor/pkg/ports/ports_test.go
Due: components-supervisor-app

[ws-manager] Make protected secrets the default
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Refactor previewctl get-name
  dev/preview/previewctl/cmd/get_name.go
  dev/preview/previewctl/cmd/root.go
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/preview_test.go
Due: none

Update blob download speed buckets
  components/registry-facade/pkg/registry/metrics.go
Due: components-registry-facade-app

[ws-manager] Update test files
  components/ws-manager/pkg/manager/testdata/cdwp_admission.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_empty_resource_req.golden
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fullworkspacebackup.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_no_ideimage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template_override_resources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_readinessprobe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_sshkeys.golden
  components/ws-manager/pkg/manager/testdata/cdwp_sys_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_tasks.golden
  components/ws-manager/pkg/manager/testdata/cdwp_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_timeout.golden
  components/ws-manager/pkg/manager/testdata/cdwp_userns.golden
  components/ws-manager/pkg/manager/testdata/cdwp_with_ephemeral_storage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinity_regular.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinityheadless.golden
Due: components-ws-manager-app

Inject new dependency into server and wsman-bridge
  components/server/src/container-module.ts
  components/server/src/workspace/workspace-cluster-imagebuilder-client-provider.ts
  components/ws-manager-api/typescript/src/client-provider.spec.ts
  components/ws-manager-api/typescript/src/client-provider.ts
  components/ws-manager-bridge/src/container-module.ts
Due: components-ws-manager-bridge-app

[code] build stable code image `1.72.3`
  WORKSPACE.yaml
Due: none

[bridge] Introduce AppClusterWorkspaceInstanceController
  components/ws-manager-bridge/src/app-cluster-instance-controller.ts
  components/ws-manager-bridge/src/container-module.ts
  components/ws-manager-bridge/src/main.ts
Due: components-ws-manager-bridge-app

[code] update stable code image to 1.72.3
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

run git command as gitpod user when using pvc
  components/content-service/pkg/git/git.go
  components/content-service/pkg/initializer/git.go
  components/content-service/pkg/initializer/initializer.go
Due: components-content-service-app

fix(loadgen): Lock workspace ID collection to prevent race
  dev/loadgen/pkg/loadgen/executor.go
Due: dev-loadgen-app

add large vm option to pull request template
  .github/pull_request_template.md
Due: none

[dashboard] Fix display of billing period boundaries by using only UTC times
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
