Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

fixup
  components/server/src/orgs/organization-service.ts
Due: none

Rename query file
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
Due: components-dashboard-app

Hide delete scope if not owner
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Remove refetch
  components/dashboard/src/data/organizations/orgs-query.ts
Due: components-dashboard-app

Make it select default
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
Due: components-dashboard-app

dashboard show error msg
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
Due: components-dashboard-app

Force update org info
  components/dashboard/src/data/organizations/orgs-query.ts
Due: components-dashboard-app

`invaldiator2` => `invalidateWorkspaceClasses`
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
Due: components-dashboard-app

Fix edge case
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

fixup
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
Due: components-dashboard-app

Update error msg
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

Not cache org ws cls
  components/dashboard/src/data/organizations/org-workspace-image-query.ts
Due: components-dashboard-app

Don't allow to all if selected ones are removed from installation
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
Due: none

[papi] add ListOrganizationWorkspaceClasses method
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

Add org-level workspace class restrictions (#19191)
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: components-dashboard-app

Revert preview env workspace classes changes
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Update expr
  operations/observability/mixins/meta/rules/server.yaml
Due: none

Revert preview env workspace classes changes (#19268)
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

[observability] add `DashboardStuckInPodInitState` alert (#19258)
  operations/observability/mixins/meta/rules/server.yaml
Due: none

Remove Access Token scope checkbox
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
Due: components-dashboard-app

Respect allowed org ws classes in config settings
  components/dashboard/src/repositories/detail/shared/WorkspaceClassOptions.tsx
Due: components-dashboard-app

update index (#19266)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Constraint width
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
Due: components-dashboard-app

[installer] Add ws-daemon-ng to version manifests
  install/installer/pkg/config/versions/versions.go
Due: none

1
  components/ide/code/codehelper/main.go
Due: none

Revert "Add org-level workspace class restrictions (#19191)"
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

Revert "Add org-level workspace class restrictions (#19191)" (#19272)
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

Fix changlog
  components/local-app/CHANGELOG.md
Due: components-local-app-app-linux

[gitpod-db] AddOrgSettingWorkspaceClass1701725025283
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 233.13135-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[gitpod-db] AddOrgSettingWorkspaceClass1701725025283 (#19273)
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
Due: none

cli: WS SSH & Opening improvements (#19264)
  components/local-app/CHANGELOG.md
  components/local-app/cmd/config-set.go
  components/local-app/cmd/workspace-open.go
  components/local-app/cmd/workspace-ssh.go
  components/local-app/pkg/helper/workspace.go
  components/local-app/version.txt
Due: components-local-app-app-linux

Revert "Revert "Add org-level workspace class restrictions (#19191)" (#19272)"
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Fix build
  components/dashboard/src/service/json-rpc-organization-client.ts
Due: components-dashboard-app

Revert "Revert "Add org-level workspace class restrictions"" - Server (#19275)
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/auth/installation-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

Revert "Revert "Add org-level workspace class restrictions (#19191)" (#19272)" - dashboard
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Fixing
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Revert and fixing "Revert "Add org-level workspace class restrictions"" - Dashboard (#19276)
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Update Platform Version of JetBrains Backend Plugin (EAP) to 233.13135-EAP-CANDIDATE-SNAPSHOT (#19274)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[content-service] revert git config feature.manyFiles true
  components/content-service/pkg/initializer/git.go
Due: components-content-service-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
