Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Set Werft GH token in ide-integration-tests-startup-vscode.yaml
  .werft/ide-integration-tests-startup-vscode.yaml
Due: none

Remove leftover files and tar archives
  dev/image/Dockerfile
Due: none

[ws-manager] do not overwrite failed state
  components/ws-manager/pkg/manager/status.go
  components/ws-manager/pkg/manager/testdata/status_containerd4214_STOPPING00.golden
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED01.golden
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPING02.golden
Due: components-ws-manager-app

[alerts] change alert for adding new nodes rapidly to only count if node type is regular workspace
  operations/observability/mixins/workspace/rules/components/nodes/alerts.libsonnet
Due: none

[dashboard] BlockedRepo UI
  components/dashboard/src/App.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/BlockedRepositorySettings.tsx
Due: components-dashboard-app

[ssh-gateway] Reject ssh connection when workspace not found
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[common-go] Add config cat client
  components/common-go/experiments/configcat.go
  components/common-go/experiments/flags.go
  components/common-go/experiments/noop.go
  components/common-go/experiments/types.go
  components/common-go/experiments/types_test.go
  components/common-go/go.mod
  components/common-go/go.sum
Due: components-common-go-lib

Update refs to column name in usage component
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

[ssh-gateway] cleanup code
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Simple UI for Prebuild Events (sneak preview)
  components/dashboard/src/App.tsx
  components/dashboard/src/projects/Events.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[ws-manager-api] Clean up "ExtendedUser"
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-api/typescript/src/constraints.ts
Due: none

Use floats to calculate instance credit usage
  components/usage/pkg/controller/billing.go
  components/usage/pkg/controller/billing_test.go
  components/usage/pkg/controller/reconciler.go
Due: none

Install evans into base image
  dev/image/Dockerfile
Due: none

Replace metrics that are sent to prod
  .werft/observability/monitoring-satellite.ts
Due: none

Move migration file to correct dir
  1658144661198-WorkspaceInstanceUsageAddExtraFields.ts
  components/gitpod-db/src/typeorm/migration/1658211404679-WorkspaceInstanceUsageAddExtraFields.ts
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[code] Generate stable image for 1.69.2
  WORKSPACE.yaml
Due: none

Let the usage reconciler take a pricer
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/server/server.go
Due: none

[content-service] Fix TestGitStatusFromFiles test
  components/content-service/pkg/git/git_test.go
Due: components-content-service-app

[content-service] Switch to http/1.1 for gitlab.com repositories
  components/content-service/pkg/initializer/git.go
Due: components-content-service-app

[usage] Return extra fields for ListBilledUsage
  components/usage/pkg/apiv1/usage.go
Due: none

Use correct log variable to include OWI information in each log entry
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

[ws-manager-bridge] Remove HasUserLevel admission constraint
  components/gitpod-protocol/src/workspace-cluster.ts
  components/ws-manager-bridge-api/cluster-service.proto
  components/ws-manager-bridge/src/cluster-service-server.ts
  dev/gpctl/cmd/clusters-update.go
Due: components-ws-manager-bridge-app

[usage] Implement GetBilledUsage rpc
  components/dashboard/src/teams/TeamUsage.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/go/v1/usage_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/sugar.ts
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.js
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/db/dbtest/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
  components/usage/pkg/server/server.go
Due: components-dashboard-app

Record webhook events
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/index.ts
  components/gitpod-db/src/typeorm/entity/db-webhook-event.ts
  components/gitpod-db/src/typeorm/migration/1657702361007-AddWebhookEvent.ts
  components/gitpod-db/src/typeorm/webhook-event-db-impl.ts
  components/gitpod-db/src/webhook-event-db.spec.db.ts
  components/gitpod-db/src/webhook-event-db.ts
  components/gitpod-protocol/src/index.ts
  components/gitpod-protocol/src/webhook-event.ts
  components/server/ee/src/prebuilds/bitbucket-app.ts
  components/server/ee/src/prebuilds/bitbucket-server-app.ts
  components/server/ee/src/prebuilds/github-app.ts
  components/server/ee/src/prebuilds/github-enterprise-app.ts
  components/server/ee/src/prebuilds/gitlab-app.ts
Due: none

Update components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

[baseserver] do not log grpc messages unless they contain an error
  components/common-go/baseserver/server.go
Due: components-common-go-lib

Use switch case for better code reading
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[installer] add node get/list permission to ws-manager
  install/installer/pkg/components/ws-manager/role.go
Due: none

[installer]: add in ability to post-process
  install/installer/cmd/render.go
  install/installer/go.mod
  install/installer/go.sum
  install/installer/pkg/postprocess/postprocess.go
Due: none

Update tests with new field
  components/usage/pkg/controller/reconciler_test.go
Due: none

[installer]: move the post-processing openvsx statefulset to installer
  install/installer/pkg/postprocess/postprocess.go
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[usage] Store workspace, project, type & class
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/dbtest/workspace.go
  components/usage/pkg/db/workspace_instance.go
  components/usage/pkg/db/workspace_instance_test.go
  components/usage/pkg/db/workspace_instance_usage.go
Due: none

[usage] Extend go model with extra fields for WorkspaceInstanceUsage
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

Update Preview env's dashboard with new metrics
  operations/observability/mixins/platform/dashboards/preview-environments/overview.json
Due: none

[ws-manager] Remove workaround for 1.23.0 >= k8s < 1.23.6
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Test if auth host is reachable
  components/server/package.json
  components/server/src/auth/auth-provider-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  yarn.lock
Due: none

Remove no longer used annotation `gitpod.io/containerIsGone`
  components/common-go/kubernetes/kubernetes.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-common-go-lib, components-ws-manager-app

[kots]: delete channel on branch delete
  .github/workflows/delete-kots-channel.yml
Due: none

Update image references
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup-jetbrains.yaml
  .werft/ide-integration-tests-startup-vscode.yaml
  .werft/ide-run-integration-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/run-integration-tests.yaml
  .werft/self-hosted-installer-tests.yaml
  .werft/wipe-devstaging.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
