Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

fixup
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/usage/UsageView.tsx
Due: components-dashboard-app

Fix test
  install/installer/pkg/components/usage/configmap_test.go
Due: none

Update dashboard
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/usage/UsageView.tsx
Due: components-dashboard-app

Add test cases
  components/usage/pkg/server/server.go
  components/usage/pkg/server/server_test.go
Due: none

Empty fallback to installer config
  components/usage/pkg/server/server.go
Due: none

undefined fallback to default
  components/dashboard/src/usage/UsageView.tsx
  components/usage/pkg/server/server.go
Due: components-dashboard-app

Add metrics for ide start and stop
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/pkg/components/ide-metrics/configmap.go
Due: components-supervisor-app

report immediaterly
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

update ordering
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

fixup
  components/supervisor/pkg/metrics/metrics.go
Due: components-supervisor-app

Bump stable Browser Code to 1.88.1
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Build stable code browser 1.88.1
  WORKSPACE.yaml
Due: none

test
  .github/workflows/build.yml
Due: none

[github action] change contents permission to write
  .github/workflows/build.yml
Due: none

[github action] change contents permission to write (#19674)
  .github/workflows/build.yml
Due: none

[github action] fix missing inputs
  .github/actions/deploy-gitpod/metadata.yml
  .github/workflows/build.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

fix
  .github/workflows/workspace-integration-tests.yml
Due: none

[github action] fix missing inputs (#19675)
  .github/actions/deploy-gitpod/metadata.yml
  .github/workflows/build.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

Deduplicate SCM providers for browser extension banner
  components/dashboard/package.json
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/hooks/use-debounce.ts
  components/dashboard/src/hooks/use-state-with-debounce.ts
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
  yarn.lock
Due: components-dashboard-app

make lodash import more strict
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Remove default metrics port from ws-proxy deployment (conflicts with kube-rbac-proxy)
  install/installer/pkg/components/ws-proxy/deployment.go
Due: none

Deduplicate SCM providers for browser extension banner (#19677)
  components/dashboard/package.json
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/hooks/use-debounce.ts
  components/dashboard/src/hooks/use-state-with-debounce.ts
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
  yarn.lock
Due: components-dashboard-app

[dashboard] Refresh JWT token every 5 mins
  components/dashboard/src/user-context.tsx
Due: components-dashboard-app

[github-action] fix IDE integration test
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
Due: none

[github-action] fix IDE integration test (#19680)
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Log refresh token failures with user id ctx
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/user/token-service.ts
Due: none

Log refresh token failures with user id ctx (#19681)
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/user/token-service.ts
Due: none

[JetBrains] Update IDE images to new build version (#19667)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Update usage scheduler according to FF (#19655)
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/usage/usage-query.ts
  components/dashboard/src/usage/UsageView.tsx
  components/usage/go.mod
  components/usage/go.sum
  components/usage/pkg/server/server.go
  components/usage/pkg/server/server_test.go
  install/installer/pkg/components/usage/configmap.go
  install/installer/pkg/components/usage/configmap_test.go
Due: components-dashboard-app

chore: fix some comments and typos
  components/gitpod-db/go/workspace_instance.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-daemon/pkg/cpulimit/bandwidth.go
  components/ws-manager-api/go/config/config.go
  components/ws-manager-api/typescript/src/client-provider.ts
Due: components-supervisor-app, components-ws-daemon-app

[dashboard] Refresh JWT token every 5 mins (#19679)
  components/dashboard/src/user-context.tsx
Due: components-dashboard-app

[server] Issue new token in case of new signing key
  components/server/src/auth/jwt.spec.ts
  components/server/src/auth/jwt.ts
  components/server/src/session-handler.ts
Due: none

[code] upgrade code to 1.88.1 (#19671)
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Sync runc version to v1.1.12
  WORKSPACE.yaml
  components/docker-up/dependencies.sh
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-ws-daemon-app

[docker compose] update to 2.27.0-gitpod.0
  WORKSPACE.yaml
Due: none

[docker compose] update to 2.27.0-gitpod.0 (#19685)
  WORKSPACE.yaml
Due: none

[server] Issue new token in case of new signing key (#19686)
  components/server/src/auth/jwt.spec.ts
  components/server/src/auth/jwt.ts
  components/server/src/session-handler.ts
Due: none

Add integration tests for task terminals UI
  dev/jetbrains-test/build.gradle
  dev/jetbrains-test/src/test/kotlin/io/gitpod/jetbrains/launcher/GatewayLauncherTest.kt
  test/tests/ide/jetbrains/gateway_in_workspace_test.go
  test/tests/ide/jetbrains/gateway_test.go
Due: none

add todo
  test/tests/ide/jetbrains/gateway_test.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
