Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[content-service-api] update approvers and unblock teams
  .github/CODEOWNERS
Due: none

fix bad merge
  components/content-service/pkg/initializer/initializer.go
Due: components-content-service-app

remove daemon-api change as it is not needed
  components/ws-daemon-api/daemon.proto
  components/ws-daemon-api/go/daemon.pb.go
  components/ws-daemon-api/go/daemon_grpc.pb.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/go/workspace_daemon_grpc.pb.go
  components/ws-daemon-api/typescript/src/daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/daemon_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon/pkg/content/service.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-daemon-api-go-lib, components-ws-daemon-app, components-ws-manager-app

address PR feedback
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager/cmd/run.go
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-daemon-app, components-ws-manager-app

re-use initializer for snapshot volumes
  components/content-service-api/go/blobs.pb.go
  components/content-service-api/go/blobs_grpc.pb.go
  components/content-service-api/go/content.pb.go
  components/content-service-api/go/content_grpc.pb.go
  components/content-service-api/go/headless-log.pb.go
  components/content-service-api/go/headless-log_grpc.pb.go
  components/content-service-api/go/ideplugin.pb.go
  components/content-service-api/go/ideplugin_grpc.pb.go
  components/content-service-api/go/initializer.pb.go
  components/content-service-api/go/workspace.pb.go
  components/content-service-api/go/workspace_grpc.pb.go
  components/content-service-api/initializer.proto
  components/content-service-api/typescript/src/blobs_pb.js
  components/content-service-api/typescript/src/content_pb.js
  components/content-service-api/typescript/src/headless-log_pb.js
  components/content-service-api/typescript/src/ideplugin_pb.js
  components/content-service-api/typescript/src/initializer_pb.d.ts
  components/content-service-api/typescript/src/initializer_pb.js
  components/content-service-api/typescript/src/workspace_pb.js
  components/content-service/pkg/initializer/initializer.go
  components/content-service/pkg/layer/provider.go
  components/gitpod-protocol/src/wsready.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-content-service-app

[ws-manager] improve error handling around snapshot volume creation
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

tie snapshot volumes to workspace instance id
  components/gitpod-db/src/typeorm/entity/db-volume-snapshot.ts
  components/gitpod-db/src/typeorm/migration/1652221085595-VolumeSnapshot2.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-bridge-app, components-ws-manager-app

[content-service] add tests to minio provider
  components/content-service/pkg/storage/minio_test.go
Due: components-content-service-app

[content-service] fix s3 access when using dedicated bucket
  components/content-service/pkg/layer/provider_test.go
  components/content-service/pkg/service/headless-log-service.go
  components/content-service/pkg/service/headless-log-service_test.go
  components/content-service/pkg/service/workspace-service.go
  components/content-service/pkg/storage/gcloud.go
  components/content-service/pkg/storage/minio.go
  components/content-service/pkg/storage/mock/mock.go
  components/content-service/pkg/storage/noop.go
  components/content-service/pkg/storage/storage.go
Due: components-content-service-app

[content-service] add omitempty to BucketName for minio config
  components/content-service-api/go/config/config.go
Due: none

[content-service] Add support to use existing S3 bucket
  components/content-service-api/go/config/config.go
  components/content-service/pkg/storage/minio.go
  install/installer/pkg/common/storage.go
  install/installer/pkg/config/v1/config.go
Due: components-content-service-app

Update go modules
  components/content-service/go.mod
  components/content-service/go.sum
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  install/installer/go.mod
  install/installer/go.sum
  test/go.mod
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

Add s3 bucket name to kots
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-config.yaml
Due: none

fix the help text
  install/kots/manifests/kots-config.yaml
Due: none

[usage-controller] Initial setup for component
  .github/CODEOWNERS
  components/BUILD.yaml
  components/usage/BUILD.yaml
  components/usage/cmd/root.go
  components/usage/cmd/run.go
  components/usage/go.mod
  components/usage/go.sum
  components/usage/leeway.Dockerfile
  components/usage/main.go
Due: none

ws-manager: Refactor the annotation bool string.
  components/common-go/util/const_string.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-common-go-lib, components-ws-manager-app

ws-manager: Add a test case for faild a workspace start-up.
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_workspace_startup_failed.golden
  components/ws-manager/pkg/manager/testdata/status_workspace_startup_failed.golden
  components/ws-manager/pkg/manager/testdata/status_workspace_startup_failed.json
Due: components-ws-manager-app

Make the pods be removed when workspacekit fails.
  components/ws-manager/pkg/manager/monitor.go
  components/ws-manager/pkg/manager/status.go
Due: components-ws-manager-app

Feedback modal
  components/dashboard/src/Login.tsx
  components/dashboard/src/components/ErrorMessage.tsx
  components/dashboard/src/feedback-form/FeedbackComponent.tsx
  components/dashboard/src/feedback-form/FeedbackModal.tsx
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

refactor to use metadata.region field
  install/installer/pkg/components/docker-registry/helm.go
  install/installer/pkg/config/v1/config.go
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

Fix ws-manager test case error
  components/ws-manager/pkg/manager/testdata/status_workspace_startup_failed.golden
Due: components-ws-manager-app

Add CertManager's cmctl to dev env
  .gitpod.yml
  .werft/build.yaml
  .werft/debug.yaml
  .werft/ide-integration-tests-startup-jetbrains.yaml
  .werft/ide-integration-tests-startup-vscode.yaml
  .werft/ide-run-integration-tests.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/run-integration-tests.yaml
  .werft/wipe-devstaging.yaml
  .werft/workspace-run-integration-tests.yaml
  dev/image/Dockerfile
Due: none

[dev] Separate ssh IP and ws-proxy IP
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/platform-delete-preview-environments-cron.ts
Due: none

Fix port name and desc missed for ranges ports
  components/supervisor/pkg/ports/ports.go
Due: components-supervisor-app

[public-api-server] Harmonise configuration structure
  components/public-api-server/cmd/root.go
  components/public-api-server/cmd/run.go
  components/public-api-server/config.json
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/server/config.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
  components/public-api/go/config/config.go
  components/public-api/go/go.mod
  components/public-api/go/go.sum
  install/installer/BUILD.yaml
  install/installer/go.mod
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/public-api-server/deployment_test.go
  install/installer/pkg/components/public-api-server/objects.go
Due: none

[jb] don't mark deleted mvn modules as ignored in prebuilds
  components/server/src/ide-service.ts
Due: none

[dev-image] Add MySQL Server to workspace image
  dev/image/Dockerfile
  dev/image/mysql/client.cnf
  dev/image/mysql/mysql-bashrc-launch.sh
  dev/image/mysql/mysql.cnf
Due: none

Fix deps
  dev/image/BUILD.yaml
  dev/image/mysql/mysql-bashrc-launch.sh
Due: none

Trigger rebuild
  dev/image/Dockerfile
Due: none

[licensor] update fn parameter in license validator
  components/licensor/ee/cmd/validate.go
Due: components-licensor-app

[kots] ensure secret creation for inCluster registry backend
  install/kots/manifests/gitpod-registry-s3-backend.yaml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
