Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Add namespace flag to cert debug command
  .werft/util/certs.ts
Due: none

[usage] Billing controller returns error
  components/usage/pkg/controller/billing.go
  components/usage/pkg/controller/reconciler.go
Due: none

Update dev-environment image
  dev/image/Dockerfile
Due: none

Set Werft GH token in ide-integration-tests-startup-jeybrains.yaml
  .werft/ide-integration-tests-startup-jetbrains.yaml
Due: none

Add new type to db package
  components/usage/pkg/db/workspace_instance_usage.go
Due: none

Off topic: Use type alias in return type
  components/usage/pkg/controller/reconciler.go
Due: none

increase cert timeout
  .werft/util/certs.ts
Due: none

Update Caddy to v2.5.2
  components/proxy/plugins/corsorigin/go.mod
  components/proxy/plugins/corsorigin/go.sum
  components/proxy/plugins/headlesslogdownload/go.mod
  components/proxy/plugins/headlesslogdownload/go.sum
  components/proxy/plugins/jsonselect/go.mod
  components/proxy/plugins/jsonselect/go.sum
  components/proxy/plugins/logif/go.mod
  components/proxy/plugins/logif/go.sum
  components/proxy/plugins/secwebsocketkey/go.mod
  components/proxy/plugins/secwebsocketkey/go.sum
  components/proxy/plugins/sshtunnel/go.mod
  components/proxy/plugins/sshtunnel/go.sum
  components/proxy/plugins/workspacedownload/go.mod
  components/proxy/plugins/workspacedownload/go.sum
Due: none

Add if around preview envs
  .werft/jobs/build/prepare.ts
Due: none

Splitting the test executions
  .werft/installer-tests.ts
  install/tests/Makefile
  install/tests/install/infra/terraform/eks/providers.tf
  install/tests/tests.sh
Due: none

Return after docker config
  .werft/jobs/build/prepare.ts
Due: none

Update components/ws-daemon/pkg/content/service.go
  components/ws-daemon/pkg/content/service.go
Due: components-ws-daemon-app

[ws-daemon] improve DisposeWorkspace logging
  components/ws-daemon/pkg/content/service.go
Due: components-ws-daemon-app

[installer] improve ws-proxy configmap
  install/installer/pkg/components/ws-proxy/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[installer] improve ws-manager config
  install/installer/pkg/components/ws-manager/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Ignore port 8022
  .gitpod.yml
Due: none

Make werft-credential-helper work outside workspaces
  dev/preview/werft-credential-helper.sh
Due: none

Apply suggestions from code review
  dev/preview/previewctl/pkg/preview/preview.go
Due: none

Add tests for usage record creation
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

Set Werft GH token in build
  .werft/build.yaml
  .werft/jobs/build/self-hosted-upgrade-tests.ts
Due: none

[public-api] Support ListWorkspace
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api-server/pkg/server/integration_test.go
Due: components-gitpod-protocol-go-lib

[usage] Set reconcile duration buckets to 30s, up to 300s
  components/usage/pkg/controller/reporter.go
Due: none

[server, protocol] GuardedCostCenter and AttributionId.parse/render
  components/gitpod-protocol/src/attribution.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/resource-access.spec.ts
  components/server/src/auth/resource-access.ts
  components/server/src/user/user-service.ts
Due: none

Off topic: Number steps in README correctly
  components/gitpod-db/README.md
Due: none

Implement hasReadAccess for Bitbucket
  components/server/src/bitbucket/bitbucket-repository-provider.spec.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Due: none

[server] Hook up usage API
  components/dashboard/src/teams/TeamUsage.tsx
  components/gitpod-protocol/src/usage.ts
  components/server/BUILD.yaml
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/package.json
  components/server/src/config.ts
  components/server/src/container-module.ts
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/usage/constants.go
  install/installer/pkg/components/usage/service.go
Due: components-dashboard-app

Fix the check cert function
  .werft/util/certs.ts
Due: none

Add new database entity for usage table
  components/gitpod-db/src/typeorm/entity/db-workspace-instance-usage.ts
Due: none

[server] Make FeatureFlags configurable per team
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[public-api] Add preparing phase
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/pagination.pb.go
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/prebuilds_grpc.pb.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
Due: none

[dashboard] Add feature flagged blocked repo UI
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/admin/BlockedRepositorySettings.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/PageWithAdminSubMenu.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/admin/admin-menu.ts
  components/dashboard/src/components/PageWithSubMenu.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/index.tsx
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[server] Use workspace cluster as image-builder (feature flag: "movedImageBuilder")
  components/image-builder-api/typescript/src/sugar.ts
  components/server/src/container-module.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/image-source-provider.ts
  components/server/src/workspace/workspace-cluster-imagebuilder-client-provider.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-api/typescript/src/client-provider.ts
  components/ws-manager-bridge/src/cluster-service-server.ts
  components/ws-manager-bridge/src/cluster-sync-service.ts
Due: components-ws-manager-bridge-app

Add `function:sendHeartBeat` scope
  components/server/src/oauth-server/db.ts
Due: none

fix unhelpful log messages
  components/supervisor/pkg/ports/served-ports.go
  components/workspacekit/cmd/rings.go
Due: components-supervisor-app, components-workspacekit-app

[workspacekit] fix mount when use ubuntu docker image
  components/workspacekit/pkg/readarg/readarg.go
Due: components-workspacekit-app

Fix cert loop
  .werft/util/certs.ts
Due: none

[local-preview] show `DOMAIN` in the output
  install/preview/entrypoint.sh
  install/preview/prettylog/main.go
Due: none

Found the job with with-preview annotation
  .werft/workspace-run-integration-tests.yaml
Due: none

[ws-daemon] do not fail workspace if git status failed during dispose
  components/ws-daemon/pkg/content/service.go
Due: components-ws-daemon-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
