Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

review comments
  components/server/src/prebuilds/prebuild-manager.ts
Due: none

[server] Fix order of commits in MockRepositoryProvider to be aligned with actual implementation
  components/server/src/workspace/context-service.spec.db.ts
Due: none

[server] Add more tests around "prebuild selection" (#20358)
  components/server/src/prebuilds/incremental-workspace-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/context-service.ts
Due: none

addressed feedback
  components/supervisor/pkg/supervisor/ssh.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Fix prebuild lookup for prebuilds run in reverse-chronological order
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
  components/server/src/github/github-repository-provider.ts
  components/server/src/prebuilds/incremental-workspace-service.ts
  components/server/src/workspace/context-service.spec.db.ts
Due: none

[ws-manager] Re-create workspace pods (incl. test)
  components/ws-daemon-api/go/mock/mock.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/go/workspace_daemon_grpc.pb.go
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon-api/workspace_daemon.proto
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/container/container.go
  components/ws-daemon/pkg/container/containerd.go
  components/ws-daemon/pkg/content/hooks.go
  components/ws-daemon/pkg/controller/mock.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-daemon/pkg/cpulimit/dispatch.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-daemon/pkg/daemon/markunmount.go
  components/ws-daemon/pkg/dispatch/dispatch.go
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-daemon/pkg/iws/iws.go
  components/ws-daemon/pkg/netlimit/netlimit.go
  components/ws-daemon/pkg/nsinsider/nsinsider.go
  components/ws-manager-api/go/config/config.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/subscriber_controller.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: components-ws-daemon-api-go-lib, components-ws-daemon-app

[gpctl] Fix "workspaces list"
  dev/gpctl/cmd/workspaces-list.go
Due: none

[supervisor] add ptrace cap for all child process (#20359)
  components/supervisor/pkg/supervisor/ssh.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/supervisor/pkg/terminal/service.go
Due: components-supervisor-app

Minor fixes
  components/server/src/prebuilds/incremental-workspace-service.ts
  components/server/src/workspace/context-service.spec.db.ts
Due: none

🧹
  components/server/src/workspace/context-service.spec.db.ts
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Fix GitHub Integration tests
  components/server/src/dev/dev-data.ts
  components/server/src/errors/index.ts
  components/server/src/github/github-context-parser.spec.ts
  components/server/src/github/github-repository-provider.spec.ts
  components/server/src/github/github-repository-provider.ts
Due: none

Fix Bitbucket Server repository provider tests
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Due: none

Fix Bitbucket Server repository provider tests (#20364)
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Due: none

Fix dockerfile paths with relative decorators
  components/server/src/workspace/config-provider.ts
  components/server/src/workspace/image-source-provider.ts
Due: none

update index (#20361)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Fix GitHub Integration tests (#20363)
  components/server/src/dev/dev-data.ts
  components/server/src/errors/index.ts
  components/server/src/github/github-context-parser.spec.ts
  components/server/src/github/github-repository-provider.spec.ts
  components/server/src/github/github-repository-provider.ts
Due: none

Fix dockerfile paths with relative decorators (#20365)
  components/server/src/workspace/config-provider.ts
  components/server/src/workspace/image-source-provider.ts
Due: none

Simplify prebuild ordering
  components/server/src/prebuilds/incremental-workspace-service.ts
Due: none

[ws-daemon, ws-manager] Review comments, logging cleanups and ordering fix
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/container/containerd.go
  components/ws-daemon/pkg/content/hooks.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-daemon/pkg/cpulimit/dispatch.go
  components/ws-daemon/pkg/daemon/markunmount.go
  components/ws-daemon/pkg/diskguard/guard.go
  components/ws-daemon/pkg/dispatch/dispatch.go
  components/ws-daemon/pkg/iws/iws.go
  components/ws-daemon/pkg/netlimit/netlimit.go
  components/ws-daemon/pkg/nsinsider/nsinsider.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: components-ws-daemon-app

[dev/rejector] Add the tool we use to test PodRejection under "dev"
  dev/rejector/.gitignore
  dev/rejector/go.mod
  dev/rejector/go.sum
  dev/rejector/main.go
Due: none

Pause gradle sync
  components/ide/jetbrains/backend-plugin/BUILD.yaml
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/listeners/GradleSyncListener.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

[GP CLI]
  components/gitpod-cli/cmd/jetbrains-gradle-pause.go
  components/gitpod-cli/cmd/jetbrains-gradle-resume.go
  components/gitpod-cli/cmd/jetbrains-gradle.go
  components/gitpod-cli/cmd/jetbrains.go
Due: components-gitpod-cli-app

Revert gradle property
  components/ide/jetbrains/backend-plugin/gradle.properties
Due: none

Remove task ID
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/listeners/GradleSyncListener.kt
Due: none

update help
  components/gitpod-cli/cmd/jetbrains-gradle-pause.go
Due: components-gitpod-cli-app

Update help msg
  components/gitpod-cli/cmd/jetbrains-gradle-pause.go
  components/gitpod-cli/cmd/jetbrains-gradle-resume.go
Due: components-gitpod-cli-app

Add comments
  components/gitpod-cli/cmd/jetbrains-gradle-pause.go
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/listeners/GradleSyncListener.kt
Due: components-gitpod-cli-app

update index
  install/installer/leeway.Dockerfile
Due: none

update index (#20369)
  install/installer/leeway.Dockerfile
Due: none

Auto script
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Point cline and rider to old backend plugin version
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

[server] Prefer exact matches plus order incremental matches by commit history
  components/server/src/prebuilds/incremental-workspace-service.ts
Due: none

Make stable plugin build
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodMetricControlProvider.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodPortForwardingServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodMetricControlProvider.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodPortForwardingServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Make rider build
  components/ide/jetbrains/backend-plugin/BUILD.yaml
Due: none

Do expensive image and prebuild promises in parallel
  components/server/src/prebuilds/incremental-workspace-service.ts
Due: none

[server] Prefer exact matches plus order incremental matches by commit history
  components/server/src/prebuilds/incremental-workspace-service.ts
  components/server/src/workspace/context-service.spec.db.ts
Due: none

Fix test comment typo
  components/server/src/workspace/context-service.spec.db.ts
Due: none

[bridge] Log nested status shape (and properly scrubbing it)
  components/ws-manager-bridge/src/bridge.ts
Due: components-ws-manager-bridge-app

Update patch for rr and cl
  dev/preview/workflow/preview/patch-ide-configmap.js
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
