Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[dashboard] handle no orgs (#17697)
  components/dashboard/src/app/AppBlockingFlows.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/app/OrgRequiredRoute.tsx
  components/dashboard/src/dedicated-setup/DedicatedSetup.tsx
  components/dashboard/src/dedicated-setup/GettingStartedStep.tsx
  components/dashboard/src/dedicated-setup/OrgNamingStep.tsx
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
  components/dashboard/src/dedicated-setup/SetupLayout.tsx
Due: components-dashboard-app

[server] install job for orgonly migration (#17692)
  components/dashboard/src/app/AppBlockingFlows.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/app/OrgRequiredRoute.tsx
  components/dashboard/src/dedicated-setup/DedicatedSetup.tsx
  components/dashboard/src/dedicated-setup/GettingStartedStep.tsx
  components/dashboard/src/dedicated-setup/OrgNamingStep.tsx
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
  components/dashboard/src/dedicated-setup/SetupLayout.tsx
  components/server/.vscode/launch.json
  components/server/src/container-module.ts
  components/server/src/jobs/org-only-migration-job.spec.db.ts
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/jobs/runner.ts
Due: components-dashboard-app

Extract `maxBaseBranchLength`
  components/server/src/workspace/context-parser.spec.ts
  components/server/src/workspace/context-parser.ts
Due: none

comment wording
  components/server/src/workspace/context-parser.ts
Due: none

Correctly infer branch names for SSO users (#17683)
  components/server/src/workspace/context-parser.spec.ts
  components/server/src/workspace/context-parser.ts
Due: none

[workspace] update containerd
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/common-go/go-update-wc-deps.sh
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-common-go-lib, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[image-builder-bob] fix build error after containerd update
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
Due: none

[db] optimize often used qery
  components/gitpod-db/src/typeorm/app-installation-db-impl.ts
Due: none

Unwanted characters in workspace create error message
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[preview] update VM image with fewer cached images
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[test] more cowbell
  .github/workflows/workspace-integration-tests.yml
Due: none

[dashboard] disable components
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Update new workspace page header (#17703)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[dashboard] disable components (#17721)
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[public-api] stats initial
  components/public-api/gitpod/experimental/v1/stats.proto
  components/public-api/go/experimental/v1/stats.pb.go
  components/public-api/go/experimental/v1/stats_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/stats.connect.go
  components/public-api/go/experimental/v1/v1connect/stats.proxy.connect.go
  components/public-api/typescript/src/gitpod/experimental/v1/cell_stats_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/cell_stats_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/stats_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/stats_pb.ts
  components/server/src/api/server.ts
  components/server/src/api/stats.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/container-module.ts
  components/server/src/server.ts
Due: none

[ws-proxy] don't hit blobserve with web sockets
  components/ws-proxy/pkg/proxy/routes.go
Due: none

[db] optimize often used qery (#17722)
  components/gitpod-db/src/typeorm/app-installation-db-impl.ts
Due: none

[server] adjust migration job
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/migration/user-to-team-migration-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Add default value for manually GHA running
  .github/workflows/ide-integration-tests.yml
Due: none

Add default value for manually GHA running (#17731)
  .github/workflows/ide-integration-tests.yml
Due: none

[public-api] stats initial (#17718)
  components/public-api/gitpod/experimental/v1/stats.proto
  components/public-api/go/experimental/v1/stats.pb.go
  components/public-api/go/experimental/v1/stats_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/stats.connect.go
  components/public-api/go/experimental/v1/v1connect/stats.proxy.connect.go
  components/public-api/typescript/src/gitpod/experimental/v1/cell_stats_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/cell_stats_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/stats_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/stats_pb.ts
  components/server/src/api/server.ts
  components/server/src/api/stats.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/container-module.ts
  components/server/src/server.ts
Due: none

[server] adjust migration job (#17730)
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/migration/user-to-team-migration-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[ws-daemon] Ensure hard storage quota is applied
  components/ws-daemon/pkg/controller/workspace_provider.go
Due: components-ws-daemon-app

[server] fix migration query
  components/server/src/jobs/org-only-migration-job.spec.db.ts
  components/server/src/jobs/org-only-migration-job.ts
Due: none

[server] fix migration query (#17732)
  components/server/src/jobs/org-only-migration-job.spec.db.ts
  components/server/src/jobs/org-only-migration-job.ts
Due: none

[server] Remove Rabbit MQ concensus (#17708)
  components/server/src/consensus/consensus-leader-messenger.ts
  components/server/src/consensus/consensus-leader-quorum.spec.ts
  components/server/src/consensus/consensus-leader-quorum.ts
  components/server/src/consensus/inmemory-consensus-leader-messenger.ts
  components/server/src/consensus/rabbitmq-consensus-leader-messenger.ts
  components/server/src/container-module.ts
  components/server/src/server.ts
Due: none

[server] Fetch User based on JWT Session sub (#17710)
  components/server/src/session-handler.ts
Due: none

touch up
  components/server/src/session-handler.ts
Due: none

fix
  components/server/src/session-handler.ts
Due: none

Update org-only-migration-job.ts
  components/server/src/jobs/org-only-migration-job.ts
Due: none

Update org-only-migration-job.ts (#17733)
  components/server/src/jobs/org-only-migration-job.ts
Due: none

[workspace] update deps for gen98 (#17719)
  .github/workflows/workspace-integration-tests.yml
  WORKSPACE.yaml
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/common-go/go-update-wc-deps.sh
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/variables.tf
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-common-go-lib, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[server] fix wrong use of resources argument
  components/server/src/jobs/database-gc.ts
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/jobs/ots-gc.ts
  components/server/src/jobs/runner.ts
  components/server/src/jobs/snapshots.ts
  components/server/src/jobs/token-gc.ts
  components/server/src/jobs/webhook-gc.ts
  components/server/src/jobs/workspace-gc.ts
  components/server/src/migration/user-to-team-migration-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[server] fix wrong use of resources argument (#17736)
  components/server/src/jobs/database-gc.ts
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/jobs/ots-gc.ts
  components/server/src/jobs/runner.ts
  components/server/src/jobs/snapshots.ts
  components/server/src/jobs/token-gc.ts
  components/server/src/jobs/webhook-gc.ts
  components/server/src/jobs/workspace-gc.ts
  components/server/src/migration/user-to-team-migration-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Enable migration job again
  components/server/src/jobs/org-only-migration-job.ts
Due: none

Fix dev settings link for git providers (#17714)
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
Due: components-dashboard-app

Enable migration job again (#17737)
  components/server/src/jobs/org-only-migration-job.ts
Due: none
