Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[installer-tests] adding self-hosted team as codeowners
  .github/CODEOWNERS
  .werft/cleanup-installer-tests.yaml
  install/tests/main.tf
Due: none

Chown all files and folders after git checkout
  components/content-service/pkg/initializer/git.go
Due: components-content-service-app

[usage] Add _lastModified column to d_b_workspace_instance_usage
  components/gitpod-db/src/typeorm/migration/1661492836561-WorkspaceInstanceUsageLastModified.ts
Due: none

[jb] disable plugin verification by default
  components/ide/jetbrains/backend-plugin/BUILD.yaml
  components/ide/jetbrains/backend-plugin/scripts/build.sh
Due: none

tests: Stabilization of TestRegularWorkspaceTasks
  test/pkg/integration/integration.go
  test/pkg/integration/workspace.go
  test/tests/components/ws-manager/content_test.go
  test/tests/components/ws-manager/tasks_test.go
Due: none

Revert "[supervisor] fix chown of /workspace when using PVC"
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

[db-sync] Add d_b_workspace_instance_usage to db-sync
  components/gitpod-db/src/tables.ts
Due: none

[kots] load dockerConfigJson reigstry names into `privateBaseImageAllowList`
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-config.yaml
Due: none

[installer] Add netlimit to configmap
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-daemon/configmap.go
Due: none

[content-service] Define GetDownloadURL rpc
  components/content-service-api/go/blobs.pb.go
  components/content-service-api/go/initializer.pb.go
  components/content-service-api/go/usage.pb.go
  components/content-service-api/go/usage_grpc.pb.go
  components/content-service-api/typescript/src/usage_grpc_pb.d.ts
  components/content-service-api/typescript/src/usage_grpc_pb.js
  components/content-service-api/typescript/src/usage_pb.d.ts
  components/content-service-api/typescript/src/usage_pb.js
  components/content-service-api/usage.proto
Due: none

[billing] Set report ID on Invoices when updating usage credits
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/stripe/stripe.go
Due: none

[content-service] Implement UsageReportService.GetDownloadURL
  components/content-service/pkg/service/usage-report-service.go
  components/content-service/pkg/service/usage-report-service_test.go
  components/content-service/pkg/storage/storage.go
Due: components-content-service-app

}}} This is a combination of 2 commits.
  .werft/jobs/build/installer/installer.ts
  components/public-api/go/config/config.go
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
  install/installer/pkg/components/public-api-server/constants.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/public-api-server/deployment_test.go
  install/installer/pkg/components/public-api-server/objects_test.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[usage] Disable controller when schedule is empty
  components/usage/pkg/server/server.go
Due: none

[usage] Implement usage cap
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/apiv1/billing_test.go
  components/usage/pkg/apiv1/size_test.go
  components/usage/pkg/server/server.go
Due: none

Blocked repositories page improvements
  components/dashboard/src/admin/BlockedRepositories.tsx
Due: components-dashboard-app

[gp-cli] provide workspace class info in top command
  components/gitpod-cli/cmd/top.go
  components/gitpod-cli/pkg/supervisor-helper/status.go
  components/server/src/workspace/workspace-starter.ts
  components/supervisor-api/go/info.pb.go
  components/supervisor-api/info.proto
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/services.go
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.json
Due: components-gitpod-cli-app, components-supervisor-app, components-supervisor-api-go-lib, components-ws-manager-app

[server] track more startWorkspace failures
  components/server/src/prometheus-metrics.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Capture document errors in supervisor frontend
  WORKSPACE.yaml
  components/supervisor/frontend/package.json
  components/supervisor/frontend/src/ide/ide-metrics-service-client.ts
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

[installer] update ide-metrics configmap with labels
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-metrics/configmap.go
Due: none

Update install/infra/modules/eks/kubernetes.tf
  install/infra/modules/eks/kubernetes.tf
Due: none

Update default workspace image size
  install/infra/modules/gke/variables.tf
Due: none

Change IOPS and throughput
  install/infra/modules/eks/kubernetes.tf
Due: none

change IOPS and throughput back to whats in the guide
  install/infra/modules/eks/kubernetes.tf
Due: none

[usage] Add config for experimenets to usage component
  install/installer/pkg/components/usage/deployment.go
Due: none

[jb] remote debugging of backend plugin
  components/ide/jetbrains/backend-plugin/debug/go.mod
  components/ide/jetbrains/backend-plugin/debug/main.go
  components/ide/jetbrains/image/startup.sh
  components/ide/jetbrains/image/status/main.go
Due: none

change workspace default disk size to 360
  install/infra/modules/gke/main.tf
  install/infra/modules/gke/variables.tf
Due: none

[terraform] Updating terraform GCP module
  install/infra/modules/gke/main.tf
  install/infra/modules/gke/variables.tf
  install/infra/single-cluster/gcp/Makefile
  install/infra/single-cluster/gcp/README.md
Due: none
