Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[db] Drop d_b_edu_email_domain
  components/gitpod-db/src/typeorm/migration/1681824758658-DeleteEduEmailDomain.ts
Due: none

[db] Clean EduEmailDomainDB model
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/edu-email-domain-db.ts
  components/gitpod-db/src/index.ts
  components/gitpod-db/src/typeorm/edu-email-domain-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-edu-email-domain.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

[db] Remove d_b_edu_email_domain from tables.ts
  components/gitpod-db/src/tables.ts
Due: none

Fix
  components/server/ee/src/auth/email-domain-service.spec.ts
Due: none

[server] Remove usage of do_not_wait_for_ws_manager flag
  components/server/src/workspace/workspace-starter.ts
Due: none

Remove api.isStudent and all connected code/DB (#17275)
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/service/service-mock.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/edu-email-domain-db.ts
  components/gitpod-db/src/index.ts
  components/gitpod-db/src/tables.ts
  components/gitpod-db/src/typeorm/edu-email-domain-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-edu-email-domain.ts
  components/gitpod-db/src/typeorm/migration/1681824758658-DeleteEduEmailDomain.ts
  components/gitpod-protocol/src/admin-protocol.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/auth/email-domain-service.spec.ts
  components/server/ee/src/auth/email-domain-service.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/typings/swot-js/index.d.ts
  components/server/ee/src/user/eligibility-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/package.json
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  yarn.lock
Due: components-dashboard-app

[dashboard] Remove superfluous usage_view feature flag
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

[yarn] Fix dirty yarn.lock
  yarn.lock
Due: none

[db] Remove models for Subscription, AccountEntry, TeamSubscription/2 and PendingGithubEvent
  components/gitpod-db/src/accounting-db.spec.db.ts
  components/gitpod-db/src/accounting-db.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/index.ts
  components/gitpod-db/src/pending-github-event-db.ts
  components/gitpod-db/src/team-subscription-2-db.ts
  components/gitpod-db/src/team-subscription-db.ts
  components/gitpod-db/src/typeorm/accounting-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-account-entry.ts
  components/gitpod-db/src/typeorm/entity/db-pending-github-event.ts
  components/gitpod-db/src/typeorm/entity/db-subscription.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription-2.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription-slot.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription.ts
  components/gitpod-db/src/typeorm/pending-github-event-db-impl.ts
  components/gitpod-db/src/typeorm/team-subscription-2-db-impl.ts
  components/gitpod-db/src/typeorm/team-subscription-db-impl.ts
Due: none

[dashboard] Remove superfluous usage_view feature flag (#17285)
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

[supervisor] track IDE connectivity metrics
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/pkg/components/ide-metrics/configmap.go
Due: components-supervisor-app

[db] Adjust DB model for TeamMembership
  components/gitpod-db/go/team_membership.go
  components/gitpod-db/go/team_membership_test.go
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-team-membership.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
Due: none

`experimental` IDEs feature flag (#17240)
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: components-dashboard-app

[db] Remove all Chargebee-related DB models (#17287)
  components/gitpod-db/go/team_membership.go
  components/gitpod-db/go/team_membership_test.go
  components/gitpod-db/src/accounting-db.spec.db.ts
  components/gitpod-db/src/accounting-db.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/index.ts
  components/gitpod-db/src/pending-github-event-db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/team-subscription-2-db.ts
  components/gitpod-db/src/team-subscription-db.ts
  components/gitpod-db/src/typeorm/accounting-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-account-entry.ts
  components/gitpod-db/src/typeorm/entity/db-pending-github-event.ts
  components/gitpod-db/src/typeorm/entity/db-subscription.ts
  components/gitpod-db/src/typeorm/entity/db-team-membership.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription-2.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription-slot.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription.ts
  components/gitpod-db/src/typeorm/pending-github-event-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-db/src/typeorm/team-subscription-2-db-impl.ts
  components/gitpod-db/src/typeorm/team-subscription-db-impl.ts
  yarn.lock
Due: none

[server] use options from last instances on start
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[server] fix prebuild organizationId
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

[yarn] update yarn.lock
  yarn.lock
Due: none

[server] Remove CreditAlert notifications
  components/server/src/messaging/local-message-broker.ts
  components/server/src/workspace/messagebus-integration.ts
Due: none

[server, dashboard] Purge NOT_ENOUGH_CREDIT (chargebee)
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/billing/entitlement-service.ts
Due: components-dashboard-app

[server] fix prebuild organizationId (#17289)
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

DEBUG
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

[protocol] Remove dead code related to Chargebee
  components/dashboard/src/payment-context.tsx
  components/gitpod-protocol/src/accounting-protocol.ts
  components/gitpod-protocol/src/index.ts
  components/gitpod-protocol/src/oss-allowlist.ts
  components/gitpod-protocol/src/payment-protocol.ts
  components/gitpod-protocol/src/plans.ts
  components/gitpod-protocol/src/team-subscription-protocol.ts
Due: components-dashboard-app

[protocol] Remove superfluous error codes
  components/gitpod-protocol/go/error.go
  components/gitpod-protocol/src/messaging/error.ts
Due: components-gitpod-protocol-go-lib

Revert making VS Code Browser experimental
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Revert making VS Code Browser experimental (#17288)
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Purge gitpod-protocol from all Chargebee related artifacts (#17291)
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/gitpod-protocol/go/error.go
  components/gitpod-protocol/src/accounting-protocol.ts
  components/gitpod-protocol/src/index.ts
  components/gitpod-protocol/src/messaging/error.ts
  components/gitpod-protocol/src/oss-allowlist.ts
  components/gitpod-protocol/src/payment-protocol.ts
  components/gitpod-protocol/src/plans.ts
  components/gitpod-protocol/src/team-subscription-protocol.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/billing/entitlement-service.ts
  components/server/src/messaging/local-message-broker.ts
  components/server/src/workspace/messagebus-integration.ts
Due: components-dashboard-app, components-gitpod-protocol-go-lib

[server] Remove usage of do_not_wait_for_ws_manager flag (#17284)
  components/server/src/workspace/workspace-starter.ts
Due: none

[supervisor] small fixes of previous leftovers
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

bump up gitpod code extension (#17260)
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[server] Remove UserDeletionService EE
  components/server/ee/src/container-module.ts
  components/server/ee/src/user/user-deletion-service.ts
  components/server/src/user/user-deletion-service.ts
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[papi] check for OIDC Discovery support
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
Due: none

[papi] check for OIDC Discovery support (#17268)
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
Due: none

[server] Remove UserDeletionService EE (#17295)
  components/server/ee/src/container-module.ts
  components/server/ee/src/user/user-deletion-service.ts
  components/server/src/user/user-deletion-service.ts
Due: none

[analytics] use dummy static key for untrusted
  components/proxy/plugins/analytics/analytics.go
  components/proxy/plugins/analytics/analytics_test.go
Due: none

[analytics] use dummy static key for untrusted (#17293)
  components/proxy/plugins/analytics/analytics.go
  components/proxy/plugins/analytics/analytics_test.go
Due: none

[lint] exclude typecheck error by regex
  WORKSPACE.yaml
Due: none

[wsman-mk2] Set workspace class environment variables
  components/ws-manager-mk2/controllers/create.go
Due: none

[installer] First user is no longer admin
  install/installer/pkg/components/server/configmap.go
Due: none
