Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Configure /etc/hosts file in registry-facade
  install/installer/pkg/components/registry-facade/daemonset.go
Due: none

Update golden files
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

Remove host controller from ws-daemon (#16615)
  components/ws-daemon/pkg/daemon/config.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-daemon/pkg/hosts/config.go
  components/ws-daemon/pkg/hosts/hosts.go
  components/ws-daemon/pkg/hosts/kubernetes.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/ws-daemon/configmap.go
Due: components-ws-daemon-app

Making top nav menu responsive
  components/dashboard/src/components/Header.tsx
  components/dashboard/src/components/Separator.tsx
  components/dashboard/src/index.css
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/onboarding/UserOnboarding.tsx
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

send companySize to segment
  components/gitpod-protocol/src/protocol.ts
Due: none

[supervisor] instance update fatal if no permission
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-supervisor-app

Adding a company size question to new user onboarding flow (#16616)
  components/dashboard/src/onboarding/StepOrgInfo.tsx
  components/dashboard/src/onboarding/company-size.ts
  components/dashboard/src/onboarding/exploration-reasons.ts
  components/gitpod-protocol/src/protocol.ts
Due: components-dashboard-app

[db-sync] Remove comment references (#16602)
  components/gitpod-db/go/oidc_client_config.go
  components/gitpod-db/go/personal_access_token.go
  components/gitpod-db/go/project.go
  components/gitpod-db/go/stripe_customer.go
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_membership.go
  components/gitpod-db/go/workspace.go
  components/gitpod-db/go/workspace_instance.go
  components/gitpod-db/src/typeorm/entity/db-blocked-repository.ts
  components/gitpod-db/src/typeorm/entity/db-pending-github-event.ts
  components/gitpod-db/src/typeorm/entity/db-prebuild-info-entry.ts
  components/gitpod-db/src/typeorm/entity/db-prebuilt-workspace-updatable.ts
  components/gitpod-db/src/typeorm/entity/db-prebuilt-workspace.ts
  components/gitpod-db/src/typeorm/entity/db-project-env-vars.ts
  components/gitpod-db/src/typeorm/entity/db-project-info.ts
  components/gitpod-db/src/typeorm/entity/db-project-usage.ts
  components/gitpod-db/src/typeorm/entity/db-project.ts
  components/gitpod-db/src/typeorm/entity/db-team-membership-invite.ts
  components/gitpod-db/src/typeorm/entity/db-team-membership.ts
  components/gitpod-db/src/typeorm/entity/db-team-subscription-2.ts
  components/gitpod-db/src/typeorm/entity/db-team.ts
  components/gitpod-db/src/typeorm/entity/db-user-ssh-public-key.ts
  components/gitpod-db/src/typeorm/entity/db-webhook-event.ts
  components/gitpod-db/src/typeorm/entity/db-workspace-cluster.ts
  components/gitpod-db/src/typeorm/entity/db-workspace-instance.ts
  components/gitpod-db/src/typeorm/entity/db-workspace.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/server/src/auth/bearer-authenticator.ts
  components/server/src/workspace/workspace-deletion-service.ts
  components/ws-manager-bridge/src/bridge.ts
  operations/observability/mixins/meta/dashboards/components/db.json
  operations/observability/mixins/meta/dashboards/components/meta-services.json
  operations/observability/mixins/meta/rules/server.yaml
Due: components-ws-manager-bridge-app

[stripe] Return NotFound for non-existent attribution IDs (#16600)
  components/server/ee/src/user/stripe-service.ts
Due: none

[installer]: specify the desired registry domain in image.registry
  install/installer/pkg/components/database/incluster/helm.go
  install/installer/pkg/components/minio/helm.go
  install/installer/pkg/components/rabbitmq/helm.go
Due: none

Regenerate installer golden files
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[ws-manager-mk2] Show start failures in dashboard, show daemon ctrl metrics (#16612)
  operations/observability/mixins/workspace/dashboards/components/ws-daemon.json
  operations/observability/mixins/workspace/dashboards/components/ws-manager-mk2.json
Due: none

[ws-manager-mk2] Remove headless field (#16611)
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

[ws-manager-mk2] Refactor metric collection and add tests (#16585)
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

Allow registry-facade and ws-daemon to run in dedicated GPU node pools (#16608)
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/common/toleration.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/ws-daemon/daemonset.go
Due: none

[ws-manager-mk2] Fix race where pod gets recreated in Stopped phase
  components/ws-manager-mk2/controllers/workspace_controller.go
  operations/observability/mixins/workspace/dashboards/components/ws-manager-mk2.json
Due: none

[ws-manager-mk2] Add pod creation logs
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

[dashboard] use new api to configure workspace timeout setting
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

[dashboard] add editor timeout setting
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

[ssh-gateway] upgrade golang/crypto version (#16549)
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

[redis] Fix readiness probe (#16599)
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/redis/deployment.go
Due: none

[supervisor] instance update fatal if no permission (#16620)
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-supervisor-app

[server] Allow ws connections without an Origin
  components/server/src/express-util.ts
Due: none

Update KOTS app to release-2022.11.2.14
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-app.yaml
  install/kots/manifests/kots-preflight.yaml
Due: none

Adding an ErrorBoundary around Dashboard app (#16594)
  components/dashboard/package.json
  components/dashboard/src/components/ErrorBoundary.tsx
  components/dashboard/src/index.tsx
  yarn.lock
Due: components-dashboard-app

Updating company size labels
  components/dashboard/src/onboarding/StepOrgInfo.tsx
  components/dashboard/src/onboarding/company-size.ts
Due: components-dashboard-app

team => organization
  components/dashboard/src/onboarding/StepOrgInfo.tsx
Due: components-dashboard-app

Updating company size labels (#16623)
  components/dashboard/src/onboarding/StepOrgInfo.tsx
  components/dashboard/src/onboarding/company-size.ts
Due: components-dashboard-app

Update commit
  WORKSPACE.yaml
Due: none

Pull project from useCurrentProject()
  components/dashboard/src/projects/ProjectSettings.tsx
Due: components-dashboard-app

adding Button component
  components/dashboard/src/components/Button.tsx
Due: components-dashboard-app

swap onboarding continue btn to component
  components/dashboard/src/onboarding/OnboardingStep.tsx
Due: components-dashboard-app

swap create workspace button to btn component
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

adding a few comments
  components/dashboard/src/components/Button.tsx
Due: components-dashboard-app

updating to use Button component
  components/dashboard/src/components/ConfirmationModal.tsx
  components/dashboard/src/user-settings/Account.tsx
  components/dashboard/src/user-settings/EnvironmentVariables.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

adding support for a few new props and new type
  components/dashboard/src/components/Button.tsx
Due: components-dashboard-app

Adding wrapper around createWorkspace back
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Adding a white spinner
  components/dashboard/src/components/Button.tsx
  components/dashboard/src/icons/SpinnerWhite.svg
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
