Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

adding comment to test build
  components/dashboard/src/SwitchToPAYG.tsx
Due: components-dashboard-app

Migrate all checkbox inputs to the `CheckBoxInput` component (#16813)
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/ProjectVariables.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/Notifications.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

removing values on checkboxes that don't need it
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/ProjectVariables.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/user-settings/Notifications.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

adjusting api a bit
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/onboarding/StepOrgInfo.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/ProjectVariables.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/Notifications.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

simplify a bit by always setting value
  components/dashboard/src/components/forms/CheckboxInputField.tsx
Due: components-dashboard-app

Update github.com/google/nftables to v0.1.0 (#17098)
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

Update docker cli to v23.0.2+incompatible
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app

Update runc to v1.1.5
  components/docker-up/dependencies.sh
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
Due: components-ws-daemon-app

VS Code Browser release `1.77.2` (#17166)
  WORKSPACE.yaml
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[dev] Add redis to workspace image
  dev/image/Dockerfile
Due: none

[stripe] Re-use constants for event types (#17161)
  components/public-api-server/pkg/webhooks/stripe.go
  components/public-api-server/pkg/webhooks/stripe_test.go
Due: none

Fix
  dev/image/Dockerfile
Due: none

[stripe] Actually call the billing service :facepalm:
  components/public-api-server/pkg/billingservice/client.go
Due: none

[dev] Add redis to workspace image (#17174)
  dev/image/Dockerfile
Due: none

[stripe] Actually call the billing service :facepalm: (#17175)
  components/public-api-server/pkg/billingservice/client.go
Due: none

Remove unused PodSecurityPolicy feature
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager/cmd/integrationtest-objs.go
  components/ws-manager/pkg/manager/create.go
  install/installer/pkg/common/common.go
  install/installer/pkg/common/display.go
  install/installer/pkg/components/agent-smith/role.go
  install/installer/pkg/components/cluster/clusterrole.go
  install/installer/pkg/components/cluster/objects.go
  install/installer/pkg/components/cluster/podsecuritypolicies.go
  install/installer/pkg/components/image-builder-mk3-wsman/clusterrole.go
  install/installer/pkg/components/image-builder-mk3-wsman/objects.go
  install/installer/pkg/components/image-builder-mk3/clusterrole.go
  install/installer/pkg/components/registry-facade/clusterrole.go
  install/installer/pkg/components/registry-facade/objects.go
  install/installer/pkg/components/registry-facade/podsecuritypolicy.go
  install/installer/pkg/components/workspace/objects.go
  install/installer/pkg/components/workspace/podsecuritypolicies.go
  install/installer/pkg/components/workspace/role.go
  install/installer/pkg/components/workspace/rolebinding.go
  install/installer/pkg/components/ws-daemon/clusterrole.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/deprecations.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: components-ws-manager-app

Update components/proxy/plugins/configcat/configcat.go
  components/proxy/plugins/configcat/configcat.go
Due: none

Fix warnings and add a notice
  components/proxy/plugins/configcat/configcat.go
Due: none

use `CONFIGCAT_DIR`
  components/proxy/plugins/configcat/configcat.go
  install/installer/pkg/common/common.go
Due: none

Enhance LinkedIn profile retrieval, store the profile, ensure uniqueness
  components/gitpod-db/src/typeorm/linked-in-profile-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/user/linkedin-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Align with UX spec and complete onboarding flow
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/onboarding/LinkedInBanner.tsx
  components/dashboard/src/onboarding/OnboardingStep.tsx
  components/dashboard/src/onboarding/StepUserInfo.tsx
  components/server/ee/src/user/linkedin-service.ts
Due: components-dashboard-app

Migrate checkbox component (#17171)
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/onboarding/StepOrgInfo.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/ProjectVariables.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/Notifications.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Prevent the LinkedIn button from auto-submitting the onboarding form
  components/dashboard/src/onboarding/LinkedInBanner.tsx
Due: components-dashboard-app

[server] Remove TOS flow
  components/server/src/container-module.ts
  components/server/src/user/tos-cookie.ts
  components/server/src/user/user-controller.ts
Due: none

Default to release note NONE in PR template
  .github/pull_request_template.md
Due: none

Address nits (LinkedInService to /src and minor spacing)
  components/dashboard/src/onboarding/OnboardingStep.tsx
  components/server/ee/src/container-module.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/container-module.ts
  components/server/src/linkedin-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

fix
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/terms/terms-provider.ts
  components/server/src/terms/tos-flow.ts
  components/server/src/user/user-service.ts
Due: none

Fixing remaining dashboard lint errors (#17170)
  components/dashboard/src/components/LinkButton.tsx
  components/dashboard/src/user-settings/Plans.tsx
  components/dashboard/src/utils.ts
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Due: components-dashboard-app

fix
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/typeorm/entity/db-terms-acceptance-entry.ts
  components/gitpod-db/src/typeorm/terms-acceptance-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/container-module.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Default to release note NONE in PR template (#17180)
  .github/pull_request_template.md
Due: none

fix
  components/server/ee/src/container-module.ts
  components/server/ee/src/user/user-service.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
  components/server/src/express.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Top Level ErrorBoundary second attempt (#17155)
  components/dashboard/src/App.tsx
  components/dashboard/src/Login.tsx
  components/dashboard/src/Setup.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/dashboard/src/components/error-boundaries/ReloadPageErrorBoundary.tsx
  components/dashboard/src/hooks/use-user-loader.ts
  components/dashboard/src/index.tsx
Due: components-dashboard-app

[server] Log explicitly when user is blocked
  components/server/src/api/user.ts
Due: none

[usage] Log default price applied when no config exists
  components/usage/pkg/apiv1/pricer.go
Due: none

Fix
  components/usage/pkg/apiv1/pricer.go
Due: none

[proxy] add experimental flag let configcat proxy always serve config from configmap (#17095)
  components/proxy/plugins/configcat/configcat.go
  install/installer/pkg/common/common.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Use a separate leeway cache bucket for the main branch
  .github/workflows/build.yml
Due: none
