Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[server] Improved BillingMode tests
  components/dashboard/src/teams/TeamBilling.tsx
  components/server/ee/src/billing/billing-mode.spec.db.ts
Due: components-dashboard-app

[dashboard, server] WorkspaceClass: make usable based on BillingMode
  components/dashboard/src/settings/Preferences.tsx
  components/gitpod-protocol/src/billing-mode.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

[kots]: enable backup option on KOTS
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-backup.yaml
Due: none

[kots]: add backup labels to the cert-manager certificate
  install/kots/manifests/gitpod-certificate.yaml
Due: none

[billing] Check if connections should be limited
  components/server/ee/src/billing/entitlement-service-chargebee.ts
  components/server/ee/src/billing/entitlement-service-license.ts
  components/server/ee/src/billing/entitlement-service-ubp.ts
  components/server/ee/src/billing/entitlement-service.ts
  components/server/src/billing/entitlement-service.ts
Due: none

[server] BillingMode: Use findCustomerByTeamId
  components/server/ee/src/billing/billing-mode.ts
Due: none

ws-manager: Fix consistency of disposed ws between ws-daemon and ws-manager
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Match google-protobuf version across components
  components/gitpod-protocol/package.json
  components/image-builder-api/typescript/package.json
  components/server/package.json
  components/ws-manager-bridge/package.json
  yarn.lock
Due: components-ws-manager-bridge-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[server] Review comments: EntitlementServiceChargebee
  components/gitpod-protocol/src/plans.ts
  components/server/ee/src/billing/entitlement-service-chargebee.ts
  components/server/ee/src/billing/entitlement-service-ubp.ts
Due: none

[server] trim rawEvents to avoid DB pollution
  components/server/ee/src/prebuilds/github-app.ts
  components/server/ee/src/prebuilds/gitlab-app.ts
Due: none

[bridge] Return instances preventing deregistration
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

[kots]: move the generated config into a configmap
  install/kots/manifests/gitpod-config-patch.yaml
  install/kots/manifests/gitpod-config.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[dashboard] Fix BillingMode UI glitches
  components/dashboard/src/Menu.tsx
  components/dashboard/src/teams/TeamBilling.tsx
Due: components-dashboard-app

[code] don't report empty vscode extensions as error
  components/ide/code/codehelper/main.go
Due: none

feat(supervisor): add resource status severity
  components/gitpod-cli/cmd/top.go
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodMetricProvider.kt
  components/supervisor-api/generate.sh
  components/supervisor-api/go/control.pb.go
  components/supervisor-api/go/control_grpc.pb.go
  components/supervisor-api/go/info.pb.go
  components/supervisor-api/go/info_grpc.pb.go
  components/supervisor-api/go/notification.pb.go
  components/supervisor-api/go/notification_grpc.pb.go
  components/supervisor-api/go/port.pb.go
  components/supervisor-api/go/port_grpc.pb.go
  components/supervisor-api/go/status.pb.go
  components/supervisor-api/go/status_grpc.pb.go
  components/supervisor-api/go/terminal.pb.go
  components/supervisor-api/go/terminal_grpc.pb.go
  components/supervisor-api/go/token.pb.go
  components/supervisor-api/go/token_grpc.pb.go
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Control.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Notification.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Port.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Status.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/TerminalOuterClass.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Token.java
  components/supervisor-api/status.proto
  components/supervisor/pkg/supervisor/top.go
Due: components-gitpod-cli-app, components-supervisor-app, components-supervisor-api-go-lib

Improve git logging
  components/content-service/pkg/initializer/git.go
Due: components-content-service-app

[server] Add test case for cancelled old TeamSubscription
  components/server/ee/src/billing/billing-mode.spec.db.ts
Due: none

[server] BillingMode: Only paid UBP team seats are "greedy"
  components/gitpod-protocol/src/billing-mode.ts
  components/server/ee/src/billing/billing-mode.spec.db.ts
  components/server/ee/src/billing/billing-mode.ts
Due: none

[server] Treat "no CostCenter found" the same as "spending limit reached"
  components/server/ee/src/billing/billing-service.ts
  components/server/src/user/user-service.ts
Due: none

Generate and apply CRDs for observability CLI installation method
  .werft/observability/monitoring-satellite.ts
Due: none

Install CRDs before creating the observability stack
  .werft/observability/monitoring-satellite.ts
Due: none

[installer]: add a setter command for the installer
  install/installer/cmd/config.go
  install/installer/cmd/config_new.go
  install/installer/cmd/config_set.go
Due: none

[kots]: move the kots install script into the Installer
  install/installer/scripts/kots-install.sh
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[usage] Test for and fix negative credits in GenerateUsageReport
  components/usage/pkg/apiv1/usage-report.go
  components/usage/pkg/apiv1/usage_test.go
Due: none

[installer]: move the kots install script into the installer
  install/installer/cmd/init.go
  install/installer/cmd/kots.go
  install/installer/cmd/kots_install.go
Due: none

[server] ensure that user that has PVC enabled will not force prebuilds to use them on projects that don't have PVC turned on
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/workspace/workspace-starter.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Update observability installer config for previews
  .werft/observability/monitoring-satellite.ts
Due: none

[server] fix workspace PVC always restored from prebuild even if backup already exists
  components/server/src/workspace/workspace-starter.ts
Due: none
