Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Auomatically redirect git after signin
  components/dashboard/src/components/AuthorizeGit.tsx
Due: components-dashboard-app

[observability] increase dashboard pods readiness check duration (#19568)
  operations/observability/mixins/meta/rules/dashboard.yaml
Due: none

Add repo-level editor restriction (#19564)
  components/dashboard/src/components/IdeOptions.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/data/ide-options/ide-options-query.ts
  components/dashboard/src/repositories/detail/ConfigurationDetailEditors.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPage.tsx
  components/dashboard/src/repositories/detail/editors/ConfigurationWorkspaceEditorsOptions.tsx
  components/dashboard/src/repositories/repositories.routes.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/server/src/api/configuration-service-api.ts
  components/server/src/projects/projects-service.ts
Due: components-dashboard-app

Unify prebuild status indicators (#19566)
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Stop streaming logs after cancel prebuild
  components/dashboard/src/data/prebuilds/prebuild-logs-emitter.ts
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Improve dashboard editor restriction settings
  components/dashboard/src/components/IdeOptions.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Improve dashboard editor restriction settings (#19569)
  components/dashboard/src/components/IdeOptions.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

quickstart the quickstart page
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Use unauthed router for quickstart
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Include the leading slash
  components/dashboard/src/App.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Redirect to new WS page on sucess
  components/dashboard/src/components/AuthorizeGit.tsx
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Do not require OIDC signing, allow git login
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Do not be too clever around git auth
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Clear `message` from search params on success
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

🐬
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Retain hash when clearing message
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

don't use URL.parse
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Make sure we properly handle all errors on `/quickstart`
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Revert ssologinform changes
  components/dashboard/src/login/SSOLoginForm.tsx
Due: components-dashboard-app

Tidy up
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/login/SSOLoginForm.tsx
Due: components-dashboard-app

Re-enable first-class git auth
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Do not require git api response for scm auth
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Enable logging in with SCM properly
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Clear action cache
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

Fix
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

Rebuild dev-image for go v1.22
  dev/image/Dockerfile
Due: none

Update dev-image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  components/public-api/typescript-common/fixtures/toWorkspace2_2.json
Due: none

[JetBrains] Update IDE images to new build version (#19570)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

Use custom runner for JetBrains auto update GHA
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

Remove cancel group
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

passthrough secret
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-auto-update.yml
Due: none

Update openssh to 9.7p1
  components/supervisor/openssh/leeway.Dockerfile
Due: components-supervisor-app

inherit secrets
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-auto-update.yml
Due: none

Enable cache
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

Refactor extraction of docker layer
  components/supervisor/openssh/BUILD.yaml
Due: components-supervisor-app

remove repetitive words (#19527)
  components/gitpod-db/go/cost_center.go
  components/registry-facade/pkg/registry/registry.go
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager-mk2/service/manager.go
  dev/preview/ssh-vm.sh
  test/tests/components/ws-manager/prebuild_test.go
Due: components-registry-facade-app, components-ws-daemon-app

Rebuild dev-image for go v1.22 (#19572)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  components/public-api/typescript-common/fixtures/toWorkspace2_2.json
  components/supervisor/openssh/BUILD.yaml
  components/supervisor/openssh/leeway.Dockerfile
  dev/image/Dockerfile
Due: components-supervisor-app

Update ws-daemon gcloud dependency
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
Due: components-ws-daemon-app

Add proto for java and kotlin
  components/public-api/buf.gen.yaml
  components/public-api/generate.sh
  components/public-api/gitpod/experimental/v1/dummy.proto
  components/public-api/gitpod/experimental/v1/editor_service.proto
  components/public-api/gitpod/experimental/v1/ide_client.proto
  components/public-api/gitpod/experimental/v1/identityprovider.proto
  components/public-api/gitpod/experimental/v1/oidc.proto
  components/public-api/gitpod/experimental/v1/pagination.proto
  components/public-api/gitpod/experimental/v1/projects.proto
  components/public-api/gitpod/experimental/v1/scm.proto
  components/public-api/gitpod/experimental/v1/stats.proto
  components/public-api/gitpod/experimental/v1/teams.proto
  components/public-api/gitpod/experimental/v1/tokens.proto
  components/public-api/gitpod/experimental/v1/user.proto
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/gitpod/v1/authprovider.proto
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/gitpod/v1/editor.proto
  components/public-api/gitpod/v1/envvar.proto
  components/public-api/gitpod/v1/error.proto
  components/public-api/gitpod/v1/installation.proto
  components/public-api/gitpod/v1/organization.proto
  components/public-api/gitpod/v1/pagination.proto
  components/public-api/gitpod/v1/prebuild.proto
  components/public-api/gitpod/v1/scm.proto
  components/public-api/gitpod/v1/sorting.proto
  components/public-api/gitpod/v1/ssh.proto
  components/public-api/gitpod/v1/token.proto
  components/public-api/gitpod/v1/user.proto
  components/public-api/gitpod/v1/verification.proto
  components/public-api/gitpod/v1/workspace.proto
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
