Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

Move migration file to correct dir
  1658144661198-WorkspaceInstanceUsageAddExtraFields.ts
  components/gitpod-db/src/typeorm/migration/1658211404679-WorkspaceInstanceUsageAddExtraFields.ts
Due: none

[usage] Extend go model with extra fields for WorkspaceInstanceUsage
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

[usage] Return extra fields for ListBilledUsage
  components/usage/pkg/apiv1/usage.go
Due: none

[code] Generate stable image for 1.69.2
  WORKSPACE.yaml
Due: none

[dashboard] BlockedRepo UI
  components/dashboard/src/App.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/BlockedRepositorySettings.tsx
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[installer]: add in ability to post-process
  install/installer/cmd/render.go
  install/installer/go.mod
  install/installer/go.sum
  install/installer/pkg/postprocess/postprocess.go
Due: none

[installer]: move the post-processing openvsx statefulset to installer
  install/installer/pkg/postprocess/postprocess.go
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[server, db] Fix BlockedRepository.delete
  components/gitpod-db/src/blocked-repository-db.spec.db.ts
  components/gitpod-db/src/blocked-repository-db.ts
  components/gitpod-db/src/typeorm/blocked-repository-db-impl.ts
  components/gitpod-protocol/src/admin-protocol.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[dashboard] Update design for class settings
  components/dashboard/src/components/WorkspaceClass.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/dashboard/src/settings/selectClass.tsx
Due: components-dashboard-app

[code] Update stable to 1.69.2
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Add Usage proto file
  components/content-service-api/usage.proto
Due: none

Add usagereport service
  components/content-service/cmd/run.go
  components/content-service/pkg/service/usagereport-service.go
Due: components-content-service-app

Run ./generate.sh
  components/content-service-api/go/usage.pb.go
  components/content-service-api/go/usage_grpc.pb.go
  components/content-service-api/typescript/src/usage_grpc_pb.d.ts
  components/content-service-api/typescript/src/usage_grpc_pb.js
  components/content-service-api/typescript/src/usage_pb.d.ts
  components/content-service-api/typescript/src/usage_pb.js
  components/gitpod-protocol/src/wsready.ts
Due: none

[usage] Store workspace, project, type & class
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/dbtest/workspace.go
  components/usage/pkg/db/workspace_instance.go
  components/usage/pkg/db/workspace_instance_test.go
  components/usage/pkg/db/workspace_instance_usage.go
Due: none

[protocol, et al] Extract gRPC ClientCallMetrics into protocol
  components/content-service-api/typescript/BUILD.yaml
  components/content-service-api/typescript/package.json
  components/content-service-api/typescript/src/client-call-metrics.ts
  components/content-service-api/typescript/src/sugar.ts
  components/gitpod-protocol/package.json
  components/gitpod-protocol/src/messaging/client-call-metrics.ts
  components/gitpod-protocol/src/util/grpc.ts
  components/image-builder-api/typescript/src/sugar.ts
  components/server/src/container-module.ts
  components/server/src/workspace/workspace-cluster-imagebuilder-client-provider.ts
  components/usage-api/typescript/src/usage/v1/sugar.ts
  components/ws-manager-api/typescript/src/client-provider.ts
  components/ws-manager-bridge/src/container-module.ts
Due: components-ws-manager-bridge-app

Revert "Update `registry-facade` to use `https-certificate`"
  install/installer/pkg/components/registry-facade/daemonset.go
Due: none

[common-go] Add config cat client
  components/common-go/experiments/configcat.go
  components/common-go/experiments/flags.go
  components/common-go/experiments/noop.go
  components/common-go/experiments/types.go
  components/common-go/experiments/types_test.go
  components/common-go/go.mod
  components/common-go/go.sum
Due: components-common-go-lib

[integration-test] make ide integration-test work again
  .werft/ide-integration-tests-startup-vscode.yaml
Due: none

[configcat] Upgrade JS SDKs
  components/dashboard/package.json
  components/gitpod-protocol/package.json
  components/server/package.json
  yarn.lock
Due: components-dashboard-app

[ssh-gateway] cleanup code
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[ssh-gateway] Reject ssh connection when workspace not found
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Simplify configuration of git setting safe.directory
  components/content-service/pkg/git/git.go
  components/content-service/pkg/initializer/git.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/ws-daemon/BUILD.yaml
  components/ws-daemon/default.gitconfig
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/pkg/content/service.go
  components/ws-daemon/pkg/internal/session/workspace.go
  test/pkg/integration/common/git-client.go
  test/tests/workspace/contexts_test.go
  test/tests/workspace/git_test.go
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app

Updated features section for consistency
  README.md
Due: none

Add dashboard for swap utilization per cluster and node
  operations/observability/mixins/workspace/dashboards.libsonnet
  operations/observability/mixins/workspace/dashboards/node-swap.json
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
