Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Try an overlay
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Link prebuild settings instead of general settings (#19464)
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

update index
  install/installer/leeway.Dockerfile
Due: none

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Due: none

[dashboard] fix ordering of start workspace options
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.13688-EAP-CANDIDATE-SNAPSHOT (#19461)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[podkit] link button should be button
  components/dashboard/src/components/podkit/buttons/LinkButton.tsx
Due: components-dashboard-app

update index (#19465)
  install/installer/leeway.Dockerfile
Due: none

showPluginInIDEA (#19392)
  components/ide/jetbrains/gateway-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Revert "[podkit] link button should be button"
  components/dashboard/src/components/podkit/buttons/LinkButton.tsx
Due: components-dashboard-app

[dashboard] fix workspace start options ordering (#19468)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[server] Missing SCM access: Filter out user error on workspace start
  components/server/src/prometheus-metrics.ts
  components/server/src/workspace/workspace-starter.ts
  operations/observability/mixins/meta/rules/server.yaml
Due: none

[server] Sync token refresh
  components/server/src/user/token-service.ts
Due: none

[proxy] api.: Handle /auth/*/callback
  components/proxy/conf/Caddyfile
Due: none

Simplify check and messaging
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Use standard tw width
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Link to docs for gp validate
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

fix effect deps
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Add guidance for debugging failed prebuilds (#19460)
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/server/src/api/prebuild-service-api.ts
Due: components-dashboard-app

Fix failed prebuild reruns
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

[server] Missing SCM access: Filter out user error on workspace start (#19469)
  components/proxy/conf/Caddyfile
  components/server/src/prometheus-metrics.ts
  components/server/src/workspace/workspace-starter.ts
  operations/observability/mixins/meta/rules/server.yaml
Due: none

[server] Sync token refresh (#19470)
  components/server/src/user/token-service.ts
Due: none

Clean up effect deps
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Dispose of hanging streams
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Fix failed prebuild reruns (#19472)
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Fix duration validation
  components/gitpod-protocol/src/gitpod-service.ts
Due: none

Fix duration validation (#19476)
  components/gitpod-protocol/src/gitpod-service.ts
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[server] Check token even in case of timeout
  components/server/src/user/token-service.ts
Due: none

[papi] add `restricted_workspace_classes` in repository settings
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/experimental/v1/projects.proto
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/experimental/v1/projects.pb.go
  components/public-api/go/v1/configuration.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/projects_pb.ts
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
Due: components-gitpod-protocol-go-lib

[server] Metrics: Request counter and histogram for token refreshes
  components/server/src/prometheus-metrics.ts
  components/server/src/user/token-service.ts
Due: none

review comments
  components/server/src/user/token-service.ts
Due: none

[installer] use image digest for redis image
  .github/workflows/update-image-digest.yml
  install/installer/cmd/mirror_list.go
  install/installer/go.mod
  install/installer/pkg/common/render.go
  install/installer/pkg/components/redis/constants.go
  install/installer/pkg/components/redis/deployment.go
Due: none

update index (#19478)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[server] Improve behavior and reporting around "refreshToken" (#19482)
  components/server/src/prometheus-metrics.ts
  components/server/src/user/token-service.ts
Due: none

Update components/public-api/gitpod/v1/configuration.proto
  components/public-api/gitpod/v1/configuration.proto
Due: none

generate
  components/public-api/go/v1/configuration.pb.go
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
Due: none

Fix build
  components/public-api/typescript-common/fixtures/toConfiguration_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_2.golden
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
