Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[usage] Proto changes for GetCostCenter RPC
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/go/v1/usage_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.js
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
Due: none

[common] Exend unit test for cpu.max
  components/common-go/cgroups/v2/cpu_test.go
Due: components-common-go-lib

[ssh-gateway] support rsa sha256/sha512 algorithm
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

[dashboard] Clean up old unused images
  components/dashboard/src/icons/GitBranch.svg
  components/dashboard/src/icons/IDENone.svg
  components/dashboard/src/icons/IDENoneDark.svg
  components/dashboard/src/icons/Key.svg
  components/dashboard/src/icons/OpenLock.svg
  components/dashboard/src/icons/Pin.svg
  components/dashboard/src/icons/Workspaces.svg
  components/dashboard/src/images/prebuild-logs-empty-dark.svg
  components/dashboard/src/images/prebuild-logs-empty.svg
  components/dashboard/src/images/theia-gray.svg
Due: components-dashboard-app

ws-daemon: Returns no limit if cpu.max does not exist.
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

[ws-daemon] Prevent divide by zero error
  components/common-go/cgroups/v2/cpu.go
Due: components-common-go-lib

[nsinsider] Setup connection limit
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

[nsinsider] Make setup helpers for nsinsider reusable
  components/ws-daemon/pkg/iws/iws.go
  components/ws-daemon/pkg/nsinsider/nsinsider.go
Due: components-ws-daemon-app

[ws-daemon] Plugin for setting up network limits
  components/common-go/kubernetes/kubernetes.go
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/pkg/daemon/config.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-daemon/pkg/netlimit/config.go
  components/ws-daemon/pkg/netlimit/netlimit.go
Due: components-common-go-lib, components-ws-daemon-app

[installer] Update golden files
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
Due: none

[installer] Configuration for network limiting
  install/installer/pkg/components/ws-daemon/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[installer] Add required dependencies
  install/installer/go.mod
  install/installer/go.sum
Due: none

[ws-manager-api] Add connection limiting feature
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

[nsinsider] Accept connections
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

[ws-daemon] Include time unit and use struct for map
  components/common-go/kubernetes/kubernetes.go
  components/ws-daemon/pkg/netlimit/netlimit.go
Due: components-common-go-lib, components-ws-daemon-app

[installer] Update dependencies & golden files
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/go.mod
  install/installer/go.sum
Due: none

[ws-manager] Apply network limiting annotation
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

[installer]: podsecuritypolicy golden files to prove no changes
  install/installer/cmd/testdata/render/use-pod-security-policies/config.yaml
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
Due: none

[installer]: conditionally remove podsecuritypolicies
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/config.yaml
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/agent-smith/role.go
  install/installer/pkg/components/cluster/clusterrole.go
  install/installer/pkg/components/cluster/podsecuritypolicies.go
  install/installer/pkg/components/image-builder-mk3/clusterrole.go
  install/installer/pkg/components/registry-facade/clusterrole.go
  install/installer/pkg/components/registry-facade/podsecuritypolicy.go
  install/installer/pkg/components/workspace/podsecuritypolicies.go
  install/installer/pkg/components/workspace/role.go
  install/installer/pkg/components/ws-daemon/clusterrole.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[installer]: enable experimental config in render tests
  install/installer/cmd/render_test.go
Due: none

[installer] Fix render tests
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Add /hold to PR template
  .github/pull_request_template.md
Due: none

[installer]: show deprecation warning if using podsecuritypolicies
  install/installer/pkg/config/v1/config.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[loadgen] Use a variety of workspace classes
  dev/loadgen/configs/prod-benchmark-pvc.yaml
  dev/loadgen/configs/prod-benchmark.yaml
Due: dev-loadgen-app

[usage] Test for complex usage cap scenarios
  components/usage/pkg/apiv1/billing_test.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
