Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Add workspace filter
  components/dashboard/src/workspaces/WorkspacesNew.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

[supervisor] Remove trackEvent api calls
  components/supervisor/pkg/serverapi/publicapi.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

gp rebuild improvements
  components/gitpod-cli/cmd/rebuild.go
  components/gitpod-cli/pkg/utils/trackEvent.go
Due: components-gitpod-cli-app

[Fix] Send initial status
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Change implementation of clientIp
  components/server/src/express-util.ts
Due: none

previewctl install gce context also
  dev/preview/infrastructure/gce/proxy.tf
  dev/preview/infrastructure/gce/variables.tf
  dev/preview/infrastructure/gce/vm.tf
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s.go
  dev/preview/previewctl/pkg/k8s/pforward.go
  dev/preview/previewctl/pkg/k8s/vm.go
  dev/preview/previewctl/pkg/k8s/vm_test.go
  dev/preview/previewctl/pkg/preview/context.go
Due: none

Remove shiftfs module loader
  components/BUILD.yaml
  components/ws-daemon/shiftfs-module-loader/.gitignore
  components/ws-daemon/shiftfs-module-loader/BUILD.yaml
  components/ws-daemon/shiftfs-module-loader/Makefile
  components/ws-daemon/shiftfs-module-loader/README.md
  components/ws-daemon/shiftfs-module-loader/dkms.conf
  components/ws-daemon/shiftfs-module-loader/entrypoint.sh
  components/ws-daemon/shiftfs-module-loader/leeway.Dockerfile
  install/installer/cmd/config_cluster_shiftfs.go
  install/installer/cmd/testdata/render/versions.yaml
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/config/versions/versions.go
  install/installer/pkg/shiftfs/constants.go
  install/installer/pkg/shiftfs/job.go
Due: components-ws-daemon-app

[installer] Replace OpenFGA with SpiceDB
  install/installer/pkg/components/components-webapp/components.go
  install/installer/pkg/components/openfga/constants.go
  install/installer/pkg/components/spicedb/constants.go
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/spicedb/objects.go
  install/installer/pkg/components/spicedb/service.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Update golden files
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/scripts/kots-install.sh
Due: none

[oidc] Add Organisation ID to OIDC API
  components/public-api/gitpod/experimental/v1/oidc.proto
  components/public-api/go/experimental/v1/oidc.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
Due: none

[server] create a freemium team when no team exist
  components/gitpod-db/src/user-to-team-migration-service.spec.db.ts
  components/gitpod-db/src/user-to-team-migration-service.ts
Due: none

Fix TestBuildFromEnvvars test
  install/installer/pkg/config/v1/envvars.go
  install/installer/pkg/config/v1/envvars_test.go
Due: none

[db] Add organisationId to d_b_oidc_client_config + indices
  components/gitpod-db/go/dbtest/oidc_client_config.go
  components/gitpod-db/go/oidc_client_config.go
  components/gitpod-db/src/typeorm/migration/1673944879912-AddOrganizationIDToOIDCClientConfig.ts
Due: none

[iam] Add organisation_id to OIDC Client Config API
  components/iam-api/go/v1/oidc_client_config.pb.go
  components/iam-api/go/v1/oidc_client_config_grpc.pb.go
  components/iam-api/iam/v1/oidc_client_config.proto
Due: none

preview module
  .werft/jobs/build/prepare.ts
  dev/preview/infrastructure/gce/dns.tf
  dev/preview/infrastructure/gce/proxy.tf
  dev/preview/infrastructure/gce/vm.tf
  dev/preview/infrastructure/harvester/cloudinit.yaml
  dev/preview/infrastructure/harvester/dns.tf
  dev/preview/infrastructure/harvester/namespace.tf
  dev/preview/infrastructure/harvester/provider.tf
  dev/preview/infrastructure/modules/dns/variables.tf
  dev/preview/infrastructure/modules/gce/cloudinit.yaml
  dev/preview/infrastructure/modules/gce/outputs.tf
  dev/preview/infrastructure/modules/gce/provider.tf
  dev/preview/infrastructure/modules/gce/proxy.tf
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/gce/vm.tf
  dev/preview/infrastructure/modules/harvester/cloudinit.yaml
  dev/preview/infrastructure/modules/harvester/lb.tf
  dev/preview/infrastructure/modules/harvester/outputs.tf
  dev/preview/infrastructure/modules/harvester/provider.tf
  dev/preview/infrastructure/modules/harvester/svc.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/modules/harvester/vm.tf
  dev/preview/infrastructure/namespace.tf
  dev/preview/infrastructure/preview.tf
  dev/preview/infrastructure/provider.tf
  dev/preview/infrastructure/scripts/bootstrap-k3s.sh
  dev/preview/infrastructure/svc.tf
  dev/preview/infrastructure/variables.tf
  dev/preview/workflow/preview/deploy-harvester.sh
Due: none

Fix `server` telepresence
  components/server/BUILD.yaml
Due: none

Make Segment Token Available
  .github/workflows/build.yml
Due: none

Add Pre-Commit-Checks
  .github/workflows/build.yml
Due: none

[previewctl] point to infra dir by default for stale
  dev/preview/previewctl/cmd/stale.go
  dev/preview/previewctl/cmd/workspaces.go
Due: none

[obs] Fix webapp monitoring rule names
  operations/observability/mixins/meta/rules/dashboard.yaml
  operations/observability/mixins/meta/rules/db-sync.yaml
  operations/observability/mixins/meta/rules/db.yaml
  operations/observability/mixins/meta/rules/payment-endpoint.yaml
  operations/observability/mixins/meta/rules/proxy.yaml
  operations/observability/mixins/meta/rules/ws-manager-bridge.yaml
Due: none

[installer]: refactor the config's deprecation handling
  install/installer/pkg/config/v1/config.go
  install/installer/pkg/config/v1/deprecations.go
Due: none

Make fields public
  components/ws-daemon/pkg/content/service.go
  components/ws-daemon/pkg/internal/session/workspace.go
Due: components-ws-daemon-app

chore: move from `streadway/amqp` to `rabbitmq/amqp091-go`
  License.third-party.go.txt
  components/service-waiter/cmd/messagebus.go
  components/service-waiter/go.mod
  components/service-waiter/go.sum
Due: components-service-waiter-app

[ws-daemon] content init part2
  components/ws-daemon/pkg/controller/controller.go
  components/ws-daemon/pkg/daemon/daemon.go
Due: components-ws-daemon-app

[ws-manager] Handle backup success/failure
  components/ws-manager-mk2/controllers/status.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
