Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

init gradle project
  components/public-api/java/.gitattributes
  components/public-api/java/.gitignore
  components/public-api/java/gradle.properties
  components/public-api/java/gradle/wrapper/gradle-wrapper.jar
  components/public-api/java/gradle/wrapper/gradle-wrapper.properties
  components/public-api/java/gradlew
  components/public-api/java/gradlew.bat
  components/public-api/java/lib/build.gradle.kts
  components/public-api/java/settings.gradle.kts
Due: none

Use custom runner for JetBrains auto update GHA (#19573)
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-auto-update.yml
Due: none

revert me
  .idea/.gitignore
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/SampleEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/SampleGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/SampleRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/SampleRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/await.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/dto.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Due: none

1
  components/ide/jetbrains/toolbox/build.gradle.kts
Due: none

1
  .idea/gradle.xml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/GitpodPublicApiManager.kt
Due: none

White list `GITPOD_IMAGE_AUTH` env var name
  components/gitpod-protocol/src/protocol.ts
  components/server/src/user/env-var-service.ts
Due: none

keep pathname for redirect functions
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Add link to doc
  components/gitpod-protocol/src/protocol.ts
Due: none

Remove routing in multiple places
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Document empty org
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Allow `quickstart/`
  components/dashboard/src/App.tsx
Due: components-dashboard-app

Use react's location
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

White list `GITPOD_IMAGE_AUTH` env var name (#19579)
  components/gitpod-protocol/src/protocol.ts
  components/server/src/user/env-var-service.ts
Due: none

Group routes registerings
  components/dashboard/src/App.tsx
Due: components-dashboard-app

Fix compile
  components/ide/jetbrains/toolbox/src/main/kotlin/SampleRemoteProvider.kt
  components/public-api/java/build.gradle.kts
Due: none

Try registering router in the query error boundary
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

fix import
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Try not using location 🤷‍♂️
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Revert "Try registering router in the query error boundary"
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Revert "Try not using location 🤷‍♂️"
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Make sure to load user first before acting on sideeffect
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Reapply "Try registering router in the query error boundary"
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Fix position for only rendering when not authed
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

Update S3
  components/content-service/pkg/storage/s3.go
  components/content-service/pkg/storage/s3_test.go
Due: components-content-service-app

Caddy plugins cannot use 1.22
  components/proxy/plugins/analytics/go.mod
  components/proxy/plugins/configcat/go.mod
  components/proxy/plugins/corsorigin/go.mod
  components/proxy/plugins/frontend_dev/go.mod
  components/proxy/plugins/headlesslogdownload/go.mod
  components/proxy/plugins/jsonselect/go.mod
  components/proxy/plugins/logif/go.mod
  components/proxy/plugins/secwebsocketkey/go.mod
  components/proxy/plugins/sshtunnel/go.mod
  components/proxy/plugins/workspacedownload/go.mod
Due: none

Update controller runtime signatures
  components/node-labeler/cmd/run.go
  components/ws-daemon/pkg/controller/suite_test.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-manager-mk2/main.go
Due: components-ws-daemon-app

Update webhook suite test
  components/ws-manager-api/go/crd/v1/webhook_suite_test.go
Due: none

do not retry auth fetch calls
  components/dashboard/src/data/current-user/authenticated-user-query.ts
Due: components-dashboard-app

Do not cache the query
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/data/current-user/authenticated-user-query.ts
Due: components-dashboard-app

Update IPFS signatures
  components/registry-facade/pkg/registry/blob.go
  components/registry-facade/pkg/registry/cache.go
Due: components-registry-facade-app

Update go modules
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app

Remove user cache on login begin
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Do not allow empty auths
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Update ipfs-cluster to v1.0.8
  components/ipfs/ipfs-cluster/BUILD.yaml
Due: none

Try refetching auth providers when authed
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Try no queries
  components/dashboard/src/components/QuickStart.tsx
Due: components-dashboard-app

Fix node-labeler build
  components/node-labeler/cmd/run.go
Due: none

Introduce `/quickstart` (#19567)
  components/dashboard/src/App.tsx
  components/dashboard/src/components/QuickStart.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/provider-utils.tsx
  components/gitpod-protocol/src/util/gitpod-cookie.ts
Due: components-dashboard-app
