Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[server] Reduce bytes logged around incremental prebuilds
  components/server/ee/src/workspace/workspace-factory.ts
Due: none

[server] Tone down "Bearer auth error"
  components/server/src/auth/bearer-authenticator.ts
Due: none

[server] Tone down "found more than one active token"
  components/gitpod-db/src/typeorm/user-db-impl.ts
Due: none

Add d_b_blocked_repository to tables.ts
  components/gitpod-db/src/tables.ts
Due: none

Auto-forward Task Terminals Ports on JetBrains IDEs
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodTerminalService.kt
Due: none

[usage] Use workspace class when computing credits used
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
Due: none

Remove unused deletedAt column
  components/gitpod-db/src/typeorm/entity/db-blocked-repository.ts
  components/gitpod-db/src/typeorm/migration/1656408949484-AddBlockedRepositoryTable.ts
  components/gitpod-protocol/src/blocked-repositories-protocol.ts
Due: none

Remove todos
  components/gitpod-db/src/typeorm/entity/db-blocked-repository.ts
  components/gitpod-protocol/src/blocked-repositories-protocol.ts
Due: none

Rename `isRepositoryBlocked`
  components/gitpod-db/src/blocked-repository-db.spec.db.ts
  components/gitpod-db/src/blocked-repository-db.ts
  components/gitpod-db/src/typeorm/blocked-repository-db-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Add unit tests for blocked repositories
  components/gitpod-db/src/blocked-repository-db.spec.db.ts
Due: none

Check blocked repos when starting a workspace
  components/server/src/workspace/workspace-starter.ts
Due: none

Add migration to add new entity
  components/gitpod-db/src/typeorm/migration/1656408949484-AddBlockedRepositoryTable.ts
Due: none

Add new DB entity and supporting classes
  components/gitpod-db/src/blocked-repository-db.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/typeorm/blocked-repository-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-blocked-repository.ts
  components/gitpod-protocol/src/blocked-repositories-protocol.ts
Due: none

[manager-api] Introduce endpoint for cluster info
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/core_grpc.pb.go
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

[installer] Add display name to workspace class
  components/ws-manager-api/go/config/config.go
  install/installer/pkg/components/ws-manager/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[ws-manager] Implement cluster api
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

fix: Refactored server methods to return a 404 error instead of undefined when something cannot be found
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

inte-test
  README.md
Due: none

[workspacekit] Increase supervisor process priority
  components/supervisor/cmd/init.go
  components/workspacekit/cmd/rings.go
Due: components-supervisor-app, components-workspacekit-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[alerts] fix pod/container/namespace not rendering
  operations/observability/mixins/workspace/rules/components/ws-daemon/alerts.libsonnet
Due: none

seccomp: path the workspace id for logging.
  components/workspacekit/cmd/rings.go
  components/workspacekit/pkg/seccomp/notify.go
Due: components-workspacekit-app

ws-damon: reduce error griping
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

seccomp: support for parallel system calls.
  components/workspacekit/cmd/rings.go
  components/workspacekit/pkg/seccomp/notify.go
Due: components-workspacekit-app

[ws-manager] increments the totalBackupFailureCounter metric only when data loss happens
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[ws-manager] retry finalizer loop if the ws-daemon is not found (unavailable)
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[server] Deprecate image build log mechanism
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[dashboard] Reliably fetch logs for imagebuild and prebuild itself
  components/dashboard/src/components/PrebuildLogs.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

[server] Tone down image build errors that are triggered by user content
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

workspacekit: Update libseccomp
  components/workspacekit/go.mod
  components/workspacekit/go.sum
  components/workspacekit/pkg/seccomp/notify.go
  dev/image/Dockerfile
Due: components-workspacekit-app

Sanitize oauth strategy options before logging
  components/server/src/auth/generic-auth-provider.ts
Due: none

Stop logging server config
  components/server/src/server.ts
Due: none

Update project settings preference copy
  components/dashboard/src/projects/ProjectSettings.tsx
Due: components-dashboard-app

[db] log time spent per db operation
  components/gitpod-db/src/traced-db.ts
  components/licensor/typescript/ee/src/api.ts
Due: components-licensor-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
