Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Typo
  components/dashboard/src/repositories/detail/variables/ConfigurationRemoveVariableModal.tsx
Due: components-dashboard-app

rename
  components/dashboard/src/repositories/detail/variables/ConfigurationAddVariableModal.tsx
Due: components-dashboard-app

Simplify
  components/server/src/api/envvar-service-api.ts
Due: none

Copy update
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
Due: components-dashboard-app

Rename comp
  components/dashboard/src/repositories/detail/variables/ConfigurationModifyVariableModal.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableItem.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
Due: components-dashboard-app

[ws-proxy] only get username if workspace not managed by mk2
  components/ws-proxy/pkg/common/infoprovider.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Repo List - Style updates (#19157)
  components/dashboard/src/components/Button.tsx
  components/dashboard/src/components/Header.tsx
  components/dashboard/src/components/forms/SelectInputField.tsx
  components/dashboard/src/components/forms/TextInputField.tsx
  components/dashboard/src/components/podkit/buttons/Button.tsx
  components/dashboard/src/components/podkit/layout/PageHeading.tsx
  components/dashboard/src/components/podkit/loading/LoadingState.tsx
  components/dashboard/src/components/podkit/tables/SortableTable.tsx
  components/dashboard/src/components/podkit/tables/Table.tsx
  components/dashboard/src/index.css
  components/dashboard/src/repositories/detail/ConfigurationDetailPage.tsx
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryList.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
Due: components-dashboard-app

Update components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
Due: components-dashboard-app

removing redundant copy
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
Due: components-dashboard-app

[public-api] improve request exception logging
  components/dashboard/src/service/metrics.ts
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/public-api/typescript-common/README.md
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/server/src/api/server.ts
Due: components-dashboard-app

Adding Switch podkit component to prebuild settings page (#19171)
  components/dashboard/package.json
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/tailwind.config.js
  yarn.lock
Due: components-dashboard-app

[public-api] improve request exception logging (#19179)
  components/dashboard/src/service/metrics.ts
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/public-api/typescript-common/README.md
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/server/src/api/server.ts
Due: components-dashboard-app

update useLatestVersion in autostart options
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

avoid mutating user directly
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

[supervisor] always allow gitpod user ssh
  components/supervisor/pkg/supervisor/ssh.go
Due: components-supervisor-app

remove ssh key from infoprovider
  components/ws-proxy/pkg/common/infoprovider.go
  components/ws-proxy/pkg/proxy/infoprovider.go
Due: none

improve logs
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[dashboard]: Add Org settings based WS share menu
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
Due: components-dashboard-app

Update components/ws-proxy/pkg/sshproxy/server.go
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[ws-proxy] only get username if workspace not managed by mk2 (#19180)
  components/ws-proxy/pkg/common/infoprovider.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

clean code
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
Due: components-dashboard-app

[dashboard]: Add Org settings based WS share menu (#19183)
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
Due: components-dashboard-app

Duplicate error printing
  components/dashboard/src/repositories/detail/variables/ConfigurationModifyVariableModal.tsx
Due: components-dashboard-app

Use `TextInputField`!
  components/dashboard/src/components/forms/TextInputField.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationModifyVariableModal.tsx
Due: components-dashboard-app

Clean up TextInputField
  components/dashboard/src/components/forms/TextInputField.tsx
  components/dashboard/src/components/podkit/buttons/Button.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationModifyVariableModal.tsx
Due: components-dashboard-app

Break instead of truncate
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableItem.tsx
Due: components-dashboard-app

Fixed width table headers
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
Due: components-dashboard-app

Simplify route setup
  components/dashboard/src/repositories/detail/ConfigurationDetailPage.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailVariables.tsx
Due: components-dashboard-app

Configuration Variables page (#19128)
  components/dashboard/src/components/PageWithSubMenu.tsx
  components/dashboard/src/components/forms/TextInputField.tsx
  components/dashboard/src/components/podkit/buttons/Button.tsx
  components/dashboard/src/data/configurations/configuration-queries.ts
  components/dashboard/src/data/projects/set-project-env-var-mutation.ts
  components/dashboard/src/projects/ProjectVariables.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPage.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationModifyVariableModal.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationRemoveVariableModal.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableItem.tsx
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
  components/dashboard/src/service/json-rpc-envvar-client.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/api/envvar-service-api.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

setting up settings
  components/dashboard/src/components/forms/SelectInputField.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/repositories/detail/prebuilds/PrebuildSettingsForm.tsx
  components/dashboard/src/repositories/detail/shared/WorkspaceClassOptions.tsx
  components/dashboard/src/repositories/detail/workspaces/WorkpaceSizeOptions.tsx
Due: components-dashboard-app

preload ws classes
  components/dashboard/src/repositories/detail/ConfigurationDetailPage.tsx
Due: components-dashboard-app

[supervisor] always allow gitpod user ssh (#19182)
  components/supervisor/pkg/supervisor/ssh.go
Due: components-supervisor-app

Fix integration tests create workspace user not verified error
  test/pkg/integration/apis.go
Due: none

Fix integration tests create workspace user not verified error (#19186)
  test/pkg/integration/apis.go
Due: none

[dev] make-user-admin: Grant all admin permissions
  components/BUILD.yaml
Due: none

[dev] Change frontend-dev to redirect instead of transparently proxy
  components/dashboard/craco.config.js
  components/dashboard/package.json
  components/proxy/conf/Caddyfile
  components/proxy/plugins/frontend_dev/frontend_dev.go
  components/proxy/plugins/frontend_dev/frontend_dev_test.go
  components/proxy/plugins/frontend_dev/go.mod
Due: components-dashboard-app

[dashboard] proactively reconnect grpc streams
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/error.ts
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
Due: components-dashboard-app

[dashboard] proactively reconnect grpc streams (#19185)
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/error.ts
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
Due: components-dashboard-app

[iam] Use proper subjectId in updateOIDCUserOnSignin
  components/server/src/iam/iam-session-app.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
