Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Update Platform Version of JetBrains Backend Plugin to 223.7255-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[public-api] Define TeamService.CreateTeam protos
  components/public-api/gitpod/experimental/v1/teams.proto
  components/public-api/go/experimental/v1/teams.pb.go
  components/public-api/go/experimental/v1/teams_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/teams.connect.go
  components/public-api/typescript/src/gitpod/experimental/v1/teams_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/teams_pb.ts
Due: none

Add intial prometheus rules for cardinality analysis
  operations/observability/mixins/self-hosted/rules/cardinality-analysis/promrules.yaml
Due: none

Fix ServerEventLoopLagTooHigh alert
  operations/observability/mixins/meta/rules/server.yaml
Due: none

IWS: Don't record the error log from getResourceInfo when the workspace has gone.
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

[dashboard] avoid unnecessary getBillingModeForUser call
  components/dashboard/src/App.tsx
Due: components-dashboard-app

[dashboard] avoid unbound getUserProjects calls
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

Deactivate team scope selector on personal usage
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

[usage] List cost centers with expired billing time
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/db/cost_center.go
  components/usage/pkg/db/cost_center_test.go
Due: none

Update Platform Version of JetBrains Gateway Plugin to 223.7255.1-CUSTOM-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[observability] add dashboard for openvsx mirror
  operations/observability/mixins/IDE/dashboards.libsonnet
  operations/observability/mixins/IDE/dashboards/components/openvsx-mirror.json
Due: none

[content-service] incremental workspace init
  components/content-service/pkg/initializer/prebuild.go
  test/tests/components/ws-manager/prebuild_test.go
Due: components-content-service-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Add dashboard URL button to argocd alerts
  operations/observability/mixins/self-hosted/rules/argocd/prometheusRules.yaml
Due: none

Add alert for promethus crashlooping
  operations/observability/mixins/self-hosted/rules/observability-stack/prometheus.yaml
Due: none

Move observability-stack alerts to delivery-and-operations folder
  operations/observability/mixins/self-hosted/rules/observability-stack/alertmanager.yaml
  operations/observability/mixins/self-hosted/rules/observability-stack/kube-state-metrics.yaml
  operations/observability/mixins/self-hosted/rules/observability-stack/prometheus-operator.yaml
  operations/observability/mixins/self-hosted/rules/observability-stack/prometheus.yaml
Due: none

[usage] Start trigerring ResetUsage RPC
  components/usage/pkg/scheduler/reset_usage_job.go
  components/usage/pkg/server/server.go
Due: none

Fix timeseries_total recording rule
  operations/observability/mixins/self-hosted/rules/cardinality-analysis/promrules.yaml
Due: none

Deploy cardinility analysis rules to preview environments
  .werft/observability/manifests/monitoring-satellite.yaml
Due: none

Create initial dashboard for cardinality management
  operations/observability/mixins/self-hosted/dashboards.libsonnet
  operations/observability/mixins/self-hosted/dashboards/observability/cardinality-management-overview.json
Due: none

Adjust livenessProbe timeouts
  components/common-go/kubernetes/probes.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/registry-facade/daemonset.go
Due: components-common-go-lib

Update golden files
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[integration-test] don't parallel run JetBrains IDE test
  test/tests/ide/jetbrains/gateway_test.go
Due: none

refactor ide integration startup script
  .werft/ide-integration-tests-startup.sh
  .werft/ide-integration-tests-startup.yaml
Due: none

[supervisor] remove unnecessary close channel
  components/supervisor/cmd/init.go
Due: components-supervisor-app

runc-facade: squashes rare runc errors
  components/docker-up/docker-up/main.go
  components/docker-up/runc-facade/main.go
  components/image-builder-bob/cmd/runc-facade/main.go
Due: none

chore: Create image-builder-mk3 readme
  components/image-builder-bob/README.md
  components/image-builder-mk3/.gitignore
  components/image-builder-mk3/README.md
  components/image-builder-mk3/config-schema.json
  components/image-builder-mk3/example-config.json
  components/image-builder-mk3/image-builder.code-workspace
  components/image-builder-mk3/telepresence.sh
Due: none
