Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[db-sync] Auto-format basic-replication.spec.db.ts
  components/ee/db-sync/src/tests/basic-replication.spec.db.ts
Due: none

[db-sync] Increase 2 test timeouts
  components/ee/db-sync/src/tests/basic-replication.spec.db.ts
Due: none

Mount stripe secret into usage component
  install/installer/pkg/components/usage/constants.go
  install/installer/pkg/components/usage/deployment.go
Due: none

Add persistent volume claim to prebuild settings
  components/dashboard/src/admin/ProjectDetail.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
Due: components-dashboard-app

go get github.com/stripe/stripe-go/v72
  components/usage/go.mod
  components/usage/go.sum
Due: none

Add .gitignore file
  components/usage/.gitignore
Due: none

Revert "[dashboard] Treat today's workspaces as active"
  components/dashboard/src/components/Arrow.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/workspace-model.ts
  components/gitpod-protocol/src/util/timeutil.ts
Due: components-dashboard-app

Revert "[dashboard] easy cleanup"
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Make sure prebuild and branch commit are the same
  components/dashboard/src/projects/Project.tsx
Due: components-dashboard-app

add changes
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

Authenticate to the Stripe API
  components/usage/cmd/run.go
  components/usage/pkg/stripe/stripe.go
Due: none

fix index on volume snapshot table
  components/gitpod-db/src/typeorm/entity/db-volume-snapshot.ts
  components/gitpod-db/src/typeorm/migration/1654628106102-VolumeSnapshotAddWSId.ts
Due: none

volume snapshot delete and restore support, garbage collection
  components/gitpod-db/src/typeorm/entity/db-volume-snapshot.ts
  components/gitpod-db/src/typeorm/migration/1654628106102-VolumeSnapshotAddWSId.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/garbage-collector.ts
  components/server/src/workspace/workspace-deletion-service.ts
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/core_grpc.pb.go
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-api/typescript/src/promisified-client.ts
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager/pkg/manager/create_test.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/testdata/cpwp_from_volume_snapshot.golden
  components/ws-manager/pkg/manager/testdata/cpwp_from_volume_snapshot.json
  install/installer/pkg/components/ws-manager/role.go
Due: components-ws-manager-bridge-app, components-ws-manager-app

add limit to volume snapshot GC
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/src/workspace/garbage-collector.ts
  components/server/src/workspace/workspace-deletion-service.ts
Due: none

previews: Add 'environment' external variable to Prometheus
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/observability/monitoring-satellite.ts
Due: none

add comments
  components/server/src/workspace/workspace-deletion-service.ts
Due: none

[run-gp] Add verbose mode and port shifting
  components/rungp/cmd/root.go
  components/rungp/cmd/run.go
  components/rungp/pkg/builder/images.go
  components/rungp/pkg/console/console.go
  components/rungp/pkg/runtime/docker.go
  components/rungp/pkg/runtime/runtime.go
Due: none

[run-gp] Enable SSH
  components/rungp/cmd/run.go
  components/rungp/pkg/builder/images.go
  components/rungp/pkg/console/console.go
  components/rungp/pkg/runtime/docker.go
  components/rungp/pkg/runtime/runtime.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Fix typo
  components/server/src/workspace/garbage-collector.ts
Due: none

Use const variable
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

[Analytics] Mask PII from deleted Users
  components/server/src/user/user-deletion-service.ts
Due: none

Remove deprecated function
  components/gitpod-cli/cmd/credential-helper.go
  components/gitpod-cli/cmd/env.go
  components/gitpod-cli/cmd/git-token-validator.go
  components/gitpod-cli/pkg/gitpod/server.go
  components/ide/code-desktop/status/main.go
  components/ide/code/codehelper/main.go
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
  components/local-app/pkg/bastion/bastion.go
  components/registry-facade/pkg/registry/registry.go
  components/supervisor/cmd/terminal.go
  components/supervisor/pkg/supervisor/notification.go
  components/supervisor/pkg/supervisor/services.go
  components/supervisor/pkg/terminal/service.go
  components/workspacekit/cmd/rings.go
  components/ws-daemon/cmd/client.go
  components/ws-manager/cmd/run.go
  components/ws-manager/pkg/manager/integration_test.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-proxy/cmd/run.go
  components/ws-proxy/pkg/sshproxy/server.go
  dev/gpctl/cmd/clusters.go
  dev/gpctl/cmd/imagebuilds.go
  dev/gpctl/cmd/workspaces.go
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/cmd/run.go
  test/pkg/integration/apis.go
Due: components-gitpod-cli-app, components-local-app-app-linux, components-registry-facade-app, components-supervisor-app, components-workspacekit-app, components-ws-daemon-app, components-ws-manager-app, dev-loadgen-app

Add stripe customer query builder to stripe pkg
  components/usage/pkg/stripe/stripe.go
  components/usage/pkg/stripe/stripe_test.go
Due: none

[prebuild] cap updateables to be processed
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/ee/src/prebuilds/prebuilt-status-maintainer.ts
Due: none

Query Stripe API to find customers for each teamId
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/stripe/stripe.go
Due: none

[installer] support service type in experimental config
  install/installer/pkg/components/proxy/service.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/installer/pkg/config/v1/experimental/validation.go
Due: none

[kots] Allow multiple docker pull secrets
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-config.yaml
Due: none
