Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

adding GetOIDCClientConfigByOrgSlug
  components/gitpod-db/go/oidc_client_config.go
  components/public-api-server/pkg/oidc/service.go
Due: none

add table name
  components/gitpod-db/go/oidc_client_config.go
Due: none

removing commented out code
  components/public-api-server/pkg/oidc/service.go
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[test] be less brittle
  .github/workflows/workspace-integration-tests.yml
Due: none

[jb] support running tests agaist latest backend version
  .github/workflows/build.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  components/gitpod-protocol/go/gitpod-service.go
  components/supervisor/pkg/supervisor/top_test.go
  test/pkg/integration/setup.go
  test/pkg/integration/workspace.go
  test/run.sh
  test/tests/ide/jetbrains/gateway_test.go
Due: components-gitpod-protocol-go-lib, components-supervisor-app

[server] Register gRPC/Connect team service
  components/server/src/api/teams.ts
  components/server/src/server.ts
Due: none

fix
  components/server/src/container-module.ts
Due: none

adjust mocha .only check (#17071)
  components/BUILD.yaml
Due: none

[ws-daemon] Refactor workspace operations (#17069)
  components/ws-daemon/pkg/controller/snapshot_controller.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
Due: components-ws-daemon-app

[jb] support testing of stable GW
  .github/workflows/jetbrains-integration-test.yml
  dev/jetbrains-test/BUILD.yaml
  dev/jetbrains-test/src/main/kotlin/io/gitpod/jetbrains/launcher/IdeDownloader.kt
  dev/jetbrains-test/src/test/kotlin/io/gitpod/jetbrains/launcher/GatewayLauncherTest.kt
  dev/jetbrains-test/test.sh
Due: none

[ws-manager-mk2] Implement DescribeCluster (#17064)
  components/ws-manager-mk2/service/manager.go
Due: none

Refactor workspace classes
  components/server/src/workspace/workspace-classes.ts
  components/ws-manager-api/go/config/config.go
Due: none

Remove limits definition from ws-manager
  components/ws-manager-api/go/config/config.go
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Update Platform Version of JetBrains Gateway Plugin (EAP) to 231.8109-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 223.8617-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Update README.md
  README.md
Due: none

[server] Register gRPC/Connect team service (#17062)
  components/server/src/api/teams.ts
  components/server/src/container-module.ts
  components/server/src/server.ts
Due: none

[server] Implement grpc/connect getTeam RPC
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/server/src/api/teams.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

fix
  components/server/src/api/teams.spec.db.ts
  components/server/src/api/teams.ts
  components/server/src/server.ts
Due: none

fix
  components/server/src/api/teams.ts
Due: none

fix
  components/server/src/api/teams.spec.db.ts
  components/server/src/server.ts
Due: none

fix
  components/server/src/api/teams.spec.db.ts
  components/server/src/api/teams.ts
Due: none

fix
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/container-module.ts
  components/server/src/server.ts
Due: none

fix
  components/server/src/api/teams.spec.db.ts
Due: none

[common-go] force set configcat log level to error (#17067)
  components/common-go/experiments/types.go
Due: components-common-go-lib

[jb] support testing of stable GW (#17073)
  .github/workflows/jetbrains-integration-test.yml
  dev/jetbrains-test/BUILD.yaml
  dev/jetbrains-test/src/main/kotlin/io/gitpod/jetbrains/launcher/IdeDownloader.kt
  dev/jetbrains-test/src/test/kotlin/io/gitpod/jetbrains/launcher/GatewayLauncherTest.kt
  dev/jetbrains-test/test.sh
Due: none

Sign in with SSO (#17055)
  components/dashboard/src/Login.tsx
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/provider-utils.tsx
  components/gitpod-db/go/dbtest/oidc_client_config.go
  components/gitpod-db/go/oidc_client_config.go
  components/gitpod-db/go/oidc_client_config_test.go
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_test.go
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/router_test.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: components-dashboard-app

fix
  components/gitpod-db/src/typeorm/typeorm.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/api/teams.ts
Due: none

Fix
  components/server/src/api/teams.spec.db.ts
Due: none

[loadgen] Resubscribe and log ids
  dev/loadgen/configs/prod-benchmark.yaml
  dev/loadgen/pkg/loadgen/executor.go
  dev/loadgen/pkg/observer/success.go
Due: dev-loadgen-app

with gomock
  components/ws-daemon/pkg/controller/mocks.go
  components/ws-daemon/pkg/controller/suite_test.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_controller_test.go
  components/ws-daemon/pkg/controller/workspace_operations.go
Due: components-ws-daemon-app

Fix
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-db/src/typeorm/typeorm.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/api/teams.ts
Due: none

[ws-manager-mk2] Remember existing workspaces after a restart (#17066)
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: components-ws-daemon-app

[loadgen] Resubscribe and log ids (#17080)
  dev/loadgen/configs/prod-benchmark.yaml
  dev/loadgen/pkg/loadgen/executor.go
  dev/loadgen/pkg/observer/success.go
Due: dev-loadgen-app

cleanup logs
  components/server/src/api/teams.ts
  components/server/src/api/user.spec.ts
Due: none

[jb] fix running JB integration tests triggered by PR
  .github/workflows/build.yml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
