Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[public-api] Initial scaffolding
  .github/CODEOWNERS
  components/public-api/generate.sh
  components/public-api/go/BUILD.yaml
  components/public-api/go/go.mod
  components/public-api/go/go.sum
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/BUILD.yaml
  components/public-api/typescript/mocha.opts
  components/public-api/typescript/package.json
  components/public-api/typescript/src/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/workspaces_grpc_pb.js
  components/public-api/typescript/src/workspaces_pb.d.ts
  components/public-api/typescript/src/workspaces_pb.js
  components/public-api/typescript/tsconfig.json
  components/public-api/workspaces.proto
Due: none

[public-api] Extend workspace context
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/package.json
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
Due: none

[public-api] Make owner token access explicit
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
Due: none

[public-api] First workspaces draft
  components/public-api/.vscode/settings.json
  components/public-api/README.md
  components/public-api/generate.sh
  components/public-api/gitpod/v1/pagination.proto
  components/public-api/gitpod/v1/prebuilds.proto
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/pagination.pb.go
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/prebuilds_grpc.pb.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/pagination_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/pagination_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/pagination_pb.js
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
  components/public-api/typescript/src/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/workspaces_grpc_pb.js
  components/public-api/typescript/src/workspaces_pb.d.ts
  components/public-api/typescript/src/workspaces_pb.js
  components/public-api/workspaces.proto
  components/ws-manager-api/core.proto
  scripts/protoc-generator.sh
Due: none

[public-api] Add and enforce application-level error status
  components/public-api/BUILD.yaml
  components/public-api/buf.yaml
  components/public-api/generate.sh
  components/public-api/gitpod/v1/prebuilds.proto
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/go.mod
  components/public-api/go/go.sum
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/google/rpc/LICENSE
  components/public-api/google/rpc/README.md
  components/public-api/google/rpc/code.proto
  components/public-api/google/rpc/error_details.proto
  components/public-api/google/rpc/status.proto
  components/public-api/hack/protoc-gen-gplint/BUILD.yaml
  components/public-api/hack/protoc-gen-gplint/go.mod
  components/public-api/hack/protoc-gen-gplint/go.sum
  components/public-api/hack/protoc-gen-gplint/main.go
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
  scripts/BUILD.yaml
  scripts/protoc-generator.sh
Due: none

[public-api] Add linting
  components/public-api/buf.yaml
  components/public-api/generate.sh
  components/public-api/gitpod/v1/prebuilds.proto
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
  scripts/protoc-generator.sh
Due: none

[public-api] Draft more of the prebuild API
  components/public-api/README.md
  components/public-api/gitpod/v1/prebuilds.proto
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/examples_test.go
  components/public-api/go/v1/prebuilds.pb.go
  components/public-api/go/v1/prebuilds_grpc.pb.go
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/v1/pagination_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/prebuilds_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
Due: none

[public-api] Better workspace instance support
  components/public-api/README.md
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/go/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_grpc_pb.js
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.d.ts
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.js
Due: none

allow to specify vm name when connecting to harvester VM
  dev/preview/ssh-proxy-command.sh
  dev/preview/ssh-vm.sh
Due: none

Update go dependencies
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
  test/go.mod
Due: components-blobserve-app, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Fix change method signature
  components/image-builder-bob/cmd/daemon.go
Due: none

Update buildkit to v0.10.0
  components/image-builder-bob/README.md
  components/image-builder-bob/leeway.Dockerfile
Due: none

Update dev-environment to support latest kubecdl
  .gitpod.yml
  .werft/build.yaml
  .werft/debug.yaml
  .werft/platform-clean-up-werft-build-nodes.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/run-integration-tests.yaml
  .werft/wipe-devstaging.yaml
  dev/image/Dockerfile
  dev/kubecdl/.vscode/launch.json
Due: none

Add KOTS unstable publish to werft
  .werft/build.ts
  .werft/jobs/build/publish-kots-unstable.ts
Due: none

[kots]: add license headers
  install/kots/manifests/gitpod-certificate-secret.yaml
  install/kots/manifests/gitpod-certificate.yaml
  install/kots/manifests/gitpod-cloudsql-secret.yaml
  install/kots/manifests/gitpod-clusterrolebinding.yaml
  install/kots/manifests/gitpod-config-patch.yaml
  install/kots/manifests/gitpod-database-secret.yaml
  install/kots/manifests/gitpod-installation.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/gitpod-license.yaml
  install/kots/manifests/gitpod-registry-s3-backend.yaml
  install/kots/manifests/gitpod-registry-secret.yaml
  install/kots/manifests/gitpod-serviceaccount.yaml
  install/kots/manifests/gitpod-storage-azure-secret.yaml
  install/kots/manifests/gitpod-storage-gcp-secret.yaml
  install/kots/manifests/gitpod-storage-s3-secret.yaml
  install/kots/manifests/kots-app.yaml
  install/kots/manifests/kots-config.yaml
  install/kots/manifests/kots-preflight.yaml
  install/kots/manifests/kots-support-bundle.yaml
Due: none

[kots]: lint the manifests
  .werft/build.yaml
  .werft/jobs/build/build-and-publish.ts
  components/BUILD.yaml
  install/kots/BUILD.yaml
Due: none

Enrich 'workspace_started' call with projectId and type
  components/server/src/workspace/workspace-starter.ts
Due: none

Update team deletion modal
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

[image-builder-bob] Add support for stargz
  components/image-builder-bob/pkg/builder/builder.go
Due: none

[Analytics] Include Invite Url in Team created Call
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

other way of redirection
  components/dashboard/src/App.tsx
Due: components-dashboard-app

Avoid using process.exit as we need to flush telemetry
  .werft/build.ts
  .werft/util/slack.ts
Due: none

test and see
  components/dashboard/src/App.tsx
Due: components-dashboard-app

ui: enlarge search box on dashboard
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Revert "ui: enlarge search box on dashboard"
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

telemetry: Enable data fields that were disabled
  components/server/src/installation-admin/installation-admin-controller.ts
  components/server/src/installation-admin/telemetry-data-provider.ts
Due: none

test codeowner syntax
  .github/CODEOWNERS
Due: none

testchange
  dev/preview/distribute-images.sh
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

test
  dev/preview/distribute-images.sh
Due: none

test
  .github/CODEOWNERS
Due: none

Refresh web page when instanceId changed
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
