Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[ws-manager-bridge] Generate protos with buf
  components/ws-manager-bridge-api/buf.gen.yaml
  components/ws-manager-bridge-api/buf.yaml
  components/ws-manager-bridge-api/generate.sh
  components/ws-manager-bridge-api/go.mod
  components/ws-manager-bridge-api/go.sum
  components/ws-manager-bridge-api/go/cluster-service.pb.go
  components/ws-manager-bridge-api/go/cluster-service_grpc.pb.go
Due: none

[dashboard] BillingAccountSelector: Re-add filter for "subscription present"
  components/dashboard/src/components/BillingAccountSelector.tsx
Due: components-dashboard-app

Stream logs from TF executions
  .werft/jobs/build/prepare.ts
  .werft/util/certs.ts
  .werft/vm/vm.ts
Due: none

[installer-tests] Fix the variable name corresponding domain
  install/tests/Makefile
Due: none

[stripe] Create d_b_stripe_customer table to store Customer ID and Attribution ID
  components/gitpod-db/src/typeorm/migration/1666082193187-AddStripeCustomerTable.ts
Due: none

[public-api] expose WorkspaceInstance as part of Workspace message
  components/public-api/gitpod/v1/workspaces.proto
  components/public-api/go/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/v1/workspaces_pb.ts
Due: none

[public-api] implement workspace proto
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
Due: none

Add `applicationCluster` field to default bridge
  install/installer/pkg/components/ws-manager-bridge/objects.go
  install/installer/pkg/components/ws-manager-bridge/types.go
Due: none

Run `make generateRenderTests`
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[trivial] Remove unused constant TEAM_NAMES_ATTRIBUTE
  components/gitpod-protocol/src/experiments/configcat.ts
Due: none

[dashboard] Introduce showUseLastSuccessfulPrebuild feature flag
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

[server][dashboard] Implement a 'Use Last Successful Prebuild' workspace creation mode
  components/dashboard/src/start/CreateWorkspace.tsx
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/prebuilds/incremental-prebuilds-service.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/workspace-factory.ts
Due: components-dashboard-app

[billing] Define CreateStripeCustomer RPC
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
Due: none

Add CreateStripeSubscription RPC
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
Due: none

[ws-daemon] Plugin for PSI metrics
  components/common-go/cgroups/cgroup.go
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/cgroup/plugin_psi.go
  components/ws-daemon/pkg/daemon/daemon.go
Due: components-common-go-lib, components-ws-daemon-app

[common-go] Support reading of PSI metrics
  components/common-go/cgroups/cgroup.go
  components/common-go/cgroups/v2/cpu.go
  components/common-go/cgroups/v2/io.go
  components/common-go/cgroups/v2/memory.go
Due: components-common-go-lib

[ws-daemon] Introduce plugin options
  components/ws-daemon/pkg/cgroup/cgroup.go
  components/ws-daemon/pkg/cgroup/plugin_cachereclaim.go
  components/ws-daemon/pkg/cgroup/plugin_fuse.go
  components/ws-daemon/pkg/cgroup/plugin_fuse_v2.go
  components/ws-daemon/pkg/cgroup/plugin_iolimit_v1.go
  components/ws-daemon/pkg/cgroup/plugin_iolimit_v2.go
  components/ws-daemon/pkg/cgroup/plugin_proc_limit_v2.go
  components/ws-daemon/pkg/cgroup/plugin_process_priority_v2.go
Due: components-ws-daemon-app

[psi] Add comment and clean up test files
  components/common-go/cgroups/cgroup.go
  components/common-go/cgroups/cgroups_test.go
  components/ws-daemon/pkg/cgroup/plugin_psi.go
Due: components-common-go-lib, components-ws-daemon-app

[common-go] Add test for reading psi values
  components/common-go/cgroups/cgroups_test.go
Due: components-common-go-lib

[common-go] Change cgroup package name
  components/common-go/cgroups/v1/cpu.go
  components/common-go/cgroups/v1/memory.go
  components/common-go/cgroups/v2/cpu.go
  components/common-go/cgroups/v2/cpu_test.go
  components/common-go/cgroups/v2/io.go
  components/common-go/cgroups/v2/memory.go
Due: components-common-go-lib

Update gpctl public api to align with proto
  dev/gpctl/cmd/public-api-workspaces-get.go
  dev/gpctl/cmd/public-api-workspaces-list.go
Due: none

Add dashboard for ArgoCD applications' state
  operations/observability/mixins/self-hosted/dashboards.libsonnet
  operations/observability/mixins/self-hosted/dashboards/argocd/argocd.json
Due: none

[preview] Fix broken shortname assignment in preview envs
  .werft/jobs/build/installer/installer.ts
  .werft/jobs/build/installer/post-process.sh
Due: none

Activate ZeroSS Certificate Issuer for core-dev
  dev/preview/infrastructure/harvester/cert.tf
Due: none

Imporve naming in job
  .werft/jobs/build/deploy-to-preview-environment.ts
Due: none

Return application cluster from `service-server`
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

Add `application_cluster` to ListResponse message
  components/ws-manager-bridge-api/cluster-service.proto
  components/ws-manager-bridge-api/go/cluster-service.pb.go
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.d.ts
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.js
Due: none

Update also the "pluginSinceBuild" Gradle property when updating JetBrains Plugins via GitHub Action
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates-template.yml
Due: none

[usage] Proto changes Stripe RPC
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
Due: none

[content-service] Make prebuild initializer more robust
  components/content-service/pkg/git/git.go
  components/content-service/pkg/initializer/git.go
  components/content-service/pkg/initializer/prebuild.go
Due: components-content-service-app

[installer] Add enforce flag
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-daemon/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
