Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Rename file
  components/content-service/pkg/service/usage-report-service.go
Due: components-content-service-app

[dashboard] Move to new Alert component
  components/dashboard/src/components/ErrorMessage.tsx
Due: components-dashboard-app

TEST COMMIT
  components/server/ee/src/user/user-service.ts
Due: none

[dashboard] Review comment spacing
  components/dashboard/src/components/ErrorMessage.tsx
Due: components-dashboard-app

[server] Display Auth errors in the UI
  components/server/src/auth/generic-auth-provider.ts
Due: none

Make usage report bucket name configurable
  components/content-service-api/go/config/config.go
  install/installer/pkg/components/content-service/configmap.go
  install/installer/pkg/components/content-service/configmap_test.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Make content-service take bucket name from config
  components/content-service/cmd/run.go
  components/content-service/pkg/service/usage-report-service_test.go
  components/content-service/pkg/service/usagereport-service.go
Due: components-content-service-app

[content-service] Set ContentType header
  components/content-service/pkg/service/usage-report-service.go
Due: components-content-service-app

[usage] Set Content-Type header on PUT request
  components/usage/pkg/contentservice/client.go
Due: none

Revert "TEST COMMIT"
  components/server/ee/src/user/user-service.ts
Due: none

The instance ID is required field
  components/ws-daemon/pkg/content/service.go
Due: components-ws-daemon-app

If workspace Id is empty, return it
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[dashboard] Fix rendering of the redirect URI on Git Integrations page
  components/dashboard/src/settings/Integrations.tsx
Due: components-dashboard-app

Ensure session is only deleted once
  components/ws-daemon/pkg/internal/session/store.go
Due: components-ws-daemon-app

[hooks]: exclude testdata in installer from precommit
  .pre-commit-config.yaml
Due: none

[installer]: add docker registry haSecret to values
  install/installer/pkg/common/render.go
  install/installer/pkg/components/docker-registry/helm.go
Due: none

[installer]: set option to set seed value
  install/installer/cmd/root.go
Due: none

Detach dangling base mounts
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

[dashboard] Next steps nudge for `local-preview`
  components/dashboard/src/App.tsx
  components/dashboard/src/utils.ts
  install/preview/entrypoint.sh
  install/preview/manifests/coredns.yaml
Due: components-dashboard-app

[installer]: add output test for the render function
  install/installer/.gitignore
  install/installer/BUILD.yaml
  install/installer/Makefile
  install/installer/cmd/render.go
  install/installer/cmd/render_test.go
  install/installer/cmd/testdata/render/README.md
  install/installer/cmd/testdata/render/minimal/config.yaml
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/versions.yaml
Due: none

[usage] Implement CollectUsage
  components/usage/pkg/apiv1/pricer.go
  components/usage/pkg/apiv1/pricer_test.go
  components/usage/pkg/apiv1/usage-report.go
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/server/server.go
Due: none

Add http section to local usage config
  components/public-api-server/config.json
Due: none

go get github.com/gorilla/handlers
  components/public-api-server/go.mod
  components/public-api-server/go.sum
Due: none

go get github.com/stripe/stripe-go/v72
  components/public-api-server/go.mod
  components/public-api-server/go.sum
Due: none

Add Stripe webhook to public api server
  components/public-api-server/pkg/server/server.go
  components/public-api-server/pkg/webhooks/stripe.go
Due: none

Add observability debug on failure
  .werft/observability/monitoring-satellite.ts
Due: none
