Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[redis] Fix readiness probe (again) (#16655)
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/redis/deployment.go
Due: none

[ws-daemon] Check connection to containerd socket (#16654)
  components/ws-daemon/pkg/container/containerd.go
  install/installer/cmd/config_files_containerd.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-daemon/configmap.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/config/v1/config.go
  install/installer/pkg/containerd/k3s.go
  install/installer/pkg/containerd/location.go
Due: components-ws-daemon-app

Remove SID as default owner of installer/installer (#16650)
  .github/CODEOWNERS
Due: none

Update .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/epic.yml
Due: none

Update timeouts layout in user preferences
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

[logging] Enable storing/extracing of logger from context
  components/common-go/log/context.go
Due: components-common-go-lib

fix: Improved Integrations UX
  components/dashboard/src/user-settings/AuthEntryItem.tsx
  components/dashboard/src/user-settings/IntegrationItemEntry.tsx
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

fix: Improved Integrations UX (#16657)
  components/dashboard/src/user-settings/AuthEntryItem.tsx
  components/dashboard/src/user-settings/IntegrationItemEntry.tsx
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

[server] Polish notification texts
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[server] Polish notification texts (#16659)
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Fix
  components/ee/agent-smith/go.mod
  components/ee/agent-smith/go.sum
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
  components/gitpod-protocol/go/go.mod
  components/gitpod-protocol/go/go.sum
  components/ide/code/codehelper/go.mod
  components/ide/code/codehelper/go.sum
  components/ide/jetbrains/launcher/go.mod
  components/ide/jetbrains/launcher/go.sum
  components/installation-telemetry/go.mod
  components/installation-telemetry/go.sum
  components/openvsx-proxy/go.mod
  components/openvsx-proxy/go.sum
  components/public-api-server/go.mod
  components/service-waiter/go.mod
  components/service-waiter/go.sum
  components/supervisor/go.mod
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  components/ws-manager-mk2/go.mod
  components/ws-proxy/go.sum
  dev/gp-gcloud/go.mod
  dev/gp-gcloud/go.sum
  dev/loadgen/go.mod
  dev/loadgen/go.sum
  dev/preview/previewctl/go.sum
  dev/ready-probe-labeler/go.mod
  dev/ready-probe-labeler/go.sum
  dev/telepresence-hack/go.mod
  dev/telepresence-hack/go.sum
Due: components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-service-waiter-app, components-supervisor-app, components-ws-daemon-nsinsider-app, components-ws-daemon-app, dev-loadgen-app

Fix
  components/ee/agent-smith/go.mod
  components/ee/agent-smith/go.sum
  components/gitpod-cli/go.sum
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
  components/ide/code/codehelper/go.sum
  components/ide/jetbrains/launcher/go.sum
  components/installation-telemetry/go.mod
  components/installation-telemetry/go.sum
  components/openvsx-proxy/go.mod
  components/openvsx-proxy/go.sum
  components/service-waiter/go.mod
  components/service-waiter/go.sum
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  dev/gp-gcloud/go.mod
  dev/gp-gcloud/go.sum
  dev/loadgen/go.sum
  dev/ready-probe-labeler/go.mod
  dev/ready-probe-labeler/go.sum
  dev/telepresence-hack/go.mod
  dev/telepresence-hack/go.sum
Due: components-ee-agent-smith-app, components-gitpod-cli-app, components-service-waiter-app, components-ws-daemon-nsinsider-app, components-ws-daemon-app, dev-loadgen-app

Fix
  components/ee/agent-smith/go.mod
  components/ee/agent-smith/go.sum
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
  components/ide/code/codehelper/go.mod
  components/ide/code/codehelper/go.sum
  components/ide/jetbrains/launcher/go.mod
  components/ide/jetbrains/launcher/go.sum
  components/installation-telemetry/go.mod
  components/installation-telemetry/go.sum
  components/openvsx-proxy/go.mod
  components/openvsx-proxy/go.sum
  components/service-waiter/go.mod
  components/service-waiter/go.sum
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
Due: components-ee-agent-smith-app, components-gitpod-cli-app, components-service-waiter-app, components-ws-daemon-nsinsider-app, components-ws-daemon-app

Fix
  dev/gp-gcloud/go.mod
  dev/gp-gcloud/go.sum
  dev/loadgen/go.mod
  dev/loadgen/go.sum
  dev/ready-probe-labeler/go.mod
  dev/ready-probe-labeler/go.sum
  dev/telepresence-hack/go.mod
  dev/telepresence-hack/go.sum
Due: dev-loadgen-app

Fix
  components/ee/agent-smith/go.mod
  components/ee/agent-smith/go.sum
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
  components/gitpod-db/go/go.mod
  components/gitpod-db/go/go.sum
  components/ide/code/codehelper/go.mod
  components/ide/code/codehelper/go.sum
  components/ide/jetbrains/launcher/go.mod
  components/ide/jetbrains/launcher/go.sum
  components/installation-telemetry/go.mod
  components/installation-telemetry/go.sum
  components/openvsx-proxy/go.mod
  components/openvsx-proxy/go.sum
  components/service-waiter/go.mod
  components/service-waiter/go.sum
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  dev/gp-gcloud/go.mod
  dev/gp-gcloud/go.sum
  dev/loadgen/go.mod
  dev/loadgen/go.sum
  dev/ready-probe-labeler/go.mod
  dev/ready-probe-labeler/go.sum
  dev/telepresence-hack/go.mod
  dev/telepresence-hack/go.sum
Due: components-ee-agent-smith-app, components-gitpod-cli-app, components-service-waiter-app, components-ws-daemon-nsinsider-app, components-ws-daemon-app, dev-loadgen-app

b
  install/installer/pkg/components/ws-manager-mk2/namespace.go
Due: none

Fix casing
  install/installer/pkg/common/common.go
Due: none

Prototype IDP provider
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/idp.go
  components/public-api-server/pkg/idp/idp.go
  components/public-api-server/pkg/idp/server.go
  components/public-api-server/pkg/server/server.go
  components/public-api/gitpod/experimental/v1/idp.proto
  components/public-api/go/client/client.go
  components/public-api/go/config/config.go
  components/public-api/go/experimental/v1/idp.pb.go
  components/public-api/go/experimental/v1/idp_grpc.pb.go
  components/public-api/go/experimental/v1/v1connect/idp.connect.go
  components/public-api/typescript/src/gitpod/experimental/v1/idp_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/idp_pb.ts
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
Due: none

[idp] Remove per-org IDP
  components/public-api-server/pkg/idp/idp.go
Due: none

[idp] Defer GetIDToken authorisation to server
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/go/mock.go
  components/gitpod-protocol/src/gitpod-service.ts
  components/public-api-server/pkg/apiv1/idp.go
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-gitpod-protocol-go-lib

[public-api] Remove zitadel based IDP implementation
  components/public-api-server/pkg/idp/server.go
Due: none

[idp] Add key cache and random key IDs
  components/public-api-server/pkg/idp/cache.go
  components/public-api-server/pkg/idp/idp.go
  components/public-api-server/pkg/server/server.go
Due: none

[gitpod-cli] Add IDP support for Vault
  components/gitpod-cli/cmd/idp-login-vault.go
Due: components-gitpod-cli-app

[gp cli] Add IDP commands
  components/gitpod-cli/BUILD.yaml
  components/gitpod-cli/cmd/idp-login-aws.go
  components/gitpod-cli/cmd/idp-login.go
  components/gitpod-cli/cmd/idp-token.go
  components/gitpod-cli/cmd/idp.go
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
Due: components-gitpod-cli-app

[idp] Add Redis public key cache
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/idp/cache.go
  components/public-api-server/pkg/idp/idp.go
  components/public-api-server/pkg/server/server.go
  components/public-api/go/config/config.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
Due: none

[idp] Add key ID to JWT
  components/public-api-server/pkg/apiv1/idp.go
  components/public-api-server/pkg/idp/cache.go
  components/public-api-server/pkg/idp/idp.go
Due: none

[gitpod-cli] Hide IDP commands
  components/gitpod-cli/cmd/idp.go
  install/installer/pkg/components/public-api-server/configmap_test.go
Due: components-gitpod-cli-app

[idp] Add unit tests
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/idp.go
  components/public-api-server/pkg/idp/cache.go
  components/public-api-server/pkg/idp/cache_test.go
  components/public-api-server/pkg/idp/idp.go
  components/public-api-server/pkg/idp/idp_test.go
Due: none

[public-api-server] Simplify service registration
  components/public-api-server/pkg/server/server.go
Due: none

[public-api-server] Use logging middleware globally
  components/public-api-server/middleware/logging.go
  components/public-api-server/middleware/logging_test.go
  components/public-api-server/pkg/identityprovider/idp.go
  components/public-api-server/pkg/server/server.go
Due: none

[idp] Add Redis outage resilience
  components/public-api-server/pkg/identityprovider/cache.go
  components/public-api-server/pkg/identityprovider/cache_test.go
Due: none

[integration-test] only send slack notification when test is failure
  .github/workflows/preview-env-check-regressions.yml
Due: none

fixed the bug that was causing via try catch
  components/dashboard/src/components/UsageView.tsx
Due: components-dashboard-app
