Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Fix currently selected workspace doesn't exist
  dev/preview/workflow/lib/terraform.sh
Due: none

[admin] allow usage adjustments
  components/dashboard/src/admin/TeamDetail.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/gitpod-protocol/src/admin-protocol.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/typescript/src/usage/v1/usage.pb.ts
  components/usage-api/usage/v1/usage.proto
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
Due: components-dashboard-app

[public-api] Implement list personal access tokens
  components/gitpod-db/go/dbtest/personal_access_token.go
  components/gitpod-db/go/pagination.go
  components/gitpod-db/go/personal_access_token.go
  components/gitpod-db/go/personal_access_token_test.go
  components/public-api-server/BUILD.yaml
  components/public-api-server/pkg/apiv1/pagination.go
  components/public-api-server/pkg/apiv1/pagination_test.go
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api-server/pkg/apiv1/tokens_test.go
  components/usage/BUILD.yaml
  gitpod-ws.code-workspace
Due: none

[public-api] Use personal access token signing key
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api-server/pkg/apiv1/tokens_test.go
  components/public-api-server/pkg/server/server.go
Due: none

Change feature flag name
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

Set `allowPriviligeEscalation` to false
  install/installer/pkg/components/workspace/podsecuritypolicies.go
Due: none

[installer] Fix token signing key subpath
  install/installer/pkg/components/public-api-server/configmap.go
Due: none

Truncate branch name on prebuilds page
  components/dashboard/src/projects/Prebuilds.tsx
Due: components-dashboard-app

[supervisor] add ide ready duration metrics
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/metrics/reporter_test.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-metrics/configmap.go
Due: components-supervisor-app

[public-api] Create Personal Access Token implementation
  components/gitpod-db/go/dbtest/personal_access_token.go
  components/gitpod-db/go/personal_access_token.go
  components/gitpod-db/go/personal_access_token_test.go
  components/public-api-server/go.mod
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api-server/pkg/apiv1/tokens_test.go
  components/public-api-server/pkg/auth/personal_access_token.go
Due: none

Yaml yaml yaml
  dev/preview/BUILD.yaml
  dev/preview/workflow/preview/preview.sh
Due: none

[dashboard] update balance element
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/index.css
Due: components-dashboard-app

Remove previewctl from image, install as init task instead
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup.yaml
  .werft/jobs/build/prepare.ts
  .werft/k3s-installer-tests.yaml
  .werft/platform-delete-preview-environment.ts
  .werft/platform-delete-preview-environment.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-artificial-job.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
  dev/BUILD.yaml
  dev/image/BUILD.yaml
  dev/image/Dockerfile
  dev/leeway.Dockerfile
  dev/preview/previewctl/BUILD.yaml
Due: none

[server] no legacy dep of ws-classes
  components/server/src/workspace/workspace-classes.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[ide] move back content ready to helper
  components/ide/code/codehelper/main.go
  components/ide/jetbrains/image/status/main.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Add `initGitPodService` function
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Add subProtocol to WebSocketOptions interface
  components/gitpod-protocol/src/messaging/browser/connection.ts
Due: none

Call `initGitPodService` in App component
  components/dashboard/src/App.tsx
Due: components-dashboard-app

Add useSlowDatabase feature flag to context
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[pat] Implement GetPersonalAccessToken
  components/gitpod-db/go/personal_access_token.go
  components/gitpod-db/go/personal_access_token_test.go
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api-server/pkg/apiv1/tokens_test.go
Due: none

[public-api] Remove hash property from Personal Access Token
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api/gitpod/experimental/v1/tokens.proto
  components/public-api/go/experimental/v1/tokens.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/tokens_pb.ts
Due: none

Drop unused ArgoCD Metrics
  operations/observability/mixins/self-hosted/rules/argocd/servicemonitor.yaml
Due: none

[configcat] Set UserID as a custom attribute on configcat user data
  components/common-go/experiments/configcat.go
Due: components-common-go-lib

[pat] Reduce bcrypt cost to 10
  components/public-api-server/pkg/auth/personal_access_token.go
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

test: support namespace overwrites from env var
  test/run.sh
Due: none

test: fix unmarshal string to int64 failed
  test/tests/components/ws-daemon/cpu_burst_test.go
Due: none

test: remove hardcode namespace
  test/tests/components/ws-manager/dotfiles_test.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
