Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[papi] Add signing secret for JWTs
  .werft/jobs/build/public-api/oidc-client-jwt-signing-key.yaml
  components/public-api-server/pkg/server/server.go
  components/public-api/go/config/config.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
  install/installer/pkg/components/public-api-server/constants.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/public-api-server/deployment_test.go
  install/installer/pkg/components/public-api-server/objects_test.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[server] only migrate users without chargebee plan
  components/server/src/user/user-service.ts
Due: none

synchronize migration
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/typeorm/synchronizer.spec.db.ts
  components/gitpod-db/src/typeorm/synchronizer.ts
  components/gitpod-db/src/typeorm/typeorm.ts
  components/gitpod-db/src/user-to-team-migration-service.spec.db.ts
  components/gitpod-db/src/user-to-team-migration-service.ts
Due: none

Only create infra if gha is enabled
  .github/workflows/build.yml
Due: none

deploy-gitpod is shared by everyone
  .github/CODEOWNERS
Due: none

[spicedb] Configure preshared key
  install/installer/pkg/components/spicedb/constants.go
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/spicedb/objects.go
  install/installer/pkg/components/spicedb/secret.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[spicedb] Bootstrap schema
  install/installer/BUILD.yaml
  install/installer/pkg/components/spicedb/constants.go
  install/installer/pkg/components/spicedb/data/bootstrap.yaml
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/spicedb/objects.go
  install/installer/pkg/components/spicedb/schema.go
Due: none

[spicedb] Remove TTL from migrations job
  install/installer/pkg/components/spicedb/migrations.go
Due: none

Remove scenario assuming workspace clusters run in GCP
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/pkg/components/ws-proxy/objects.go
Due: none

[spicedb] Enable dispatching
  install/installer/pkg/components/spicedb/deployment.go
Due: none

Do not try to connect to not ready ws-daemon pods
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

[ws-daemon] Review comments
  components/ws-daemon/pkg/controller/controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
Due: components-ws-daemon-app

Update tests
  components/ws-manager/pkg/manager/manager_test.go
Due: components-ws-manager-app

[slow-server] Fix DB_HOST reference
  install/installer/pkg/components/slowserver/deployment.go
  install/installer/pkg/components/slowserver/render_test.go
Due: none

[ws-daemon] Dispose workspace
  components/ws-daemon/pkg/content/service.go
  components/ws-daemon/pkg/controller/controller.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/debug.sh
  components/ws-manager-mk2/service/manager.go
Due: components-ws-daemon-app

[ws-daemon] Filter notifications
  components/ws-daemon/pkg/controller/controller.go
Due: components-ws-daemon-app

[ws-manager] Delete workspace CR on stop
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

[ws-daemon] Only handle k8s operations in controller
  components/ws-daemon/pkg/controller/controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
Due: components-ws-daemon-app

[ws-daemon] Register metrics
  components/ws-daemon/pkg/daemon/daemon.go
Due: components-ws-daemon-app

Trigger preview deletion on branch deletion
  .github/actions/delete-preview/entrypoint.sh
  .github/workflows/preview-env-delete.yml
Due: none

:sparkles: standardize gp CLI timeout cmds output
  components/gitpod-cli/cmd/timeout-extend.go
  components/gitpod-cli/cmd/timeout-set.go
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/actions/ExtendWorkspaceTimeoutAction.kt
Due: components-gitpod-cli-app

clean up after https://github.com/gitpod-io/gitpod/pull/15895
  components/dashboard/src/start/StartWorkspace.tsx
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
Due: components-dashboard-app, components-supervisor-app

[ws-daemon] Add metrics
  components/ws-daemon/pkg/controller/controller.go
Due: components-ws-daemon-app

[ws-manager-mk2] Ensure metrics are only counted once
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/config/webhook/manifests.yaml
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

[ws-manager-mk2] Remove obsolete code
  components/ws-manager-mk2/clock/clock.go
  components/ws-manager-mk2/clock/clock_test.go
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

[ws-manager-mk2] Add metrics
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/service/manager.go
Due: none

[ws-manager-mk2] Register metrics
  components/ws-manager-mk2/clock/clock.go
  components/ws-manager-mk2/clock/clock_test.go
  components/ws-manager-mk2/controllers/metrics.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/main.go
Due: none

Fix build previewctl version
  .github/workflows/build.yml
Due: none

Test --filter=blob:none again
  components/content-service/pkg/git/git.go
Due: components-content-service-app

wip
  preview
Due: none

Update buildkit and containerd
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app
