Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

feat: implement CSRF protection for OAuth flows with nonce validation (#20983)
  components/server/src/auth/api-subdomain-redirect.spec.ts
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/authenticator.ts
  components/server/src/auth/fragment-protection.spec.ts
  components/server/src/auth/fragment-utils.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
  components/server/src/auth/nonce-service.spec.ts
  components/server/src/auth/nonce-service.ts
  components/server/src/auth/return-to-validation.spec.ts
  components/server/src/container-module.ts
  components/server/src/express-util.ts
  components/server/src/oauth-server/oauth-controller.ts
  components/server/src/prebuilds/github-app.ts
  components/server/src/user/newsletter-subscription-controller.ts
  components/server/src/user/user-controller.ts
  components/server/src/util/featureflags.ts
  components/server/src/workspace/headless-log-controller.ts
  memory-bank/components/server.md
Due: none

Add netcat and redis-tools to devcontainer (#20990)
  .devcontainer/Dockerfile
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

fix(cli): correct environment variable parsing for comma-separated values
  components/gitpod-cli/cmd/env.go
Due: components-gitpod-cli-app

fix(cli): correct environment variable parsing for comma-separated values (#20992)
  components/gitpod-cli/cmd/env.go
Due: components-gitpod-cli-app

Autofix: trailing-spaces
  dev/github-token.sh
Due: none

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

Remove superfluous security feature flags and always enable protections
  components/server/src/auth/authenticator.ts
  components/server/src/auth/return-to-validation.spec.ts
  components/server/src/user/user-controller.ts
  components/server/src/util/featureflags.ts
  components/server/src/workspace/envvar-prefix-context-parser.spec.ts
  components/server/src/workspace/envvar-prefix-context-parser.ts
Due: none

Fix unused import in envvar-prefix-context-parser.spec.ts
  components/server/src/workspace/envvar-prefix-context-parser.spec.ts
Due: none

feat(agent-smith): implement filesystem signature scanning
  components/ee/agent-smith/example-config.json
  components/ee/agent-smith/pkg/agent/agent.go
  components/ee/agent-smith/pkg/classifier/classifier.go
  components/ee/agent-smith/pkg/classifier/classifier_test.go
  components/ee/agent-smith/pkg/classifier/filesystem_test.go
  components/ee/agent-smith/pkg/classifier/sinature.go
  components/ee/agent-smith/pkg/config/config.go
  components/ee/agent-smith/pkg/detector/filesystem.go
  components/ee/agent-smith/pkg/detector/filesystem_test.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/agent-smith/configmap.go
  install/installer/pkg/components/agent-smith/constants.go
  install/installer/pkg/components/agent-smith/daemonset.go
Due: components-ee-agent-smith-app

cleanup
  components/ee/agent-smith/example-config.json
Due: components-ee-agent-smith-app

Use a separate func for matching for filesystem signatures
  components/ee/agent-smith/pkg/classifier/filesystem_test.go
  components/ee/agent-smith/pkg/classifier/sinature.go
Due: components-ee-agent-smith-app

Fix logging for successful match
  components/ee/agent-smith/pkg/agent/agent.go
Due: components-ee-agent-smith-app

Simplify & no metrics
  components/ee/agent-smith/pkg/agent/agent.go
  components/ee/agent-smith/pkg/classifier/classifier.go
  components/ee/agent-smith/pkg/classifier/classifier_test.go
  components/ee/agent-smith/pkg/config/config.go
  components/ee/agent-smith/pkg/config/config_test.go
Due: components-ee-agent-smith-app

Don't get fooled by the match
  components/ee/agent-smith/pkg/classifier/sinature.go
Due: components-ee-agent-smith-app

Revert "Don't get fooled by the match"
  components/ee/agent-smith/pkg/classifier/sinature.go
Due: components-ee-agent-smith-app

Cleanup
  components/ee/agent-smith/pkg/classifier/classifier.go
Due: components-ee-agent-smith-app

More cleanup
  components/ee/agent-smith/pkg/agent/agent.go
  components/ee/agent-smith/pkg/classifier/classifier.go
  components/ee/agent-smith/pkg/detector/filesystem.go
Due: components-ee-agent-smith-app

Renaming and metric removal
  components/ee/agent-smith/pkg/agent/agent.go
  components/ee/agent-smith/pkg/detector/filesystem.go
  components/ee/agent-smith/pkg/detector/filesystem_test.go
Due: components-ee-agent-smith-app

Fix build
  components/ee/agent-smith/pkg/detector/filesystem_test.go
Due: components-ee-agent-smith-app

server: add Kiro editor OAuth client support
  components/server/src/oauth-server/db.ts
Due: none

server: simplify Kiro OAuth client to match VS Code pattern
  components/server/src/oauth-server/db.ts
Due: none

[agent-smith] introduce file detector (#21010)
  components/ee/agent-smith/example-config.json
  components/ee/agent-smith/pkg/agent/agent.go
  components/ee/agent-smith/pkg/classifier/classifier.go
  components/ee/agent-smith/pkg/classifier/filesystem_test.go
  components/ee/agent-smith/pkg/classifier/sinature.go
  components/ee/agent-smith/pkg/config/config.go
  components/ee/agent-smith/pkg/config/config_test.go
  components/ee/agent-smith/pkg/detector/filesystem.go
  components/ee/agent-smith/pkg/detector/filesystem_test.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/agent-smith/configmap.go
  install/installer/pkg/components/agent-smith/constants.go
  install/installer/pkg/components/agent-smith/daemonset.go
Due: components-ee-agent-smith-app

[server] Fix vulnerability
  package.json
  yarn.lock
Due: none
