Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

skip backup content if headless task failed
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
Due: components-ws-daemon-app

[supervisor] Cap length of GitStatus message
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-supervisor-app

[GP-CLI] fix incorrect pre-configured workspace image for enterprise
  components/gitpod-cli/cmd/init.go
Due: components-gitpod-cli-app

[server] allow fetching task specific prebuild-logs
  components/gitpod-db/src/typeorm/workspace-db-impl.spec.db.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/prebuild.proto
  components/public-api/go/v1/prebuild.pb.go
  components/public-api/typescript-common/src/prebuild-utils.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/prebuild_pb.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/headless-log-controller.ts
Due: none

fixup
  components/gitpod-cli/cmd/init.go
  components/gitpod-cli/pkg/gitpodlib/config.go
Due: components-gitpod-cli-app

[GP-CLI] fix incorrect pre-configured workspace image for enterprise (#19811)
  components/gitpod-cli/cmd/init.go
  components/gitpod-cli/pkg/gitpodlib/config.go
Due: components-gitpod-cli-app

change something
  README.md
Due: none

[dashboard] Fix queries useOrgSettings/useConfiguration (#19806)
  components/dashboard/src/data/configurations/configuration-queries.ts
  components/dashboard/src/data/ide-options/ide-options-query.ts
  components/dashboard/src/data/organizations/org-settings-query.ts
  components/dashboard/src/data/workspaces/workspace-classes-query.ts
  components/dashboard/src/prebuilds/list/RunPrebuildModal.tsx
Due: components-dashboard-app

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[dashboard] prebuild details shows tabs per task
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/dashboard/src/data/prebuilds/prebuild-logs-emitter.ts
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

[server] allow fetching task specific prebuild-logs (#19812)
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/dashboard/src/data/prebuilds/prebuild-logs-emitter.ts
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/gitpod-db/src/typeorm/workspace-db-impl.spec.db.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/prebuild.proto
  components/public-api/go/v1/prebuild.pb.go
  components/public-api/typescript-common/src/prebuild-utils.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/prebuild_pb.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/headless-log-controller.ts
Due: components-dashboard-app

Backup prebuild logs even it's fail (#19808)
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-manager-mk2/controllers/status.go
Due: components-ws-daemon-app

add userinfo fetch
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: none

fixup
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: none

fixup
  README.md
Due: none

fixup
  components/public-api-server/pkg/oidc/service.go
Due: none

remove unnecessary code
  components/public-api-server/pkg/oidc/service.go
Due: none

change logic
  components/public-api-server/pkg/oidc/service.go
Due: none

[code] update code image layers (#19786)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Fix main build golden tests
  components/public-api/typescript-common/fixtures/toPrebuild_1.golden
Due: none

fixup
  components/public-api/typescript-common/src/public-api-converter.ts
Due: none

Fix main build golden tests (#19815)
  components/public-api/typescript-common/fixtures/toPrebuild_1.golden
  components/public-api/typescript-common/src/public-api-converter.ts
Due: none

fixup comment
  components/public-api-server/pkg/oidc/service.go
Due: none

Bring more compatibility to OIDC verification (#19813)
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: none

[ws-manager-mk2] fix test
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

[ws-manager-mk2] fix test (#19816)
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

[server] increase pagesize and fail when too much is requested.
  components/public-api/typescript-common/src/public-api-pagination.ts
  components/server/src/api/workspace-service-api.ts
Due: none

Increase the contrast of dashboard log view
  components/dashboard/src/components/WorkspaceLogs.tsx
Due: components-dashboard-app

[server] increase pagesize and fail when too much is requested. (#19817)
  components/public-api/typescript-common/src/public-api-pagination.ts
  components/server/src/api/workspace-service-api.ts
Due: none

Increase the contrast of dashboard log view (#19818)
  components/dashboard/src/components/WorkspaceLogs.tsx
Due: components-dashboard-app

[supervisor] cap gitstatus test
  components/supervisor/pkg/serverapi/publicapi.go
  components/supervisor/pkg/serverapi/publicapi_test.go
Due: components-supervisor-app

[gc] keep workspaces with gitchanges around twice as long
  components/dashboard/src/workspaces/Workspaces.tsx
  components/server/src/jobs/workspace-gc.ts
Due: components-dashboard-app

Cap length of GitStatus updates (#19810)
  components/server/src/workspace/workspace-service.ts
  components/supervisor/pkg/serverapi/publicapi.go
  components/supervisor/pkg/serverapi/publicapi_test.go
Due: components-supervisor-app

[server} Introduce job CapGitStatus
  components/server/src/container-module.ts
  components/server/src/jobs/cap-git-status.ts
  components/server/src/jobs/runner.ts
  components/server/src/workspace/workspace-service.ts
Due: none

[server] Have runners report unitsOfWork
  components/gitpod-db/src/periodic-deleter.ts
  components/server/src/authorization/relationship-updater-job.ts
  components/server/src/jobs/cap-git-status.ts
  components/server/src/jobs/database-gc.ts
  components/server/src/jobs/installation-admin-cleanup.ts
  components/server/src/jobs/ots-gc.ts
  components/server/src/jobs/runner.ts
  components/server/src/jobs/snapshots.ts
  components/server/src/jobs/token-gc.ts
  components/server/src/jobs/webhook-gc.ts
  components/server/src/jobs/workspace-gc.ts
  components/server/src/prometheus-metrics.ts
  components/server/src/workspace/workspace-start-controller.ts
Due: none

fix query
  components/server/src/jobs/cap-git-status.ts
Due: none

[db] order to be deleted by lastUse desc
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
Due: none
