Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[devx] document Go workspace usage
  README.md
Due: none

:lipstick:
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

:lipstick:
  components/supervisor/frontend/src/ide/supervisor-service-client.ts
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

Fix
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

Fix
  components/supervisor/pkg/supervisor/services.go
Due: components-supervisor-app

Update code
  WORKSPACE.yaml
Due: none

update: fix width, top margin and active state
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

keep alive
  keep-alive
Due: none

[gp-cli] fix gp open cmd open another file
  components/gitpod-cli/cmd/open.go
Due: components-gitpod-cli-app

[server] EntitlementService: remove unnecessary dependency
  components/server/ee/src/billing/entitlement-service-license.ts
  components/server/ee/src/billing/entitlement-service-ubp.ts
  components/server/src/billing/entitlement-service.ts
  components/server/src/user/user-service.ts
Due: none

[server] Don't start a prebuild if the usage limit got reached
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

[ws-manager-bridge] fix incorrect module import
  components/ws-manager-bridge/src/cluster-service-server.ts
  components/ws-manager-bridge/src/cluster-sync-service.ts
  components/ws-manager-bridge/src/config.ts
  components/ws-manager-bridge/src/prometheus-metrics-exporter.ts
Due: components-ws-manager-bridge-app

[ws-manager-mk2] add Go workspace
  gitpod-ws.code-workspace
Due: none

[gp-cli] fix empty human readable timeout
  components/gitpod-cli/cmd/timeout-set.go
  components/gitpod-cli/cmd/timeout-show.go
Due: components-gitpod-cli-app

[ws-manager-mk2] Controller env tests
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
  components/ws-manager-mk2/service/manager.go
  components/ws-manager-mk2/ws-manager-mk2.code-workspace
Due: none

[server] pass organizationId to create ws
  components/gitpod-protocol/src/attribution.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/billing/entitlement-service-chargebee.ts
  components/server/ee/src/billing/entitlement-service-license.ts
  components/server/ee/src/billing/entitlement-service-ubp.ts
  components/server/ee/src/billing/entitlement-service.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/billing/entitlement-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[ws-daemon] reduce noisy error to warning
  components/ws-daemon/pkg/cgroup/plugin_iolimit_v2.go
Due: components-ws-daemon-app

Fix preview gha build
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/workflows/build.yml
Due: none

[server] disable long migrations via config
  components/server/ee/src/server.ts
  components/server/src/config.ts
  components/server/src/server.ts
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/server/types.go
Due: none

[test] update JetBrains RubyMine test repo
  test/tests/ide/jetbrains/gateway_test.go
Due: none

[installer] args to disable jobs
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[registry-facade] Use multiple remote spec providers
  components/registry-facade-api/go/config/config.go
  components/registry-facade/pkg/registry/imagecfg.go
  components/registry-facade/pkg/registry/registry.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/registry-facade/configmap.go
  install/installer/pkg/components/registry-facade/daemonset.go
Due: components-registry-facade-app, components-registry-facade-api-go-lib

[ws-manager] Update golden files
  components/ws-manager/pkg/manager/testdata/cdwp_admission.golden
  components/ws-manager/pkg/manager/testdata/cdwp_affinity.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class_notfound.golden
  components/ws-manager/pkg/manager/testdata/cdwp_customcerts.golden
  components/ws-manager/pkg/manager/testdata/cdwp_debug_workspace_pod.golden
  components/ws-manager/pkg/manager/testdata/cdwp_empty_resource_req.golden
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fullworkspacebackup.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_no_ideimage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template_override_resources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_readinessprobe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_secrets.golden
  components/ws-manager/pkg/manager/testdata/cdwp_sshkeys.golden
  components/ws-manager/pkg/manager/testdata/cdwp_sys_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_tasks.golden
  components/ws-manager/pkg/manager/testdata/cdwp_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_timeout.golden
  components/ws-manager/pkg/manager/testdata/cdwp_userns.golden
  components/ws-manager/pkg/manager/testdata/cdwp_with_ephemeral_storage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinity_regular.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinityheadless.golden
Due: components-ws-manager-app

[ws-manager] Do not schedule on experimental nodes
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

[ws-manager-mk2] Schedule on experimental nodes
  components/ws-manager-mk2/controllers/create.go
Due: none

Adding a findById() to AuthProviderEntryDB
  components/gitpod-db/src/auth-provider-entry-db.ts
  components/gitpod-db/src/typeorm/auth-provider-entry-db-impl.ts
Due: none

Adjust logic to account for orgs
  components/server/src/auth/auth-provider-service.ts
Due: none

Rename ownerId => userId for clarity
  components/server/src/auth/auth-provider-service.ts
  components/server/src/auth/login-completion-handler.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
