Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

loadgen: Slight README improvement.
  dev/loadgen/README.md
Due: dev-loadgen-app

[server] Don't redirect to sorry on unrecognized login errors
  components/server/src/auth/generic-auth-provider.ts
Due: none

[dashboard] Show workspace class in admin view
  components/dashboard/src/admin/WorkspaceDetail.tsx
Due: components-dashboard-app

Use actual date
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

[code] don't report empty vscode extensions as error
  components/ide/code/codehelper/main.go
Due: none

[installer]: add mysql backup annotations
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/third_party/charts/mysql/values.yaml
Due: none

[dashboard] allow to open desktop links on app domain
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

[supervisor-frontend] redirect to desktop IDE on gitpod.io domain
  components/supervisor/frontend/src/ide/heart-beat.ts
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-supervisor-app

[server] Mark instances whose image build failed as "stopped"
  components/server/src/workspace/workspace-starter.ts
Due: none

ws-daemon: ignore error when workspace persistent state location not exist
  components/ws-daemon/pkg/internal/session/workspace.go
Due: components-ws-daemon-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[bridge] Return instances preventing deregistration
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

ws-manager: Fix consistency of disposed ws between ws-daemon and ws-manager
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Increase results per page to 50
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

Update components/server/src/workspace/workspace-starter.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[server] fix using snapshotBucketId when it is undefined or empty
  components/server/src/workspace/workspace-starter.ts
Due: none

removed vscode java pack
  .gitpod.yml
Due: none

[kots]: add useful links to the KOTS dashboard
  install/kots/manifests/kots-links.yaml
Due: none

[kots]: add backup labels to the cert-manager certificate
  install/kots/manifests/gitpod-certificate.yaml
Due: none

[kots]: enable backup option on KOTS
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-backup.yaml
Due: none

[kots] validate config in pre-flight check
  .werft/jobs/build/build-and-publish.ts
  install/kots/manifests/kots-preflight.yaml
Due: none

[dashboard] Make team billing settings accessible only to team owners
  components/dashboard/src/teams/TeamBilling.tsx
Due: components-dashboard-app

debug: check with patching
  install/kots/manifests/kots-preflight.yaml
Due: none

move config_patch under a if clause
  install/kots/manifests/kots-preflight.yaml
Due: none

move into a common file
  install/installer/BUILD.yaml
  install/installer/patch_from_config.sh
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-preflight.yaml
Due: none

[dashboard] Don't forcefully set spending limit to '1' when the input is empty
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

[dashboard] Fix <input type="number"> style for dark theme
  components/dashboard/src/index.css
Due: components-dashboard-app

feat(supervisor): add top service
  components/supervisor/pkg/supervisor/services.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/supervisor/pkg/supervisor/top.go
  components/supervisor/pkg/supervisor/top_test.go
Due: components-supervisor-app

[server] Treat "no CostCenter found" the same as "spending limit reached"
  components/server/ee/src/billing/billing-service.ts
  components/server/src/user/user-service.ts
Due: none

[server] BillingMode: Only paid UBP team seats are "greedy"
  components/gitpod-protocol/src/billing-mode.ts
  components/server/ee/src/billing/billing-mode.spec.db.ts
  components/server/ee/src/billing/billing-mode.ts
Due: none

[server] Add test case for cancelled old TeamSubscription
  components/server/ee/src/billing/billing-mode.spec.db.ts
Due: none
