Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Fix
  components/ide/code/BUILD.yaml
  components/ide/code/leeway.Dockerfile
  components/ide/code/leeway.nightly.Dockerfile
Due: none

Add instance id to log context
  components/server/src/workspace/workspace-service.ts
Due: none

Remove filtering for only non-running workspaces
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
Due: none

Don't report `supervisor_check_ready` unless the FF is enabled (#20292)
  components/supervisor/frontend/src/ide/supervisor-service-client.ts
Due: components-supervisor-app

1
  components/registry-facade/cmd/setup.go
  dev/preview/infrastructure/preview.tf
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/config/v1/experimental/experimental.go
  local-preview/README.md
  local-preview/coredns-custom.yaml
  local-preview/gitpod.config.yaml
  local-preview/k3d.yaml
  local-preview/setup.sh
  local-preview/trust-manager.yaml
  local-preview/update.sh
Due: components-registry-facade-app

idmap
  components/workspacekit/cmd/rings.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/go/workspace_daemon_grpc.pb.go
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon-api/workspace_daemon.proto
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/pkg/iws/iws.go
Due: components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-app

update for current devcontainer
  local-preview/README.md
Due: none

Update code commit with node 18 patch
  WORKSPACE.yaml
Due: none

[vscode] Fix code dockerfile (#20286)
  WORKSPACE.yaml
  components/ide/code/leeway.Dockerfile
Due: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[code] update code image layers (#20302)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

update index
  install/installer/leeway.Dockerfile
Due: none

Make env retrieval consistent in supervisor config
  components/supervisor/pkg/supervisor/config.go
Due: components-supervisor-app

Fix broken docs link in dashboard
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

Provide a nicer image build failed message (#20281)
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-dashboard-app, components-supervisor-app

update index (#20297)
  install/installer/leeway.Dockerfile
Due: none

[ws-gc] WS soft deletion improvements (#20271)
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/src/config.ts
  components/server/src/jobs/workspace-gc.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[VS Code Browser] Build stable code `1.94.2` (#20294)
  WORKSPACE.yaml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#20303)
  README.md
Due: none

[VS Code Browser] Update stable code to `1.94.2`
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[VS Code Browser] Update stable code to `1.94.2` (#20304)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

fix: avoid accessing null value
  components/public-api/typescript-common/src/public-api-converter.ts
Due: none

fix: avoid accessing null value (#20305)
  components/public-api/typescript-common/src/public-api-converter.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

update index (#20307)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Fix code dockerfile
  components/ide/code/leeway.Dockerfile
Due: none

Fix code dockerfile (#20308)
  components/ide/code/leeway.Dockerfile
Due: none

Fix stable code build
  .github/workflows/code-build.yaml
  components/ide/code/leeway.nightly.Dockerfile
Due: none

update leeway dep
  components/ide/code/BUILD.yaml
Due: none

Fix stable code build (#20310)
  .github/workflows/code-build.yaml
  components/ide/code/BUILD.yaml
  components/ide/code/leeway.nightly.Dockerfile
Due: none

[JetBrains] Update IDE images to new build version (#20293)
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
