Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Autofix: trailing-spaces
  components/dashboard/src/icons/dataops-dark.svg
  components/dashboard/src/icons/dataops-light.svg
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  dev/image/Dockerfile
Due: none

remove repetitive words
  components/gitpod-db/go/cost_center.go
  components/registry-facade/pkg/registry/registry.go
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager-mk2/service/manager.go
  dev/preview/ssh-vm.sh
  test/tests/components/ws-manager/prebuild_test.go
Due: components-registry-facade-app, components-ws-daemon-app

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.14494-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

update tests real quick
  components/server/src/scm/scm-service.ts
  components/server/src/workspace/suggested-repos-sorter.spec.ts
  components/server/src/workspace/suggested-repos-sorter.ts
Due: none

Figure stuff out
  components/server/src/workspace/suggested-repos-sorter.spec.ts
  components/server/src/workspace/suggested-repos-sorter.ts
Due: none

💄
  components/server/src/api/scm-service-api.ts
Due: none

[proxy] add a liveness check
  install/installer/pkg/components/proxy/deployment.go
Due: none

Move liveness check to `kube-rbac-proxy` container
  install/installer/pkg/components/proxy/deployment.go
Due: none

Nope, it belongs on the proxy container, which hosts its own liveness check
  install/installer/pkg/components/proxy/deployment.go
Due: none

improve grafana query
  operations/observability/mixins/IDE/rules/supervisor.yaml
Due: none

Revert ordering to keep things stable
  components/public-api/gitpod/v1/scm.proto
  components/public-api/go/v1/scm.pb.go
  components/public-api/typescript/src/gitpod/v1/scm_pb.ts
Due: none

[server] reduce false positive alerting
  operations/observability/mixins/meta/rules/server.yaml
Due: none

[server] reduce false positive alerting (#19539)
  operations/observability/mixins/meta/rules/server.yaml
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.14494-EAP-CANDIDATE-SNAPSHOT (#19523)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Fix configuration input with preset value
  components/dashboard/src/prebuilds/configuration-input/ConfigurationInput.tsx
Due: components-dashboard-app

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

update index (#19520)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Update Platform Version of JetBrains Gateway Plugin (EAP) to 241.14494-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

[preview env] remove harvester dependency
  dev/preview/infrastructure/modules/gce/outputs.tf
  dev/preview/infrastructure/modules/gce/provider.tf
  dev/preview/infrastructure/modules/gce/proxy.tf
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/cloudinit.yaml
  dev/preview/infrastructure/modules/harvester/lb.tf
  dev/preview/infrastructure/modules/harvester/outputs.tf
  dev/preview/infrastructure/modules/harvester/provider.tf
  dev/preview/infrastructure/modules/harvester/svc.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/modules/harvester/vm.tf
  dev/preview/infrastructure/namespace.tf
  dev/preview/infrastructure/outputs.tf
  dev/preview/infrastructure/preview.tf
  dev/preview/infrastructure/provider.tf
  dev/preview/infrastructure/svc.tf
  dev/preview/infrastructure/variables.tf
  dev/preview/previewctl/cmd/access.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/list_previews.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s.go
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s_test.go
  dev/preview/previewctl/pkg/preview/context.go
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/status.go
  dev/preview/ssh-vm.sh
  dev/preview/util/ssh-proxy-command.sh
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Fix handling multiple repos with same context URL (#19518)
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/suggested-repositories-query.ts
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
  components/dashboard/src/prebuilds/list/RunPrebuildModal.tsx
  components/dashboard/src/projects/create-project-modal/CreateProjectModal.tsx
  components/dashboard/src/repositories/create/AddRepositoryModal.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/public-api/gitpod/v1/scm.proto
  components/public-api/go/v1/scm.pb.go
  components/public-api/typescript/src/gitpod/v1/scm_pb.ts
  components/server/src/api/scm-service-api.ts
  components/server/src/scm/scm-service.ts
  components/server/src/workspace/suggested-repos-sorter.spec.ts
  components/server/src/workspace/suggested-repos-sorter.ts
Due: components-dashboard-app

[obs] temporarily reduce alert frequency
  operations/observability/mixins/workspace/rules/satellite/workspaces.yaml
Due: none

[obs] temporarily reduce alert frequency (#19545)
  operations/observability/mixins/workspace/rules/satellite/workspaces.yaml
Due: none

[preview env] remove harvester dependency (#19543)
  dev/preview/infrastructure/modules/gce/outputs.tf
  dev/preview/infrastructure/modules/gce/provider.tf
  dev/preview/infrastructure/modules/gce/proxy.tf
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/harvester/cloudinit.yaml
  dev/preview/infrastructure/modules/harvester/lb.tf
  dev/preview/infrastructure/modules/harvester/outputs.tf
  dev/preview/infrastructure/modules/harvester/provider.tf
  dev/preview/infrastructure/modules/harvester/svc.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/modules/harvester/vm.tf
  dev/preview/infrastructure/namespace.tf
  dev/preview/infrastructure/outputs.tf
  dev/preview/infrastructure/preview.tf
  dev/preview/infrastructure/provider.tf
  dev/preview/infrastructure/svc.tf
  dev/preview/infrastructure/variables.tf
  dev/preview/previewctl/cmd/access.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/list_previews.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s.go
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s_test.go
  dev/preview/previewctl/pkg/preview/context.go
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/status.go
  dev/preview/ssh-vm.sh
  dev/preview/util/ssh-proxy-command.sh
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Fix papi failed to convert with wsi.conditions undefined
  components/public-api/typescript-common/src/public-api-converter.ts
Due: none

Respond bad_request with reserved env var name prefix `GITPOD_`
  components/gitpod-protocol/src/protocol.ts
  components/server/src/user/env-var-service.ts
Due: none

Fix configuration input with preset value (#19538)
  components/dashboard/src/prebuilds/configuration-input/ConfigurationInput.tsx
Due: components-dashboard-app

Make sure to refetch ws ctx after `AuthorizeGit`
  components/dashboard/src/components/AuthorizeGit.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

fix up continue buttons
  components/dashboard/src/components/AuthorizeGit.tsx
Due: components-dashboard-app

[dashboard] update login screen and autostart
  components/dashboard/src/Login.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Make sure to refetch ws ctx after `AuthorizeGit` (#19548)
  components/dashboard/src/components/AuthorizeGit.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[dashboard] update login screen and autostart (#19551)
  components/dashboard/src/Login.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Add pin editor version
  components/dashboard/src/components/IdeOptions.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/gitpod-protocol/src/ide-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/ide-service.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/util/objects.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: components-dashboard-app

Put version pinning behind feature flag
  components/dashboard/src/components/IdeOptions.tsx
  components/dashboard/src/data/featureflag-query.ts
Due: components-dashboard-app

:lipstick:
  components/dashboard/src/components/IdeOptions.tsx
Due: components-dashboard-app

Add pin icon
  components/dashboard/src/components/IdeOptions.tsx
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
