Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[server] Handle prebuild workspace classes
  components/server/src/workspace/workspace-classes.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[server] Make class selection testable
  components/server/src/workspace/workspace-classes.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Change mount flag from --bind to --rbind
  components/ws-daemon/pkg/content/initializer.go
Due: components-ws-daemon-app

[kots]: fix typo which meant wasn't using the appSlug in config collect
  install/kots/manifests/kots-support-bundle.yaml
Due: none

[server] Ensure workspace class gets persisted
  components/server/src/workspace/workspace-starter.ts
Due: none

[dashboard] Block UI based on BillingMode
  components/dashboard/src/Menu.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/settings/Plans.tsx
  components/dashboard/src/settings/Teams.tsx
  components/dashboard/src/settings/settings-menu.ts
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/TeamUsage.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
  components/dashboard/src/user-context.tsx
Due: components-dashboard-app

[dashboard] Fix setting of BillingMode in UserContext
  components/dashboard/src/user-context.tsx
Due: components-dashboard-app

[server] Guard calculation of BillingMode by new FF "isBillingModeEnabled"
  components/server/ee/src/billing/billing-mode.spec.db.ts
  components/server/ee/src/billing/billing-mode.ts
Due: none

[server] Fix and improve BillingMode and test
  components/gitpod-protocol/src/billing-mode.ts
  components/server/ee/src/billing/billing-mode.spec.db.ts
  components/server/ee/src/billing/billing-mode.ts
Due: none

[server] Enforce that Chargebee/Stripe API is only usable with the respective BillingMode
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

improved issuer name and ssh gateway help texts
  install/kots/manifests/kots-config.yaml
Due: none

improved cluster issuer and SSH gateway help texts
  install/kots/manifests/kots-config.yaml
Due: none

[dashboard] Fix setting of team BillingMode
  components/dashboard/src/Menu.tsx
  components/dashboard/src/settings/settings-menu.ts
Due: components-dashboard-app

[server] Always allow Chargebee portal API calls, even for usage-based users
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[server] Simplify class selection
  components/server/src/workspace/workspace-classes.spec.ts
  components/server/src/workspace/workspace-classes.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[installer]: refactor yq to allow it run scripts against strings
  install/installer/pkg/postprocess/postprocess.go
  install/installer/pkg/yq/yq.go
Due: none

[installer]: refactor config loader to use yq to remove apiVersion
  install/installer/pkg/config/loader.go
Due: none

[common-go] Remove unused WorkspaceSupervisorEndpoint helper
  components/common-go/kubernetes/kubernetes.go
Due: components-common-go-lib

[changelog] updated changelog
  CHANGELOG.md
Due: none

Add clone3 to seccomp profile syscalls
  components/docker-up/dependencies.sh
  components/docker-up/docker-up/main.go
  components/docker-up/go.mod
  components/docker-up/go.sum
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Update the alert description unit
  operations/observability/mixins/meta/rules/components/server/alerts.libsonnet
Due: none

Autofix: trailing-spaces
  components/ide-proxy/static/image/ide-logo/vscodeInsiders.svg
  components/image-builder-api/typescript/src/imgbuilder_pb.d.ts
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Control.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Notification.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Port.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/TerminalOuterClass.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Token.java
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.d.ts
  dev/jetbrains-test/gradlew.bat
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/scripts/README.md
Due: none

ws-daemon: enhance log
  components/ws-daemon/pkg/internal/session/workspace.go
Due: components-ws-daemon-app

Add placeholder implementation of FinalizeInvoice
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/apiv1/billing_test.go
Due: none

Send valid payloads for stripe events
  components/public-api-server/pkg/webhooks/stripe_test.go
Due: none

Extract and log invoiceId in webhook
  components/public-api-server/pkg/webhooks/stripe.go
Due: none

[installer]: remove the custom labels from the selector labels
  install/installer/cmd/testdata/render/customization/config.yaml
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/pkg/components/agent-smith/daemonset.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/dashboard/deployment.go
  install/installer/pkg/components/database/cloudsql/deployment.go
  install/installer/pkg/components/ide-metrics/deployment.go
  install/installer/pkg/components/ide-proxy/deployment.go
  install/installer/pkg/components/image-builder-mk3/deployment.go
  install/installer/pkg/components/openvsx-proxy/statefulset.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/usage/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/components/ws-manager/deployment.go
  install/installer/pkg/components/ws-proxy/deployment.go
Due: none

Allow unknown fields in public-api-server config
  components/public-api-server/cmd/root.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
