Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

add unique key to track auth callbacks in client, and check event origin
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[test] add test for xfs quotas
  test/pkg/integration/disk-client.go
  test/tests/workspace/disk_test.go
Due: none

add support to forward https protocol port
  components/gitpod-protocol/data/gitpod-schema.json
  components/gitpod-protocol/go/gitpod-config-types.go
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor-api/go/status.pb.go
  components/supervisor-api/status.proto
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/ports/exposed-ports.go
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/serverapi/publicapi.go
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/service/manager.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/proxy/routes.go
Due: components-gitpod-protocol-go-lib, components-supervisor-app, components-supervisor-api-go-lib, components-ws-manager-bridge-app, components-ws-manager-app

fix
  components/server/src/auth/generic-auth-provider.ts
Due: none

fix
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
Due: none

[papi] Remove rogue print from PAT tests
  components/public-api-server/pkg/auth/personal_access_token_test.go
Due: none

fix
  components/gitpod-db/src/typeorm/webhook-event-db-impl.ts
Due: none

Initial commit of the scrubber
  components/scrubber/BUILD.yaml
  components/scrubber/README.md
  components/scrubber/config.go
  components/scrubber/go.mod
  components/scrubber/go.sum
  components/scrubber/sanitisation.go
  components/scrubber/sanitisation_test.go
  components/scrubber/scrubber.go
Due: none

Add basic example
  components/scrubber/example_test.go
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 232.5150-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Fix
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
Due: none

updating link
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
Due: components-dashboard-app

updating link (#17666)
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
Due: components-dashboard-app

wip placeholder
  components/server/src/user/user-controller.ts
Due: none

Make it works
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/common/GitpodConnectionHandleFactory.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/latest/GitpodConnectionHandle.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/stable/GitpodConnectionHandle.kt
  components/ide/jetbrains/gateway-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/gateway-plugin/src/main/resources-stable/META-INF/extensions.xml
Due: none

Update components/ws-proxy/pkg/proxy/routes.go
  components/ws-proxy/pkg/proxy/routes.go
Due: none

[JetBrains] Update Platform Version from JetBrains Gateway Plugin (EAP) (#17601)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/common/GitpodConnectionHandleFactory.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/latest/GitpodConnectionHandle.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/stable/GitpodConnectionHandle.kt
  components/ide/jetbrains/gateway-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/gateway-plugin/src/main/resources-stable/META-INF/extensions.xml
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.5150-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
Due: none

fixing unstable ctx values and adding lint rule
  components/dashboard/.eslintrc.js
  components/dashboard/src/admin-context.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/projects/project-context.tsx
Due: components-dashboard-app

adding addressable error pages and expired ots page
  .pre-commit-config.yaml
  components/dashboard/BUILD.yaml
  components/dashboard/src/App.tsx
  components/dashboard/src/error-pages/DefaultError.tsx
  components/dashboard/src/error-pages/ErrorPageLayout.tsx
  components/dashboard/src/error-pages/ErrorPages.tsx
  components/dashboard/src/error-pages/ExpiredOTS.tsx
  components/dashboard/src/images/404.webp
  components/dashboard/src/images/404@2x.webp
  components/dashboard/src/images/cubicle-dark.png
  components/dashboard/src/images/cubicle-dark.webp
  components/dashboard/src/images/cubicle-dark@2x.png
  components/dashboard/src/images/cubicle-dark@2x.webp
  components/dashboard/src/images/cubicle.png
  components/dashboard/src/images/cubicle.webp
  components/dashboard/src/images/cubicle@2x.png
  components/dashboard/src/images/cubicle@2x.webp
  components/dashboard/src/index.tsx
  components/dashboard/src/login/SetupPending.tsx
  components/server/src/user/user-controller.ts
Due: components-dashboard-app

fixing unstable ctx values and adding lint rule (#17668)
  components/dashboard/.eslintrc.js
  components/dashboard/src/admin-context.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/projects/project-context.tsx
Due: components-dashboard-app

typo in url
  components/server/src/user/user-controller.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.5150-EAP-CANDIDATE-SNAPSHOT (#17616)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[JetBrains] Update IDE images to new build version (#17665)
  WORKSPACE.yaml
Due: none

Add support to forward https protocol port (#17644)
  components/gitpod-protocol/data/gitpod-schema.json
  components/gitpod-protocol/go/gitpod-config-types.go
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor-api/go/status.pb.go
  components/supervisor-api/status.proto
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/ports/exposed-ports.go
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/serverapi/publicapi.go
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/service/manager.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/proxy/routes.go
Due: components-gitpod-protocol-go-lib, components-supervisor-app, components-supervisor-api-go-lib, components-ws-manager-bridge-app, components-ws-manager-app

Fix
  components/gitpod-db/src/typeorm/webhook-event-db-impl.ts
Due: none

More unit tests and sanitisation
  components/scrubber/config.go
  components/scrubber/sanitisation.go
  components/scrubber/sanitisation_test.go
  components/scrubber/scrubber.go
  components/scrubber/scrubber_test.go
Due: none

Fix email regexp
  components/scrubber/config.go
  components/scrubber/scrubber_test.go
Due: none

Add basic benchmarks
  components/scrubber/scrubber_test.go
Due: none

[server] Try using passport-jwt
  components/server/package.json
  components/server/src/auth/authenticator.ts
  yarn.lock
Due: none

[papi] Remove rogue print from PAT tests (#17663)
  components/public-api-server/pkg/auth/personal_access_token_test.go
Due: none

[server] Delete webhook events directly (#17650)
  components/gitpod-db/src/typeorm/webhook-event-db-impl.ts
  components/gitpod-db/src/webhook-event-db.spec.db.ts
Due: none

Support all scrubbing functions
  components/scrubber/go.mod
  components/scrubber/go.sum
  components/scrubber/scrubber.go
  components/scrubber/scrubber_test.go
Due: none

Fix module path
  components/scrubber/go.mod
Due: none

Add scrubber to codeowners file
  .github/CODEOWNERS
Due: none
