Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Frictionless login for dedicated
  components/dashboard/src/Login.tsx
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/provider-utils.tsx
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_test.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: components-dashboard-app

[dashboard] make featureflag access a query (#17428)
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/index.tsx
  components/dashboard/src/onboarding/StepUserInfo.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

fix
  components/server/src/container-module.ts
  components/server/src/jobs/database-gc.ts
  components/server/src/jobs/ots-gc.ts
  components/server/src/one-time-secret-server.ts
  components/server/src/server.ts
Due: none

fix
  components/server/src/jobs/job.ts
Due: none

fix
  components/server/src/jobs/database-gc.ts
  components/server/src/server.ts
Due: none

[wsman-mk2] Log reconcilliations
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: components-ws-daemon-app

remove multi-bind
  components/server/src/container-module.ts
  components/server/src/jobs/job.ts
Due: none

fix
  components/server/src/container-module.ts
  components/server/src/jobs/database-gc.ts
  components/server/src/jobs/ots-gc.ts
  components/server/src/jobs/runner.ts
  components/server/src/jobs/token-gc.ts
  components/server/src/jobs/webhook-gc.ts
  components/server/src/jobs/workspace-gc.ts
  components/server/src/server.ts
Due: none

[server] don't run migration for
  components/gitpod-db/src/typeorm/user-db-impl.ts
  components/gitpod-db/src/user-to-team-migration-service.ts
  components/server/src/user/user-service.ts
Due: none

fix
  components/server/src/container-module.ts
Due: none

fix
  install/installer/go.mod
  install/installer/go.sum
Due: none

fix
  .gitignore
  components/usage/cmd/run.go
  components/usage/pkg/scheduler/job.go
  components/usage/pkg/scheduler/job_test.go
  components/usage/pkg/scheduler/ledger_job.go
  components/usage/pkg/scheduler/mutex.go
  components/usage/pkg/scheduler/mutex_test.go
  components/usage/pkg/scheduler/reset_usage_job.go
  components/usage/pkg/server/server.go
  install/installer/pkg/components/redis/networkpolicy.go
  install/installer/pkg/components/usage/configmap.go
  install/installer/pkg/components/usage/configmap_test.go
Due: none

Fix
  install/installer/go.mod
  install/installer/go.sum
Due: none

Fix
  components/usage/cmd/run.go
Due: none

fix
  components/usage/go.mod
  components/usage/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

Comment out test to see if testcointer breaks CI
  components/usage/go.mod
  components/usage/go.sum
  components/usage/pkg/scheduler/mutex_test.go
  install/installer/go.mod
  install/installer/go.sum
Due: none

[dashboard] Remove cypress
  components/dashboard/README.md
  components/dashboard/cypress.json
  components/dashboard/cypress/fixtures/example.json
  components/dashboard/cypress/fixtures/profile.json
  components/dashboard/cypress/fixtures/users.json
  components/dashboard/cypress/integration/app.spec.ts
  components/dashboard/cypress/plugins/index.js
  components/dashboard/cypress/support/commands.js
  components/dashboard/cypress/support/index.js
  components/dashboard/cypress/tsconfig.json
  components/dashboard/package.json
  yarn.lock
Due: components-dashboard-app

fix
  components/usage/go.mod
  components/usage/go.sum
  components/usage/pkg/scheduler/mutex_test.go
Due: none

fix
  install/installer/go.sum
Due: none

add ctx to func
  components/usage/pkg/scheduler/ledger_job.go
  components/usage/pkg/scheduler/mutex.go
  components/usage/pkg/scheduler/mutex_test.go
  components/usage/pkg/scheduler/reset_usage_job.go
Due: none

Normalize log in and log out verbs
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/teams/sso/OIDCClientListItem.tsx
Due: components-dashboard-app

fix
  components/server/src/jobs/runner.ts
Due: none

[ws-manager-mk2] Run e2e tests against mk2 by default
  test/README.md
  test/pkg/integration/setup.go
Due: none

workflow
  .github/workflows/workspace-integration-tests.yml
Due: none

[dashboard] simplify API for useFeatureFlag
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/onboarding/StepUserInfo.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Normalize log in and log out verbs (#17438)
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/teams/sso/OIDCClientListItem.tsx
Due: components-dashboard-app

[dashboard] simplify API for useFeatureFlag (#17440)
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/onboarding/StepUserInfo.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

updating getting started view
  components/dashboard/src/DedicatedOnboarding.tsx
Due: components-dashboard-app

building out dedicated onboarding layout
  components/dashboard/src/App.tsx
  components/dashboard/src/DedicatedOnboarding.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/dashboard/src/components/typography/headings.tsx
  components/dashboard/src/dedicated-onboarding/DedicatedOnboarding.tsx
  components/dashboard/src/dedicated-onboarding/styles.css
  components/dashboard/src/hooks/use-check-dedicated-onboarding.ts
  components/dashboard/src/hooks/use-query-param.ts
  components/dashboard/src/icons/honeycomb-bg.svg
Due: components-dashboard-app

use hook
  components/dashboard/src/app/AppRoutes.tsx
Due: components-dashboard-app

Shift blocking setup/onboarding flows into component
  components/dashboard/src/App.tsx
  components/dashboard/src/app/AppBlockingFlows.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/dedicated-setup/DedicatedSetup.tsx
  components/dashboard/src/dedicated-setup/styles.css
  components/dashboard/src/hooks/use-check-dedicated-setup.ts
Due: components-dashboard-app

removing unused import
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

update comment
  components/dashboard/src/hooks/use-check-dedicated-setup.ts
Due: components-dashboard-app

more comments
  components/dashboard/src/app/AppBlockingFlows.tsx
Due: components-dashboard-app

remove console.log
  components/dashboard/src/app/AppBlockingFlows.tsx
Due: components-dashboard-app

remove auth providers from check, will replace w/ backend call once ready
  components/dashboard/src/App.tsx
  components/dashboard/src/hooks/use-check-dedicated-setup.ts
Due: components-dashboard-app

only show dedicated setup if query param is set for now
  components/dashboard/src/hooks/use-check-dedicated-setup.ts
Due: components-dashboard-app

shift user migration page into AppBlockingFlows
  components/dashboard/src/App.tsx
  components/dashboard/src/app/AppBlockingFlows.tsx
Due: components-dashboard-app
