Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

export cel error message
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
Due: none

:lipstick: dashboard
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
Due: components-dashboard-app

[VS Code Browser] Update stable code to `1.92.0`
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[VS Code Browser] Update stable code to `1.92.0` (#20084)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

chore: Update workspace last active time tooltip
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Due: components-dashboard-app

address internal docs repository
  docs/README.md
Due: none

Revert "Switch code nightly job to `1.92` (#20070)"
  .github/workflows/code-nightly.yml
Due: none

Revert "Switch code nightly job to `1.92` (#20070)" (#20088)
  .github/workflows/code-nightly.yml
Due: none

improve error
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
Due: none

nit doc
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
Due: components-dashboard-app

[dashboard] Remove `Beta` Label from Gitpod Access Tokens
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

address internal docs repository (#20087)
  docs/README.md
Due: none

[dashboard] Remove `Beta` Label from Gitpod Access Tokens (#20089)
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

chore: Update workspace last active time tooltip (#20086)
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Due: components-dashboard-app

Support validate `claims` with CEL expr for SSO (#20083)
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
  components/gitpod-db/go/oidc_client_config.go
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
  components/public-api/gitpod/experimental/v1/oidc.proto
  components/public-api/go/experimental/v1/oidc.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Oidc.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
Due: components-dashboard-app

[prebuilds, workspace-gc] Fix and add tests for not showing soft-deleted prebuilds anymore
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/src/jobs/workspace-gc.ts
Due: none

[workspace-gc] Add more explanatory comments
  components/server/src/jobs/workspace-gc.ts
Due: none

Add PKCE support for OIDC
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
  components/gitpod-db/go/oidc_client_config.go
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api/gitpod/experimental/v1/oidc.proto
  components/public-api/go/experimental/v1/oidc.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Oidc.java
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
Due: components-dashboard-app

Apply suggestions from code review
  components/server/src/jobs/workspace-gc.ts
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Add PKCE support for OIDC (#20094)
  components/dashboard/src/dedicated-setup/SSOSetupStep.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/SSOConfigForm.tsx
  components/gitpod-db/go/oidc_client_config.go
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api/gitpod/experimental/v1/oidc.proto
  components/public-api/go/experimental/v1/oidc.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Oidc.java
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
Due: components-dashboard-app

[prebuilds, workspace-gc] Fix and add tests for not showing soft-dele… (#20093)
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/src/jobs/workspace-gc.ts
Due: none

update index (#20092)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[json-rpc] Fix encoding of watchImageBuildLogs data to number[]
  components/dashboard/src/components/PrebuildLogs.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/headless-log-controller.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

[dashboard] Fix "workspaceId is required" errors
  components/dashboard/src/data/workspaces/default-workspace-image-query.ts
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

Review suggestions
  components/server/src/workspace/workspace-service.ts
Due: none

[dashboard, server] Fix streaming of image build logs (#20095)
  components/dashboard/src/components/PrebuildLogs.tsx
  components/dashboard/src/data/workspaces/default-workspace-image-query.ts
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/headless-log-controller.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

[server] First tests for WorkspaceFactory
  components/server/src/prebuilds/incremental-workspace-service.ts
  components/server/src/workspace/workspace-factory.spec.db.ts
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

update index (#20097)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

more tests
  components/server/src/workspace/workspace-factory.spec.db.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[server] Add a bit more logging on workspace start
  components/server/src/workspace/workspace-service.ts
Due: none

Generated code
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
Due: none

Organization timeout defaults proto
  components/public-api/gitpod/v1/organization.proto
Due: none

Add timeout setting UI
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Implement TimeoutSettings on the API layer
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1723148483807-AddOrgTimeoutSettings.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/user/user-service.ts
Due: components-dashboard-app

Actually change default workspace timeout based on org settings
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Add alert for free plans
  components/dashboard/src/data/billing-mode/org-billing-mode-query.ts
  components/dashboard/src/data/billing/paid-plan-query.ts
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
