Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

Add a test for the UsageReportService
  components/content-service/pkg/service/usage-report-service_test.go
  components/content-service/pkg/service/usagereport-service.go
Due: components-content-service-app

Add usagereport service
  components/content-service/cmd/run.go
  components/content-service/pkg/service/usagereport-service.go
Due: components-content-service-app

Run ./generate.sh
  components/content-service-api/go/usage.pb.go
  components/content-service-api/go/usage_grpc.pb.go
  components/content-service-api/typescript/src/usage_grpc_pb.d.ts
  components/content-service-api/typescript/src/usage_grpc_pb.js
  components/content-service-api/typescript/src/usage_pb.d.ts
  components/content-service-api/typescript/src/usage_pb.js
  components/gitpod-protocol/src/wsready.ts
Due: none

[local-preview] Nudge for next steps after exit
  install/preview/entrypoint.sh
  install/preview/leeway.Dockerfile
  install/preview/prettylog/main.go
Due: none

[usage] ListBilledUsage allows to specify ordering
  components/usage-api/buf.yaml
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
Due: none

add a fail into the certificate issue function
  .werft/util/certs.ts
Due: none

Add a delete cert into the loop
  .werft/util/certs.ts
Due: none

Add "spending limit is reached" notification
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Show app-level notifications on dashboard
  components/dashboard/src/App.tsx
  components/dashboard/src/AppNotifications.tsx
  components/dashboard/src/components/Alert.tsx
Due: components-dashboard-app

Refactor Manager StartWorkspace
  components/ws-manager-api/typescript/src/promisified-client.ts
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Attempt to produce SQL queries instead
  components/authorizer/cmd/dbgen/builder.go
  components/authorizer/cmd/dbgen/builder_test.go
  components/authorizer/cmd/dbgen/generated_test.go
  components/authorizer/cmd/dbgen/main.go
  components/authorizer/cmd/dbgen/main_test.go
  components/authorizer/go.mod
  components/authorizer/go.sum
  components/authorizer/pkg/dbgen/dbgen.go
  components/authorizer/pkg/executor/query.go
Due: none

[usage] By default sort results descending
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

[usage] Fix usage query
  components/usage/pkg/db/workspace_instance_usage.go
  components/usage/pkg/db/workspace_instance_usage_test.go
Due: none

[ws-manager] Only build snapshots of initialized/ready workspaces
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Remove config for cpu bucket limiting
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/jobs/build/helm/values.variant.cpuLimits.yaml
  .werft/jobs/build/installer/installer.ts
  .werft/jobs/build/job-config.ts
Due: none

[server] Never set User.usageAttribution automatically
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[usage] Implement ordering
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/apiv1/usage_test.go
  components/usage/pkg/db/workspace_instance_usage.go
Due: none

[usage] Rename reconciler to usage
  components/usage/pkg/controller/controller.go
  components/usage/pkg/controller/usage.go
  components/usage/pkg/controller/usage_test.go
Due: none

[terraform] update the disk size in eks module
  install/infra/terraform/eks/kubernetes.tf
Due: none

[agent-smith] Add details from the workspace that triggered the block of the account
  components/ee/agent-smith/pkg/agent/actions.go
  components/ee/agent-smith/pkg/agent/agent.go
Due: components-ee-agent-smith-app

Auto-generated DB queries work now
  components/authorizer/cmd/dbgen/builder.go
  components/authorizer/cmd/dbgen/generated_test.go
  components/authorizer/cmd/dbgen/main.go
  components/authorizer/cmd/dbgen/main_test.go
  components/authorizer/pkg/dbgen/generator.go
  components/authorizer/pkg/executor/query.go
Due: none

Add default check case
  components/authorizer/cmd/dbgen/generated_test.go
  components/authorizer/cmd/dbgen/main_test.go
  components/authorizer/pkg/dbgen/generator.go
Due: none

Refactor configuration of localhost address, metric and debug ports
  components/common-go/baseserver/server.go
  install/installer/pkg/common/common.go
  install/installer/pkg/common/common_test.go
  install/installer/pkg/common/constants.go
  install/installer/pkg/common/net.go
  install/installer/pkg/components/agent-smith/configmap.go
  install/installer/pkg/components/agent-smith/constants.go
  install/installer/pkg/components/agent-smith/daemonset.go
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/content-service/constants.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/content-service/objects.go
  install/installer/pkg/components/image-builder-mk3/configmap.go
  install/installer/pkg/components/image-builder-mk3/constants.go
  install/installer/pkg/components/openvsx-proxy/configmap.go
  install/installer/pkg/components/openvsx-proxy/constants.go
  install/installer/pkg/components/openvsx-proxy/service.go
  install/installer/pkg/components/openvsx-proxy/statefulset.go
  install/installer/pkg/components/proxy/constants.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/components/proxy/networkpolicy.go
  install/installer/pkg/components/proxy/service.go
  install/installer/pkg/components/registry-facade/configmap.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/server/constants.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/server/networkpolicy.go
  install/installer/pkg/components/server/objects.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/components/ws-manager/configmap.go
  install/installer/pkg/components/ws-proxy/configmap.go
  install/installer/pkg/components/ws-proxy/constants.go
  install/installer/pkg/components/ws-proxy/deployment.go
  install/installer/pkg/components/ws-proxy/objects.go
Due: components-common-go-lib

Better wording
  components/ws-manager/pkg/manager/annotations.go
Due: components-ws-manager-app

log warn if error happens and is not found error
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Fix missing arguments
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Send event to workspace pod only when pod still exists
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Do not try to mark workspace pod if the pod does not exists
  components/ws-manager/pkg/manager/annotations.go
Due: components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
