Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Update github-token
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

Use the Robo Quat token for creating the PR instead
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

allow to take and check snapshot status when using pvc
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/core_grpc.pb.go
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/manager_ee.go
  components/ws-manager/pkg/manager/manager_oss.go
Due: components-ws-manager-app

Pass github token as an environment variable
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

allow to take and check snapshot status when using pvc
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

Try using a template-workflow for approving the PR using github token
  .github/workflows/auto-approve.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

Fix workflow path
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

[server] snapshots for PVC workspaces
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/snapshot-service.ts
  components/ws-manager-api/typescript/src/promisified-client.ts
Due: none

Temporarily disable werft options
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

[server] snapshots for PVC workspaces (#14503)
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/snapshot-service.ts
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-api/typescript/src/promisified-client.ts
Due: none

Check if ROBOQUAT_REPO_PAT secret is set
  .github/workflows/auto-approve.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

re-generate proto for wsman-api
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

Check if the PAT is being set
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

Check if it works by passing the secrets via the original workflow
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-update-plugin-platform.yml
Due: none

Update Platform Version of JetBrains Backend Plugin to 223.7571-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Add GitHub tokens for creating PR and approving it
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-update-plugin-platform.yml
Due: none

wip
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Increment "builds_done_total" metric
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
Due: none

[pvc] set FSGroupChangePolicy
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

[ssh-proxy] only mark first active when user establish ssh connection
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager/pkg/manager/manager.go
  components/ws-proxy/pkg/sshproxy/forward.go
  components/ws-proxy/pkg/sshproxy/heartbeat.go
  components/ws-proxy/pkg/sshproxy/server.go
Due: components-ws-manager-app

[public-api] Cleanup connection retrieval to reduce duplication
  components/public-api-server/pkg/apiv1/team.go
Due: none

Update code insiders to 1.73.1
  WORKSPACE.yaml
Due: none

Update stable to `1.73`
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Go
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[server] update go api
  components/gitpod-protocol/go/gitpod-service.go
  test/pkg/integration/workspace.go
  test/tests/components/server/server_test.go
Due: components-gitpod-protocol-go-lib

Update test/pkg/integration/workspace.go
  test/pkg/integration/workspace.go
Due: none

[integration-tests] Set VSX_REGISTRY_URL to fix workspace tests
  test/pkg/integration/workspace.go
  test/tests/components/ws-manager/dotfiles_test.go
  test/tests/components/ws-manager/protected_secrets_test.go
Due: none

[server] Remove deprecatedDoWatchWorkspaceImageBuildLogs() - unused
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Fix workspace alerts path
  .werft/observability/manifests/monitoring-satellite.yaml
Due: none

Update .werft/observability/manifests/monitoring-satellite.yaml
  .werft/observability/manifests/monitoring-satellite.yaml
Due: none

[server] Allow setting ws-class on project level
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/dashboard/src/settings/selectClass.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/ee/src/workspace/workspace-starter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-classes.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app
