Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

update golden test results
  components/public-api/typescript-common/fixtures/toPrebuild_1.golden
Due: none

Enable displaying JB warmup tasks in the Prebuilds UI (#19945)
  components/public-api/typescript-common/fixtures/toPrebuild_1.golden
  components/public-api/typescript-common/fixtures/toPrebuild_1.json
  components/public-api/typescript-common/src/public-api-converter.ts
  components/supervisor/pkg/supervisor/config.go
Due: components-supervisor-app

[server] audit log service
  .gitignore
  components/gitpod-db/src/audit-log-db.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/typeorm/audit-log-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-audit-log.ts
  components/gitpod-db/src/typeorm/migration/1718628014741-AddAuditLogs.ts
  components/gitpod-protocol/src/audit-log.ts
  components/public-api/buf.gen.yaml
  components/public-api/gitpod/v1/auditlogs.proto
  components/public-api/go/v1/auditlogs.pb.go
  components/public-api/go/v1/auditlogs_grpc.pb.go
  components/public-api/go/v1/v1connect/auditlogs.connect.go
  components/public-api/go/v1/v1connect/auditlogs.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/AuditLogServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/AuditLogServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Auditlogs.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/auditlogs_connect.ts
  components/public-api/typescript/src/gitpod/v1/auditlogs_pb.ts
  components/server/src/api/audit-log-service-api.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/audit/AuditLogService.spec.db.ts
  components/server/src/audit/AuditLogService.ts
  components/server/src/authorization/definitions.ts
  components/server/src/container-module.ts
  components/server/src/jobs/auditlog-gc.ts
  components/server/src/websocket/websocket-connection-manager.ts
  components/spicedb/schema/schema.yaml
Due: none

[server] audit log service (#19917)
  .gitignore
  components/gitpod-db/src/audit-log-db.ts
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/typeorm/audit-log-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-audit-log.ts
  components/gitpod-db/src/typeorm/migration/1718628014741-AddAuditLogs.ts
  components/gitpod-protocol/src/audit-log.ts
  components/public-api/buf.gen.yaml
  components/public-api/gitpod/v1/auditlogs.proto
  components/public-api/go/v1/auditlogs.pb.go
  components/public-api/go/v1/auditlogs_grpc.pb.go
  components/public-api/go/v1/v1connect/auditlogs.connect.go
  components/public-api/go/v1/v1connect/auditlogs.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/AuditLogServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/AuditLogServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Auditlogs.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/auditlogs_connect.ts
  components/public-api/typescript/src/gitpod/v1/auditlogs_pb.ts
  components/server/src/api/audit-log-service-api.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/audit/AuditLogService.spec.db.ts
  components/server/src/audit/AuditLogService.ts
  components/server/src/authorization/definitions.ts
  components/server/src/container-module.ts
  components/server/src/jobs/auditlog-gc.ts
  components/server/src/websocket/websocket-connection-manager.ts
  components/spicedb/schema/schema.yaml
Due: none

[audit logs] scrub values
  components/server/src/audit/AuditLogService.ts
Due: none

Fix dropped errors on available prebuilds
  components/server/src/messaging/redis-subscriber.ts
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-bridge/src/container-module.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.ts
  components/ws-manager-bridge/src/prebuild-updater.ts
Due: components-ws-daemon-app, components-ws-manager-bridge-app

[audit logs] scrub values (#19966)
  components/server/src/audit/AuditLogService.ts
Due: none

Do not create fuse device if it already exists
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

Fix spacing
  components/ws-manager-bridge/src/prebuild-state-mapper.ts
Due: components-ws-manager-bridge-app

Improve if statement readability
  components/ws-manager-bridge/src/prebuild-state-mapper.ts
Due: components-ws-manager-bridge-app

Add a suite for `ws_manager_bridge_stopped_prebuild_statuses=true`
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
Due: components-ws-manager-bridge-app

comments
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
Due: components-ws-manager-bridge-app

Watch prebuild cleanup
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

Fix dropped errors on available prebuilds (#19967)
  components/server/src/messaging/redis-subscriber.ts
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-bridge/src/container-module.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.ts
  components/ws-manager-bridge/src/prebuild-updater.ts
Due: components-ws-daemon-app, components-ws-manager-bridge-app

Remove extra file change from merge resolve
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
Due: components-ws-manager-bridge-app

Do not send initial `queued` prebuild phase from workspace starter
  components/server/src/workspace/workspace-starter.ts
Due: none

[proxy] treat errors for /analytics as 503
  components/proxy/plugins/analytics/analytics.go
Due: none

Remove old browser extension detection mechanism (#19908)
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Make not found errors task-specific
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/dashboard/src/prebuilds/detail/PrebuildTaskErrorTab.tsx
  components/dashboard/src/prebuilds/detail/PrebuildTaskTab.tsx
Due: components-dashboard-app

Remove suspense where it's not needed
  components/dashboard/src/prebuilds/detail/PrebuildTaskErrorTab.tsx
Due: components-dashboard-app

Update supervisor to use getHostProvider
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/browser/connection.ts
  components/supervisor/frontend/src/ide/ide-web-socket.ts
Due: components-dashboard-app, components-supervisor-app

Only try to connect with ws when tab is activated
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/browser/connection.ts
  components/gitpod-protocol/src/messaging/handler.ts
Due: components-dashboard-app

Add ff to control this feature
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/experiments/flags.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/frontend-dashboard-service.ts
  components/gitpod-protocol/src/messaging/browser/url-provider.ts
  components/supervisor/frontend/src/ide/ide-web-socket.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
Due: components-dashboard-app, components-supervisor-app

move dir
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/browser/connection.ts
  components/gitpod-protocol/src/messaging/browser/url-provider.ts
  components/supervisor/frontend/src/ide/ide-web-socket.ts
Due: components-dashboard-app, components-supervisor-app

Remove VSCode changes
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/frontend-dashboard-service.ts
  components/supervisor/frontend/src/ide/ide-web-socket.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
Due: components-dashboard-app, components-supervisor-app

Add try catch to avoid cross-origin issues
  components/gitpod-protocol/src/messaging/browser/url-provider.ts
Due: none

debug: track event
  components/dashboard/src/Analytics.tsx
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/messaging/browser/url-provider.ts
Due: components-dashboard-app

support log as analytics writter
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

wait only for firefox
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Fix doubled logs
  components/dashboard/src/data/prebuilds/prebuild-logs-emitter.ts
Due: components-dashboard-app

[proxy] treat errors for /analytics as 503 (#19970)
  components/proxy/plugins/analytics/analytics.go
Due: none

Do not send initial `queued` prebuild phase from workspace starter (#19971)
  components/server/src/workspace/workspace-starter.ts
Due: none

Fix tests
  install/installer/pkg/components/auth/config_test.go
  install/installer/pkg/components/public-api-server/configmap_test.go
  install/installer/pkg/components/server/configmap_test.go
Due: none

Use `__Host-` prefix for cookie
  components/server/go/pkg/lib/cookie.go
  components/server/src/session-handler.ts
  components/ws-proxy/pkg/proxy/routes.go
  components/ws-proxy/pkg/proxy/routes_test.go
Due: none

Remove domain from cookie
  components/server/src/session-handler.ts
Due: none

Fix logout
  components/server/src/session-handler.ts
  components/server/src/user/user-controller.ts
Due: none

remove unused fn
  components/server/src/session-handler.ts
Due: none

fix user logout properly
  components/server/src/session-handler.ts
Due: none

[ws-manager-bridge] add update cluster tls config
  components/ws-manager-bridge-api/cluster-service.proto
  components/ws-manager-bridge-api/go/cluster-service.pb.go
  components/ws-manager-bridge-api/go/cluster-service_grpc.pb.go
  components/ws-manager-bridge-api/typescript/src/cluster-service_grpc_pb.d.ts
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.d.ts
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.js
  components/ws-manager-bridge/src/cluster-service-server.ts
  dev/gpctl/cmd/clusters-update.go
Due: components-ws-manager-bridge-app

Update README.md
  README.md
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
