Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Update components/dashboard/src/repositories/detail/general/ConfigurationName.tsx
  components/dashboard/src/repositories/detail/general/ConfigurationName.tsx
Due: components-dashboard-app

Update components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
Due: components-dashboard-app

Apply suggestions from code review
  components/server/src/bitbucket-server/bitbucket-server-token-handler.ts
  components/server/src/bitbucket/bitbucket-token-handler.ts
Due: none

Switch component updates
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/tailwind.config.js
Due: components-dashboard-app

Delete owned user on member removal (#19215)
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/dashboard/src/data/organizations/members-query.ts
  components/dashboard/src/hooks/use-user-loader.ts
  components/dashboard/src/teams/Members.tsx
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.ts
Due: components-dashboard-app

Fix disabled state
  components/dashboard/src/components/podkit/switch/Switch.tsx
Due: components-dashboard-app

update index (#19257)
  install/installer/leeway.Dockerfile
Due: none

Try disabled switch
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
Due: components-dashboard-app

bg ignore state while disabled
  components/dashboard/src/components/podkit/switch/Switch.tsx
Due: components-dashboard-app

Disable bg img while disabled
  components/dashboard/src/components/podkit/switch/Switch.tsx
Due: components-dashboard-app

Remove debug disabled checkbox
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
Due: components-dashboard-app

inset focus ring
  components/dashboard/src/components/InputWithCopy.tsx
Due: components-dashboard-app

Update existing podkit components to use new contextual pk classes (#19256)
  components/dashboard/src/components/InputWithCopy.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/podkit/breadcrumbs/BreadcrumbNav.tsx
  components/dashboard/src/components/podkit/combobox/Combobox.tsx
  components/dashboard/src/components/podkit/dropdown/DropDown.tsx
  components/dashboard/src/components/podkit/dropdown/DropDownActions.tsx
  components/dashboard/src/components/podkit/forms/RadioListField.tsx
  components/dashboard/src/components/podkit/typography/Text.tsx
  components/dashboard/src/components/podkit/typography/TextMuted.tsx
  components/dashboard/src/repositories/detail/general/ConfigurationName.tsx
Due: components-dashboard-app

Update Podkit Typography
  components/dashboard/src/components/podkit/typography/Headings.tsx
  components/dashboard/src/components/typography/headings.tsx
  components/dashboard/tailwind.config.js
Due: components-dashboard-app

Update text comps
  components/dashboard/src/components/podkit/typography/Text.tsx
  components/dashboard/src/components/podkit/typography/TextMuted.tsx
Due: components-dashboard-app

Ensure env var id when doing update
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

normalize repositoryPattern
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

cli: SSH / Opening improvements
  components/local-app/cmd/workspace-open.go
  components/local-app/cmd/workspace-ssh.go
Due: components-local-app-app-linux

Fix args in config setting
  components/local-app/cmd/config-set.go
Due: components-local-app-app-linux

Log opening with URLs
  components/local-app/pkg/helper/workspace.go
Due: components-local-app-app-linux

Remove Copilot notes from PR template
  .github/pull_request_template.md
Due: none

Switch component updates (#19261)
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/tailwind.config.js
Due: components-dashboard-app

[server] Ensure env var id when doing update in old api (#19263)
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Removes Werft badge from README (#17977)
  README.md
Due: none

Remove Copilot notes from PR template (#19265)
  .github/pull_request_template.md
Due: none

Changelog
  components/local-app/CHANGELOG.md
  components/local-app/version.txt
Due: components-local-app-app-linux

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Add org-level maxmium workspace class limit
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/podkit/combobox/Combobox.tsx
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1701725025283-AddOrgSettingWorkspaceClass.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/authorization/caching-spicedb-authorizer.spec.db.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/context-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: components-dashboard-app

Apply suggestions from code review
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

Option checking
  components/server/src/orgs/organization-service.ts
Due: none

update proto doc
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
Due: none

Validate when updating
  components/server/src/orgs/organization-service.ts
Due: none

Fix bug
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
Due: none

update order
  components/server/src/workspace/workspace-service.ts
Due: none

Add feature flag
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Update respond error msg
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-service.ts
Due: none

Align figma
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Add todos
  components/dashboard/src/data/organizations/org-workspace-classes-query.ts
  components/dashboard/src/data/setup.tsx
Due: components-dashboard-app

Use switch button
  components/dashboard/src/components/podkit/switch/Switch.tsx
  components/dashboard/src/repositories/detail/ConfigurationDetailPrebuilds.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Use papi in dashboard
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/components/podkit/combobox/Combobox.tsx
  components/dashboard/src/data/organizations/org-workspace-image-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/gitpod-protocol/src/gitpod-service.ts
Due: components-dashboard-app
