Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

docker login
  .github/workflows/build.yml
Due: none

docker login (#18244)
  .github/workflows/build.yml
Due: none

[ci] Remove license header check, already done in pre-commit (#18239)
  .github/workflows/build.yml
Due: none

Update native dependencies base (#18219)
  components/ide/code/leeway.Dockerfile
Due: none

allow disconnect for org owned users
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

Add missing Job needs
  .github/workflows/preview-env-delete.yml
Due: none

Add missing Job needs (#18245)
  .github/workflows/preview-env-delete.yml
Due: none

adding aria attributes
  components/dashboard/src/components/DropDown2.tsx
Due: components-dashboard-app

improving loading state of dropdowns
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/data/ide-options/ide-options-query.ts
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

make skeletons rounded
  components/dashboard/src/components/DropDown2.tsx
Due: components-dashboard-app

adding loading indicators
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
Due: components-dashboard-app

removing loading prop on DropDown2
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Improving loading state of dropdowns on create workspace page (#18190)
  components/dashboard/src/components/DropDown2.tsx
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/components/SelectWorkspaceClassComponent.tsx
  components/dashboard/src/data/ide-options/ide-options-query.ts
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Switch dev image to new slimmer image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  dev/image/Dockerfile
Due: none

[build-pipeline] tag the commit & create release
  .github/workflows/build.yml
Due: none

Add addlicense dependency
  install/installer/BUILD.yaml
Due: none

Switch dev image to new slimmer image (#18177)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  dev/image/Dockerfile
  install/installer/BUILD.yaml
Due: none

Fix invalid LEEWAY_WORKSPACE_ROOT
  .github/workflows/code-nightly.yml
Due: none

[obs] further restrict NodePoolLoad to avoid false positives
  operations/observability/mixins/workspace/rules/central/nodes.yaml
Due: none

add some debug logging
  components/server/src/linkedin-service.ts
Due: none

adjust api calls and use toast for errors
  components/dashboard/src/onboarding/LinkedInBanner.tsx
  components/server/src/linkedin-service.ts
Due: components-dashboard-app

swap back to v2 api to test
  components/server/src/linkedin-service.ts
Due: none

adjust error message styling
  components/dashboard/src/onboarding/LinkedInBanner.tsx
Due: components-dashboard-app

todos
  components/server/src/linkedin-service.ts
Due: none

cleanup
  components/dashboard/src/onboarding/LinkedInBanner.tsx
Due: components-dashboard-app

swapping to versioned linkedin api
  components/server/src/linkedin-service.ts
Due: none

[obs] further restrict NodePoolLoad to avoid false positives (#18222)
  operations/observability/mixins/workspace/rules/central/nodes.yaml
Due: none

Enable leeway metrics
  .github/workflows/build.yml
Due: none

Enable leeway metrics (#18247)
  .github/workflows/build.yml
Due: none

DO NOT MERGE
  README.md
Due: none

Fix invalid LEEWAY_WORKSPACE_ROOT (#18246)
  .github/workflows/code-nightly.yml
Due: none

ignore 640 error codes
  operations/observability/mixins/meta/rules/server.yaml
Due: none

[obs] add node variable and update panels in Node PSI dashboard to use it
  operations/observability/mixins/workspace/dashboards/node-psi.json
Due: none

[obs] add node variable and update panels in Node PSI dashboard to use it (#18250)
  operations/observability/mixins/workspace/dashboards/node-psi.json
Due: none

fix
  components/ws-manager-bridge/src/prebuild-updater.ts
Due: components-ws-manager-bridge-app

[server] Publish events during workspace starter
  components/gitpod-protocol/src/redis.ts
  components/server/src/container-module.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prometheus-metrics.ts
  components/server/src/redis/publisher.spec.ts
  components/server/src/redis/publisher.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

add copy comment
  components/server/src/redis/publisher.ts
Due: none

fix
  components/server/src/redis/publisher.spec.ts
Due: none
