Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

fix race condition when creating notifyPod channel
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Install CRDs before creating the observability stack
  .werft/observability/monitoring-satellite.ts
Due: none

Generate and apply CRDs for observability CLI installation method
  .werft/observability/monitoring-satellite.ts
Due: none

Update observability installer config for previews
  .werft/observability/monitoring-satellite.ts
Due: none

[ws-daemon] Improve IWS nsinsider logs
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

test: fix the cgroup v2 test.
  test/go.mod
  test/go.sum
  test/tests/workspace/cgroup_v2_test.go
Due: none

test: update the job manifest for the integration tests.
  test/integration.yaml
Due: none

ws-manager: refactor the monitor.
  components/ws-manager/pkg/manager/annotations.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

ws-manager: update the golden files
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_workspace_startup_failed.golden
Due: components-ws-manager-app

ws-manager: add a handle if diposeStatus doesn't exist
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_workspace_startup_failed.golden
Due: components-ws-manager-app

ws-manager: if disposal status is finished, don't run finalizer.
  components/ws-manager/pkg/manager/annotations.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

ws-manager: introduce a DisposalEmpty status.
  components/ws-manager/pkg/manager/annotations.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[code] build stable code image for 1.70.2
  WORKSPACE.yaml
Due: none

[pycharm] Update IDE image to build version 222.3739.56
  WORKSPACE.yaml
Due: none

[intellij] Update IDE image to build version 222.3739.54
  WORKSPACE.yaml
Due: none

[server] Introduce CachedBillingModes
  components/gitpod-protocol/src/util/garbage-collected-cache.ts
  components/server/ee/src/billing/billing-modes-cache.ts
  components/server/ee/src/container-module.ts
Due: none

[code] update stable code image to 1.70.2
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[server] fix workspace PVC always restored from prebuild even if backup already exists
  components/server/src/workspace/workspace-starter.ts
Due: none

[usage] Review comments
  components/usage/pkg/apiv1/usage-report.go
  components/usage/pkg/apiv1/usage_test.go
Due: none

[server] Never block getStripePublishableKey/getStripeSetupIntentClientSecret based on BillingMode
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[usage] Test for and fix negative credits in GenerateUsageReport
  components/usage/pkg/apiv1/usage-report.go
  components/usage/pkg/apiv1/usage_test.go
Due: none

[goland] Update IDE image to build version 222.3739.57
  WORKSPACE.yaml
Due: none

Update install/infra/modules/eks/storage.tf
  install/infra/modules/eks/storage.tf
Due: none

[installer-tests] Add tests for k8s versions and ubuntu version
  install/tests/Makefile
Due: none

adding output for cluster issuer
  .werft/installer-tests.ts
  install/infra/modules/eks/output.tf
  install/infra/modules/eks/storage.tf
  install/infra/modules/tools/issuer/output.tf
  install/infra/single-cluster/aws/Makefile
  install/infra/single-cluster/aws/README.md
  install/tests/Makefile
Due: none

addressing the review comments
  install/infra/modules/eks/database.tf
  install/infra/modules/eks/kubernetes.tf
  install/infra/modules/eks/output.tf
  install/infra/modules/eks/registry.tf
  install/infra/modules/eks/storage.tf
  install/infra/modules/eks/variables.tf
  install/infra/single-cluster/aws/cluster.tf
  install/infra/single-cluster/aws/main.tf
  install/infra/single-cluster/aws/terraform.tfvars
  install/infra/single-cluster/aws/variables.tf
Due: none

Add terraform configurations for single-cluster ref arch
  install/infra/modules/gke/main.tf
  install/infra/modules/gke/output.tf
  install/infra/modules/gke/variables.tf
  install/infra/modules/tools/cloud-dns-external-dns/main.tf
  install/infra/modules/tools/cloud-dns-external-dns/variables.tf
  install/infra/single-cluster/aws/terraform.tfvars
  install/infra/single-cluster/gcp/.terraform.lock.hcl
  install/infra/single-cluster/gcp/Makefile
  install/infra/single-cluster/gcp/README.md
  install/infra/single-cluster/gcp/cluster.tf
  install/infra/single-cluster/gcp/main.tf
  install/infra/single-cluster/gcp/output.tf
  install/infra/single-cluster/gcp/terraform.tfvars
  install/infra/single-cluster/gcp/tools.tf
  install/infra/single-cluster/gcp/variables.tf
  install/tests/Makefile
  install/tests/main.tf
Due: none

Adding refresh by default
  install/infra/modules/eks/database.tf
  install/infra/modules/eks/kubernetes.tf
  install/infra/single-cluster/aws/Makefile
Due: none

Add terraform configurations for single-cluster ref arch
  install/infra/single-cluster/aws/Makefile
  install/infra/single-cluster/aws/README.md
  install/infra/single-cluster/aws/main.tf
  install/infra/single-cluster/aws/terraform.tfvars
  install/tests/main.tf
Due: none

Improve the tf module documentation
  install/infra/modules/eks/output.tf
  install/infra/modules/eks/storage.tf
  install/infra/modules/eks/variables.tf
  install/infra/modules/tools/issuer/main.tf
  install/infra/modules/tools/issuer/variables.tf
  install/infra/single-cluster/aws/Makefile
  install/infra/single-cluster/aws/README.md
  install/infra/single-cluster/aws/cluster.tf
  install/infra/single-cluster/aws/output.tf
  install/infra/single-cluster/aws/terraform.tfvars
  install/infra/single-cluster/aws/variables.tf
Due: none

Show workspace and user details
  components/dashboard/src/images/usage-default.svg
  components/dashboard/src/teams/TeamUsage.tsx
  components/gitpod-protocol/src/usage.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app
