Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[dev image] update images latest dev image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-gc.yml
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

remove req of curr org to handle personal accounts
  components/dashboard/src/App.tsx
Due: components-dashboard-app

[dashboard] Avoid re-rendering the whole App on Org load (#16976)
  components/dashboard/src/App.tsx
Due: components-dashboard-app

Update third-party Go licenses
  License.third-party.go.txt
Due: none

Moar timeout
  WORKSPACE.yaml
Due: none

[dev image] update to Jammy (#16718)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-gc.yml
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
  WORKSPACE.yaml
  components/ws-daemon/pkg/internal/session/workspace.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/monitor.go
  dev/image/Dockerfile
Due: components-ws-daemon-app, components-ws-manager-app

Remove unused variable
  install/installer/cmd/render_test.go
Due: none

Update third-party Go licenses (#16978)
  License.third-party.go.txt
Due: none

use separate query for org billing mode
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

remove user billing mode from UserContext
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/user-context.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/Plans.tsx
Due: components-dashboard-app

[common-go] Add doc on refillInterval (#16973)
  components/common-go/grpc/ratelimit.go
Due: components-common-go-lib

rename to account for no teams anymore
  components/dashboard/src/App.tsx
  components/dashboard/src/hooks/use-user-loader.ts
Due: components-dashboard-app

adding content for app loading
  components/dashboard/src/app/AppLoading.tsx
  components/dashboard/src/components/Delayed.tsx
Due: components-dashboard-app

add top level error boundary
  components/dashboard/src/App.tsx
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/hooks/use-analytics-tracking.ts
  components/dashboard/src/hooks/use-user-loader.ts
Due: components-dashboard-app

fix empty message layout
  components/dashboard/src/components/EmptyMessage.tsx
  components/dashboard/src/user-settings/SSHKeys.tsx
Due: components-dashboard-app

adding comment
  components/dashboard/src/data/organizations/orgs-query.ts
Due: components-dashboard-app

no need to export
  components/dashboard/src/teams/OrgSettingsPage.tsx
Due: components-dashboard-app

don't throw all errors
  components/dashboard/src/hooks/use-user-loader.ts
Due: components-dashboard-app

adding code to error boundary rendering
  components/dashboard/src/components/ErrorBoundary.tsx
Due: components-dashboard-app

default to null instead of undefined
  components/dashboard/src/hooks/use-user-loader.ts
Due: components-dashboard-app

use user state from UserContext for now
  components/dashboard/src/hooks/use-user-loader.ts
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[webapp] Drop "admin" role for "admin-user" (#16948)
  components/gitpod-db/src/typeorm/migration/1679391121672-AlignAdminUsers.ts
  components/gitpod-db/src/typeorm/migration/1679410564277-AdminUserDropAdminRole.ts
Due: none

enabled configcat in ide-service
  install/installer/pkg/components/ide-service/deployment.go
Due: none

Add configcat enabled in workspace info api
  components/supervisor-api/go/info.pb.go
  components/supervisor-api/info.proto
  components/supervisor/pkg/supervisor/services.go
Due: components-supervisor-app, components-supervisor-api-go-lib

Update docker version to v20.10.23
  WORKSPACE.yaml
Due: none

Remove WITH_EE_LICENSE
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/pull_request_template.md
  .github/workflows/build.yml
  .werft/jobs/build/installer/installer.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Uniformly use proxy to get the configuration of configcat (#16942)
  components/common-go/experiments/types.go
  components/gitpod-protocol/src/experiments/configcat-server.ts
  components/ide-service/pkg/server/server.go
  components/supervisor-api/go/info.pb.go
  components/supervisor-api/info.proto
  components/supervisor/pkg/serverapi/publicapi.go
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/services.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/pkg/common/common.go
  install/installer/pkg/components/ide-service/deployment.go
Due: components-common-go-lib, components-supervisor-app, components-supervisor-api-go-lib

Upgrade node to latest LTS v18.15.0
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-gc.yml
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
  components/ee/payment-endpoint/leeway.Dockerfile
  components/gitpod-db/leeway.Dockerfile
  components/server/leeway.Dockerfile
  components/ws-manager-bridge/leeway.Dockerfile
  dev/image/Dockerfile
Due: components-ws-manager-bridge-app

Updated license summary for npm packages
  License.third-party.npm.txt
Due: none

[server] Lower default rate limit per connection/user to 200 per minute
  components/server/src/auth/rate-limiter.ts
Due: none

[server] Lower default rate limit per connection/user to 200 per minute (#16992)
  components/server/src/auth/rate-limiter.ts
Due: none

[dashboard] Ensure we always send an organizationId if we need to!
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Enable option to avoid build issues related to OpenSSL 3.0
  dev/image/Dockerfile
Due: none

[dashboard] Fix "history is undefined" on Ctrl+O
  components/dashboard/src/index.tsx
Due: components-dashboard-app

Update dev-environment image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-gc.yml
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
