Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

`gp git-commit-message-helper` to use `git interpret-trailers`
  components/gitpod-cli/cmd/git-commit-message-helper.go
Due: components-gitpod-cli-app

[db, protocol] Introduce DBOrgEnvVar
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-org-env-var.ts
  components/gitpod-db/src/typeorm/migration/1737449780009-OrgEnvVars.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

Test it!
  components/gitpod-cli/cmd/git-commit-message-helper.go
  components/gitpod-cli/cmd/git-commit-message-helper_test.go
Due: components-gitpod-cli-app

Address review comments
  components/node-labeler/cmd/run.go
Due: none

Remove superflous log
  components/node-labeler/cmd/run.go
Due: none

Auto-configure default JVM Xmx based on workspace resources
  components/ide/jetbrains/launcher/main.go
  components/ws-manager-mk2/controllers/create.go
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Remove unneeded metrics and add cool log line
  components/node-labeler/cmd/metrics.go
  components/node-labeler/cmd/run.go
Due: none

big yellow warning for a thing that should not happen
  components/node-labeler/cmd/run.go
Due: none

[node-labeler] Introduce workspace count controller (#20509)
  components/node-labeler/BUILD.yaml
  components/node-labeler/cmd/root.go
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
  components/node-labeler/crd/workspace.gitpod.io_workspaces.yaml
  components/node-labeler/go.mod
  components/node-labeler/go.sum
  install/installer/pkg/components/node-labeler/role.go
Due: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Add max xmx and unit tests
  components/ide/jetbrains/launcher/main.go
  components/ide/jetbrains/launcher/main_test.go
Due: none

[server, spicedb] Introduce and integrate org env vars into internal services
  components/gitpod-protocol/src/protocol.ts
  components/server/src/api/envvar-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Due: none

[server, public-api] Added API for org-level environment variables
  components/public-api/gitpod/v1/envvar.proto
  components/public-api/go/v1/envvar.pb.go
  components/public-api/go/v1/envvar_grpc.pb.go
  components/public-api/go/v1/v1connect/envvar.connect.go
  components/public-api/go/v1/v1connect/envvar.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Envvar.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/envvar_connect.ts
  components/public-api/typescript/src/gitpod/v1/envvar_pb.ts
  components/server/src/api/envvar-service-api.ts
Due: none

Auto-configure default JVM Xmx based on workspace resources (#20536)
  components/ide/jetbrains/launcher/main.go
  components/ide/jetbrains/launcher/main_test.go
  components/ws-manager-mk2/controllers/create.go
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

[code] update code image layers (#20534)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

TRY IT OUT
  .idea/misc.xml
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
Due: none

Remove irrelevant code
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[dashboard] Add UI for setting/removing GITPOD_IMAGE_AUTH to "Organization Settings"
  components/dashboard/src/data/organizations/org-envvar-queries.ts
  components/dashboard/src/service/json-rpc-envvar-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
Due: components-dashboard-app

[JetBrains] wait for the file to be closed before returning (#20540)
  .idea/misc.xml
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
Due: none

update index (#20524)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[db, server] Fix DB queries, mapping to image-build args and fixed tests
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/project-db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

[dashboard] Review comment "icon spacing"
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
Due: components-dashboard-app

[dashboard] Review comment superfluous key
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

[dashboard] more spacing
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
Due: components-dashboard-app

[dashboard] Copyright year
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
Due: components-dashboard-app

[public-api] Add converter test case
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.golden
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.json
  components/public-api/typescript-common/src/public-api-converter.spec.ts
Due: none

🧹 indeed
  components/server/src/workspace/workspace-starter.ts
Due: none

Introduce org-level GITPOD_IMAGE_AUTH (#20538)
  components/dashboard/src/data/organizations/org-envvar-queries.ts
  components/dashboard/src/service/json-rpc-envvar-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
  components/gitpod-db/src/project-db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-org-env-var.ts
  components/gitpod-db/src/typeorm/migration/1737449780009-OrgEnvVars.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/public-api/gitpod/v1/envvar.proto
  components/public-api/go/v1/envvar.pb.go
  components/public-api/go/v1/envvar_grpc.pb.go
  components/public-api/go/v1/v1connect/envvar.connect.go
  components/public-api/go/v1/v1connect/envvar.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Envvar.java
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.golden
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.json
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/envvar_connect.ts
  components/public-api/typescript/src/gitpod/v1/envvar_pb.ts
  components/server/src/api/envvar-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Due: components-dashboard-app

Update timestamp of DB migration
  components/gitpod-db/src/typeorm/migration/1737714449389-AddOrgSettingsCommitAnnotation.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Add optional, org-wide Gitpod commit annotation (#20525)
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-cli/cmd/git-commit-message-helper.go
  components/gitpod-cli/cmd/git-commit-message-helper_test.go
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1737714449389-AddOrgSettingsCommitAnnotation.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-dashboard-app, components-gitpod-cli-app, components-supervisor-app

[JetBrains] display workspace name on the remote navbar
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
  components/server/src/workspace/workspace-starter.ts
Due: none

debug whitelist JetBrains
  components/server/src/user/user-service.ts
Due: none

[JetBrains] try it out
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/await.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Due: none

WIP: upgrade to latest version
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Due: none

Add TODO
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
Due: none

Upgrade Kotlin to 2
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/public-api/java/build.gradle.kts
Due: none

TODO
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
Due: none

Dev via Gitpod Flex
  .idea/misc.xml
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/flex-sync.sh
Due: none
