Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Move java task as a command
  .gitpod.yml
Due: none

Only end the span if it exists
  .werft/util/werft.ts
Due: none

Ensure workspaces are stopped
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/load-benchmark.yaml
  dev/loadgen/pkg/loadgen/executor.go
  dev/loadgen/pkg/loadgen/generator.go
  dev/loadgen/pkg/loadgen/loadgen.go
Due: dev-loadgen-app

Ensure proper shutdown when requested by user
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/cmd/root.go
  dev/loadgen/cmd/run.go
  dev/loadgen/pkg/loadgen/executor.go
  dev/loadgen/pkg/loadgen/loadgen.go
  dev/loadgen/pkg/observer/success.go
Due: dev-loadgen-app

Extend loadgen with stress workload
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/cmd/run.go
  dev/loadgen/load-benchmark.yaml
  dev/loadgen/pkg/loadgen/generator.go
  dev/loadgen/pkg/loadgen/loadgen.go
  dev/loadgen/pkg/observer/success.go
Due: dev-loadgen-app

Introduce success rate
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/load-benchmark.yaml
  dev/loadgen/pkg/observer/success.go
  dev/loadgen/prod-benchmark.yaml
Due: dev-loadgen-app

[bridge] prebuild: map "stopping && no snapshot" to "failed" state & test
  components/ws-manager-bridge/BUILD.yaml
  components/ws-manager-bridge/ee/src/bridge.ts
  components/ws-manager-bridge/mocha.opts
  components/ws-manager-bridge/package.json
  components/ws-manager-bridge/src/container-module.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.spec.ts
  components/ws-manager-bridge/src/prebuild-state-mapper.ts
Due: components-ws-manager-bridge-app

[server] enable Bitbucket in Git Integrations
  components/dashboard/src/settings/Integrations.tsx
  components/server/src/auth/auth-provider-service.ts
  components/server/src/bitbucket/bitbucket-urls.ts
Due: components-dashboard-app

[dashboard] disable Bitbucket integration on gitpod.io
  components/dashboard/src/App.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/settings/Integrations.tsx
  components/dashboard/src/utils.ts
Due: components-dashboard-app

[prebuilds] no prebuilds for inactive repos
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

[payment] Implement a pro-ration helper method
  components/ee/payment-endpoint/src/chargebee/upgrade-helper.ts
Due: none

[payment] Auto-format chargebee/team-subscription-handler.ts
  components/ee/payment-endpoint/src/chargebee/team-subscription-handler.ts
Due: none

[server][dashboard] Implement a new Team Billing where Owners can conveniently manage a paid plan for their Team
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/chargebee/chargebee-client.ts
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/ee/payment-endpoint/src/accounting/index.ts
  components/ee/payment-endpoint/src/accounting/team-subscription2-service.ts
  components/ee/payment-endpoint/src/chargebee/team-subscription-handler.ts
  components/ee/payment-endpoint/src/container-module.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[dashboard] Hide the new Team Billing menu entry for a soft launch
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

[dashboard] fixing backoff for getHeadlessLog calls
  components/dashboard/src/components/PrebuildLogs.tsx
Due: components-dashboard-app

[dashboard] add button.gp-link CSS class
  components/dashboard/src/index.css
  components/dashboard/src/projects/NewProject.tsx
Due: components-dashboard-app

[kots] Fix typo in the s3 storage secret name
  install/kots/manifests/gitpod-storage-s3-secret.yaml
  install/kots/manifests/kots-config.yaml
Due: none

[db-test] Take DB init scripts from installer
  components/gitpod-db/BUILD.yaml
  components/gitpod-db/hack/00-create-testdb-user.sql
  components/gitpod-db/hack/99-grant-testdb-user.sql
  install/installer/pkg/components/database/incluster/init/01-create-and-init-sessions-db.sql
  install/installer/pkg/components/database/incluster/init/02-recreate-gitpod-db.sql
  install/installer/pkg/components/database/incluster/init/BUILD.yaml
Due: none

Remove contrib until migrated to the installer
  contrib/BUILD.yaml
  contrib/README.md
  contrib/docker/README.md
  contrib/docker/examples/.gitignore
  contrib/docker/examples/gitpod-3-nodes/README.md
  contrib/docker/examples/gitpod-3-nodes/calico.yaml
  contrib/docker/examples/gitpod-3-nodes/docker-compose.yaml
  contrib/docker/examples/gitpod-3-nodes/node-entrypoint.sh
  contrib/docker/examples/gitpod-3-nodes/values/minio-secrets.yaml
  contrib/docker/examples/gitpod-3-nodes/values/node-affinities.yaml
  contrib/docker/examples/gitpod-gitlab/certs/.gitignore
  contrib/docker/examples/gitpod-gitlab/certs/create-letsencrypt-certs.sh
  contrib/docker/examples/gitpod-gitlab/docker-compose.yaml
  contrib/docker/examples/gitpod-gitlab/gitlab/BUILD.yaml
  contrib/docker/examples/gitpod-gitlab/gitlab/Dockerfile
  contrib/docker/examples/gitpod-gitlab/gitlab/entrypoint.sh
  contrib/docker/examples/gitpod-gitlab/gitlab/gitlab-helm-installer.yaml
  contrib/docker/examples/gitpod-gitlab/gitlab/persistent-volumes.yaml
  contrib/docker/examples/gitpod-gitlab/proxy/default.conf
  contrib/docker/examples/gitpod-gitlab/values/auth-providers.yaml
  contrib/docker/examples/gitpod-gitlab/values/minio-secrets.yaml
  contrib/docker/examples/gitpod/docker-compose.yaml
  contrib/docker/examples/gitpod/values/minio-secrets.yaml
  contrib/docker/gitpod-image/BUILD.yaml
  contrib/docker/gitpod-image/Dockerfile
  contrib/docker/gitpod-image/entrypoint.sh
  contrib/docker/gitpod-image/gitpod-helm-installer.yaml
  contrib/docker/gitpod-image/persistent-volumes.yaml
  contrib/docker/gitpod-image/values.yaml
Due: none

fix grpc proto generation
  scripts/protoc-generator.sh
Due: none

Remove contrib build
  .werft/jobs/build/build-and-publish.ts
Due: none

[installer] Support rendering to individual files
  install/installer/cmd/render.go
Due: none

[installer] Support reading config file from stdin
  install/installer/cmd/render.go
Due: none

[ws-daemon] fix restore from snapshot not working
  components/content-service/pkg/storage/gcloud.go
  components/content-service/pkg/storage/minio.go
  components/ws-daemon/pkg/content/initializer.go
Due: components-content-service-app, components-ws-daemon-app

[workspacekit] improve logging when not able to connect to daemon
  components/workspacekit/cmd/rings.go
Due: components-workspacekit-app

[registry-facade] Adjust redis options
  components/registry-facade/pkg/registry/registry.go
Due: components-registry-facade-app

1
  components/registry-facade/cmd/run.go
Due: components-registry-facade-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Change image pull policy to IfNotPresent
  .werft/build.yaml
  .werft/debug.yaml
  .werft/ide-integration-tests-startup-jetbrains.yaml
  .werft/ide-integration-tests-startup-vscode.yaml
  .werft/ide-run-integration-tests.yaml
  .werft/jobs/build/helm/values.dev.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/run-integration-tests.yaml
  .werft/wipe-devstaging.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

[gitpod-db] fix periodic db deleter
  components/gitpod-db/src/tables.ts
Due: none
