Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[server] maintain workspace instance state
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-bridge/src/bridge.ts
Due: components-ws-manager-bridge-app

feat(jb): use ReplaceVMOptionsQuickFix instead
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/inspections/GitpodConfigInspection.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/quickfixes/ApplyVMOptionsQuickFix.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/quickfixes/ReplaceVMOptionsQuickFix.kt
Due: none

feat: enable run inspection on project start
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectManager.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/inspectionDescriptions/GitpodConfigInspection.html
Due: none

leeway update license header
  components/ide/jetbrains/backend-plugin/src/main/resources/inspectionDescriptions/GitpodConfigInspection.html
Due: none

feat(jb): add inspections & quickfixes on .gitpod.yml vmoptions config
  components/ide/jetbrains/backend-plugin/gradle.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/inspections/GitpodConfigInspection.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/quickfixes/AddVMOptionsQuickFix.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/quickfixes/ApplyVMOptionsQuickFix.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/quickfixes/ReplaceVMOptionsQuickFix.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/utils/GitpodConfig.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/inspectionDescriptions/GitpodConfig.html
  components/ide/jetbrains/backend-plugin/src/main/resources/messages/GitpodBundle.properties
Due: none

Pass the SIGNAL to cleanup to improve logging
  .werft/workspace-run-integration-tests.sh
Due: none

feat(gitpod-cli): highlight current task
  components/gitpod-cli/cmd/tasks-list.go
Due: components-gitpod-cli-app

fix(supervisor): typo in ResourcesStatusRequest
  components/gitpod-cli/pkg/supervisor-helper/status.go
  components/supervisor-api/go/control.pb.go
  components/supervisor-api/go/control_grpc.pb.go
  components/supervisor-api/go/info.pb.go
  components/supervisor-api/go/info_grpc.pb.go
  components/supervisor-api/go/notification.pb.go
  components/supervisor-api/go/notification_grpc.pb.go
  components/supervisor-api/go/port.pb.go
  components/supervisor-api/go/port_grpc.pb.go
  components/supervisor-api/go/status.pb.go
  components/supervisor-api/go/status.pb.gw.go
  components/supervisor-api/go/status_grpc.pb.go
  components/supervisor-api/go/terminal.pb.go
  components/supervisor-api/go/terminal_grpc.pb.go
  components/supervisor-api/go/token.pb.go
  components/supervisor-api/go/token_grpc.pb.go
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Control.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Notification.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Port.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Status.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/StatusServiceGrpc.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/TerminalOuterClass.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Token.java
  components/supervisor-api/status.proto
  components/supervisor/cmd/top.go
  components/supervisor/pkg/supervisor/services.go
Due: components-gitpod-cli-app, components-supervisor-app, components-supervisor-api-go-lib

feat(jetbrains): show workspace resources
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodManager.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodMetricControlProvider.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodMetricProvider.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
Due: none

chore(gitpod-cli): align thresholds with jetbrains
  components/gitpod-cli/cmd/top.go
Due: components-gitpod-cli-app

Fix return
  components/usage/pkg/apiv1/billing.go
Due: none

Improve message when preview env build job fails
  .werft/workspace-run-integration-tests.sh
Due: none

Update Platform Version from stable JetBrains Backend Plugin
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

[registry-facade] Improve IPFS logging
  components/registry-facade/pkg/registry/blob.go
  components/registry-facade/pkg/registry/http_client.go
Due: components-registry-facade-app

Testing
  components/ws-manager/README.md
Due: components-ws-manager-app

Fix X-Forwarded-* headers
  components/openvsx-proxy/pkg/handler.go
  components/openvsx-proxy/pkg/modifyresponse.go
  components/openvsx-proxy/pkg/openvsxproxy_test.go
  components/openvsx-proxy/pkg/run.go
Due: none

[server] fix using snapshotBucketId when it is undefined or empty
  components/server/src/workspace/workspace-starter.ts
Due: none

Update components/server/src/workspace/workspace-starter.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

[registry-facade] Remove unnecessary check
  components/registry-facade/pkg/registry/blob.go
Due: components-registry-facade-app

Replace deprecated seccomp.security.alpha.kubernetes.io/pod annotation
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/testing_test.go
  install/installer/pkg/components/ws-manager/configmap.go
Due: components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Separate -ldflags and -buildid
  test/pkg/integration/integration.go
Due: none

[server] Don't redirect to sorry on unrecognized login errors
  components/server/src/auth/generic-auth-provider.ts
Due: none

Increase results per page to 50
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

Use actual date
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

loadgen: Slight README improvement.
  dev/loadgen/README.md
Due: dev-loadgen-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
