Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Fix workspace service
  components/server/src/api/workspace-service-api.ts
Due: none

[JetBrains] Update IDE images to new build version (#18933)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  dev/jetbrains-test/src/test/kotlin/io/gitpod/jetbrains/launcher/GatewayLauncherTest.kt
Due: none

Add pin command to CLI
  components/gitpod-cli/cmd/pin.go
  components/server/src/workspace/workspace-starter.ts
Due: components-gitpod-cli-app

[dashboard] enable grpc migration per service
  components/dashboard/src/service/public-api.ts
  components/gitpod-protocol/src/generate-async-generator.ts
  components/server/src/api/prebuild-service-api.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

[papi] add user.proto and GetAuthenticatedUser
  components/gitpod-protocol/src/protocol.ts
  components/public-api/gitpod/v1/user.proto
  components/public-api/go/v1/scm_grpc.pb.go
  components/public-api/go/v1/user.pb.go
  components/public-api/go/v1/user_grpc.pb.go
  components/public-api/go/v1/v1connect/scm.connect.go
  components/public-api/go/v1/v1connect/user.connect.go
  components/public-api/go/v1/v1connect/user.proxy.connect.go
  components/public-api/typescript/src/gitpod/v1/scm_connect.ts
  components/public-api/typescript/src/gitpod/v1/user_connect.ts
  components/public-api/typescript/src/gitpod/v1/user_pb.ts
Due: none

rename to EditoSettings
  components/public-api/gitpod/v1/user.proto
  components/public-api/go/v1/user.pb.go
  components/public-api/typescript/src/gitpod/v1/user_pb.ts
Due: none

[papi] (generate.sh) Run end-of-file-fixer
  components/public-api/generate.sh
Due: none

fix import
  components/gitpod-protocol/src/public-api-converter.ts
Due: none

clean up proto
  components/public-api/gitpod/v1/editor.proto
  components/public-api/gitpod/v1/user.proto
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/editor.pb.go
  components/public-api/go/v1/user.pb.go
  components/public-api/go/v1/workspace.pb.go
  components/public-api/typescript/src/gitpod/v1/editor_pb.ts
  components/public-api/typescript/src/gitpod/v1/user_pb.ts
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
Due: none

update WorkspaceTimeoutSettings
  components/public-api/gitpod/v1/user.proto
  components/public-api/go/v1/user.pb.go
  components/public-api/typescript/src/gitpod/v1/user_pb.ts
Due: none

[service-waiter] use ide proxy for metric report
  install/installer/pkg/common/common.go
  install/installer/pkg/common/common_test.go
  install/installer/pkg/common/constants.go
  install/installer/pkg/components/ide-proxy/constants.go
Due: none

fix typo
  components/public-api/gitpod/v1/user.proto
  components/public-api/go/v1/user.pb.go
  components/public-api/typescript/src/gitpod/v1/user_pb.ts
Due: none

[proxy] Explicitly respond with 501 on routing issues
  components/proxy/conf/Caddyfile
Due: none

[dashboard] enable grpc migration per service (#19140)
  components/dashboard/src/service/public-api.ts
  components/gitpod-protocol/src/generate-async-generator.ts
  components/server/src/api/prebuild-service-api.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

[workspace] Use runWithRequestContext in reconcileWorkspaceStart
  components/server/src/util/request-context.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Autofix: upgrade-nvm-tools (#19040)
  dev/image/Dockerfile
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 233.11799-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 233.11799-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[probot] Run prebuild webhook with correct subjectId
  components/server/src/prebuilds/bitbucket-app.ts
  components/server/src/prebuilds/bitbucket-server-app.ts
  components/server/src/prebuilds/github-app.ts
  components/server/src/prebuilds/github-enterprise-app.ts
  components/server/src/prebuilds/gitlab-app.ts
Due: none

[dashboard] Fix: Show inactive workspaces if there are some
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

[dashboard] Fix: Show inactive workspaces if there are some (#19145)
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Get SSH username from workspacekit
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Disable false positive
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

generate
  components/public-api/go/v1/scm_grpc.pb.go
  components/public-api/go/v1/v1connect/scm.connect.go
  components/public-api/typescript/src/gitpod/v1/scm_connect.ts
Due: none

[prebuods] Mopre SubjectId changes...
  components/server/src/prebuilds/bitbucket-app.ts
  components/server/src/prebuilds/bitbucket-server-app.ts
  components/server/src/prebuilds/github-app.ts
  components/server/src/prebuilds/github-enterprise-app.ts
  components/server/src/prebuilds/gitlab-app.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 233.11799-EAP-CANDIDATE-SNAPSHOT (#19006)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 233.11799-EAP-CANDIDATE-SNAPSHOT (#18878)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Check status code
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Get SSH username from workspacekit (#19146)
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[sshgateway] use ssh CA to auth
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/ssh.go
  components/ws-manager-api/go/config/config.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/service/manager.go
  components/ws-proxy/cmd/run.go
  components/ws-proxy/pkg/common/infoprovider.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/sshproxy/server.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/ws-manager-mk2/deployment.go
  install/installer/pkg/components/ws-proxy/deployment.go
  install/installer/pkg/config/v1/config.go
Due: components-supervisor-app

Implement
  components/dashboard/src/data/setup.tsx
  components/dashboard/src/service/json-rpc-verification-client.ts
  components/dashboard/src/service/public-api.ts
  components/gitpod-db/src/email-domain-filter-db.ts
  components/gitpod-db/src/typeorm/email-domain-filter-db-impl.ts
  components/gitpod-protocol/src/public-api-converter.ts
  components/public-api/gitpod/v1/verification.proto
  components/public-api/go/v1/scm_grpc.pb.go
  components/public-api/go/v1/v1connect/scm.connect.go
  components/public-api/go/v1/v1connect/verification.connect.go
  components/public-api/go/v1/v1connect/verification.proxy.connect.go
  components/public-api/go/v1/verification.pb.go
  components/public-api/go/v1/verification_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/scm_connect.ts
  components/public-api/typescript/src/gitpod/v1/verification_connect.ts
  components/public-api/typescript/src/gitpod/v1/verification_pb.ts
  components/server/src/api/sorting.ts
  components/server/src/api/verification-service-api.ts
  components/server/src/auth/verification-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

use on dashboard
  components/dashboard/src/admin/BlockedEmailDomains.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/start/VerifyModal.tsx
Due: components-dashboard-app

fix build
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Add test case
  components/gitpod-protocol/src/public-api-converter.spec.ts
Due: none

fixup
  components/dashboard/src/admin/BlockedRepositories.tsx
Due: components-dashboard-app

Update proto
  components/public-api/gitpod/v1/verification.proto
  components/public-api/go/v1/v1connect/verification.connect.go
  components/public-api/go/v1/v1connect/verification.proxy.connect.go
  components/public-api/go/v1/verification.pb.go
  components/public-api/go/v1/verification_grpc.pb.go
  components/public-api/typescript/src/gitpod/v1/verification_connect.ts
  components/public-api/typescript/src/gitpod/v1/verification_pb.ts
Due: none

Reduce job log verbosity
  components/server/src/jobs/runner.ts
Due: none

[dashboard] Fix Repository Finder after switch to SCM Service
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/unified-repositories-search-query.test.ts
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
  components/dashboard/src/projects/create-project-modal/CreateProjectModal.tsx
  components/dashboard/src/repositories/create/ImportRepositoryModal.tsx
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Update
  components/dashboard/src/admin/BlockedEmailDomains.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/service/json-rpc-verification-client.ts
  components/gitpod-db/src/email-domain-filter-db.ts
  components/gitpod-db/src/typeorm/email-domain-filter-db-impl.ts
  components/gitpod-protocol/src/public-api-converter.spec.ts
  components/gitpod-protocol/src/public-api-converter.ts
  components/server/src/api/sorting.ts
  components/server/src/api/verification-service-api.ts
  components/server/src/auth/verification-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
