Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Update supervisor go modules
  components/supervisor/go.mod
  components/supervisor/go.sum
Due: components-supervisor-app

With trace id
  components/public-api-server/pkg/server/logs.go
Due: none

[server] Log rate-limited calls
  components/server/src/auth/rate-limiter.ts
Due: none

Fix up
  components/public-api-server/pkg/server/server.go
  install/installer/pkg/components/public-api-server/deployment.go
Due: none

fix
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[ws-daemon] Execute hooks
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-daemon/pkg/internal/session/workspace.go
Due: components-ws-daemon-app

copy updates
  components/dashboard/src/teams/GitIntegrationsPage.tsx
  components/dashboard/src/teams/SSO.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationsList.tsx
Due: components-dashboard-app

Org Settings Page Header updates & cleanup (#16850)
  components/dashboard/src/components/Alert.tsx
  components/dashboard/src/components/EmptyMessage.tsx
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/teams/GitIntegrationsPage.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/SSO.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrations.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationsList.tsx
Due: components-dashboard-app

Breaking SSO page into components & react-query
  components/dashboard/src/data/auth-providers/org-auth-providers-query.ts
  components/dashboard/src/data/oidc-clients/delete-oidc-client-mutation.ts
  components/dashboard/src/data/oidc-clients/oidc-clients-query.ts
  components/dashboard/src/data/oidc-clients/upsert-oidc-client-mutation.ts
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/OIDCClientListItem.tsx
  components/dashboard/src/teams/sso/OIDCClients.tsx
Due: components-dashboard-app

Update VS Code Browser to `1.76.2`
  WORKSPACE.yaml
Due: none

Update stable
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Update tests
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

wrapper component not needed anymore
  components/dashboard/src/teams/GitIntegrationsPage.tsx
Due: components-dashboard-app

position off of bottom instead
  components/dashboard/src/components/Modal.tsx
Due: components-dashboard-app

add a heading/subheading for consistency
  components/dashboard/src/teams/git-integrations/GitIntegrations.tsx
Due: components-dashboard-app

add clientside validation
  components/dashboard/src/data/auth-providers/org-auth-providers-query.ts
  components/dashboard/src/teams/SSO.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/OIDCClientListItem.tsx
  components/dashboard/src/teams/sso/OIDCClients.tsx
Due: components-dashboard-app

fix
  components/workspacekit/pkg/seccomp/notify.go
Due: components-workspacekit-app

adding oidcConfig.issuer to api response
  components/public-api-server/pkg/apiv1/oidc.go
Due: none

fix
  components/public-api-server/pkg/apiv1/team.go
Due: none

updating test
  components/public-api-server/pkg/apiv1/oidc_test.go
Due: none

Allow vscode desktop error report
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-metrics/configmap.go
Due: none

[org] Disallow logins with organizational Git Auth
  components/server/src/auth/auth-provider-service.ts
  components/server/src/auth/authenticator.ts
Due: none

Allow vscode desktop error report (#16871)
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-metrics/configmap.go
Due: none

Fix the commit location aaargh
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Update test v2
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

Remove application cluster references
  components/gitpod-db/src/tables.ts
  components/ws-manager-bridge/src/app-cluster-instance-controller.ts
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

Update switch to PAYG success page layout
  components/dashboard/src/SwitchToPAYG.tsx
Due: components-dashboard-app

Update switch to PAYG success page layout (#16878)
  components/dashboard/src/SwitchToPAYG.tsx
Due: components-dashboard-app

[org] Disallow logins with organizational Git Auth (#16874)
  components/server/src/auth/auth-provider-service.ts
  components/server/src/auth/authenticator.ts
Due: none

fix
  components/ws-manager-bridge/src/app-cluster-instance-controller.ts
  components/ws-manager-bridge/src/workspace-instance-controller.ts
Due: components-ws-manager-bridge-app

Remove applicationCluster from tables.ts (#16876)
  components/gitpod-db/src/tables.ts
Due: none

[server] Fix file provider accept header
  components/server/src/github/file-provider.ts
Due: none

Update VS Code Browser to `1.76.2` (#16870)
  WORKSPACE.yaml
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[tests] move Workspace Tests to Github Actions
  .github/workflows/workspace-integration-tests.yml
Due: none

[tests] convert secrets to core dev
  .github/workflows/workspace-integration-tests.yml
Due: none

[tests] Move workspace integration tests to Github Actions (#16872)
  .github/workflows/workspace-integration-tests.yml
Due: none

[server] Fix file provider accept header (#16881)
  components/server/src/github/file-provider.ts
Due: none

[common-go] Composable log fields (#16860)
  components/common-go/log/fields.go
  components/common-go/log/fields_test.go
  components/common-go/log/log.go
  components/common-go/tracing/tracing.go
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/team.go
  components/public-api-server/pkg/apiv1/tokens.go
  components/public-api-server/pkg/apiv1/user.go
  components/public-api-server/pkg/apiv1/validation.go
  components/workspacekit/pkg/seccomp/notify.go
Due: components-common-go-lib, components-workspacekit-app

minor cleanup
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
Due: components-dashboard-app

Org SSO Page updates (#16868)
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/data/oidc-clients/delete-oidc-client-mutation.ts
  components/dashboard/src/data/oidc-clients/oidc-clients-query.ts
  components/dashboard/src/data/oidc-clients/upsert-oidc-client-mutation.ts
  components/dashboard/src/teams/GitIntegrationsPage.tsx
  components/dashboard/src/teams/SSO.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrations.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
  components/dashboard/src/teams/sso/OIDCClientListItem.tsx
  components/dashboard/src/teams/sso/OIDCClients.tsx
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
Due: components-dashboard-app
