Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Improve organization selector
  components/dashboard/src/components/ContextMenu.tsx
  components/dashboard/src/components/org-icon/OrgIcon.tsx
  components/dashboard/src/dedicated-setup/SetupLayout.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Fix kubeconfig location
  dev/preview/BUILD.yaml
Due: none

Cleanup
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

[server] use org service in iam-session-app
  components/server/src/authorization/authorizer.ts
  components/server/src/iam/iam-session-app.spec.ts
  components/server/src/iam/iam-session-app.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/orgs/usage-service.spec.db.ts
  components/server/src/projects/projects-service.spec.db.ts
  components/server/src/test/reset-db.ts
  components/server/src/user/user-service.spec.db.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/spicedb/schema/schema.yaml
  dev/preview/previewctl/cmd/admin.go
Due: none

Remove hardcoded home directory
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/preview-create/entrypoint.sh
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/workspace-integration-tests.yml
  dev/preview/util/ssh-proxy-command.sh
  scripts/lw-scan-images.sh
Due: none

cleanup
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/preview-create/entrypoint.sh
Due: none

Remove env vars duplications
  .github/actions/delete-preview/metadata.yml
  .github/actions/deploy-gitpod/metadata.yml
  .github/actions/deploy-monitoring-satellite/metadata.yml
  .github/actions/preview-create/metadata.yml
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-delete.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

Remove hardcoded path from container image
  dev/image/Dockerfile
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Use WORKSPACE_CLUSTER_HOST for `gp ssh` output
  components/gitpod-cli/cmd/ssh.go
Due: components-gitpod-cli-app

Cleanup
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/preview-create/entrypoint.sh
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  dev/preview/util/ssh-proxy-command.sh
  scripts/lw-scan-images.sh
Due: none

Cleanup
  .github/actions/preview-create/Dockerfile
  .github/actions/preview-create/action.yml
  .github/actions/preview-create/entrypoint.sh
  .github/actions/preview-create/metadata.yml
  .github/workflows/build.yml
  dev/preview/previewctl/BUILD.yaml
Due: none

Update dev-environment image
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/platform-trigger-werft-cleanup.yaml
Due: none

Refactoring
  .github/actions/delete-preview/Dockerfile
  .github/actions/delete-preview/action.yml
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/delete-preview/metadata.yml
  .github/actions/deploy-gitpod/metadata.yml
  .github/actions/deploy-monitoring-satellite/metadata.yml
  .github/actions/preview-create/Dockerfile
  .github/actions/preview-create/action.yml
  .github/actions/preview-create/entrypoint.sh
  .github/actions/preview-create/metadata.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
Due: none

Install oci-tool and previewctl in the dev-environment image
  .github/actions/deploy-gitpod/Dockerfile
  .github/workflows/build.yml
  dev/image/Dockerfile
  dev/preview/previewctl/BUILD.yaml
Due: none

Cleanup
  .github/actions/delete-preview/action.yml
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-gitpod/metadata.yml
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/metadata.yml
  .github/actions/preview-create/Dockerfile
  .github/actions/preview-create/entrypoint.sh
  .github/actions/preview-create/metadata.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .werft/jobs/build/prepare.ts
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/modules/gce/vm.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/modules/harvester/vm.tf
  dev/preview/infrastructure/outputs.tf
  dev/preview/infrastructure/preview.tf
  dev/preview/infrastructure/variables.tf
  test/README.md
Due: none

Remove harvester
  .werft/jobs/build/prepare.ts
  dev/preview/infrastructure/modules/harvester/cloudinit.yaml
  dev/preview/infrastructure/modules/harvester/lb.tf
  dev/preview/infrastructure/modules/harvester/outputs.tf
  dev/preview/infrastructure/modules/harvester/provider.tf
  dev/preview/infrastructure/modules/harvester/svc.tf
  dev/preview/infrastructure/modules/harvester/variables.tf
  dev/preview/infrastructure/modules/harvester/vm.tf
  dev/preview/infrastructure/preview.tf
Due: none

24
  .github/actions/preview-create/entrypoint.sh
Due: none

25
  .github/actions/preview-create/entrypoint.sh
Due: none

Remove build of previewctl
  .github/actions/delete-preview/Dockerfile
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/delete-preview/metadata.yml
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-gitpod/metadata.yml
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/metadata.yml
  .github/actions/preview-create/Dockerfile
  .github/actions/preview-create/entrypoint.sh
  .github/actions/preview-create/metadata.yml
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  dev/image/Dockerfile
Due: none

Update top navigation
  components/dashboard/src/components/PillMenuItem.tsx
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

Update dev-image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

[public-api] align context url with server
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

Update ssh.go
  components/gitpod-cli/cmd/ssh.go
Due: components-gitpod-cli-app

Add Orbital
  components/dashboard/package.json
  components/dashboard/src/hooks/use-analytics-tracking.ts
  components/dashboard/src/hooks/use-orbital.ts
  yarn.lock
Due: components-dashboard-app

:lipstick:
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

Cleanup
  .github/actions/setup-environment/action.yml
  .github/workflows/build.yml
Due: none

[supervisor] improve docker activation (#18284)
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/activation/activation.go
  components/supervisor/pkg/supervisor/docker.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

update test case
  components/public-api-server/pkg/apiv1/workspace_test.go
Due: none

Include Copilot in PR template
  .github/pull_request_template.md
Due: none

Cleanup
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/preview-create/entrypoint.sh
  .github/workflows/build.yml
Due: none

Fix conditional
  components/dashboard/src/hooks/use-analytics-tracking.ts
Due: components-dashboard-app

Add missing step in infrastructure
  .github/workflows/build.yml
Due: none

Split theme switch
  components/dashboard/src/hooks/use-analytics-tracking.ts
Due: components-dashboard-app

Update previewctl
  dev/image/Dockerfile
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/workflow/lib/terraform.sh
Due: none

Add Gitpod Desktop OAuth client
  components/server/src/oauth-server/db.ts
Due: none

fix typo
  components/server/src/oauth-server/db.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
