Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Get help from Aleks
  .github/workflows/workspace-integration-tests.yml
Due: none

Ref
  .github/workflows/workspace-integration-tests.yml
Due: none

Use gce vm
  .werft/workspace-run-integration-tests.sh
Due: none

update `gitpod-web` extension ref https://github.com/gitpod-io/gitpod-code/commit/3b076b91039c47404d98c4a3198edf2982e24af7
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[gitpod-cli] change `gp rebuild` to `gp validate`
  components/gitpod-cli/cmd/validate.go
Due: components-gitpod-cli-app

fix `await-port` and `forward-port` command backward compatible
  components/gitpod-cli/cmd/ports-await.go
  components/gitpod-cli/cmd/ports-expose.go
Due: components-gitpod-cli-app

Change the reference to `gp rebuild`
  components/dashboard/src/start/StartWorkspace.tsx
  components/supervisor/validate.sh
Due: components-dashboard-app, components-supervisor-app

[gitpod-cli] change `gp rebuild` to `gp validate` (#16867)
  components/dashboard/src/start/StartWorkspace.tsx
  components/gitpod-cli/cmd/ports-await.go
  components/gitpod-cli/cmd/ports-expose.go
  components/gitpod-cli/cmd/validate.go
  components/supervisor/validate.sh
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: components-dashboard-app, components-gitpod-cli-app, components-supervisor-app

[smoke-test] fix send slack notification
  .github/workflows/preview-env-check-regressions.yml
Due: none

split jobs
  .github/workflows/workspace-integration-tests.yml
Due: none

[preview] pass context to rollout status
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

¯\(◉‿◉)/¯
  .github/workflows/workspace-integration-tests.yml
Due: none

[smoke-test] fix send slack notification (#16887)
  .github/workflows/preview-env-check-regressions.yml
Due: none

[observability] add superviosr dashboard
  operations/observability/mixins/IDE/dashboards/components/supervisor.json
Due: none

[rebuild] support desktop IDEs
  components/gitpod-cli/cmd/validate.go
  components/ide/jetbrains/gateway-plugin/BUILD.yaml
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
Due: components-gitpod-cli-app

[observability] add superviosr dashboard (#16853)
  operations/observability/mixins/IDE/dashboards/components/supervisor.json
Due: none

[dashboard] Guard subscribeToStripe against multiple calls
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

ensure target is exist
  components/gitpod-cli/cmd/validate.go
Due: components-gitpod-cli-app

[wsman-mk2] Refactor conditions
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/service/manager.go
Due: components-ws-daemon-app

[gha] fix ide integration tests
  .github/workflows/ide-integration-tests.yml
Due: none

[preview] pass context to rollout status, fix regression
  .github/workflows/preview-env-check-regressions.yml
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

[preview] pass context to rollout status, fix regression (#16886)
  .github/workflows/preview-env-check-regressions.yml
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

[gha] fix ide integration tests (#16898)
  .github/workflows/ide-integration-tests.yml
Due: none

[common-go] Support rate limiting by enum key
  components/common-go/grpc/ratelimit.go
  components/common-go/grpc/ratelimit_test.go
Due: components-common-go-lib

[ws-manager-mk2] Check empty ns, delete secrets before finalizer
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/main.go
Due: none

[rebuild] support desktop IDEs (#16818)
  components/gitpod-cli/cmd/validate.go
  components/ide/jetbrains/gateway-plugin/BUILD.yaml
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
Due: components-gitpod-cli-app

[preview] diff-apply server side force conflicts
  dev/preview/workflow/lib/k8s-util.sh
Due: none

Remove cgroups v1 from commons-go (#16859)
  components/common-go/cgroups/v1/cpu.go
  components/common-go/cgroups/v1/memory.go
  components/ws-daemon/pkg/iws/iws.go
Due: components-common-go-lib, components-ws-daemon-app

[common-go] Support rate limiting by enum key (#16899)
  components/common-go/grpc/ratelimit.go
  components/common-go/grpc/ratelimit_test.go
Due: components-common-go-lib

[ws-manager-mk2] Don't dispose image builds
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-mk2/controllers/status.go
Due: components-ws-daemon-app

[tests] run Workspace integration tests in GHA
  .github/workflows/workspace-integration-tests.yml
Due: none

split jobs (#16888)
  .github/workflows/workspace-integration-tests.yml
Due: none

Add workspace integ tests to codeowners
  .github/CODEOWNERS
Due: none

[usage] Introduce BillingService.CreateHoldPaymentIntent
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/stripe/stripe.go
Due: none

[dashboard] HACK: new verification step
  components/dashboard/src/SwitchToPAYG.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

adjust alignment
  components/dashboard/src/teams/git-integrations/GitIntegrationsList.tsx
  components/dashboard/src/teams/sso/OIDCClients.tsx
Due: components-dashboard-app

adjust org setting pages headings
  components/dashboard/src/teams/GitIntegrationsPage.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/SSO.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/sso/OIDCClients.tsx
Due: components-dashboard-app

fixing alignment
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationsList.tsx
Due: components-dashboard-app

updating modal footer alerts
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
Due: components-dashboard-app

animate modal footer alerts
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/modal.css
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/sso/OIDCClientConfigModal.tsx
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
