Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[cli] Support gp idp login aws --duration-seconds
  components/gitpod-cli/cmd/idp-login-aws.go
Due: components-gitpod-cli-app

[fga] check workspace relationships
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.spec.db.ts
  components/server/src/authorization/relationship-updater.ts
Due: none

Local storage control
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

[fga] check workspace relationships (#18793)
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.spec.db.ts
  components/server/src/authorization/relationship-updater.ts
Due: none

fix: change README img link to website (#18637)
  README.md
Due: none

[content-service] download s3 content using s5cmd (#18783)
  components/content-service/pkg/storage/s3.go
  components/ws-daemon/leeway.Dockerfile
Due: components-content-service-app, components-ws-daemon-app

[JetBrains] Update IDE images to new build version (#18779)
  WORKSPACE.yaml
Due: none

[supervisor] add ssh tunnel metrics
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/pkg/components/ide-metrics/configmap.go
Due: components-supervisor-app

use sessionstorage
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

[supervisor] add ssh tunnel metrics (#18795)
  components/supervisor/pkg/metrics/metrics.go
  components/supervisor/pkg/metrics/reporter.go
  components/supervisor/pkg/supervisor/supervisor.go
  install/installer/pkg/components/ide-metrics/configmap.go
Due: components-supervisor-app

Update dev image
  dev/image/Dockerfile
Due: none

Update packages
  dev/image/Dockerfile
Due: none

Update images
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  dev/image/Dockerfile
Due: none

Update modules to fix gometalinter error
  components/registry-facade/go.mod
  components/registry-facade/go.sum
Due: components-registry-facade-app

[ws-proxy] additional logging to better understand OTHER failures
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Redirect to newly created org post after creation
  components/dashboard/src/teams/NewTeam.tsx
Due: components-dashboard-app

[cli] Support gp idp login aws --duration-seconds (#18797)
  components/gitpod-cli/cmd/idp-login-aws.go
Due: components-gitpod-cli-app

[WorkspaceStarter] Don't call imageBuilder.needsImageBuild as we don't need it anymore (#18759)
  components/server/src/workspace/workspace-starter.ts
Due: none

Redirect to newly created org post after creation (#18800)
  components/dashboard/src/teams/NewTeam.tsx
Due: components-dashboard-app

[test] Fix concurrent map writes panic
  test/pkg/integration/apis.go
Due: none

[test] Fix concurrent map writes panic (#18801)
  test/pkg/integration/apis.go
Due: none

Sync go modules
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/docker-up/go.mod
  components/docker-up/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  components/ws-manager-mk2/go.mod
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Add private registry support for Dockerfile image build (#18760)
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/leeway.Dockerfile
  components/image-builder-bob/pkg/proxy/auth.go
  components/image-builder-bob/pkg/proxy/proxy.go
  components/image-builder-mk3/pkg/auth/auth.go
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
Due: none

[fga] don't await spicedb calls when disabled
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.ts
  components/server/src/authorization/spicedb-authorizer.ts
Due: none

[fga] don't await spicedb calls when disabled (#18802)
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.ts
  components/server/src/authorization/spicedb-authorizer.ts
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 233.6745-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update dev image (#18798)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/docker-up/go.mod
  components/docker-up/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  components/ws-manager-mk2/go.mod
  dev/image/Dockerfile
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Update checkout action to v4
  .github/actions/setup-environment/action.yml
  .github/workflows/authorization.yml
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/configcat.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-delete.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/public-api.yml
  .github/workflows/update-image-digest.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

Fix
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Fix account deletion modal
  components/dashboard/src/components/ConfirmationModal.tsx
  components/dashboard/src/components/Modal.tsx
Due: components-dashboard-app

Use yarn run to execute rimraf
  components/server/package.json
Due: none

[ws-proxy] additional logging to better errors causing OTHER error_type (#18799)
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

Use yarn run to execute rimraf (#18806)
  components/server/package.json
Due: none

[usage] FindRunningWorkspaceInstances: Make sure we use an index
  components/gitpod-db/go/workspace_instance.go
  components/gitpod-db/go/workspace_instance_test.go
  components/usage/pkg/apiv1/usage.go
Due: none

[stripe] reconcile missing invoices
  components/gitpod-db/go/cost_center.go
  components/gitpod-db/go/cost_center_test.go
  components/public-api-server/pkg/webhooks/stripe.go
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/apiv1/billing_test.go
  components/usage/pkg/stripe/stripe.go
Due: none

[server] keep gitStatus on new instances
  components/server/src/workspace/workspace-starter.ts
Due: none

Update checkout action to v4 (#18804)
  .github/actions/setup-environment/action.yml
  .github/workflows/authorization.yml
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/configcat.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-delete.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/public-api.yml
  .github/workflows/update-image-digest.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

[server] also log the actual request name
  components/server/src/server.ts
  components/server/src/util/log-context.ts
  components/server/src/websocket/websocket-connection-manager.ts
Due: none
