Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

Bump workflows dependencies' version
  .github/workflows/code-nightly.yaml
  .github/workflows/jetbrains-auto-update-template.yml
Due: none

Managed cloneURL column.
  components/gitpod-db/src/typeorm/entity/db-workspace.ts
  components/gitpod-db/src/typeorm/migration/1652365883273-CloneUrlIndexed.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
Due: none

[prebuilds] no prebuilds for inactive repos
  components/gitpod-db/src/typeorm/migration/1652365883273-CloneUrlIndexed.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

Adding Config.inactivityPeriodForRepos
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/src/config.ts
Due: none

Replace UA logo
  components/dashboard/src/icons/gitpod-ua.svg
  components/dashboard/src/icons/gitpod.svg
  components/dashboard/src/start/StartPage.tsx
Due: components-dashboard-app

Add test for workspace URL templates
  install/installer/pkg/components/ws-manager/configmap_test.go
Due: none

Append installation shortname to url templates
  install/installer/pkg/components/ws-manager/configmap.go
Due: none

remove project hardcode
  install/infra/terraform/k3s/main.tf
Due: none

Use the builds nodepool. Workload is going away
  .werft/wipe-devstaging.yaml
Due: none

add readme
  install/infra/terraform/k3s/README.md
  install/infra/terraform/k3s/variables.auto.tfvars
Due: none

Terminate IDEs gracefully on workspace shutdown
  components/ide/jetbrains/image/startup.sh
  components/ide/jetbrains/image/status/main.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

add the job file
  .werft/installer-tests.ts
  .werft/k3s-installer-tests.yaml
  install/tests/Makefile
  install/tests/main.tf
  install/tests/manifests/gcp-issuer.yaml
  install/tests/manifests/kots-config.yaml
Due: none

create workspace
  install/tests/.terraform.lock.hcl
  install/tests/Makefile
Due: none

Update spacing between theme options
  components/dashboard/src/settings/Preferences.tsx
Due: components-dashboard-app

Update dotfiles layout
  components/dashboard/src/settings/Preferences.tsx
Due: components-dashboard-app

Revert "Add test for workspace URL templates"
  install/installer/pkg/components/ws-manager/configmap_test.go
Due: none

Revert "Append installation shortname to url templates"
  install/installer/pkg/components/ws-manager/configmap.go
Due: none

[content-service] switch to using .workspace folder for content.json
  components/content-service/pkg/layer/fixtures/full_workspace_backup.json
  components/content-service/pkg/layer/fixtures/git_initializer.json
  components/content-service/pkg/layer/fixtures/legacy_backup.json
  components/content-service/pkg/layer/provider.go
  components/image-builder-bob/pkg/builder/builder.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-content-service-app, components-supervisor-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[image-builder-bob] Use separate auth for target and base
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-mk3/pkg/orchestrator/orchestrator.go
Due: none

fix lockfile
  yarn.lock
Due: none

Feedback modal
  components/dashboard/src/Analytics.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/components/PillMenuItem.tsx
  components/dashboard/src/feedback-form/FeedbackComponent.tsx
  components/dashboard/src/feedback-form/FeedbackModal.tsx
  components/dashboard/src/images/feedback/crying-emoji.svg
  components/dashboard/src/images/feedback/happy-emoji.svg
  components/dashboard/src/images/feedback/meh-emoji.svg
  components/dashboard/src/images/feedback/starry-emoji.svg
  components/dashboard/src/index.css
Due: components-dashboard-app

[server] Remove deprecated image build log mechanism
  components/server/src/workspace/gitpod-server-impl.ts
  components/ws-manager-api/typescript/src/client-provider.ts
Due: none

[dashboard] add location for ide_configuration_changed track event
  components/dashboard/src/App.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/dashboard/src/settings/SelectIDE.tsx
  components/dashboard/src/settings/SelectIDEModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Remove stargz from builder bob
  components/image-builder-bob/pkg/builder/builder.go
Due: none

Add the gcp configs
  .werft/gke-installer-tests.yaml
  .werft/installer-tests.ts
  install/infra/terraform/gke/main.tf
  install/infra/terraform/gke/output.tf
  install/infra/terraform/gke/variables.tf
  install/infra/terraform/tools/cm-cloud-dns/main.tf
  install/tests/Makefile
  install/tests/main.tf
Due: none

[server] log less errors
  components/server/src/bitbucket-server/bitbucket-server-file-provider.ts
  components/server/src/bitbucket/bitbucket-file-provider.ts
  components/server/src/github/file-provider.ts
  components/server/src/gitlab/file-provider.ts
Due: none

[server] Update lastWebhookReceived also on Bitbucket Server prebuilds
  components/server/ee/src/prebuilds/bitbucket-server-app.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
