Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Fix workspace creation
  components/local-app/cmd/workspace-create.go
Due: components-local-app-app-linux

Print information after login
  components/local-app/cmd/login.go
  components/local-app/cmd/whoami.go
Due: components-local-app-app-linux

Improve log level printing
  components/local-app/cmd/root.go
Due: components-local-app-app-linux

change samesite for workspace owner cookie
  components/server/src/user/user-controller.ts
Due: none

Address feedback
  .gitpod.yml
  components/local-app/BUILD.yaml
  components/local-app/README.md
Due: components-local-app-app-linux

local cli: better logging for `ws stop`
  components/local-app/cmd/workspace-stop.go
Due: components-local-app-app-linux

add completion to workspace up
  components/local-app/cmd/workspace-up.go
Due: components-local-app-app-linux

Fix `ws start` status logging
  components/local-app/pkg/helper/workspace.go
Due: components-local-app-app-linux

[LocalCLI] add completion for `--class` and `--editor` flags (#19019)
  .gitpod.yml
  components/local-app/BUILD.yaml
  components/local-app/README.md
  components/local-app/cmd/root.go
  components/local-app/cmd/workspace-create.go
  components/local-app/cmd/workspace-up.go
Due: components-local-app-app-linux

Add workspace_id to proto
  components/dashboard/src/service/json-rpc-workspace-client.ts
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/workspace.pb.go
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
  components/server/src/api/workspace-service-api.ts
Due: components-dashboard-app

Remove scroll gutter styles
  components/dashboard/src/index.css
Due: components-dashboard-app

Adress review feedback
  components/local-app/cmd/login.go
  components/local-app/cmd/whoami.go
Due: components-local-app-app-linux

Print information after login (#19029)
  components/local-app/cmd/login.go
  components/local-app/cmd/whoami.go
Due: components-local-app-app-linux

Improve log level printing (#19030)
  components/local-app/cmd/root.go
Due: components-local-app-app-linux

Fix hangs
  components/local-app/cmd/workspace-stop.go
Due: components-local-app-app-linux

Defer stream closure for status observance
  components/local-app/cmd/workspace-stop.go
  components/local-app/pkg/helper/workspace.go
Due: components-local-app-app-linux

use getConfiguration in dashboard
  components/dashboard/src/data/configurations/configuration-queries.ts
  components/dashboard/src/repositories/detail/RepositoryDetail.tsx
  components/dashboard/src/repositories/detail/RepositoryName.tsx
  components/dashboard/src/repositories/list/RepositoryList.tsx
Due: components-dashboard-app

binding config service api to server
  components/dashboard/src/data/configurations/configuration-queries.ts
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryList.tsx
  components/dashboard/src/service/public-api.ts
  components/server/src/api/server.ts
Due: components-dashboard-app

adding missing binding
  components/server/src/api/teams.spec.db.ts
Due: none

adding ConfigurationServiceAPI
  components/gitpod-db/src/project-db.spec.db.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-protocol/src/public-api-converter.spec.ts
  components/gitpod-protocol/src/public-api-converter.ts
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/v1/configuration.pb.go
  components/public-api/go/v1/configuration_grpc.pb.go
  components/public-api/go/v1/v1connect/configuration.connect.go
  components/public-api/go/v1/v1connect/configuration.proxy.connect.go
  components/public-api/typescript/src/gitpod/v1/configuration_connect.ts
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
  components/server/src/api/configuration-service-api.ts
  components/server/src/api/server.ts
Due: none

Rename AddApology to MarkExceptional
  components/local-app/BUILD.js
  components/local-app/cmd/login.go
  components/local-app/cmd/workspace-create.go
  components/local-app/cmd/workspace-up.go
  components/local-app/go.mod
  components/local-app/go.sum
  components/local-app/pkg/auth/auth.go
  components/local-app/pkg/config/context.go
  components/local-app/pkg/helper/workspace.go
  components/local-app/pkg/prettyprint/errors.go
  components/local-app/pkg/prettyprint/prettyprint.go
Due: components-local-app-app-linux

Add telemetry
  components/local-app/cmd/login_test.go
  components/local-app/cmd/root.go
  components/local-app/pkg/telemetry/telemetry.go
Due: components-local-app-app-linux

use ApplicationError's
  components/server/src/api/configuration-service-api.ts
Due: none

add protobuf classes to query client hydration
  components/dashboard/src/data/setup.tsx
Due: components-dashboard-app

fixing pagination param & query
  components/dashboard/src/repositories/list/RepositoryList.tsx
  components/gitpod-db/src/typeorm/project-db-impl.ts
Due: components-dashboard-app

changing to import statements for consistency and clarity on what the imports are for
  components/dashboard/src/data/setup.tsx
Due: components-dashboard-app

cleanup
  components/gitpod-protocol/src/public-api-converter.ts
Due: none

dropping config settings for create for now
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/v1/configuration.pb.go
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
Due: none

nav
  components/dashboard/src/components/podkit/breadcrumbs/BreadcrumbNav.tsx
  components/dashboard/src/configurations/detail/ConfigurationDetailPage.tsx
Due: components-dashboard-app

Add GiB left in storage warning
  operations/observability/mixins/workspace/rules/central/ipfs.yaml
Due: none

Add GiB left in storage warning (#19035)
  operations/observability/mixins/workspace/rules/central/ipfs.yaml
Due: none

Use humanize1024 instead
  operations/observability/mixins/workspace/rules/central/ipfs.yaml
Due: none

Use humanize1024 instead (#19036)
  operations/observability/mixins/workspace/rules/central/ipfs.yaml
Due: none

Improve login failure behaviour
  components/local-app/cmd/login.go
  components/local-app/cmd/login_test.go
  components/local-app/cmd/root.go
  components/local-app/cmd/root_test.go
Due: components-local-app-app-linux

local cli: better logging for `ws stop` (#19031)
  components/local-app/cmd/workspace-stop.go
  components/local-app/pkg/helper/workspace.go
Due: components-local-app-app-linux

Fix list format
  components/local-app/cmd/workspace-list-classes.go
  components/local-app/cmd/workspace-list-editors.go
  components/local-app/cmd/workspace-list_test.go
Due: components-local-app-app-linux

Add unit test for async generator
  components/gitpod-protocol/package.json
  components/gitpod-protocol/src/generate-async-generator.spec.ts
  components/gitpod-protocol/src/generate-async-generator.ts
  yarn.lock
Due: none

Update usage of func
  components/dashboard/src/service/json-rpc-workspace-client.ts
  components/server/src/workspace/workspace-service.ts
Due: components-dashboard-app

update test cases
  components/gitpod-protocol/src/generate-async-generator.spec.ts
Due: none

fix json rpc watch
  components/dashboard/src/service/json-rpc-workspace-client.ts
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
