Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[workspace] change container iface name ceth0 to eth0
  components/docker-up/docker-up/main.go
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

Update search input style
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/index.css
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/projects/Projects.tsx
  components/dashboard/src/teams/Members.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

[ide-service] remote gp-run experiment
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/server/ideconfig.go
  components/ide-service/pkg/server/server.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

[ws-manager-mk2] Ensure workspace enters stopped
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: components-ws-daemon-app

Update prebuild and incremental prebuild emojis
  components/dashboard/package.json
  components/dashboard/src/components/WorkspaceLogs.tsx
  components/supervisor/pkg/supervisor/tasks.go
  yarn.lock
Due: components-dashboard-app, components-supervisor-app

[server] Extract some subscription helpers
  components/gitpod-protocol/src/accounting-protocol.ts
  components/gitpod-protocol/src/plans.ts
  components/server/ee/src/billing/billing-mode.ts
Due: none

fix #12208: gp env to respect workspace env vars
  components/gitpod-cli/cmd/env.go
  components/gitpod-cli/pkg/supervisor/client.go
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/go/mock.go
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/prebuilds/prebuild-manager.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/container-module.ts
  components/server/src/workspace/env-var-service.spec.ts
  components/server/src/workspace/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Due: components-gitpod-cli-app, components-gitpod-protocol-go-lib

[docker-up] update Docker Compose to 2.10.0-gitpod.1
  WORKSPACE.yaml
  components/docker-up/BUILD.yaml
  components/docker-up/dependencies.sh
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[dashboard] add switchToPAYG feature flag
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[supervisor] use common-go grpc
  components/common-go/grpc/grpc.go
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-common-go-lib, components-supervisor-app

[rebuild] map workspace location properly
  components/gitpod-cli/cmd/rebuild.go
  components/supervisor/local-hot-swap.sh
  components/supervisor/pkg/supervisor/services.go
Due: components-gitpod-cli-app, components-supervisor-app

Update docker compose to v2.16.0-gitpod.0
  WORKSPACE.yaml
Due: none

minor: update checkmark icon in org selector
  components/dashboard/src/menu/OrganizationSelector.tsx
Due: components-dashboard-app

[gitpod-cli] gp rebuild respect image context
  components/gitpod-cli/cmd/rebuild.go
Due: components-gitpod-cli-app

[gitpod-code] gp rebuild hints experiment
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[supervisor] analyze image file changes
  components/supervisor/pkg/config/gitpod-config.go
  components/supervisor/pkg/config/gitpod-config_analytics_test.go
  components/supervisor/pkg/config/gitpod-config_test.go
  components/supervisor/pkg/ports/ports-config_test.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Do not merge
  components/ws-manager/README.md
Due: components-ws-manager-app

[server, dashboard] Extend getNotifications to: AppNotification
  components/dashboard/src/AppNotifications.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[inner-loop] run Isolated docker in debug workspace
  components/gitpod-cli/cmd/rebuild.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-gitpod-cli-app, components-supervisor-app

[wsman-mk2] Change snapshot name for prebuilds
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
Due: components-ws-daemon-app

adding new profile fields for new signup flow
  components/gitpod-protocol/src/protocol.ts
Due: none

adding new flag and refactor flag type
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

Stubbing out placeholder for new onboarding flow
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/onboarding/UserOnboarding.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

[ws-daemon] Enforce cgroup v2
  components/ws-daemon/pkg/daemon/daemon.go
Due: components-ws-daemon-app

[ws-daemon] Remove last cgroup v1 plugin
  components/ws-daemon/pkg/cgroup/plugin_cachereclaim.go
  components/ws-daemon/pkg/cgroup/plugin_cachereclaim_test.go
  components/ws-daemon/pkg/daemon/daemon.go
Due: components-ws-daemon-app

disable rule for better dx - linter will catch
  components/dashboard/tsconfig.json
Due: components-dashboard-app

add styles for other input types
  components/dashboard/src/index.css
Due: components-dashboard-app

adding more options to input components
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/components/forms/SelectInputField.tsx
  components/dashboard/src/components/forms/TextInputField.tsx
Due: components-dashboard-app

Building out onboarding form
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/onboarding/OnboardingForm.tsx
  components/dashboard/src/onboarding/UserOnboarding.tsx
  components/gitpod-protocol/src/protocol.ts
Due: components-dashboard-app

adjusting form
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/onboarding/OnboardingForm.tsx
  components/dashboard/src/onboarding/UserOnboarding.tsx
  components/gitpod-protocol/src/protocol.ts
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
