Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[kots]: add node CPU/memory check tests to workspace node only
  install/kots/manifests/kots-preflight.yaml
Due: none

[configcat] Add code scanning for feature flags
  .github/workflows/configcat.yml
Due: none

[feature flags] Nudge passing in full User shapes and derive email from it
  components/dashboard/src/Menu.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/gitpod-protocol/src/experiments/configcat.ts
  components/gitpod-protocol/src/experiments/types.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Add `omitempty` struct tag
  components/common-go/baseserver/config.go
Due: components-common-go-lib

Remove json key from test expectation
  install/installer/pkg/components/usage/configmap_test.go
Due: none

Add networkpolicy for the usage component
  install/installer/pkg/components/usage/networkpolicy.go
  install/installer/pkg/components/usage/objects.go
  install/installer/pkg/components/usage/objects_test.go
Due: none

Use a different logic when client is not using proxies to connect to Gitpod Server when using JetBrains IDEs
  components/gitpod-protocol/java/src/main/java/io/gitpod/gitpodprotocol/api/GitpodServerLauncher.java
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodTerminalService.kt
Due: none

only way that seems to work
  install/preview/entrypoint.sh
Due: none

[ws-manager-bridge] Use WS update status version
  components/ee/payment-endpoint/src/accounting/account-service.spec.db.ts
  components/gitpod-db/src/user-db.spec.db.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/server/src/auth/resource-access.spec.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager-bridge/src/prometheus-metrics-exporter.ts
Due: components-ws-manager-bridge-app

[local-preview] Support `127-0-0-1.nip.io` for `DOMAIN`
  install/preview/entrypoint.sh
  install/preview/manifests/coredns.yaml
Due: none

Update 'gateway-plugin' to work with JetBrains Gateway v222.3325+
  components/ide/jetbrains/gateway-plugin/build.gradle.kts
  components/ide/jetbrains/gateway-plugin/gradle.properties
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
Due: none

[ws-manager] log errors as warnings during exponential backoff
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

[gpctl] add command to get last heartbeat time of workspace
  dev/gpctl/cmd/workspaces-last-heartbeat.go
Due: none

Update feedback issue template
  .github/ISSUE_TEMPLATE/feedback_issue.yml
Due: none

[code] point code nightly to gp-code/main branch
  .github/workflows/code-nightly.yaml
Due: none

[dev] add gp-gcloud cli
  dev/BUILD.yaml
  dev/gp-gcloud/.gitignore
  dev/gp-gcloud/BUILD.yaml
  dev/gp-gcloud/cmd/compute/instance-templates-create.go
  dev/gp-gcloud/cmd/compute/root.go
  dev/gp-gcloud/cmd/root.go
  dev/gp-gcloud/go.mod
  dev/gp-gcloud/go.sum
  dev/gp-gcloud/main.go
  dev/leeway.Dockerfile
  gitpod-ws.code-workspace
Due: none

Add `function:getSSHPublicKeys` scope to vscode client
  components/server/src/oauth-server/db.ts
Due: none

Improve GitpodWorkspaceTooManyRegularNotActive alert
  operations/observability/mixins/workspace/rules/components/workspaces/alerts.libsonnet
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Autofix: trailing-spaces
  .github/ISSUE_TEMPLATE/feedback_issue.yml
  components/dashboard/src/workspaces/Workspaces.tsx
  components/ide-proxy/static/image/ide-logo/vscodeInsiders.svg
  components/image-builder-api/typescript/src/imgbuilder_pb.d.ts
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Control.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Notification.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Port.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/TerminalOuterClass.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Token.java
  components/ws-manager-bridge-api/typescript/src/cluster-service_pb.d.ts
  dev/jetbrains-test/gradlew.bat
  install/installer/scripts/README.md
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  components/ide/code/leeway.Dockerfile
  dev/image/Dockerfile
Due: none

[installer-tests] Fix the k3s installer tests YAML
  .werft/k3s-installer-tests.yaml
Due: none

Remove the port number from "X-Forwarded-Host" header as it's is already defined in "X-Forwarded-Port"
  components/ws-proxy/pkg/proxy/routes.go
Due: none

[Analytics] move "project_created" call to projects-service.ts and add project ID
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Add clone3
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

refactor(dashboard/new-project): persist selected provider host
  components/dashboard/src/projects/NewProject.tsx
Due: components-dashboard-app

refactor(dashboard/new-project): safety against falsy `storedSelectedProviderHost`
  components/dashboard/src/projects/NewProject.tsx
Due: components-dashboard-app

refactor(menu/team-selection): persist team selection
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/teams/teams-context.tsx
Due: components-dashboard-app

refactor(dashboard/menu): fix issues with team selection persistence
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/projects/Prebuild.tsx
  components/dashboard/src/projects/Prebuilds.tsx
  components/dashboard/src/projects/Project.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/Projects.tsx
  components/dashboard/src/teams/Members.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
  components/dashboard/src/teams/teams-context.tsx
Due: components-dashboard-app
