Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[usage] Fix BilledSession credits precision
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
  components/usage/go.sum
  components/usage/pkg/apiv1/usage.go
Due: none

[usage] stripe.UpdateUsage uses context
  components/usage/pkg/controller/billing.go
  components/usage/pkg/stripe/stripe.go
Due: none

[ws-manager] Refactor connectToWorkspaceDaemon
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Fix tests
  components/ws-manager/pkg/manager/manager_test.go
Due: components-ws-manager-app

[ws-daemon] Fix wait until workspace is stop
  components/ws-daemon/pkg/dispatch/dispatch.go
Due: components-ws-daemon-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[ws-manager] Improve tracing logs
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

Filter grpc health check from tracing
  components/common-go/grpc/grpc.go
Due: components-common-go-lib

[werft] support large vm
  .werft/jobs/build/job-config.ts
  .werft/jobs/build/prepare.ts
  .werft/vm/manifests.ts
  .werft/vm/vm.ts
Due: none

[integration-test] re-enable jetbrains inte test
  .werft/ide-integration-tests-startup-jetbrains.yaml
  .werft/ide-integration-tests-startup.yaml
  .werft/ide-run-integration-tests.yaml
  test/pkg/integration/setup.go
  test/tests/ide/jetbrains/gateway_test.go
  test/tests/ide/jetbrains/main_test.go
Due: none

Check the pod label to determine the PVC feature flag is set
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

We use the install-values.yaml to attach the node affinity
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

Refactor: Fetch by iterating over flags
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[installer] move workspaceImage out of experimental config
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/configmap_test.go
  install/installer/pkg/config/v1/config.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[usage] Implement BillingService
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/apiv1/billing_noop.go
  components/usage/pkg/apiv1/billing_test.go
  components/usage/pkg/controller/pricer.go
  components/usage/pkg/controller/pricer_test.go
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/workspace_instance.go
  components/usage/pkg/server/server.go
Due: none

[usage] Add CollectUsage RPC
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/go/v1/usage_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.js
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
Due: none

ws-manager: keep in pending state only when the workspace does not timeout
  components/ws-manager/pkg/manager/status.go
Due: components-ws-manager-app

ws-manager: add gitpod/failedBeforeStopping annotation if the workspace timeout as well
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[intellij] Update IDE image to build version 222.3345.118
  WORKSPACE.yaml
Due: none

Allow selection of billing months
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

[installer]: remove todo
  install/installer/ToDo.md
Due: none

[usage] Rename CollectUsage to ReconcileUsage
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/go/v1/usage_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_grpc_pb.js
  components/usage-api/typescript/src/usage/v1/usage_pb.d.ts
  components/usage-api/typescript/src/usage/v1/usage_pb.js
  components/usage-api/usage/v1/usage.proto
Due: none

Update unit test
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_stuckInCreating_CREATING00.golden
Due: components-ws-manager-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
