Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

ws-manager: Consistently use clearInitializerFromMap.
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[kots]: give installer same node affinity as ws-daemon
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[ssh-gateway] support rsa sha256/sha512 algorithm
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: none

Fix typecheck errors
  install/installer/cmd/mirror_kots.go
  install/installer/pkg/common/common_test.go
  install/installer/pkg/common/customize_test.go
  install/installer/pkg/common/render.go
  install/installer/pkg/common/render_test.go
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/content-service/configmap_test.go
  install/installer/pkg/components/database/incluster/render_test.go
  install/installer/pkg/components/database/init/render_test.go
  install/installer/pkg/components/docker-registry/secret.go
  install/installer/pkg/components/gitpod/cronjob.go
  install/installer/pkg/components/ide-proxy/service_test.go
  install/installer/pkg/components/migrations/render_test.go
  install/installer/pkg/components/openvsx-proxy/service_test.go
  install/installer/pkg/components/proxy/service_test.go
  install/installer/pkg/components/public-api-server/objects_test.go
  install/installer/pkg/components/server/configmap_test.go
  install/installer/pkg/components/server/render_test.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/usage/objects_test.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/objects_test.go
  install/installer/pkg/components/ws-manager/configmap_test.go
  install/installer/pkg/components/ws-proxy/objects.go
Due: none

Update helm to v3.9.3
  install/installer/go.mod
  install/installer/go.sum
  install/installer/third_party/charts/minio.go
  install/installer/third_party/charts/mysql.go
  install/installer/third_party/charts/rabbitmq.go
Due: none

Fix installer golden files
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

Remove post-process status removal
  .werft/jobs/build/installer/post-process.sh
Due: none

Remove deprecated test (because gsutil)
  components/content-service/go.mod
  components/content-service/go.sum
  components/content-service/pkg/storage/gcloud_test.go
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-daemon/go.sum
  components/ws-manager/go.sum
  install/installer/go.sum
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

Revert "Fix installer golden files"
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

Update components/dashboard/src/teams/TeamUsage.tsx
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

[installer] Fix golden files
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
Due: none

CostCenter model
  components/usage/pkg/db/cost_center.go
  components/usage/pkg/db/cost_center_test.go
Due: none

Update buildkit to v0.10.4
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-bob/leeway.Dockerfile
Due: none

Update loadgen readme
  dev/loadgen/README.md
Due: dev-loadgen-app

regenerate usage-api
  components/server/src/workspace/workspace-starter.ts
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/typescript/src/usage/v1/billing_pb.d.ts
  components/usage-api/typescript/src/usage/v1/billing_pb.js
  components/usage-api/typescript/src/usage/v1/sugar.ts
  components/usage-api/usage/v1/billing.proto
  components/usage/pkg/db/billed_session.go
Due: none

Use `toLocaleString` with usage of credits
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

Use Java SDK defined on JAVA_HOME by default on JetBrains IDEs
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectManager.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Add ide-metrics http endpoint
  components/ide-metrics-api/BUILD.yaml
  components/ide-metrics-api/generate.sh
  components/ide-metrics-api/go/go.mod
  components/ide-metrics-api/go/go.sum
  components/ide-metrics-api/go/idemetrics.pb.go
  components/ide-metrics-api/go/idemetrics.pb.gw.go
  components/ide-metrics-api/idemetrics.proto
  components/ide-metrics-api/java/src/main/java/io/gitpod/idemetrics/api/Idemetrics.java
  components/ide-metrics-api/third_party/google/api/annotations.proto
  components/ide-metrics-api/third_party/google/api/field_behavior.proto
  components/ide-metrics-api/third_party/google/api/http.proto
  components/ide-metrics-api/third_party/google/api/httpbody.proto
  components/ide-metrics-api/typescript-grpc/build.sh
  components/ide-metrics-api/typescript-grpcweb/build.sh
  components/ide-metrics/go.mod
  components/ide-metrics/go.sum
  components/ide-metrics/pkg/server/server.go
Due: none

[ide-metrics] allow dynamic labels
  components/ide-metrics-api/go/config/config.go
  components/ide-metrics/config-example.json
  components/ide-metrics/pkg/server/server.go
  components/ide-metrics/pkg/server/server_test.go
Due: none

[ide-metrics] change config hash to restart instead of watch file
  components/ide-metrics/cmd/run.go
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-metrics/deployment.go
Due: none

[terraform] Make AWS certificate manager optional
  install/infra/modules/eks/dns.tf
  install/infra/modules/eks/local.tf
  install/infra/modules/eks/output.tf
  install/infra/modules/eks/variables.tf
  install/infra/single-cluster/aws/variables.tf
Due: none

[dashboard] Clean up old unused images
  components/dashboard/src/icons/GitBranch.svg
  components/dashboard/src/icons/IDENone.svg
  components/dashboard/src/icons/IDENoneDark.svg
  components/dashboard/src/icons/Key.svg
  components/dashboard/src/icons/OpenLock.svg
  components/dashboard/src/icons/Pin.svg
  components/dashboard/src/icons/Workspaces.svg
  components/dashboard/src/images/prebuild-logs-empty-dark.svg
  components/dashboard/src/images/prebuild-logs-empty.svg
  components/dashboard/src/images/theia-gray.svg
Due: components-dashboard-app

[dashboard] Clarify that spending limit is in credits
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

[billing] Add report_id to UpdateInvoices RPC
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/typescript/src/usage/v1/billing_pb.d.ts
  components/usage-api/typescript/src/usage/v1/billing_pb.js
  components/usage-api/usage/v1/billing.proto
Due: none

Redeploy from the same branch
  .github/workflows/delete-kots-channel.yml
  .werft/installer-tests.ts
  .werft/jobs/build/self-hosted-upgrade-tests.ts
  .werft/self-hosted-installer-tests.yaml
  install/infra/modules/gke/main.tf
  install/tests/Makefile
  install/tests/main.tf
  install/tests/manifests/kots-config.yaml
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
