Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

MOORe
  components/server/src/bitbucket/bitbucket-file-provider.ts
Due: none

Update leeway.Dockerfile
  components/server/leeway.Dockerfile
Due: none

Niiii
  components/server/src/auth/jwt.ts
Due: none

[ws-daemon] mount nfs in workspace network
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

Update proto
  components/public-api/gitpod/experimental/v1/workspaces.proto
Due: none

proto gen
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: none

protocol update
  components/gitpod-protocol/go/gitpod-service.go
Due: components-gitpod-protocol-go-lib

convert ide config
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

[ws-daemon] mount nfs in workspace network (#20404)
  components/ws-daemon/pkg/iws/iws.go
Due: components-ws-daemon-app

proto def +1
  components/public-api/gitpod/experimental/v1/workspaces.proto
Due: none

proto gen +1
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: none

papi impl +1
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

impl + 2
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

Update components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

[papi] add editor info to experimental.v1 (#20405)
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: components-gitpod-protocol-go-lib

[papi] fix unit tests for workspaces service
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

[papi] fix unit tests for workspaces service (#20406)
  components/public-api-server/pkg/apiv1/workspace.go
Due: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Introduce `BitbucketHttpError` to redact more effectively
  components/server/src/bitbucket-server/bitbucket-server-context-parser.ts
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-context-parser.ts
  components/server/src/bitbucket/bitbucket-file-provider.ts
Due: none

[code] update code image layers (#20408)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Make it work?
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Due: none

comment fix
  components/server/src/bitbucket-server/utils.ts
Due: none

💶
  components/server/src/bitbucket/bitbucket-context-parser.ts
Due: none

[server] fix more revealing BB error logs (#20402)
  components/server/src/bitbucket-server/bitbucket-server-context-parser.ts
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-context-parser.ts
  components/server/src/bitbucket/bitbucket-file-provider.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Due: none

Add TODO
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
Due: none

debug whitelist JetBrains
  components/server/src/user/user-service.ts
Due: none

WIP: upgrade to latest version
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Due: none

[JetBrains] try it out
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/await.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Due: none

Reuse the same tunnel for an environment
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
Due: none

[server] Add SCM repo search integration tests
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket/bitbucket-repository-provider.spec.ts
  components/server/src/github/github-repository-provider.spec.ts
  components/server/src/gitlab/gitlab-repository-provider.spec.ts
Due: none

bbs prefix search test
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
Due: none

Upgrade Kotlin to 2
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/public-api/java/build.gradle.kts
Due: none

Make it build with leeway
  components/ide/jetbrains/toolbox/BUILD.yaml
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/build.sh
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/settings.gradle.kts
Due: none

Migrate to `2.6.0.35616`
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Data.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.api.remoteDev.RemoteDevExtension
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon-gray.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Due: none

[server] Add SCM repo search integration tests (#20413)
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket/bitbucket-repository-provider.spec.ts
  components/server/src/github/github-repository-provider.spec.ts
  components/server/src/gitlab/gitlab-repository-provider.spec.ts
Due: none

Allow short search strings on new workspace page
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/search-repositories-query.ts
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
  components/dashboard/src/utils.ts
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Get rid of `isIdentity`
  components/dashboard/src/utils.ts
Due: components-dashboard-app

Only show nudges when `!onlyConfigurations`
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

Improve GitLab search length help text
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

[scrubber] skip if interface is nil
  components/scrubber/scrubber.go
  components/scrubber/scrubber_test.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
