Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Don't wait for onboarding state to render (#17577)
  components/dashboard/src/app/AppBlockingFlows.tsx
  components/dashboard/src/app/AppLoading.tsx
  components/dashboard/src/app/AppRoutes.tsx
Due: components-dashboard-app

ensure dedicated setup doesn't show on prod saas (#17582)
  components/dashboard/src/dedicated-setup/use-check-dedicated-setup.ts
Due: components-dashboard-app

Update Platform Version of JetBrains Gateway Plugin (EAP) to 231.9011-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 231.9011-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Increase workspace TerminationGracePeriodSeconds to avoid issues of node removals
  components/ws-manager-mk2/controllers/create.go
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

TEST
  components/public-api-server/pkg/oidc/router.go
Due: none

Update VS Code Browser to `1.78.2`
  WORKSPACE.yaml
Due: none

[public-api] refine mapping of json rpc error codes
  components/public-api-server/pkg/proxy/errors.go
Due: none

allow to redirect only for whitelisted trusted protocols (#17559)
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Update errors.go
  components/public-api-server/pkg/proxy/errors.go
  components/public-api-server/pkg/proxy/errors_test.go
Due: none

[public-api] refine mapping of json rpc error codes (#17591)
  components/public-api-server/pkg/proxy/errors.go
  components/public-api-server/pkg/proxy/errors_test.go
Due: none

update codeversion
  WORKSPACE.yaml
Due: none

[server] Move update user implemention to UserService
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

fix
  components/public-api-server/pkg/apiv1/oidc.go
Due: none

fix
  components/server/src/user/user-service.ts
Due: none

[analytics plugin] allow to configure segment endpoint
  components/proxy/plugins/analytics/analytics.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Update stable
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[dashboard] no editing email for org users
  components/dashboard/src/user-settings/Account.tsx
  components/dashboard/src/user-settings/ProfileInformation.tsx
  components/gitpod-protocol/src/protocol.ts
Due: components-dashboard-app

[gh-action] update IDE github action to default use ws-manager-mk2
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
Due: none

[ide-integration-test] add option to use mk2 or not
  .github/workflows/ide-integration-tests.yml
Due: none

update regressions check
  .github/workflows/preview-env-check-regressions.yml
Due: none

update build integration test
  .github/workflows/build.yml
Due: none

Org slugs are kept in sync with name
  components/dashboard/src/data/organizations/update-org-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/team-db-impl.spec.db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[analytics plugin] allow to configure segment endpoint (#17593)
  components/proxy/plugins/analytics/analytics.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 231.8770-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

[dashboard] no editing email for org users (#17594)
  components/dashboard/src/user-settings/Account.tsx
  components/dashboard/src/user-settings/ProfileInformation.tsx
  components/gitpod-protocol/src/protocol.ts
Due: components-dashboard-app

[ws-manager-mk2] Cleanup and fail workspaces when node disappears
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

Org slugs are kept in sync with name (#17596)
  components/dashboard/src/data/organizations/update-org-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/typeorm/team-db-impl.spec.db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[dashboard] fix reload
  components/dashboard/src/data/workspaces/create-workspace-mutation.ts
  components/dashboard/src/start/start-workspace-options.ts
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/gitpod-protocol/src/util/gitpod-host-url.ts
Due: components-dashboard-app

[gha] update IDE github action to default use ws-manager-mk2 (#17595)
  .github/workflows/build.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  .github/workflows/preview-env-check-regressions.yml
Due: none

Cache nodes
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 231.8770-EAP-CANDIDATE-SNAPSHOT (#17581)
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 231.9011-EAP-CANDIDATE-SNAPSHOT (#17584)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

:lipstick:
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Directly tunnel websocket connection to ssh server
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app
