Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[wsman-mk2] Emit event for timed out workspaces (#17003)
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/controllers/timeout_controller_test.go
  components/ws-manager-mk2/main.go
Due: none

update to use input/button components and mutation
  components/dashboard/src/data/organizations/update-org-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

[papi] Re-add Team.slug
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/apiv1/team.go
  components/public-api/gitpod/experimental/v1/teams.proto
  components/public-api/go/experimental/v1/teams.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/teams_pb.ts
Due: components-gitpod-protocol-go-lib

[orgs] Persist `slug`
  components/gitpod-db/package.json
  components/gitpod-db/src/typeorm/entity/db-team.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/server/src/workspace/gitpod-server-impl.ts
  yarn.lock
Due: none

[Orgs] Make `slug` changeable on Settings page
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

Remove unused code
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

[dashboard] Ensure we always send an organizationId if we need to! (#16993)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

use `useUpdateCurrentUserMutation`
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Move the IDE to our GCP registry 🎉
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Add xterm as an IDE
  components/ide-proxy/static/image/ide-logo/xterm.svg
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Also resolve the source code commit for IDEs in `ide-service`
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/ocitool/resolve.go
  components/ide-service/pkg/ocitool/resolve_test.go
  components/ide-service/pkg/server/ideconfig.go
Due: none

always add `<iframe>` to the top of `<body>`
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-supervisor-app

Add feature flag
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: components-dashboard-app

Xterm => terminal
  components/ide-proxy/static/image/ide-logo/terminal.svg
  components/ide-proxy/static/image/ide-logo/xterm.svg
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Revert "Also resolve the source code commit for IDEs in `ide-service`"
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/ocitool/resolve.go
  components/ide-service/pkg/ocitool/resolve_test.go
  components/ide-service/pkg/server/ideconfig.go
Due: none

Replace `<SelectIDE />` with `<SelectIDEComponent />`
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Enlarge
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Don't show stable IDEs when latest is selected
  components/dashboard/src/components/SelectIDEComponent.tsx
Due: components-dashboard-app

The latest checkbox
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Remove `<SelectIDEModal />`
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/user-settings/SelectIDEModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Use `width` instead of `max-width`
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Remove custom modal width
  components/dashboard/src/user-settings/SelectIDEModal.tsx
Due: components-dashboard-app

Show JB beta notice
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Add a margin to the selector
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Finish off the age-old todo :)
  components/dashboard/tailwind.config.js
Due: components-dashboard-app

Remove `<SelectIDE />`
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Dead code
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Limit width
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Back, back to school again
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Remove unused import
  components/dashboard/src/user-settings/Preferences.tsx
Due: components-dashboard-app

Fix width
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Improve node-labeler
  components/node-labeler/cmd/run.go
Due: none

default orgGitAuthProviders to true for dedicated
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
