Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

fix bug with api constantly being called
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

swap branches add workspace button to use modal
  components/dashboard/src/projects/Project.tsx
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[alerts] Reduce trigger duration for Stripe Webhook Failure alert
  operations/observability/mixins/meta/rules/public-api.yaml
  operations/observability/mixins/meta/rules/usage.yaml
Due: none

[server] Remove image builder address config
  components/server/src/config.ts
  components/server/src/container-module.ts
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/slowserver/configmap.go
Due: none

[billing] provide human readable price info
  .werft/jobs/build/payment/stripe-configmap.yaml
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/user/stripe-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/go/v1/usage.pb.go
  components/usage-api/go/v1/usage_grpc.pb.go
  components/usage-api/typescript/src/google/protobuf/timestamp.pb.ts
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/typescript/src/usage/v1/usage.pb.ts
  components/usage-api/usage/v1/billing.proto
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/stripe/stripe.go
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: components-dashboard-app

Cleanup withoutWorkspaceComponents flag usage
  components/server/src/config.ts
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/ws-proxy/configmap.go
  install/installer/pkg/components/ws-proxy/deployment.go
Due: none

Update JetBrains Gateway Plugin to support Gateway v2023.1
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Use state to store team name
  components/dashboard/src/teams/NewTeam.tsx
Due: components-dashboard-app

[installer] Use new node label and update golden files
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-manager-mk2/deployment.go
Due: none

[dev] Dedicated: Don't show SetupModal
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Use a valid UUID for the admin user
  components/gitpod-db/src/user-db.ts
Due: none

[ws-manager-mk2] Add validating webhook
  components/ws-manager-mk2/PROJECT
  components/ws-manager-mk2/api/v1/webhook_suite_test.go
  components/ws-manager-mk2/api/v1/workspace_types.go
  components/ws-manager-mk2/api/v1/workspace_webhook.go
  components/ws-manager-mk2/api/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/config/certmanager/certificate.yaml
  components/ws-manager-mk2/config/certmanager/kustomization.yaml
  components/ws-manager-mk2/config/certmanager/kustomizeconfig.yaml
  components/ws-manager-mk2/config/default/manager_webhook_patch.yaml
  components/ws-manager-mk2/config/default/webhookcainjection_patch.yaml
  components/ws-manager-mk2/config/webhook/kustomization.yaml
  components/ws-manager-mk2/config/webhook/kustomizeconfig.yaml
  components/ws-manager-mk2/config/webhook/service.yaml
  components/ws-manager-mk2/main.go
Due: none

[ws-manager-mk2] Support workspace stops
  components/ws-manager-mk2/Makefile
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/service/manager.go
Due: none

[ws-daemon] Make ws-manager-mk2 compatible
  components/ws-daemon/pkg/container/containerd.go
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
Due: components-ws-daemon-app

Integrate content init and disposal
  components/ws-manager-mk2/BUILD.yaml
  components/ws-manager-mk2/api/v1/workspace_types.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/debug.sh
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  components/ws-manager-mk2/grpcpool/pool.go
  components/ws-manager-mk2/grpcpool/pool_test.go
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/service/manager.go
Due: none

[installer] Add tls for image builder
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-manager-mk2/deployment.go
  install/installer/pkg/components/ws-manager-mk2/tlssecret.go
Due: none

Fix build
  .werft/jobs/build/installer/installer.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/ws-manager-bridge/objects.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-proxy/configmap.go
Due: none

[ws-manager-mk2] Improve status extraction
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/controllers/status.go
Due: none

[ws-daemon] Start workspace controller based content init
  components/common-go/kubernetes/kubernetes.go
  components/ws-daemon/BUILD.yaml
  components/ws-daemon/cmd/run.go
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/pkg/content/hooks.go
  components/ws-daemon/pkg/content/initializer.go
  components/ws-daemon/pkg/content/service.go
  components/ws-daemon/pkg/controller/controller.go
  components/ws-daemon/pkg/daemon/config.go
  components/ws-daemon/pkg/daemon/daemon.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/go.mod
  install/installer/pkg/components/ws-daemon/clusterrole.go
  install/installer/pkg/components/ws-daemon/configmap.go
Due: components-common-go-lib, components-ws-daemon-app

[ws-manager-mk2] Remove ws-daemon connection
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/BUILD.yaml
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
Due: none

[installer] Update golden files
  install/installer/cmd/testdata/render/customization/output.golden
Due: none

[ws-manager-mk2] Integrate into installer
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/jobs/build/installer/installer.ts
  .werft/jobs/build/job-config.ts
  components/ws-manager-mk2/BUILD.yaml
  components/ws-manager-mk2/Makefile
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/BUILD.yaml
  install/installer/pkg/common/constants.go
  install/installer/pkg/components/components-workspace/components.go
  install/installer/pkg/components/registry-facade/configmap.go
  install/installer/pkg/components/ws-manager-bridge/objects.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-manager-mk2/configmap_test.go
  install/installer/pkg/components/ws-manager-mk2/constants.go
  install/installer/pkg/components/ws-manager-mk2/crd.go
  install/installer/pkg/components/ws-manager-mk2/crd.yaml
  install/installer/pkg/components/ws-manager-mk2/deployment.go
  install/installer/pkg/components/ws-manager-mk2/networkpolicy.go
  install/installer/pkg/components/ws-manager-mk2/objects.go
  install/installer/pkg/components/ws-manager-mk2/role.go
  install/installer/pkg/components/ws-manager-mk2/rolebinding.go
  install/installer/pkg/components/ws-manager-mk2/tlssecret.go
  install/installer/pkg/components/ws-manager-mk2/unpriviledged-rolebinding.go
  install/installer/pkg/components/ws-proxy/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/installer/pkg/config/versions/versions.go
Due: none

[installer] Fix content init
  install/installer/pkg/components/ws-daemon/constants.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
Due: none

[ws-proxy] Support workspace CRD
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/status.go
  components/ws-proxy/cmd/run.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/sshproxy/server.go
  install/installer/pkg/components/ws-proxy/role.go
Due: none

[ws-manager-mk2] Rework CRD to better match k8s best practice
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/Makefile
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  components/ws-manager-mk2/service/manager.go
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/versions.yaml
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-manager-mk2/objects.go
Due: none

[werft] Patch registry port in mk2 configmap
  .werft/jobs/build/installer/post-process.sh
Due: none

[ws-manager-mk2] Fix build after rebase
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/image-builder-mk3/pkg/resolve/resolve.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  components/ws-manager-mk2/service/imagespec.go
  components/ws-manager-mk2/service/manager.go
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/pkg/components/ws-proxy/configmap.go
Due: none

Debug commit: about to start the controller
  components/ws-manager-mk2/BUILD.yaml
  components/ws-manager-mk2/Makefile
  components/ws-manager-mk2/api/v1/workspace_types.go
  components/ws-manager-mk2/api/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/cmd/sample-workspace/main.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/example-config.json
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  components/ws-manager-mk2/main.go
Due: none

[ws-manager-mk2] Introduce first controller test
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/status_test.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/testdata/status_multipod.golden
  components/ws-manager-mk2/controllers/testdata/status_multipod.json
  components/ws-manager-mk2/controllers/testdata/status_nopod.golden
  components/ws-manager-mk2/controllers/testdata/status_nopod.json
  components/ws-manager-mk2/controllers/testdata/status_pulling.golden
  components/ws-manager-mk2/controllers/testdata/status_pulling.json
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Move ws-manager-mk2 CRD to API package
  components/ws-manager-api/go/BUILD.yaml
  components/ws-manager-api/go/crd/v1/groupversion_info.go
  components/ws-manager-api/go/crd/v1/webhook_suite_test.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/workspace_webhook.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-api/go/go.mod
  components/ws-manager-api/go/go.sum
  components/ws-manager-mk2/.gitignore
  components/ws-manager-mk2/Makefile
  components/ws-manager-mk2/PROJECT
  components/ws-manager-mk2/cmd/sample-workspace/main.go
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
  components/ws-manager-mk2/main.go
  components/ws-manager-mk2/service/imagespec.go
  components/ws-manager-mk2/service/manager.go
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  dev/gpctl/go.mod
  dev/gpctl/go.sum
  dev/loadgen/go.mod
  dev/loadgen/go.sum
  install/installer/go.sum
  test/go.mod
Due: components-ws-manager-app, dev-loadgen-app

[ws-manager-mk2] Fix the build
  components/ws-manager-mk2/controllers/workspace_controller.go
  install/installer/go.sum
Due: none

[ws-daemon] Do not hide errors
  components/ws-daemon/pkg/controller/controller.go
Due: components-ws-daemon-app

[ws-manager-mk2] Add fixture tests
  components/ws-manager-mk2/controllers/status_test.go
  components/ws-manager-mk2/controllers/testdata/status_multipod.golden
  components/ws-manager-mk2/controllers/testdata/status_multipod.json
  components/ws-manager-mk2/controllers/testdata/status_nopod.golden
  components/ws-manager-mk2/controllers/testdata/status_nopod.json
  components/ws-manager-mk2/controllers/testdata/status_pulling.golden
  components/ws-manager-mk2/controllers/testdata/status_pulling.json
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/go.mod
  components/ws-manager-mk2/go.sum
Due: none
