Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Return generic error instead of s3 error
  components/content-service/pkg/storage/s3.go
Due: components-content-service-app

[installer] Configure S3
  install/installer/cmd/testdata/render/aws-setup/config.yaml
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/insecure-s3-setup/config.yaml
  install/installer/cmd/testdata/render/insecure-s3-setup/output.golden
  install/installer/pkg/common/storage.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/config/v1/config.go
Due: none

Add logs to check in Preview Environment
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectManager.kt
Due: none

previewctl list stale
  dev/preview/previewctl/BUILD.yaml
  dev/preview/previewctl/cmd/access.go
  dev/preview/previewctl/cmd/get.go
  dev/preview/previewctl/cmd/get_name.go
  dev/preview/previewctl/cmd/list_previews.go
  dev/preview/previewctl/cmd/stale.go
  dev/preview/previewctl/cmd/workspaces.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/pkg/k8s/context/k3s/k3s.go
  dev/preview/previewctl/pkg/k8s/pforward.go
  dev/preview/previewctl/pkg/preview/context.go
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/status.go
  dev/preview/previewctl/pkg/preview/util.go
Due: none

[dashboard] make sure all team route under `/t`
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

[dashboard] List projects using Public API
  components/dashboard/src/Menu.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/projects/Events.tsx
  components/dashboard/src/projects/Prebuild.tsx
  components/dashboard/src/projects/Prebuilds.tsx
  components/dashboard/src/projects/Project.tsx
  components/dashboard/src/projects/Projects.tsx
  components/dashboard/src/service/public-api.ts
  components/gitpod-protocol/go/gitpod-service.go
Due: components-dashboard-app, components-gitpod-protocol-go-lib

[oidc] Add stub RPCs
  components/common-go/experiments/flags.go
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
  components/public-api-server/pkg/server/server.go
Due: components-common-go-lib

[changelog] updated changelog
  CHANGELOG.md
Due: none

installer: update volume mount when Secret updates
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/image-builder-mk3/configmap.go
  install/installer/pkg/components/image-builder-mk3/constants.go
  install/installer/pkg/components/image-builder-mk3/deployment.go
  install/installer/pkg/components/registry-facade/configmap.go
  install/installer/pkg/components/registry-facade/daemonset.go
Due: none

[alerts] Usage - increase duration of expression to 30m
  operations/observability/mixins/meta/rules/usage.yaml
Due: none

[usage] make increment billing cycle more robust
  components/gitpod-db/go/cost_center.go
  components/usage/pkg/apiv1/billing.go
Due: none

Use Leeway version v0.7.1
  dev/image/Dockerfile
Due: none

Bump image for Gitpod and all CI jobs
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-delete-preview-environment.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-artificial-job.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

preview delete cron use previewctl list stale
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/jobs/build/prepare.ts
  .werft/platform-delete-preview-environment.ts
  .werft/platform-delete-preview-environments-cron.ts
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/util/preview.ts
  .werft/vm/vm.ts
  dev/preview/previewctl/BUILD.yaml
  dev/preview/previewctl/cmd/stale.go
  dev/preview/previewctl/cmd/workspaces.go
  dev/preview/previewctl/pkg/preview/status.go
  dev/preview/workflow/preview/configure-workspace.sh
Due: none

[server] move workspace ide configuration to ide service
  components/gitpod-protocol/src/workspace-instance.ts
  components/server/src/ide-service.spec.ts
  components/server/src/ide-service.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Clean up bash scripts in favour of previewctl
  .werft/jobs/build/deploy-to-preview-environment.ts
  .werft/jobs/build/installer/installer.ts
  .werft/jobs/build/prepare.ts
  .werft/observability/monitoring-satellite.ts
  .werft/platform-delete-preview-environment.ts
  .werft/platform-delete-preview-environments-cron.ts
  .werft/util/preview.ts
  .werft/vm/vm.ts
  dev/preview/BUILD.yaml
  dev/preview/install-k3s-kubeconfig.sh
  dev/preview/previewctl/pkg/preview/status.go
  dev/preview/ssh-vm.sh
  dev/preview/util/portforward-monitoring-satellite-core-dev.sh
  dev/preview/util/portforward-monitoring-satellite-harvester.sh
  dev/preview/util/preview-name-from-branch.sh
  dev/preview/workflow/preview/build.sh
  dev/preview/workflow/preview/deploy-gitpod.sh
  dev/preview/workflow/preview/deploy-monitoring-satellite.sh
Due: none

Label Positionning
  components/dashboard/src/settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

flag: add BETA Label to `/tokens` page
  components/dashboard/src/settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

[dashboard] Use Public API to delete projects, behind experiment
  components/dashboard/src/projects/Projects.tsx
Due: components-dashboard-app

[public-api] Implement ProjectsService.DeleteProject
  components/public-api-server/pkg/apiv1/project.go
  components/public-api-server/pkg/apiv1/project_test.go
Due: none

[content-service] Prevent permission denied during content init
  components/content-service/pkg/archive/tar.go
Due: components-content-service-app

[server] don't fail on undefined currency
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

feat: change jetbrains ides dir layout
  .github/workflows/jetbrains-auto-update-template.yml
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/cli/cmd/root.go
  components/ide/jetbrains/image/BUILD.js
  components/ide/jetbrains/image/create-supervisor-config.js
  components/ide/jetbrains/image/hot-deploy.sh
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/image/resolve-latest-ide-version.sh
  components/ide/jetbrains/image/status/main.go
  components/ide/jetbrains/image/supervisor-ide-config_clion-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_goland-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_goland.json
  components/ide/jetbrains/image/supervisor-ide-config_intellij-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_intellij.json
  components/ide/jetbrains/image/supervisor-ide-config_phpstorm-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_phpstorm.json
  components/ide/jetbrains/image/supervisor-ide-config_pycharm-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_pycharm.json
  components/ide/jetbrains/image/supervisor-ide-config_rider-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_rider.json
  components/ide/jetbrains/image/supervisor-ide-config_rubymine-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_rubymine.json
  components/ide/jetbrains/image/supervisor-ide-config_webstorm-latest.json
  components/ide/jetbrains/image/supervisor-ide-config_webstorm.json
Due: none

[dashboard] Nudge users toward pay-as-you-go in workspace class preferences
  components/dashboard/src/components/Alert.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/settings/selectClass.tsx
Due: components-dashboard-app

[dashboard] In Team Billing, if UBP flag is on but you still have an active Chargebee team plan, also nudge towards cancelling
  components/dashboard/src/teams/TeamBilling.tsx
Due: components-dashboard-app

[installer]: improve the comparison method for the golden files
  install/installer/cmd/render_test.go
Due: none
