Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

wip trying to upgrade react-scripts
  components/dashboard/.eslintrc.js.bak
  components/dashboard/craco.config.js
  components/dashboard/package.json
  components/dashboard/src/projects/Prebuilds.tsx
  components/dashboard/src/start/VerifyModal.tsx
  yarn.lock
Due: components-dashboard-app

test commit
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/server/src/github/github-context-parser.ts
Due: components-dashboard-app

test commit
  components/server/src/github/github-context-parser.ts
Due: none

logging
  components/server/src/github/github-context-parser.ts
Due: none

adding some logging
  components/gitpod-protocol/java/.classpath
  components/ide-metrics-api/java/.classpath
  components/ide/jetbrains/backend-plugin/.classpath
  components/server/src/github/github-context-parser.spec.ts
  components/server/src/github/github-context-parser.ts
  components/supervisor-api/java/.classpath
Due: none

Revert "adding some logging"
  components/gitpod-protocol/java/.classpath
  components/ide-metrics-api/java/.classpath
  components/ide/jetbrains/backend-plugin/.classpath
  components/server/src/github/github-context-parser.spec.ts
  components/server/src/github/github-context-parser.ts
  components/supervisor-api/java/.classpath
Due: none

fix
  components/server/src/github/github-context-parser.ts
Due: none

Update VS Code Browser to `1.79.0`
  WORKSPACE.yaml
Due: none

change workspace version
  WORKSPACE.yaml
Due: none

Update stable
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Update VS Code Browser to `1.79.0` (#17903)
  WORKSPACE.yaml
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/installation-telemetry/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

update index (#17856)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/installation-telemetry/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[dashboard] Always use Public API for workspace stop
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

and delete
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
Due: components-dashboard-app

use time.Time
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/apiv1/identityprovider.go
Due: components-gitpod-protocol-go-lib

[wsman-mk2] Test custom max lifetime
  components/ws-manager-mk2/controllers/timeout_controller_test.go
Due: none

[wsman-api] Fix conflicting raw proto
  components/ws-manager-api/go/core.pb.go
Due: none

Feedback
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Fix return
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
Due: components-dashboard-app

[ws-manager-mk2] Test prebuilds and imagebuilds (#17899)
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

[server] Store only User ID on WS connection instance
  components/server/src/user/user-controller.ts
  components/server/src/websocket/websocket-connection-manager.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Fix mutate error catch, use try/catch for stopWs
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Fix
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[server] Add tests for resource-access and env-var-service (#17833)
  components/server/src/auth/resource-access.spec.ts
  components/server/src/workspace/env-var-service.spec.ts
Due: none

[IDP] set email_verified to false if user is not org-owned user (#17896)
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Due: components-gitpod-protocol-go-lib

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.7295-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 232.7295-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Measure test durations
  test/pkg/integration/apis.go
  test/pkg/integration/common/port_forward.go
  test/pkg/integration/integration.go
  test/pkg/integration/setup.go
  test/pkg/integration/workspace.go
  test/tests/workspace/benchmark_test.go
Due: none

[ws-manager-mk2] Configure max workspace lifetime (#17767)
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/controllers/timeout_controller_test.go
  components/ws-manager-mk2/service/manager.go
Due: none

[dashboard] Always use Public API for workspace stop & delete (#17904)
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
  components/dashboard/src/data/workspaces/stop-workspace-mutation.ts
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

Rename manage billing settings button label (#17888)
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

[server] Store only User ID on WS connection instance - WEB-460 (#17905)
  components/server/src/user/user-controller.ts
  components/server/src/websocket/websocket-connection-manager.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Log agent size
  test/pkg/integration/integration.go
Due: none

[test] Speed up integration tests
  test/pkg/integration/apis.go
  test/pkg/integration/common/port_forward.go
  test/pkg/integration/integration.go
  test/pkg/integration/setup.go
  test/pkg/integration/workspace.go
Due: none

Update components/public-api-server/pkg/auth/middleware.go
  components/public-api-server/pkg/auth/middleware.go
Due: none

Redact email instead of hashing (#17742)
  components/scrubber/config.go
  components/scrubber/scrubber.go
  components/scrubber/scrubber_test.go
Due: none

[test] Speed up integration tests (#17909)
  test/pkg/integration/apis.go
  test/pkg/integration/common/port_forward.go
  test/pkg/integration/integration.go
  test/pkg/integration/setup.go
  test/pkg/integration/workspace.go
Due: none
