Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[public-api] JWT Signer & Verifier WEB-101 (#17308)
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/auth/jwt.go
  components/public-api-server/pkg/auth/jwt_test.go
  components/public-api-server/pkg/identityprovider/idp_test.go
  components/public-api-server/pkg/oidc/state_jwt.go
  components/public-api-server/pkg/oidc/state_jwt_test.go
  components/public-api-server/pkg/server/server.go
Due: none

[supervisor] small fixes of previous leftovers (#17315)
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Fix
  components/server/src/session-handler.ts
Due: none

[gitpod-db] add `someOrgWithSSO` to team db
  components/gitpod-db/src/team-db.spec.db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
Due: none

[server] add ONBOARDING_IN_PROGRESS hook
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[configcat] adding `custom.gitpod_host` attribute to select preview envs
  components/gitpod-protocol/src/experiments/configcat.ts
  components/gitpod-protocol/src/experiments/types.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[dashboard] catch ONBOARDING_IN_PROGRESS error
  components/dashboard/src/DedicatedOnboarding.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
Due: components-dashboard-app

[server] stop logging 0 items (#17311)
  components/gitpod-db/src/periodic-deleter.ts
Due: none

[wsman-mk2] Set workspace class environment variables (#17316)
  components/ws-manager-mk2/controllers/create.go
Due: none

fix
  components/server/src/auth/jwt.spec.ts
Due: none

[server] Only try to delete Stripe subscription if the user's BillingMode is "usage-based"
  components/server/src/user/user-deletion-service.ts
Due: none

Enable Dedicated Onboarding Flow – WEB-193 (#17303)
  components/dashboard/src/DedicatedOnboarding.tsx
  components/dashboard/src/components/error-boundaries/QueryErrorBoundary.tsx
  components/gitpod-db/src/team-db.spec.db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/go/error.go
  components/gitpod-protocol/src/experiments/configcat.ts
  components/gitpod-protocol/src/experiments/types.ts
  components/gitpod-protocol/src/messaging/error.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app, components-gitpod-protocol-go-lib

[common-go] add custom attribute "gitpod-host"
  components/common-go/experiments/configcat.go
  components/common-go/experiments/types.go
Due: components-common-go-lib

Remove deprecated and unused getPortAuthenticationToken method
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/go/mock.go
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager/pkg/manager/testdata/status_cannotPull_004_CREATING00.json
  components/ws-manager/pkg/manager/testdata/status_cannotPull_005_STOPPED00.json
  components/ws-manager/pkg/manager/testdata/status_containerd4214_STOPPING00.json
  components/ws-manager/pkg/manager/testdata/status_contentInitFailed_005_STOPPED00.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED01.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED02.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED03.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPING01.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPING02.json
  components/ws-manager/pkg/manager/testdata/status_failedLogs_RUNNING00.json
  components/ws-manager/pkg/manager/testdata/status_headlessTaskFailed_STOPPING00.json
  components/ws-manager/pkg/manager/testdata/status_ideFailedToStart_005_RUNNING00.json
  components/ws-manager/pkg/manager/testdata/status_prebuildFail_STOPPED00.json
  components/ws-manager/pkg/manager/testdata/status_prebuildFail_STOPPING00.json
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING01.json
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING02.json
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess_STOPPED00.json
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess_STOPPING00.json
  components/ws-manager/pkg/manager/testdata/status_stoppedByRequest_000_RUNNING00.json
  components/ws-manager/pkg/manager/testdata/status_stuckInStopping_STOPPING00.json
  components/ws-manager/pkg/manager/testdata/status_workspaceCompleted_01.json
  components/ws-manager/pkg/manager/testdata/status_workspace_startup_failed.json
  dev/loadgen/cmd/run.go
  dev/loadgen/configs/prod-benchmark.yaml
  dev/loadgen/configs/workspace-preview-benchmark.yaml
Due: components-gitpod-protocol-go-lib, components-ws-manager-app, dev-loadgen-app

[server] use options from last instances on start
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/ide-service-api/go/ide.pb.go
  components/ide-service-api/go/ide_grpc.pb.go
  components/ide-service-api/ide.proto
  components/ide-service-api/typescript/src/ide.pb.ts
  components/ide-service/pkg/server/server.go
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_goland.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_code.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_code_desktop.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_goland.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_invalid.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_invalid_with_intellij.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_code.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_intellij.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_intellij_latest.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_with_intellij_config.golden
  components/server/src/workspace/workspace-starter.ts
Due: none

[server] use options from last instances on start (#17298)
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/ide-service-api/go/ide.pb.go
  components/ide-service-api/go/ide_grpc.pb.go
  components/ide-service-api/ide.proto
  components/ide-service-api/typescript/src/ide.pb.ts
  components/ide-service/pkg/server/server.go
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_goland.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_code.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_code_desktop.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_gw_invalid_with_goland.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_invalid.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_referrer_invalid_with_intellij.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_code.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_intellij.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_intellij_latest.golden
  components/ide-service/pkg/server/testdata/resolve_ws_config_regular_with_intellij_config.golden
  components/server/src/workspace/workspace-starter.ts
Due: none

adjust hold to be 1.00
  components/usage/pkg/apiv1/billing.go
Due: none

removing old comment
  components/usage/pkg/stripe/stripe.go
Due: none

adding backend support for payment intents (#17309)
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/usage-api/go/v1/billing.pb.go
  components/usage-api/go/v1/billing_grpc.pb.go
  components/usage-api/typescript/src/usage/v1/billing.pb.ts
  components/usage-api/usage/v1/billing.proto
  components/usage/pkg/apiv1/billing.go
  components/usage/pkg/stripe/stripe.go
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

always add `<iframe>` to the top of `<body>`
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-supervisor-app

Add latest image
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Add the next non-jb IDE :)
  components/dashboard/src/user-settings/SelectIDE.tsx
Due: components-dashboard-app

Add feature flag
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Also resolve the source code commit for IDEs in `ide-service`
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/ocitool/resolve.go
  components/ide-service/pkg/ocitool/resolve_test.go
  components/ide-service/pkg/server/ideconfig.go
Due: none

Move the IDE to our GCP registry 🎉
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Xterm => terminal
  components/ide-proxy/static/image/ide-logo/terminal.svg
  components/ide-proxy/static/image/ide-logo/xterm.svg
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Add xterm as an IDE
  components/ide-proxy/static/image/ide-logo/xterm.svg
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Revert "Also resolve the source code commit for IDEs in `ide-service`"
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/ocitool/resolve.go
  components/ide-service/pkg/ocitool/resolve_test.go
  components/ide-service/pkg/server/ideconfig.go
Due: none

Send the user along the server request
  components/server/src/ide-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Filter out experimental IDEs on the backend
  components/ide-service-api/go/ide.pb.go
  components/ide-service-api/ide.proto
  components/ide-service-api/typescript/src/ide.pb.ts
  components/ide-service/pkg/server/server.go
Due: none

Check for nils
  components/ide-service/pkg/server/server.go
Due: none

No frontend filtering anymore
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

Minor refactor
  components/ide-service/pkg/server/server.go
Due: none

Again lol
  components/server/src/ide-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Add email address to the user
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Typo fix
  components/ide-service/pkg/server/server.go
Due: none

Type hacks
  components/server/src/ide-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
