Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Delete cordoned node once it's empty during werft cleanup p2
  .werft/platform-trigger-werft-cleanup.sh
Due: none

[installer] Don't keep random trailing spaces when creating .golden files
  install/installer/cmd/render_test.go
Due: none

[dashboard] Show billing period start and end dates in usage-based billing settings
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

[dashboard] Improve progress bar style in -webkit browsers
  components/dashboard/src/index.css
Due: components-dashboard-app

[dashboard] Implement 'Balance' UI in usage-based billing settings
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/index.css
Due: components-dashboard-app

[dashboard] Fix top-level team selector state when in personal settings pages (including billing pages)
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

[dashboard] Differentiate usage-based upgrade UI for teams vs users
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/images/check-circle.svg
Due: components-dashboard-app

[dashboard] Improve colors and wording of usage-based billing pages
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/settings/Billing.tsx
  components/dashboard/src/teams/TeamBilling.tsx
Due: components-dashboard-app

[dashboard] Simplify and optimize UsageBasedBillingConfig component
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/settings/Billing.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

[server] openPort maps ResourceExhausted from ws-man to TooManyRequests
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[self-hosted-preview] Support version specification in preview
  .werft/jobs/build/job-config.ts
  .werft/jobs/build/self-hosted-upgrade-tests.ts
  install/tests/Makefile
Due: none

[dashboard] Remove workspace class feature flag
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/settings/Preferences.tsx
Due: components-dashboard-app

[server] Garbage collect probe workspaces
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/server/src/workspace/garbage-collector.ts
Due: none

[public-api] Authentication interceptors for connect API
  components/public-api-server/go.sum
  components/public-api-server/pkg/auth/auth.go
  components/public-api-server/pkg/auth/auth_test.go
  components/public-api-server/pkg/auth/context.go
  components/public-api-server/pkg/auth/context_test.go
  components/public-api-server/pkg/auth/middleware.go
  components/public-api-server/pkg/auth/middleware_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
Due: none

[server] Remove workspace class feature flag
  components/server/src/workspace/workspace-starter.ts
Due: none

[public-api] Refactor to use conenct handlers, route api.domain to HTTP
  components/proxy/conf/Caddyfile
  components/public-api-server/pkg/apiv1/prebuild.go
  components/public-api-server/pkg/apiv1/prebuild_test.go
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api-server/pkg/proxy/errors.go
  components/public-api-server/pkg/proxy/errors_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
  dev/gpctl/cmd/public-api.go
Due: none

[phpstorm] Update IDE image to build version 222.4345.15
  WORKSPACE.yaml
Due: none

[rubymine] Update IDE image to build version 222.4345.14
  WORKSPACE.yaml
Due: none

Add a lock timeout for plan/apply and general timeout on apply
  dev/preview/workflow/lib/terraform.sh
Due: none

Update `code-nightly.yml` to pull from `gp-code/main` again
  .github/workflows/code-nightly.yaml
Due: none

Change the extension of the `code-nightly` workflow
  .github/workflows/code-nightly.yml
Due: none

Update Platform Version of JetBrains Gateway Plugin to 222.4345.14-CUSTOM-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle.properties
Due: none

[supervisor] local exposed
  components/supervisor/pkg/ports/exposed-ports.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Use a normal component and conditionally build it using leeway build
  .werft/jobs/build/build-and-publish.ts
  install/preview/BUILD.js
  install/preview/BUILD.yaml
Due: none

[public-api] U Refactor to use connect handlers, route to HTTP server
  components/proxy/conf/Caddyfile
  components/public-api-server/pkg/apiv1/prebuild.go
  components/public-api-server/pkg/apiv1/prebuild_test.go
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api-server/pkg/proxy/errors.go
  components/public-api-server/pkg/proxy/errors_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
  dev/gpctl/cmd/public-api.go
Due: none

[proxy] Enable cors for api.<domain>
  components/dashboard/BUILD.yaml
  components/dashboard/package.json
  components/dashboard/src/workspaces/workspace-model.ts
  components/proxy/conf/Caddyfile
  components/proxy/plugins/corsorigin/cors_origin.go
Due: components-dashboard-app

Add option to add authentication to Jaeger and custom tags
  install/installer/pkg/common/common.go
  install/installer/pkg/components/agent-smith/daemonset.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/image-builder-mk3/deployment.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/components/ws-manager/deployment.go
  install/installer/pkg/components/ws-proxy/deployment.go
  install/installer/pkg/config/v1/config.go
Due: none

fix
  components/dashboard/src/workspaces/workspace-model.ts
Due: components-dashboard-app

[content-service] Remove usage.proto - unused
  components/content-service-api/go/usage.pb.go
  components/content-service-api/go/usage_grpc.pb.go
  components/content-service-api/typescript/src/usage_grpc_pb.d.ts
  components/content-service-api/typescript/src/usage_grpc_pb.js
  components/content-service-api/typescript/src/usage_pb.d.ts
  components/content-service-api/typescript/src/usage_pb.js
  components/content-service-api/usage.proto
Due: none

fix
  components/proxy/conf/Caddyfile
  components/proxy/plugins/corsorigin/cors_origin.go
Due: none

fix
  components/proxy/conf/Caddyfile
Due: none

Fix?
  components/proxy/plugins/corsorigin/cors_origin.go
Due: none

[obs] Remove NetworkConnectionsTooHigh alert
  operations/observability/mixins/workspace/rules/nodes.yaml
Due: none

[proxy] Remove ineffectual cors on /api/* and /headless-log-download*
  components/proxy/conf/Caddyfile
Due: none
