Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[pre-commit] Add go fmt, go mod tidy & bump versions
  .pre-commit-config.yaml
Due: none

[payment] Auto-format chargebee/team-subscription-handler.ts
  components/ee/payment-endpoint/src/chargebee/team-subscription-handler.ts
Due: none

[server][dashboard] Implement a new Team Billing where Owners can conveniently manage a paid plan for their Team
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/chargebee/chargebee-client.ts
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/ee/payment-endpoint/src/accounting/index.ts
  components/ee/payment-endpoint/src/accounting/team-subscription2-service.ts
  components/ee/payment-endpoint/src/chargebee/team-subscription-handler.ts
  components/ee/payment-endpoint/src/container-module.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[payment] Implement a pro-ration helper method
  components/ee/payment-endpoint/src/chargebee/upgrade-helper.ts
Due: none

[dashboard] Hide the new Team Billing menu entry for a soft launch
  components/dashboard/src/teams/TeamSettings.tsx
Due: components-dashboard-app

DEBUG
  components/dashboard/src/teams/TeamBilling.tsx
  components/ee/payment-endpoint/src/accounting/team-subscription2-service.ts
  components/ee/payment-endpoint/src/chargebee/endpoint-controller.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Add blockedRepositories config to the installer
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Add test for blocked repository config
  install/installer/pkg/components/server/configmap_test.go
Due: none

Ensure that blocked repo string is a valid regexp
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/configmap_test.go
Due: none

[Analytics] Fix Dotfile Tracking
  components/dashboard/src/settings/Preferences.tsx
Due: components-dashboard-app

Add request duration metric
  components/public-api-server/pkg/proxy/conn.go
  components/public-api-server/pkg/proxy/prometheusmetrics.go
  components/public-api-server/pkg/proxy/prometheusmetrics_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
Due: none

Clean preview envs after two days of no new commits
  .werft/platform-delete-preview-environments-cron.ts
Due: none

Remove intellij to avoid generating large gradle
  .gitpod.yml
Due: none

Add primitive script to monitor for GCR rate limit.
  dev/preview/test/gcr-poll.sh
Due: none

[baseserver] Expose gRPC prometheus metrics
  components/common-go/baseserver/options.go
  components/common-go/baseserver/server.go
  components/common-go/baseserver/server_test.go
Due: components-common-go-lib

[ws-manager] Rename default workspace class from "" to "default"
  components/ws-manager-api/go/config/config.go
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/create_test.go
  components/ws-manager/pkg/manager/testdata/cdwp_admission.golden
  components/ws-manager/pkg/manager/testdata/cdwp_affinity.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.json
  components/ws-manager/pkg/manager/testdata/cdwp_class_notfound.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class_notfound.json
  components/ws-manager/pkg/manager/testdata/cdwp_customcerts.golden
  components/ws-manager/pkg/manager/testdata/cdwp_empty_resource_req.golden
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fullworkspacebackup.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_no_ideimage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template_override_resources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_probe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_readinessprobe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_tasks.golden
  components/ws-manager/pkg/manager/testdata/cdwp_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_timeout.golden
  components/ws-manager/pkg/manager/testdata/cdwp_userns.golden
  components/ws-manager/pkg/manager/testdata/cdwp_with_ephemeral_storage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinity_regular.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinityheadless.golden
  components/ws-manager/pkg/manager/testing_test.go
  install/installer/pkg/components/ws-manager/configmap.go
Due: components-ws-manager-app

[server] enable Bitbucket in Git Integrations
  components/dashboard/src/settings/Integrations.tsx
  components/server/src/auth/auth-provider-service.ts
  components/server/src/bitbucket/bitbucket-urls.ts
Due: components-dashboard-app

[ws-manager] Avoid invalid workspace class names
  components/ws-manager-api/go/config/config.go
  components/ws-manager-api/go/config/config_test.go
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.json
  components/ws-manager/pkg/manager/testdata/cdwp_class_notfound.json
Due: components-ws-manager-app

[ws-manager] Explicitely proxy image-builder
  components/ws-manager/BUILD.yaml
  components/ws-manager/cmd/run.go
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  components/ws-manager/pkg/proxy/imagebuilder.go
Due: components-ws-manager-app

[common-go] Make fixture tests cope with extra space
  components/common-go/testing/fixtures.go
Due: components-common-go-lib

Add `tracing` to webapp experimental config
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Rename `TracingEnv` to `WorkspaceTracingEnv`
  install/installer/pkg/common/common.go
  install/installer/pkg/components/agent-smith/daemonset.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/image-builder-mk3/deployment.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/components/ws-manager/deployment.go
  install/installer/pkg/components/ws-proxy/deployment.go
Due: none

Make server use `WebappTracingEnv`
  install/installer/pkg/components/server/deployment.go
Due: none

Add `WebappTracingEnv` function
  install/installer/pkg/common/common.go
Due: none

Add test for server deployment tracing config
  install/installer/pkg/components/server/render_test.go
Due: none

[public-api] Cleanup registration of metrics
  components/public-api-server/pkg/proxy/conn.go
  components/public-api-server/pkg/proxy/conn_test.go
  components/public-api-server/pkg/proxy/metrics.go
  components/public-api-server/pkg/proxy/prometheusmetrics_test.go
  components/public-api-server/pkg/server/integration_test.go
  components/public-api-server/pkg/server/server.go
Due: none

[db-test] Take DB init scripts from installer
  components/gitpod-db/BUILD.yaml
  components/gitpod-db/hack/00-create-testdb-user.sql
  components/gitpod-db/hack/99-grant-testdb-user.sql
  install/installer/pkg/components/database/incluster/init/01-create-and-init-sessions-db.sql
  install/installer/pkg/components/database/incluster/init/02-recreate-gitpod-db.sql
  install/installer/pkg/components/database/incluster/init/BUILD.yaml
Due: none

[server] Return NOT_FOUND when workspace does not exist
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[dashboard] Tell users prebuild is uploading
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

Add metrics push gateway for supervisor
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/supervisor/supervisor.go
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/testdata/cdwp_admission.golden
  components/ws-manager/pkg/manager/testdata/cdwp_affinity.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_customcerts.golden
  components/ws-manager/pkg/manager/testdata/cdwp_empty_resource_req.golden
  components/ws-manager/pkg/manager/testdata/cdwp_envvars.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fixedresources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fullworkspacebackup.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_imagebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_no_ideimage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template_override_resources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_probe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_readinessprobe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_tasks.golden
  components/ws-manager/pkg/manager/testdata/cdwp_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_timeout.golden
  components/ws-manager/pkg/manager/testdata/cdwp_userns.golden
  components/ws-manager/pkg/manager/testdata/cdwp_with_ephemeral_storage.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinity_regular.golden
  components/ws-manager/pkg/manager/testdata/cdwp_withaffinityheadless.golden
  install/installer/pkg/components/workspace/networkpolicy.go
Due: components-supervisor-app, components-ws-manager-app
