Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[gp-cli] Move related subcommands to ports cmd
  components/gitpod-cli/cmd/await-port.go
  components/gitpod-cli/cmd/forward-port.go
  components/gitpod-cli/cmd/ports.go
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED01.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED02.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPED03.json
  components/ws-manager/pkg/manager/testdata/status_disposal_STOPPING01.json
  components/ws-manager/pkg/manager/testdata/status_stuckInStopping_RUNNING00.json
  components/ws-manager/pkg/manager/testdata/status_stuckInStopping_STOPPING00.json
Due: components-gitpod-cli-app, components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Fix runbook URL
  operations/observability/mixins/workspace/rules/components/nodes/alerts.libsonnet
Due: none

Update to new stable alpine version v3.16
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/installation-telemetry/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/supervisor/openssh/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager/debug.Dockerfile
  components/ws-manager/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  dev/poolkeeper/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-supervisor-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-app, dev-poolkeeper-app

[docker-up] Check docker-compose download
  components/docker-up/BUILD.yaml
Due: none

[installer] Update kube-rbac-proxy to v0.12.0
  install/installer/pkg/common/constants.go
Due: none

fix some context parser tests
  components/server/src/dev/dev-data.ts
  components/server/src/gitea/api.ts
  components/server/src/gitea/gitea-context-parser.spec.ts
  components/server/src/gitea/gitea-context-parser.ts
  components/server/src/gitea/gitea-token-validator.ts
Due: none

improve error handling
  components/server/src/gitea/api.ts
Due: none

fix issue context
  components/server/src/gitea/gitea-context-parser.ts
Due: none

Change project for preview DNS's
  .werft/jobs/build/deploy-to-preview-environment.ts
Due: none

Remove outdated Certificate issuer
  .werft/util/certs.ts
Due: none

fix: overflow of item
  components/dashboard/src/projects/Prebuilds.tsx
Due: components-dashboard-app

chore: revert headwind changes
  components/dashboard/src/projects/Prebuilds.tsx
Due: components-dashboard-app

foo
  README.md
Due: none

add docker-credential-gp script
  components/gitpod-cli/cmd/root.go
  components/supervisor/docker-credential-gp
  components/supervisor/leeway.Dockerfile
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-gitpod-cli-app, components-supervisor-app

Speed up GCS downloads using gsutil
  components/content-service/pkg/storage/gcloud.go
  components/ws-daemon/leeway.Dockerfile
Due: components-content-service-app, components-ws-daemon-app

Update sigs.k8s.io/e2e-framework to v0.0.7
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/supervisor-api/go.mod
  components/supervisor-api/go.sum
  components/supervisor/go.sum
  components/usage/go.mod
  components/usage/go.sum
  components/ws-manager-api/go.mod
  components/ws-manager-api/go.sum
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  test/go.mod
  test/go.sum
Due: components-supervisor-app

Add metrics to record backup success/failure count
  components/ws-manager/pkg/manager/metrics.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

[pycharm] Update IDE image to build version 221.5787.24
  WORKSPACE.yaml
Due: none

[intellij] Update IDE image to build version 221.5787.30
  WORKSPACE.yaml
Due: none

Add dashboard to monitor preview environments
  operations/observability/mixins/platform/dashboards.libsonnet
  operations/observability/mixins/platform/dashboards/preview-environments/overview.json
  operations/observability/mixins/platform/mixin.libsonnet
Due: none

remove
  components/content-service/pkg/storage/gcloud.go
Due: components-content-service-app

1
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

decompress
  components/content-service/pkg/archive/tar.go
Due: components-content-service-app

Update go dependencies
  components/content-service/go.mod
  components/content-service/go.sum
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/supervisor-api/go.mod
  components/supervisor-api/go.sum
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/usage/go.mod
  components/usage/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-manager-api/go.mod
  components/ws-manager-api/go.sum
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  install/installer/go.mod
  install/installer/go.sum
  test/go.mod
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

1
  components/content-service/pkg/archive/tar.go
Due: components-content-service-app

previewctl: Improve logging around install-context watch
  dev/preview/previewctl/cmd/get_name.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/root.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/main.go
  dev/preview/previewctl/pkg/preview/preview.go
Due: none

1
  components/content-service/pkg/archive/tar.go
  components/content-service/pkg/storage/gcloud.go
Due: components-content-service-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
