Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

dbg.
  components/workspacekit/cmd/rings.go
  components/ws-manager/pkg/manager/create.go
Due: components-workspacekit-app, components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[dashboard] downgrade Caddy
  components/dashboard/leeway.Dockerfile
Due: components-dashboard-app

Fix previewctl get-name and update image
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-delete-preview-environment.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-artificial-job.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
  dev/image/Dockerfile
  dev/preview/previewctl/pkg/preview/preview.go
  dev/preview/previewctl/pkg/preview/preview_test.go
Due: none

[public-api] Export metrics with package label instead of service
  components/public-api-server/pkg/server/metrics.go
Due: none

Update Platform Version of JetBrains Backend Plugin to 223.7126-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  components/ide/jetbrains/backend-plugin/launch-dev-server.sh
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIHelper.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGlobalPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodTerminalService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodCLIHelperImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodGlobalPortForwardingServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodPortsActionCopyUrl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodCLIHelperImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodClientProjectGuestSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodGlobalPortForwardingServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodTerminalGuestService.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

tool: Add an allow list for gitleaks
  .gitleaks.toml
Due: none

ws-manager: Add the workspace statys for PodInitialzing phase.
  components/ws-manager/pkg/manager/status.go
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_prebuildSuccess2_CREATING02.golden
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING02.golden
  components/ws-manager/pkg/manager/testdata/status_prebuildSuccess2_CREATING02.json
Due: components-ws-manager-app

[server] Remove usage/stripe service from non EE user-service
  components/server/ee/src/user/user-service.ts
  components/server/src/user/user-service.ts
Due: none

Pin harvester tf provider version
  dev/preview/infrastructure/harvester/provider.tf
Due: none

Clean git repository before performing build
  dev/preview/workflow/preview/build.sh
Due: none

Create changelogger.yml
  .github/workflows/changelogger.yml
Due: none

[server] Remove createStripeCustomer, handled by usage instead
  components/server/ee/src/user/stripe-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Only delete specific folders
  dev/preview/workflow/preview/build.sh
Due: none

Make client providers filter by app cluster
  components/ws-manager-api/typescript/src/client-provider-source.ts
Due: none

Add tests for workspace-cluster-db implementation
  components/gitpod-db/src/typeorm/workspace-cluster-db-impl.ts
  components/gitpod-db/src/workspace-cluster-db.spec.db.ts
Due: none

Extend WorkspaceClusterFilter in gitpod-protocol
  components/gitpod-protocol/src/workspace-cluster.ts
Due: none

Make `findByName` take an applicationCluster
  components/gitpod-db/src/typeorm/workspace-cluster-db-impl.ts
  components/gitpod-db/src/workspace-cluster-db.spec.db.ts
  components/gitpod-protocol/src/workspace-cluster.ts
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

Make `deleteByName` take an applicationCluster
  components/gitpod-db/src/typeorm/workspace-cluster-db-impl.ts
  components/gitpod-db/src/workspace-cluster-db.spec.db.ts
  components/gitpod-protocol/src/workspace-cluster.ts
  components/ws-manager-bridge/src/cluster-service-server.ts
Due: components-ws-manager-bridge-app

Pass applicationCluster everywhere
  components/image-builder-api/typescript/src/sugar.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/user/user-deletion-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-cluster-imagebuilder-client-provider.ts
  components/server/src/workspace/workspace-deletion-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-api/typescript/src/client-provider.spec.ts
  components/ws-manager-api/typescript/src/client-provider.ts
  components/ws-manager-bridge/src/bridge-controller.ts
  components/ws-manager-bridge/src/cluster-service-server.ts
  components/ws-manager-bridge/src/cluster-sync-service.ts
Due: components-ws-manager-bridge-app

Make applicationCluster mandatory when filtering
  components/gitpod-db/src/typeorm/workspace-cluster-db-impl.ts
  components/gitpod-db/src/workspace-cluster-db.spec.db.ts
  components/gitpod-protocol/src/workspace-cluster.ts
  components/ws-manager-bridge/src/cluster-service-server.ts
  components/ws-manager-bridge/src/cluster-sync-service.ts
Due: components-ws-manager-bridge-app

[usage] Personal usage page
  components/dashboard/src/components/UsageView.tsx
  components/dashboard/src/settings/settings-menu.ts
  components/dashboard/src/settings/settings.routes.ts
Due: components-dashboard-app

[dashboard] Display specific Prebuild cancellation reason in Prebuild Status again
  components/dashboard/src/projects/Prebuilds.tsx
Due: components-dashboard-app

feat: add gha job to update backend-plugin latest image
  .github/workflows/jetbrains-update-backend-latest.yml
Due: none

Check commit hash before removing ref
  components/server/ee/src/workspace/workspace-factory.ts
Due: none

Send prebuild info to context if available
  components/dashboard/src/projects/Project.tsx
Due: components-dashboard-app

[registry-facade] Add new blobSopurce dashboard
  operations/observability/mixins/workspace/dashboards/registry-facade-blobsource.json
Due: none

[pvc] add init container to workspace to chown pvc mount folder
  components/ws-manager/pkg/manager/create.go
Due: components-ws-manager-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
