Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Bump leeway version to 0.10.4
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

Bump leeway version to 0.10.4 (#20800)
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

[VS Code Browser] Update stable code to `1.99.3`
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Add vulnerability ignore rules
  WORKSPACE.yaml
Due: none

Only scan relevent packages
  .github/workflows/build.yml
  components/BUILD.yaml
Due: none

Update dev image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

Add sbom.enabled=true
  WORKSPACE.yaml
Due: none

Replace trivy scan in build.yml
  .github/workflows/build.yml
Due: none

Add a daily vulnerability scan
  .github/workflows/build.yml
Due: none

4.1: List running workspaces
  components/dashboard/src/org-admin/AdminPage.tsx
  components/dashboard/src/org-admin/RunningWorkspacesCard.tsx
  pdd/001-infra-rollout-4.1.md
Due: components-dashboard-app

update PRD
  prd/001-infra-rollout.md
Due: none

Remove not needed env vars
  .github/workflows/build.yml
Due: none

allow org-owner to stop workspace on all workspaces in the organization
  components/spicedb/schema/schema.yaml
Due: none

Create SBOMs and scan for vulnerablities (#20801)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  WORKSPACE.yaml
  components/BUILD.yaml
Due: none

WIP: 4.2 (needs testing with deployed spicedb, also can use individual stop buttons on workspaces)
  components/dashboard/src/org-admin/RunningWorkspacesCard.tsx
  prd/001-infra-rollout-4.2.md
  prd/001-infra-rollout.md
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

[VS Code Browser] Update stable code to `1.99.3` (#20799)
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[VS Code Browser] Build stable code `1.100.0`
  WORKSPACE.yaml
Due: none

memory bank: clarify per-component docs
  .clinerules/memory-bank.md
Due: none

breakdown of 4.3
  pdd/001-infra-rollout-4.2.md
  pdd/001-infra-rollout-4.3.md
  prd/001-infra-rollout.md
Due: none

update memory bank
  memory-bank/components/gitpod-db.md
  memory-bank/components/public-api-server.md
  memory-bank/components/server.md
  memory-bank/components/spicedb.md
  memory-bank/systemPatterns.md
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Memory bank: component index
  .clinerules/memory-bank.md
  memory-bank/components/_index.md
Due: none

[devcontainer] sync golang version with dev image
  .devcontainer/Dockerfile
Due: none

[gitpod-protocol] handle host:token and host:port:token for getGitpodImageAuth
  components/gitpod-protocol/src/protocol.spec.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

Cleanup
  components/gitpod-protocol/src/protocol.ts
Due: none

WIP
  components/dashboard/src/AppNotifications.tsx
  components/dashboard/src/components/MaintenanceModeBanner.tsx
  components/dashboard/src/data/maintenance-mode-query.ts
  components/dashboard/src/org-admin/AdminPage.tsx
  components/dashboard/src/org-admin/MaintenanceModeCard.tsx
  components/dashboard/src/org-admin/RunningWorkspacesCard.tsx
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-team.ts
  components/gitpod-db/src/typeorm/migration/1715259000000-AddMaintenanceModeToTeam.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/go/v1/organization_grpc.pb.go
  components/public-api/go/v1/v1connect/organization.connect.go
  components/public-api/go/v1/v1connect/organization.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationServiceClientInterface.kt
  components/public-api/typescript/src/gitpod/v1/organization_connect.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/prometheus-metrics.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Due: components-dashboard-app

Improve readability
  components/gitpod-protocol/src/protocol.ts
Due: none

Code review feedback
  components/gitpod-protocol/src/protocol.ts
Due: none

Update components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[supervisor] tests to cover insertCredentialsIntoConfig
  components/supervisor/pkg/supervisor/docker_test.go
Due: components-supervisor-app

Fix tests
  components/supervisor/pkg/supervisor/docker_test.go
Due: components-supervisor-app

[supervisor] handle auth token like `host:port:token`
  components/supervisor/pkg/supervisor/docker.go
Due: components-supervisor-app

[image-builder-mk3] handle host:port:token for auth
  components/image-builder-mk3/pkg/auth/auth.go
  components/image-builder-mk3/pkg/auth/auth_test.go
Due: none

Fix
  components/image-builder-mk3/pkg/auth/auth.go
Due: none

Cleanup
  components/supervisor/pkg/supervisor/docker.go
Due: components-supervisor-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
