Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Fix changing URL hash on `/new` (#19640)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Fix autostart always false
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

Fix autostart always false (#19643)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

#sudo suUpdate README.md
  README.md
Due: none

#sudo su
  WORKSPACE.yaml
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.15989-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 241.15989-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 241.15989-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

[idp] add `gcloud-token` command
  components/gitpod-cli/cmd/idp-gcloud-token.go
Due: components-gitpod-cli-app

[idp] add repository claim
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Due: none

[idp] simplify logic for `idp token --decode` command
  components/gitpod-cli/cmd/idp-token.go
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
Due: components-gitpod-cli-app

[idp] add missing `use` field for key cache
  components/public-api-server/pkg/identityprovider/cache.go
  components/public-api-server/pkg/identityprovider/cache_test.go
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 241.15989-EAP-CANDIDATE-SNAPSHOT (#19645)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 241.15989-EAP-CANDIDATE-SNAPSHOT (#19646)
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.15989-EAP-CANDIDATE-SNAPSHOT (#19629)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

#sudo su
  install/installer/example-config.yaml
Due: none

[registry-facade] Force retry on timeout
  components/registry-facade/pkg/registry/http_client.go
Due: components-registry-facade-app

[registry-facade] Force retry on timeout (#19649)
  components/registry-facade/pkg/registry/http_client.go
Due: components-registry-facade-app

Add adminVerifyUser command to gpctl (#19602)
  components/gitpod-protocol/go/gitpod-service.go
  dev/gpctl/cmd/users-verify.go
  dev/gpctl/cmd/users.go
Due: components-gitpod-protocol-go-lib

Hide editor versions for user prefs (#19639)
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/onboarding/StepPersonalize.tsx
  components/dashboard/src/user-settings/SelectIDE.tsx
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: components-dashboard-app

Proper errors and path resolving
  components/ide/jetbrains/image/gha-update-image/index.js
  components/ide/jetbrains/image/gha-update-image/update-versions.ts
Due: none

merge the two scripts
  components/ide/jetbrains/image/gha-update-image/index.js
  components/ide/jetbrains/image/gha-update-image/index.ts
  components/ide/jetbrains/image/gha-update-image/update-versions.ts
Due: none

update ci
  .github/workflows/jetbrains-updates.yml
Due: none

consistent casing
  components/ide/jetbrains/image/gha-update-image/index.ts
Due: none

name update
  components/ide/jetbrains/image/gha-update-image/index.ts
Due: none

Automatic JetBrains update script (#19634)
  .github/workflows/jetbrains-updates.yml
  components/ide/jetbrains/image/gha-update-image/index.js
  components/ide/jetbrains/image/gha-update-image/index.ts
  components/ide/jetbrains/image/gha-update-image/package.json
  components/ide/jetbrains/image/gha-update-image/yarn.lock
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

minor changis
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
  yarn.lock
Due: components-dashboard-app

🤷‍♂️
  components/dashboard/src/icons/Flash.svg
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Fix spacing and max width
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Layout fixes
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Bigger top margin
  components/dashboard/src/workspaces/BrowserExtensionBanner.tsx
Due: components-dashboard-app

Fix GHA ide integration tests
  .github/workflows/ide-integration-tests.yml
Due: none

Only get job result
  .github/workflows/ide-integration-tests.yml
Due: none

Apply suggestions from code review
  components/gitpod-cli/cmd/idp-gcloud-token.go
Due: components-gitpod-cli-app

Fix GHA ide integration tests (#19651)
  .github/workflows/ide-integration-tests.yml
Due: none

[idp] improve idp (#19647)
  components/gitpod-cli/cmd/idp-gcloud-token.go
  components/gitpod-cli/cmd/idp-token.go
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
  components/public-api-server/pkg/identityprovider/cache.go
  components/public-api-server/pkg/identityprovider/cache_test.go
Due: components-gitpod-cli-app

[dev-image] upgrade terraform and gcloud
  dev/image/Dockerfile
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
