Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

adapt
  components/gitpod-messagebus/src/messagebus.ts
  components/gitpod-protocol/src/messaging/browser/connection.ts
  components/gitpod-protocol/src/messaging/browser/window-connection.ts
  components/gitpod-protocol/src/messaging/node/connection.ts
  components/server/src/consensus/rabbitmq-consensus-leader-messenger.ts
  components/server/src/server.ts
  components/server/src/workspace/messagebus-integration.ts
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-supervisor-app

bump jsonrpc library
  components/gitpod-protocol/package.json
  components/server/package.json
  components/supervisor/frontend/webpack.config.js
  yarn.lock
Due: components-supervisor-app

Fix Help link
  components/dashboard/src/Menu.tsx
Due: components-dashboard-app

[ws-proxy] add some ssh metrics
  components/ws-proxy/pkg/sshproxy/server.go
Due: none

[ws-proxy] Add missing kube-rbac-proxy rolebinding
  install/installer/pkg/components/ws-proxy/rolebinding.go
Due: none

Add signals section in epic template
  .github/ISSUE_TEMPLATE/epic.yml
Due: none

[code] Build stable image
  WORKSPACE.yaml
Due: none

[code] Update stable image
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[content-service] Add support to use existing S3 bucket
  components/content-service-api/go/config/config.go
  components/content-service/pkg/storage/minio.go
  install/installer/pkg/common/storage.go
  install/installer/pkg/config/v1/config.go
Due: components-content-service-app

[content-service] fix s3 access when using dedicated bucket
  components/content-service/pkg/layer/provider_test.go
  components/content-service/pkg/service/headless-log-service.go
  components/content-service/pkg/service/headless-log-service_test.go
  components/content-service/pkg/service/workspace-service.go
  components/content-service/pkg/storage/gcloud.go
  components/content-service/pkg/storage/minio.go
  components/content-service/pkg/storage/mock/mock.go
  components/content-service/pkg/storage/noop.go
  components/content-service/pkg/storage/storage.go
Due: components-content-service-app

Update go modules
  components/content-service/go.mod
  components/content-service/go.sum
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-manager/go.mod
  components/ws-manager/go.sum
  install/installer/go.mod
  install/installer/go.sum
  test/go.mod
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

[content-service] add tests to minio provider
  components/content-service/pkg/storage/minio_test.go
Due: components-content-service-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[jb] enable connect button only when JetBrains Client not activated
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodWorkspacesView.kt
Due: none

Allow configuration of s3 region for registry backend
  install/installer/pkg/components/docker-registry/helm.go
  install/installer/pkg/config/v1/config.go
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/gitpod-registry-s3-backend.yaml
  install/kots/manifests/kots-config.yaml
Due: none

Fix supervisor send empty port name and desc
  components/gitpod-protocol/go/gitpod-config-types.go
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports-config_test.go
  components/supervisor/pkg/ports/ports.go
Due: components-gitpod-protocol-go-lib, components-supervisor-app

[dashboard] add location for ide_configuration_changed track event
  components/dashboard/src/App.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/dashboard/src/settings/SelectIDE.tsx
  components/dashboard/src/settings/SelectIDEModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Add comment for port ranges
  components/supervisor/pkg/ports/ports.go
Due: components-supervisor-app

[ws-daemon] Use baseserver to run services
  components/ws-daemon/cmd/run.go
  components/ws-daemon/go.mod
  components/ws-daemon/pkg/config/config.go
  install/installer/pkg/components/ws-daemon/configmap.go
  install/installer/pkg/components/ws-daemon/constants.go
  install/installer/pkg/components/ws-manager/deployment.go
Due: components-ws-daemon-app

[gitpod-db] Improve d_b_workspace cloneURL DB migration performance
  components/gitpod-db/src/typeorm/migration/1652365883273-CloneUrlIndexed.ts
Due: none

[registry-facade] Adjust Redis defaults
  components/registry-facade/pkg/registry/registry.go
Due: components-registry-facade-app

[server] make sure to release websocket clients
  components/server/src/express/ws-connection-handler.ts
Due: none

[observability] add horizontal line for load avg panel
  operations/observability/mixins/cross-teams/dashboards/gitpod-overview.libsonnet
Due: none

Feedback modal
  components/dashboard/src/Login.tsx
  components/dashboard/src/components/ErrorMessage.tsx
  components/dashboard/src/feedback-form/FeedbackComponent.tsx
  components/dashboard/src/feedback-form/FeedbackModal.tsx
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

reduce workspace resource requests
  .werft/jobs/build/installer/installer.ts
Due: none

Extend registry-facade and blobserve probe time period in dev
  .werft/jobs/build/installer/post-process.sh
Due: none

[jb] enable connect button only when JetBrains Client not activated (cont.)
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodWorkspacesView.kt
Due: none

Reduce minio memory requests in preview environments
  .werft/jobs/build/installer/installer.ts
  install/installer/example-config.yaml
  install/installer/pkg/components/minio/helm.go
  install/installer/pkg/config/v1/config.go
Due: none

[kots] Fix s3 secret typo in gitpod installer job
  install/kots/manifests/gitpod-installer-job.yaml
Due: none
