Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[registry-facade] Properly retry fetching mainfests/config as well
  components/registry-facade/pkg/registry/manifest.go
  components/registry-facade/pkg/registry/manifest_test.go
Due: components-registry-facade-app

[registry-facade] Properly retry fetching mainfests/config as well (#20880)
  components/registry-facade/pkg/registry/manifest.go
  components/registry-facade/pkg/registry/manifest_test.go
Due: components-registry-facade-app

[supervisor] Drop feature flag supervisor_terminal_no_deadline_exceeded
  components/supervisor/pkg/supervisor/supervisor.go
  components/supervisor/pkg/supervisor/tasks_test.go
  components/supervisor/pkg/terminal/service.go
  components/supervisor/pkg/terminal/terminal_test.go
Due: components-supervisor-app

[supervisor] Drop feature flag supervisor_terminal_no_deadline_exceeded (#20869)
  components/supervisor/pkg/supervisor/supervisor.go
  components/supervisor/pkg/supervisor/tasks_test.go
  components/supervisor/pkg/terminal/service.go
  components/supervisor/pkg/terminal/terminal_test.go
Due: components-supervisor-app

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Add Ona banner component and track waitlist joined event
  components/dashboard/src/Analytics.tsx
  components/dashboard/src/images/ona-wordmark.svg
  components/dashboard/src/workspaces/BlogBanners.tsx
Due: components-dashboard-app

Add success toast notification for Ona banner waitlist click
  components/dashboard/src/workspaces/BlogBanners.tsx
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Due: none

Ona banner in Gitpod classic (#20882)
  components/dashboard/src/Analytics.tsx
  components/dashboard/src/images/ona-wordmark.svg
  components/dashboard/src/workspaces/BlogBanners.tsx
Due: components-dashboard-app

Random change to README.md
  README.md
Due: none

Random change to README.md (#20888)
  README.md
Due: none

[registry facade] Don't retry requests with error messages that were successful
  components/blobserve/pkg/blobserve/refstore_test.go
  components/registry-facade/pkg/registry/manifest.go
Due: components-blobserve-app, components-registry-facade-app

[registry facade] Don't retry requests with error messages that were successful (#20889)
  components/blobserve/pkg/blobserve/refstore_test.go
  components/registry-facade/pkg/registry/manifest.go
Due: components-blobserve-app, components-registry-facade-app

A random change
  README.md
Due: none

A random change (#20891)
  README.md
Due: none

Add CLAUDE.md file
  CLAUDE.md
Due: none

Install claude code for Gitpod
  .devcontainer/Dockerfile
Due: none

Install Claude Code for Gitpod Classic
  .gitpod.yml
  dev/image/Dockerfile
Due: none

Bump dev image
  dev/image/Dockerfile
Due: none

Use image with claude code cli
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

Fix devcontainer build
  .devcontainer/Dockerfile
Due: none

[JetBrains] Improve ports listener leak
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodPortForwardingService.kt
Due: none

Fix rider build
  components/ide/jetbrains/backend-plugin/build.gradle-stable.kts
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/optional/GitpodRiderPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-rider/META-INF/plugin.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Pin rider 's backend plugin image
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

Fix rider image in preview env
  dev/preview/workflow/preview/patch-ide-configmap.js
Due: none

Add Claude Code for Gitpod and Gitpod Classic (#20892)
  .devcontainer/Dockerfile
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  CLAUDE.md
  dev/image/Dockerfile
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

Add Claude settings configuration
  .claude/settings.json
  .gitignore
Due: none

Update GitHub CLI to v2.74.1 and parameterize version
  dev/image/Dockerfile
Due: none

Update GitHub CLI to v2.74.1 and parameterize version (#20898)
  dev/image/Dockerfile
Due: none

Add Claude settings configuration (#20896)
  .claude/settings.json
  .gitignore
Due: none

Update dev/image tag to 751ffc47f8f4d540007c1e8852e9f7ddaa45dbe6
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

Update dev/image tag to 751ffc47f8f4d540007c1e8852e9f7ddaa45dbe6 (#20899)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

update dev image
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

update dev image (#20900)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-integration-test.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
Due: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none
