Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Add kube-rbac-proxy to content-service
  install/installer/pkg/components/content-service/deployment.go
Due: none

[ws-manager] fix not handling workspaces that are completed
  components/ws-manager/pkg/manager/status.go
  components/ws-manager/pkg/manager/testdata/actOnPodEvent_workspaceCompleted_01.golden
  components/ws-manager/pkg/manager/testdata/status_workspaceCompleted_01.golden
  components/ws-manager/pkg/manager/testdata/status_workspaceCompleted_01.json
Due: components-ws-manager-app

[ws-daemon] Increase resources more real values
  install/installer/pkg/components/ws-daemon/daemonset.go
Due: none

[code] point code nightly to gp-code/release/1.68 branch
  .github/workflows/code-nightly.yaml
Due: none

[kots] Add --use-experimental-config to installer render call
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

Update to new stable alpine version v3.16
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/installation-telemetry/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/supervisor/openssh/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/debug.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager/debug.Dockerfile
  components/ws-manager/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  dev/poolkeeper/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-supervisor-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-app, dev-poolkeeper-app

[usage] Add component to codeowners
  .github/CODEOWNERS
Due: none

Update dashboard navigation
  components/dashboard/src/Menu.tsx
  components/dashboard/src/components/PillMenuItem.tsx
  components/dashboard/src/icons/CaretUpDown.svg
Due: components-dashboard-app

[installer] Update kube-rbac-proxy to v0.12.0
  install/installer/pkg/common/constants.go
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[intellij] Update IDE image to build version 221.5787.30
  WORKSPACE.yaml
Due: none

Add metrics to record backup success/failure count
  components/ws-manager/pkg/manager/metrics.go
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

previewctl: Improve logging around install-context watch
  dev/preview/previewctl/cmd/get_name.go
  dev/preview/previewctl/cmd/install_context.go
  dev/preview/previewctl/cmd/root.go
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  dev/preview/previewctl/main.go
  dev/preview/previewctl/pkg/preview/preview.go
Due: none

Update sigs.k8s.io/e2e-framework to v0.0.7
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/supervisor-api/go.mod
  components/supervisor-api/go.sum
  components/supervisor/go.sum
  components/usage/go.mod
  components/usage/go.sum
  components/ws-manager-api/go.mod
  components/ws-manager-api/go.sum
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  test/go.mod
  test/go.sum
Due: components-supervisor-app

[pycharm] Update IDE image to build version 221.5787.24
  WORKSPACE.yaml
Due: none

[server] Don't skip prebuilds if .gitpod.yml has a 'before' task but no 'init' task
  components/server/ee/src/prebuilds/prebuild-manager.ts
Due: none

[server] When GitHub (Enterprise) sends webhooks without a host header, fall back to the hostname from the repository URL
  components/server/ee/src/prebuilds/github-enterprise-app.ts
Due: none

Always keep preview envs on db activity
  .werft/platform-delete-preview-environments-cron.ts
Due: none

Add dashboard to monitor preview environments
  operations/observability/mixins/platform/dashboards.libsonnet
  operations/observability/mixins/platform/dashboards/preview-environments/overview.json
  operations/observability/mixins/platform/mixin.libsonnet
Due: none

Fix registry facade not being able to start up
  .werft/util/certs.ts
Due: none

Configure grpc_server histogram metrics with proper buckets
  components/common-go/baseserver/server.go
  components/ws-manager/cmd/run.go
Due: components-common-go-lib, components-ws-manager-app

Add cache for ide-proxy static file
  components/ide-proxy/README.md
  components/ide-proxy/conf/Caddyfile
Due: none

Revert "Always keep preview envs on db activity"
  .werft/platform-delete-preview-environments-cron.ts
Due: none

Add workspace class to environment variables
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/testdata/cdwp_class.golden
  components/ws-manager/pkg/manager/testdata/cdwp_class_notfound.golden
Due: components-ws-manager-app

[usage] Generate usage report
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/controller/reconciler_test.go
  components/usage/pkg/db/workspace_instance.go
Due: none

Update container image
  .gitpod.yml
  .werft/build.yaml
  .werft/debug.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup-jetbrains.yaml
  .werft/ide-integration-tests-startup-vscode.yaml
  .werft/ide-run-integration-tests.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/run-integration-tests.yaml
  .werft/wipe-devstaging.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

Disable parallel tests to avoid too many requests
  test/tests/workspace/contexts_test.go
Due: none

[ws-proxy] use ide-proxy to serve blobserv
  components/ws-proxy/pkg/proxy/config.go
  components/ws-proxy/pkg/proxy/pass.go
  components/ws-proxy/pkg/proxy/routes.go
  components/ws-proxy/pkg/proxy/routes_test.go
  install/installer/pkg/components/ws-proxy/configmap.go
Due: none

Delete harvester certs
  .werft/platform-delete-preview-environments-cron.ts
Due: none

[code] revert stable image to 1.67
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[usage] Handle empty value varchar time
  components/usage/pkg/db/types.go
  components/usage/pkg/db/types_test.go
Due: none

Fix broken test case
  test/tests/workspace/contexts_test.go
Due: none

[dashboard] align client registration
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

change blobserve CODEOWNER to team IDE
  .github/CODEOWNERS
Due: none

loadgen: Update README
  dev/loadgen/README.md
Due: dev-loadgen-app

[usage] List workspace instances
  components/usage/cmd/run.go
  components/usage/go.mod
  components/usage/pkg/controller/reconciler.go
  components/usage/pkg/db/conn_test.go
  components/usage/pkg/db/workspace_instance.go
  components/usage/pkg/db/workspace_instance_test.go
Due: none

Fix tests
  components/gitpod-db/src/workspace-db.spec.db.ts
Due: none

Add installer tests for GKE and k3s
  .werft/gke-installer-tests.yaml
  .werft/installer-tests.ts
  .werft/k3s-installer-tests.yaml
  install/infra/terraform/gke/README.md
  install/infra/terraform/gke/main.tf
  install/infra/terraform/gke/output.tf
  install/infra/terraform/gke/variables.tf
  install/infra/terraform/k3s/README.md
  install/infra/terraform/k3s/main.tf
  install/infra/terraform/k3s/variables.tf
  install/infra/terraform/tools/cert-manager/README.md
  install/infra/terraform/tools/cert-manager/main.tf
  install/infra/terraform/tools/cert-manager/variables.tf
  install/infra/terraform/tools/external-dns/README.md
  install/infra/terraform/tools/external-dns/main.tf
  install/infra/terraform/tools/external-dns/variables.tf
  install/tests/Makefile
  install/tests/main.tf
  install/tests/manifests/gcp-issuer.yaml
  install/tests/manifests/kots-config.yaml
  install/tests/tests.sh
Due: none

[usage] Add db.Team model in golang
  components/usage/pkg/db/team.go
  components/usage/pkg/db/team_test.go
Due: none
