Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[dashboard] fix ws query invalidation (#17348)
  components/dashboard/src/data/workspaces/delete-inactive-workspaces-mutation.ts
  components/dashboard/src/data/workspaces/delete-workspace-mutation.ts
  components/dashboard/src/data/workspaces/list-workspaces-query.ts
  components/dashboard/src/data/workspaces/toggle-workspace-pinned-mutation.ts
  components/dashboard/src/data/workspaces/toggle-workspace-shared-mutation.ts
  components/dashboard/src/data/workspaces/update-workspace-description-mutation.ts
Due: components-dashboard-app

Add focus ring for `<SelectableCardSolid>`
  components/dashboard/src/components/SelectableCardSolid.tsx
Due: components-dashboard-app

Fix Selectable card focus
  components/dashboard/src/components/SelectableCardSolid.tsx
Due: components-dashboard-app

Make radio input aria-labelled
  components/dashboard/src/components/SelectableCardSolid.tsx
Due: components-dashboard-app

Update LinkedIn banner style
  components/dashboard/src/onboarding/LinkedInBanner.tsx
Due: components-dashboard-app

bump up code
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

extracting a few things for re-use
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
  components/dashboard/src/components/billing/use-stripe-appearance.ts
  components/dashboard/src/components/billing/use-stripe-promise.ts
  components/dashboard/src/data/billing-mode/stripe-key-query.ts
  components/dashboard/src/payment-context.tsx
Due: components-dashboard-app

setting up new add payment modal flow that supports 3ds
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

add feature flag
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

using an alert for hold message
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
Due: components-dashboard-app

cleanup
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
Due: components-dashboard-app

cleanup and hooking up payment intent flow
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
  components/dashboard/src/components/billing/use-stripe-promise.ts
  components/dashboard/src/data/billing/create-hold-payment-intent-mutation.ts
  components/dashboard/src/data/billing/stripe-key-query.ts
Due: components-dashboard-app

Add focus ring for `<SelectableCardSolid>` (#17352)
  components/dashboard/src/components/SelectableCardSolid.tsx
Due: components-dashboard-app

change to message type
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
Due: components-dashboard-app

[server] Move prebuilds out of EE
  components/server/ee/src/auth/host-container-mapping.ts
  components/server/ee/src/bitbucket-server/container-module.ts
  components/server/ee/src/bitbucket/container-module.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/github/container-module.ts
  components/server/ee/src/gitlab/container-module.ts
  components/server/ee/src/server.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/bitbucket-server/bitbucket-server-container-module.ts
  components/server/src/bitbucket/bitbucket-app-support.ts
  components/server/src/bitbucket/bitbucket-container-module.ts
  components/server/src/container-module.ts
  components/server/src/github/github-app-support.ts
  components/server/src/github/github-container-module.ts
  components/server/src/gitlab/gitlab-app-support.spec.ts
  components/server/src/gitlab/gitlab-app-support.ts
  components/server/src/gitlab/gitlab-container-module.ts
  components/server/src/prebuilds/bitbucket-app-example-push.json
  components/server/src/prebuilds/bitbucket-app.ts
  components/server/src/prebuilds/bitbucket-server-app.ts
  components/server/src/prebuilds/bitbucket-server-service.spec.ts
  components/server/src/prebuilds/bitbucket-server-service.ts
  components/server/src/prebuilds/bitbucket-service.ts
  components/server/src/prebuilds/github-app-rules.ts
  components/server/src/prebuilds/github-app.spec.ts
  components/server/src/prebuilds/github-app.ts
  components/server/src/prebuilds/github-enterprise-app.ts
  components/server/src/prebuilds/github-service.ts
  components/server/src/prebuilds/gitlab-app.ts
  components/server/src/prebuilds/gitlab-service.ts
  components/server/src/prebuilds/incremental-prebuilds-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/prebuilds/prebuilt-status-maintainer.ts
  components/server/src/prebuilds/start-prebuild-context-parser.ts
  components/server/src/server.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-factory.ts
Due: none

fix
  components/server/src/bitbucket-server/bitbucket-server-container-module.ts
  components/server/src/bitbucket/bitbucket-container-module.ts
  components/server/src/github/github-container-module.ts
  components/server/src/gitlab/gitlab-container-module.ts
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Update Button.tsx
  components/dashboard/src/components/Button.tsx
Due: components-dashboard-app

[dashboard, db] Don't show onboarding dialogues for "admin-user"
  components/gitpod-db/src/typeorm/migration/1682403474866-AdminUserOnboardedTimestamp.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

Add new payment validation flow in Dashboard (#17323)
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
  components/dashboard/src/components/billing/use-stripe-appearance.ts
  components/dashboard/src/components/billing/use-stripe-promise.ts
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/data/billing/create-hold-payment-intent-mutation.ts
  components/dashboard/src/data/billing/stripe-key-query.ts
  components/dashboard/src/payment-context.tsx
Due: components-dashboard-app

[server] Move prebuilds out of EE (#17354)
  components/server/ee/src/auth/host-container-mapping.ts
  components/server/ee/src/bitbucket-server/container-module.ts
  components/server/ee/src/bitbucket/container-module.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/github/container-module.ts
  components/server/ee/src/gitlab/container-module.ts
  components/server/ee/src/server.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/bitbucket-server/bitbucket-server-container-module.ts
  components/server/src/bitbucket/bitbucket-app-support.ts
  components/server/src/bitbucket/bitbucket-container-module.ts
  components/server/src/container-module.ts
  components/server/src/github/github-app-support.ts
  components/server/src/github/github-container-module.ts
  components/server/src/gitlab/gitlab-app-support.spec.ts
  components/server/src/gitlab/gitlab-app-support.ts
  components/server/src/gitlab/gitlab-container-module.ts
  components/server/src/prebuilds/bitbucket-app-example-push.json
  components/server/src/prebuilds/bitbucket-app.ts
  components/server/src/prebuilds/bitbucket-server-app.ts
  components/server/src/prebuilds/bitbucket-server-service.spec.ts
  components/server/src/prebuilds/bitbucket-server-service.ts
  components/server/src/prebuilds/bitbucket-service.ts
  components/server/src/prebuilds/github-app-rules.ts
  components/server/src/prebuilds/github-app.spec.ts
  components/server/src/prebuilds/github-app.ts
  components/server/src/prebuilds/github-enterprise-app.ts
  components/server/src/prebuilds/github-service.ts
  components/server/src/prebuilds/gitlab-app.ts
  components/server/src/prebuilds/gitlab-service.ts
  components/server/src/prebuilds/incremental-prebuilds-service.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/prebuilds/prebuilt-status-maintainer.ts
  components/server/src/prebuilds/start-prebuild-context-parser.ts
  components/server/src/server.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-factory.ts
Due: none

[orgs-only] Show Information before migration.
  components/dashboard/src/App.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/onboarding/OnboardingStep.tsx
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[orgs-only] Show Information before migration. (#17319)
  components/dashboard/src/App.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/onboarding/OnboardingStep.tsx
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[dashboard] send heartbeat telemetry
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/frontend-dashboard-service.ts
Due: components-dashboard-app

[preview] Configure stripe/linkedin in the same code block
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

[preview] Configure with-dedicated-emulation (#17337)
  components/gitpod-db/src/typeorm/migration/1682403474866-AdminUserOnboardedTimestamp.ts
  components/gitpod-protocol/src/protocol.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
Due: none

Update LinkedIn banner style (#17353)
  components/dashboard/src/onboarding/LinkedInBanner.tsx
Due: components-dashboard-app

bump up code (#17336)
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[ws-proxy] send ide heartbeat telemetry
  components/ws-proxy/cmd/run.go
  components/ws-proxy/pkg/sshproxy/forward.go
  components/ws-proxy/pkg/sshproxy/heartbeat.go
Due: none

[jetbrains] send ide heartbeat telemetry
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/services/HeartbeatService.kt
Due: none

:lipstick:
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Add support for idmapped mounts
  components/workspacekit/cmd/rings.go
  components/ws-daemon-api/go/mock/mock.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/typescript/src/daemon_grpc_pb.d.ts
  components/ws-daemon-api/typescript/src/daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/daemon_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon-api/workspace_daemon.proto
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/pkg/iws/iws.go
  components/ws-daemon/pkg/nsinsider/nsinsider.go
Due: components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-app

fix noHeartbeat
  components/ws-proxy/pkg/sshproxy/heartbeat.go
Due: none

fix
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/services/HeartbeatService.kt
Due: none

[gitpod-db] Add `d_b_oidc_client_config.active` field
  components/gitpod-db/src/typeorm/migration/1682415813108-AddActiveFieldToOIDCClientConfig.ts
Due: none

[supervisor-frontend] fix metrics reporting
  components/supervisor/frontend/src/shared/urls.ts
Due: components-supervisor-app

[wsman-mk2] Publish workspace activity metric
  components/ws-manager-mk2/service/manager.go
Due: none

bum up code
  install/installer/pkg/components/workspace/ide/constants.go
Due: none
