Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Fix ide tests
  test/pkg/integration/apis.go
  test/tests/ide/vscode/python_ws_test.go
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Update openssh to v9.2
  components/supervisor/openssh/leeway.Dockerfile
Due: components-supervisor-app

[supervisor] improve config watch logging
  components/supervisor/pkg/config/gitpod-config.go
Due: components-supervisor-app

[gp-cli] fix sync-await cannot interrupt
  components/gitpod-cli/cmd/sync-await.go
Due: components-gitpod-cli-app

[gpctl] Ensure region is all lowercase, provide cmd help
  dev/gpctl/cmd/clusters-register.go
Due: none

[oidc] assertIssuerIsReachable
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
Due: none

Update caddy images
  components/dashboard/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/proxy/Dockerfile
Due: components-dashboard-app

Close window
  components/dashboard/conf/Caddyfile
  components/dashboard/public/complete-auth/index.html
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

Switch to builder alpine
  components/proxy/Dockerfile
Due: none

Update go dependencies
  components/gitpod-cli/go.mod
  components/gitpod-cli/go.sum
  components/ide/code/codehelper/go.mod
  components/proxy/plugins/configcat/go.mod
  components/proxy/plugins/configcat/go.sum
  components/proxy/plugins/corsorigin/go.mod
  components/proxy/plugins/corsorigin/go.sum
  components/proxy/plugins/frontend_dev/go.mod
  components/proxy/plugins/frontend_dev/go.sum
  components/proxy/plugins/headlesslogdownload/go.mod
  components/proxy/plugins/headlesslogdownload/go.sum
  components/proxy/plugins/jsonselect/go.mod
  components/proxy/plugins/jsonselect/go.sum
  components/proxy/plugins/logif/go.mod
  components/proxy/plugins/logif/go.sum
  components/proxy/plugins/secwebsocketkey/go.mod
  components/proxy/plugins/secwebsocketkey/go.sum
  components/proxy/plugins/sshtunnel/go.mod
  components/proxy/plugins/sshtunnel/go.sum
  components/proxy/plugins/workspacedownload/go.mod
  components/proxy/plugins/workspacedownload/go.sum
  components/supervisor/go.mod
  components/supervisor/go.sum
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
Due: components-gitpod-cli-app, components-supervisor-app

[db/long migration] organizationId on workspace
  components/gitpod-db/src/container-module.ts
  components/gitpod-db/src/long-running-migration/long-running-migration.spec.db.ts
  components/gitpod-db/src/long-running-migration/long-running-migration.ts
  components/gitpod-db/src/long-running-migration/workspace-organizationid-migration.spec.db.ts
  components/gitpod-db/src/long-running-migration/workspace-organizationid-migration.ts
  components/gitpod-db/src/typeorm/entity/db-long-running-migration.ts
  components/gitpod-db/src/typeorm/migration/1675863598550-LongRunningMigration.ts
  components/server/src/server.ts
Due: none

[oidc] encode and validate state params
  components/public-api-server/go.mod
  components/public-api-server/go.sum
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router_test.go
  components/public-api-server/pkg/oidc/service.go
  components/public-api-server/pkg/oidc/service_test.go
  components/public-api-server/pkg/oidc/state_jwt.go
  components/public-api-server/pkg/oidc/state_jwt_test.go
  components/public-api-server/pkg/server/server.go
Due: none

[gitpod-db] reduce migration batch size
  components/gitpod-db/src/long-running-migration/workspace-organizationid-migration.ts
Due: none

[ws-manager-mk2] Workspace timeouts
  components/ws-manager-api/go/config/config.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/main.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
Due: none

[gitpod-web-extension] fix supervisor notify request not await
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

minor: fix active state for admin menu
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

[ws-manager] Add custom closed timeout
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager/pkg/manager/annotations.go
  components/ws-manager/pkg/manager/create.go
  components/ws-manager/pkg/manager/manager_ee.go
  components/ws-manager/pkg/manager/status.go
Due: components-ws-manager-app

Add `humanReadableDuration` as return value from `setWorkspaceTimeout`
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/java/src/main/java/io/gitpod/gitpodprotocol/api/entities/SetWorkspaceTimeoutResult.java
  components/gitpod-protocol/src/gitpod-service.ts
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/actions/ExtendWorkspaceTimeoutAction.kt
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: components-gitpod-protocol-go-lib

`gp timeout set` and `gp timeout show` to echo back the server-interpreted display duration
  components/gitpod-cli/cmd/timeout-set.go
  components/gitpod-cli/cmd/timeout-show.go
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: components-gitpod-cli-app, components-gitpod-protocol-go-lib

Minor improvements to the workspace timeout validation
  components/gitpod-protocol/src/gitpod-service.ts
Due: none

JetBrains Timeout Input Dialog
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/actions/ExtendWorkspaceTimeoutAction.kt
Due: none

Update `gp timeout set` help text to match backend
  components/gitpod-cli/cmd/timeout-set.go
Due: components-gitpod-cli-app

Add a 24-hour timeout limit to workspace timeouts
  components/gitpod-protocol/src/gitpod-service.ts
Due: none

[usage] update stripe usage on finalization
  components/usage/pkg/apiv1/billing.go
Due: none

major: update page header and use tabs
  components/dashboard/src/admin/AdminPageHeader.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/PageWithAdminSubMenu.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/admin/admin.routes.ts
Due: components-dashboard-app

[redis] Deploy component
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/ide-config/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/components-webapp/components.go
  install/installer/pkg/components/redis/constants.go
  install/installer/pkg/components/redis/deployment.go
  install/installer/pkg/components/redis/objects.go
  install/installer/pkg/components/redis/service.go
Due: none

[db] optimize workspace update
  components/gitpod-db/.vscode/launch.json
  components/gitpod-db/src/user-to-team-migration-service.spec.db.ts
  components/gitpod-db/src/user-to-team-migration-service.ts
Due: none
