Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[installer] Remove payment endpoint - WEB-144 (#17233)
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/common/constants.go
  install/installer/pkg/components/proxy/configmap.go
  install/installer/pkg/components/proxy/templates/configmap/vhost.payment-endpoint.tpl
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/usage/networkpolicy.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[server] Set Key ID on JWT tokens, use it for verification - WEB-100 (#17227)
  components/server/src/auth/jwt.spec.ts
  components/server/src/auth/jwt.ts
Due: none

[server] remove /tos endpoint
  components/server/ee/src/container-module.ts
  components/server/ee/src/user/user-service.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
  components/server/src/express.ts
  components/server/src/terms/tos-flow.ts
  components/server/src/user/user-controller.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[dashboard] Remove /plans
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/user-settings/Plans.tsx
Due: components-dashboard-app

[dashboard] Remove /old-team-plans
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/user-settings/ChargebeeTeams.tsx
Due: components-dashboard-app

`experimental` IDEs feature flag
  components/dashboard/src/components/SelectIDEComponent.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/gitpod-protocol/src/ide-protocol.ts
  components/ide-service-api/go/config/ideconfig.go
Due: components-dashboard-app

[debug, do not merge]: test with experimental VS Code
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Due: none

[server] remove /tos endpoint (#17236)
  components/server/ee/src/container-module.ts
  components/server/ee/src/user/user-service.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/auth/login-completion-handler.ts
  components/server/src/express.ts
  components/server/src/terms/tos-flow.ts
  components/server/src/user/user-controller.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[workspaces] move workspace to other orgs
  components/dashboard/src/data/workspaces/list-workspaces-query.ts
  components/dashboard/src/data/workspaces/move-workspace-mutation.ts
  components/dashboard/src/workspaces/MoveWorkspaceModal.tsx
  components/dashboard/src/workspaces/WorkspaceOverflowMenu.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[dashboard] Remove chargebee references I (#17239)
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/user-settings/ChargebeeTeams.tsx
  components/dashboard/src/user-settings/Plans.tsx
Due: components-dashboard-app

[dashboard] Remove Chargebee TeamBilling
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

[dashboard] Remove isUsageBasedBillingEnabled feature flag
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[dashboard] Remove chargebee-client
  components/dashboard/src/chargebee/chargebee-client.ts
  components/dashboard/src/chargebee/chargebee.d.ts
Due: components-dashboard-app

[installer] Use mk2 tls certificates for server
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
Due: none

[dashboard] Remove chargebee from UserDetail
  components/dashboard/src/admin/UserDetail.tsx
Due: components-dashboard-app

[dashboard] Cleanup PaymentContext
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/payment-context.tsx
Due: components-dashboard-app

[dashboard] Slash last Chargebee mentions
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/settings.routes.ts
Due: components-dashboard-app

[dashboard] Remove chargebee references II (#17241)
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
Due: components-dashboard-app

[server] clean up auth provider
  components/gitpod-db/src/auth-provider-entry.spec.db.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/bitbucket-server/bitbucket-server-auth-provider.ts
  components/server/src/bitbucket/bitbucket-auth-provider.ts
  components/server/src/github/github-auth-provider.ts
  components/server/src/gitlab/gitlab-auth-provider.ts
Due: none

[server] clean up auth provider (#17238)
  components/gitpod-db/src/auth-provider-entry.spec.db.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/bitbucket-server/bitbucket-server-auth-provider.ts
  components/server/src/bitbucket/bitbucket-auth-provider.ts
  components/server/src/github/github-auth-provider.ts
  components/server/src/gitlab/gitlab-auth-provider.ts
Due: none

Fix integration tests
  test/pkg/integration/integration.go
Due: none

set SetupFutureUsage to offline
  components/usage/pkg/stripe/stripe.go
Due: none

[supervisor] log potentially leaking grpc streams
  components/supervisor/pkg/supervisor/notification.go
  components/supervisor/pkg/supervisor/services.go
Due: components-supervisor-app

[supervisor] log potentially leaking grpc streams (#17243)
  components/supervisor/pkg/supervisor/notification.go
  components/supervisor/pkg/supervisor/services.go
Due: components-supervisor-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 231.8770-EAP-CANDIDATE-SNAPSHOT (#17231)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[changelog] updated changelog (#17245)
  CHANGELOG.md
Due: none

[server] don't create workpace on error
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[db] make verification faster
  components/gitpod-db/src/typeorm/user-db-impl.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 231.8770-EAP-CANDIDATE-SNAPSHOT (#17232)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[dashboard] Remove chargebee references III (#17242)
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/chargebee/chargebee-client.ts
  components/dashboard/src/chargebee/chargebee.d.ts
  components/dashboard/src/menu/Menu.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
  components/dashboard/src/user-settings/settings.routes.ts
Due: components-dashboard-app

Remove release note from PR template
  .github/pull_request_template.md
Due: none

Remove release note from PR template (#17249)
  .github/pull_request_template.md
Due: none

[installer] Remove chargebee refs
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/constants.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/installer/pkg/config/versions/versions.go
Due: none

fix
  install/installer/pkg/config/versions/versions.go
Due: none

[server] Remove chargebee config reading
  components/server/src/config.ts
Due: none

[installer] Remove chargebee refs - WEB-144 (#17250)
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/constants.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[server] Remove chargebee config reading (#17251)
  components/server/src/config.ts
Due: none
