Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-ee-kedge-app:
    paths:
      - components/ee/kedge/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-poolkeeper-app:
    paths:
      - dev/poolkeeper/
  dev-sweeper-app:
    paths:
      - dev/sweeper/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[webapp] move admin redirects to `App.tsx`
  components/dashboard/src/App.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
Due: components-dashboard-app

[ws-manager-bridge] Skip stale prebuild events
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

ws-daemon: Use a pair of veths instead of slirp4netns
  components/ee/agent-smith/pkg/detector/proc_test.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/ports/slirp4netns.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/workspacekit/cmd/rings.go
  components/workspacekit/leeway.Dockerfile
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ee-agent-smith-app, components-supervisor-app, components-workspacekit-app, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

ws-daemon: Update the workspacekit documentation.
  docs/workspace/architecture.drawio.svg
Due: none

ws-dameon: implement the SetupPairVeths function.
  components/workspacekit/cmd/rings.go
  components/ws-daemon-api/go/mock/mock.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/go/workspace_daemon_grpc.pb.go
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon-api/workspace_daemon.proto
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/pkg/iws/iws.go
Due: components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-app

[installer] Displable `definitely-gp` by default
  chart/values.yaml
  install/installer/docs/air-gap.md
  install/installer/example-config.yaml
  install/installer/pkg/config/v1/config.go
Due: none

Revert "ws-daemon: Use a pair of veths instead of slirp4netns"
  components/ee/agent-smith/pkg/detector/proc_test.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/ports/slirp4netns.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/workspacekit/cmd/rings.go
  components/workspacekit/leeway.Dockerfile
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ee-agent-smith-app, components-supervisor-app, components-workspacekit-app, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Revert "ws-daemon: Update the workspacekit documentation."
  docs/workspace/architecture.drawio.svg
Due: none

Revert "ws-dameon: implement the SetupPairVeths function."
  components/workspacekit/cmd/rings.go
  components/ws-daemon-api/go/mock/mock.go
  components/ws-daemon-api/go/workspace_daemon.pb.go
  components/ws-daemon-api/go/workspace_daemon_grpc.pb.go
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_grpc_pb.js
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.d.ts
  components/ws-daemon-api/typescript/src/workspace_daemon_pb.js
  components/ws-daemon-api/workspace_daemon.proto
  components/ws-daemon/nsinsider/go.mod
  components/ws-daemon/nsinsider/go.sum
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/pkg/iws/iws.go
Due: components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-app

[dashboard] replace dev configuration with env vars
  components/dashboard/README.md
  components/dashboard/craco.config.js
Due: components-dashboard-app

enable indexing with GoLand in prebuilds
  .gitpod.yml
  scripts/goland-indexing.sh
Due: none

clean-up
  components/common-go/baseserver/options.go
  components/common-go/baseserver/server.go
  components/common-go/baseserver/server_test.go
  components/common-go/baseserver/testing.go
Due: components-common-go-lib

[bitbucket-server] add token validator
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket-server/bitbucket-server-container-module.ts
  components/server/src/bitbucket-server/bitbucket-server-token-validator.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-token-validator.ts
  components/server/src/bitbucket/bitbucket-token-validator.ts
  components/server/src/github/github-token-validator.ts
  components/server/src/gitlab/gitlab-token-validator.ts
  components/server/src/repohost/repo-url.spec.ts
  components/server/src/repohost/repo-url.ts
  components/server/src/workspace/git-token-scope-guesser.ts
  components/server/src/workspace/git-token-validator.ts
Due: none

license header
  components/common-go/baseserver/http.go
  components/common-go/baseserver/options.go
  components/common-go/baseserver/server.go
  components/common-go/baseserver/server_test.go
  components/common-go/baseserver/testing.go
Due: components-common-go-lib

Fix
  components/common-go/baseserver/server.go
Due: components-common-go-lib

[analytics] Fix default notification settings in analytics call
  components/server/src/analytics.ts
Due: none

Separate redis manifest cache from IPFS
  components/registry-facade-api/go/config/config.go
  components/registry-facade/pkg/registry/registry.go
  install/installer/pkg/components/registry-facade/configmap.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/installer/pkg/config/v1/experimental/validation.go
Due: components-registry-facade-app, components-registry-facade-api-go-lib

Check redis connection
  components/registry-facade/pkg/registry/registry.go
Due: components-registry-facade-app

Revert removal of DisableKeepAlives
  components/registry-facade/cmd/run.go
Due: components-registry-facade-app

Update tests
  components/registry-facade/pkg/registry/cache_test.go
Due: components-registry-facade-app

Use sync.Pool as buffer
  components/registry-facade/pkg/registry/blob.go
Due: components-registry-facade-app

Include error in probe log
  components/common-go/kubernetes/probes.go
Due: components-common-go-lib

Check if the keys exists and use MULTI
  components/registry-facade/pkg/registry/cache.go
  components/registry-facade/pkg/registry/manifest.go
Due: components-registry-facade-app

Fix
  .github/CODEOWNERS
Due: none

[registry-facade] Fix IPFS/Redis validation
  components/registry-facade-api/go/config/config.go
  components/registry-facade/pkg/registry/registry.go
Due: components-registry-facade-app, components-registry-facade-api-go-lib

Update go modules
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/image-builder-bob/go.sum
  components/public-api/go/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-proxy/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app

[dashboard] display warning for latest IDE versions
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/ide/jetbrains/image/startup.sh
Due: components-dashboard-app

[dashboard] add alert component
  components/dashboard/src/components/Alert.tsx
  components/dashboard/src/images/exclamation2.svg
  components/dashboard/src/images/info.svg
  components/dashboard/src/images/x.svg
Due: components-dashboard-app

[dashboard,server] switch ide version with one toggle
  chart/templates/server-ide-configmap.yaml
  components/dashboard/src/components/SelectableCardSolid.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.spec.ts
  components/server/src/workspace/workspace-starter.ts
  install/installer/pkg/components/server/ide/configmap.go
Due: components-dashboard-app

Compatible with ide-config
  components/dashboard/src/settings/Preferences.tsx
  components/server/src/workspace/workspace-starter.ts
Due: components-dashboard-app

Fix ipfsAddr field
  components/registry-facade-api/go/config/config.go
Due: components-registry-facade-api-go-lib

[changelog] updated changelog
  CHANGELOG.md
Due: none

Autofix: trailing-spaces
  components/ide-proxy/static/image/ide-logo/vscodeInsiders.svg
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Control.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Info.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Notification.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Port.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Status.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/TerminalOuterClass.java
  components/supervisor-api/java/src/main/java/io/gitpod/supervisor/api/Token.java
  components/ws-manager-api/typescript/src/core_pb.d.ts
  dev/jetbrains-test/gradlew.bat
Due: none

Autofix: upgrade-nvm-tools
  components/ide/code/leeway.Dockerfile
  dev/image/Dockerfile
Due: none

query works
  components/gitpod-db-go/go.mod
  components/gitpod-db-go/go.sum
  components/gitpod-db-go/team.go
  components/gitpod-db-go/team_test.go
  components/gitpod-db-go/time.go
Due: none

WIP: Implement db model in go
  components/gitpod-db-go/pagination.go
  components/gitpod-db-go/project.go
  components/gitpod-db-go/team-membership.go
  components/gitpod-db-go/team.go
Due: none
