Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[server] double amount of migrated users per run (#17750)
  components/server/src/jobs/org-only-migration-job.ts
Due: none

[server] expose API for blocked email domains (#17754)
  components/dashboard/src/admin/BlockedEmailDomains.tsx
  components/dashboard/src/admin/admin.routes.ts
  components/dashboard/src/app/AppRoutes.tsx
  components/gitpod-db/src/email-domain-filter-db.ts
  components/gitpod-db/src/typeorm/email-domain-filter-db-impl.ts
  components/gitpod-protocol/src/admin-protocol.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

disable focus lock on billing modal (#17751)
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/billing/AddPaymentMethodModal.tsx
Due: components-dashboard-app

[obs] alert when cluster is under high load (#17755)
  operations/observability/mixins/workspace/rules/central/nodes.yaml
Due: none

[obs] fix and tune NodePoolLoad alert
  operations/observability/mixins/workspace/rules/central/nodes.yaml
Due: none

Add WorkspaceUpdates method
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/go/mock.go
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
Due: components-gitpod-protocol-go-lib

test
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-supervisor-app

Replace InstanceUpdates
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/go/mock.go
  components/local-app/pkg/bastion/bastion.go
  components/supervisor/cmd/call-server.go
  components/supervisor/pkg/ports/exposed-ports.go
  components/supervisor/pkg/serverapi/publicapi.go
Due: components-gitpod-protocol-go-lib, components-local-app-app-linux, components-supervisor-app

[idp] make key id stable
  components/public-api-server/pkg/identityprovider/cache.go
Due: none

[idp] periodically persist public key
  components/public-api-server/pkg/identityprovider/cache.go
  components/public-api-server/pkg/identityprovider/cache_test.go
  components/public-api-server/pkg/server/server.go
Due: none

fix
  components/public-api-server/pkg/identityprovider/cache.go
Due: none

Update admin search alert copy
  components/dashboard/src/admin/BlockedEmailDomains.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
Due: components-dashboard-app

[papi] Start request should search for single Org with active SSO
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_test.go
  components/public-api-server/pkg/oidc/service.go
Due: none

[papi] Start request should search for single Org with active SSO (#17761)
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_test.go
  components/public-api-server/pkg/oidc/service.go
Due: none

[server] Issue JWT cookie in IAM Sessions for OIDC sign-in
  components/public-api-server/pkg/oidc/router.go
  components/public-api-server/pkg/oidc/service.go
  components/server/src/auth/login-completion-handler.ts
  components/server/src/container-module.ts
  components/server/src/iam/iam-session-app.spec.ts
  components/server/src/iam/iam-session-app.ts
  components/server/src/server.ts
  components/server/src/session-handler.ts
  components/server/src/user/user-controller.ts
Due: none

[gitpod-db] Rename Go definitions from Teams to Organizations
  components/gitpod-db/go/dbtest/team.go
  components/gitpod-db/go/dbtest/team_membership.go
  components/gitpod-db/go/oidc_client_config.go
  components/gitpod-db/go/oidc_client_config_test.go
  components/gitpod-db/go/team.go
  components/gitpod-db/go/team_membership.go
  components/gitpod-db/go/team_membership_test.go
  components/gitpod-db/go/team_test.go
Due: none

fix
  components/gitpod-db/go/team.go
Due: none

Update admin search alert copy (#17760)
  components/dashboard/src/admin/BlockedEmailDomains.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
Due: components-dashboard-app

[obs] fix and tune NodePoolLoad alert (#17757)
  operations/observability/mixins/workspace/rules/central/nodes.yaml
Due: none

[migration] fix migration of stripe customers
  components/server/src/migration/user-to-team-migration-service.ts
Due: none

[migration] fix migration of stripe customers (#17764)
  components/server/src/migration/user-to-team-migration-service.ts
Due: none

[server] run job, that fixes bad stripe migration
  components/server/src/container-module.ts
  components/server/src/jobs/fix-stripe-job.spec.db.ts
  components/server/src/jobs/fix-stripe-job.ts
  components/server/src/jobs/runner.ts
Due: none

[server] run job, that fixes bad stripe migration (#17765)
  components/server/src/container-module.ts
  components/server/src/jobs/fix-stripe-job.spec.db.ts
  components/server/src/jobs/fix-stripe-job.ts
  components/server/src/jobs/runner.ts
Due: none

[server] explicit type check and fix test
  components/server/src/auth/authenticator.ts
  components/server/src/express.ts
  components/server/src/websocket/websocket-connection-manager.ts
Due: none

[oidc] Forward errors through /complete-auth endpoint
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router.go
  components/server/src/user/user-controller.ts
Due: none

[server, db] Fix some imports to re-enable "yarn test" in server
  components/gitpod-db/src/blocked-repository-db.ts
  components/gitpod-db/src/typeorm/blocked-repository-db-impl.ts
  components/gitpod-db/src/typeorm/entity/db-blocked-repository.ts
  components/server/src/auth/authenticator.ts
  components/server/src/linkedin-service.ts
  components/server/src/prebuilds/incremental-prebuilds-service.ts
Due: none

[dashboard] minor improvements for email domains
  components/dashboard/src/admin/BlockedEmailDomains.tsx
Due: components-dashboard-app

[oidc] Forward errors through /complete-auth endpoint (#17753)
  components/public-api-server/pkg/oidc/oauth2.go
  components/public-api-server/pkg/oidc/router.go
  components/server/src/user/user-controller.ts
Due: none

[dashboard] minor improvements for email domains (#17768)
  components/dashboard/src/admin/BlockedEmailDomains.tsx
Due: components-dashboard-app

Fix incorrect log level setup
  components/common-go/experiments/types.go
  components/gitpod-cli/cmd/validate.go
Due: components-common-go-lib, components-gitpod-cli-app

Fix
  components/gitpod-db/go/dbtest/organization.go
  components/gitpod-db/go/dbtest/organization_membership.go
  components/gitpod-db/go/organization.go
  components/gitpod-db/go/organization_membership.go
  components/gitpod-db/go/organization_membership_test.go
  components/gitpod-db/go/organization_test.go
Due: none

fix
  components/gitpod-db/go/dbtest/organization_membership.go
  components/gitpod-db/go/organization_membership.go
  components/gitpod-db/go/organization_membership_test.go
Due: none

[server] Prevent avatarUrl update
  components/server/src/auth/blocked-user-filter.ts
  components/server/src/container-module.ts
  components/server/src/user/user-service.spec.db.ts
  components/server/src/user/user-service.ts
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
