Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

Add JB label to automated update PRs
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

ws-manager: return error if restore volume snapshot to smaller PVC size
  components/ws-manager/pkg/manager/manager.go
Due: components-ws-manager-app

test: add new test TestPrebuildAndRegularWorkspaceDifferentWorkspaceClass
  test/tests/components/ws-manager/prebuild_test.go
Due: none

[gitpod-cli] make version simply
  components/gitpod-cli/BUILD.yaml
  components/gitpod-cli/pkg/gitpod/server.go
  components/gitpod-cli/pkg/gitpod/version.txt
Due: components-gitpod-cli-app

[local-app] using go build args to avoid rebuilds
  components/local-app/BUILD.yaml
  components/local-app/main.go
  components/local-app/version.txt
Due: components-local-app-app-linux

[single-cluster/aws] Make `self-signed` work
  install/infra/modules/eks/kubernetes.tf
Due: none

upload custom CA into terraform state
  .werft/eks-installer-tests.yaml
  .werft/installer-tests.ts
  install/tests/Makefile
Due: none

Add comment to entity
  components/gitpod-db/src/typeorm/entity/db-volume-snapshot.ts
Due: none

Add migration to add db-sync columns
  components/gitpod-db/src/typeorm/migration/1664205442175-AddLastModifiedToVolumeSnapshots.ts
Due: none

Update .gitpod.yml tasks to use Go workspaces
  .gitpod.yml
  components/licensor/go.sum
  go.work.sum
Due: components-licensor-app

[docker-up] Fix dev-time errors
  .pre-commit-config.yaml
  components/docker-up/BUILD.yaml
  components/docker-up/docker-up/docker-compose
  components/docker-up/docker-up/docker.tgz
  components/docker-up/docker-up/main.go
  components/docker-up/docker-up/runc
Due: none

[server] Fix return URL of Stripe Customer Portal for teams
  components/server/ee/src/user/stripe-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Add support for JetBrains EAP IDEs (2022.3)
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/launch-dev-server.sh
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodIgnoredPortsForNotificationService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodIgnoredPortsForNotificationServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodPortForwardingService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodIgnoredPortsForNotificationServiceImpl.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
Due: none

[usage] don't show usage in slef-hosted yet
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[installer-tests] Cleanup the test crons
  .werft/aks-installer-tests.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/installer-tests.ts
  .werft/jobs/build/self-hosted-upgrade-tests.ts
  .werft/k3s-installer-tests.yaml
  install/tests/Makefile
Due: none

[dashboard] keep team selection
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/teams/teams-context.tsx
Due: components-dashboard-app

[supervisor]: add grpc observability
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Update Platform Version of JetBrains Backend Plugin to 222.4345-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Terraform resources for Harvester VM and LBs
  .pre-commit-config.yaml
  dev/preview/.gitignore
  dev/preview/infrastructure/harvester/cloudinit.yaml
  dev/preview/infrastructure/harvester/lb.tf
  dev/preview/infrastructure/harvester/namespace.tf
  dev/preview/infrastructure/harvester/svc.tf
  dev/preview/infrastructure/harvester/variables.tf
  dev/preview/infrastructure/harvester/vm.tf
Due: none

Check `enablePayment` before Stripe operations
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Check length returned by recvmsg
  components/workspacekit/cmd/rings.go
Due: components-workspacekit-app

Check `enablePayment` before Stripe operations (#13407)
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Try retrieving state
  components/workspacekit/cmd/rings.go
Due: components-workspacekit-app

[local-preview] Failure with more specific information
  install/preview/entrypoint.sh
  install/preview/prettylog/main.go
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
