Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

[dashboard] don't create more than one ws
  components/dashboard/src/start/CreateWorkspace.tsx
Due: components-dashboard-app

[codeowner] Update ws-daemon-api owner
  .github/CODEOWNERS
Due: none

[dashboard] always start w/ options
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[ws-manager-mk2] Support system environment variables
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/service/manager.go
Due: none

Rename ownerId => userId for clarity
  components/server/src/auth/auth-provider-service.ts
  components/server/src/auth/login-completion-handler.ts
Due: none

Adjust logic to account for orgs
  components/server/src/auth/auth-provider-service.ts
Due: none

adding a comment around markAsVerified changes
  components/server/src/auth/auth-provider-service.ts
Due: none

filter out org auth providers from user providers
  components/gitpod-db/src/typeorm/auth-provider-entry-db-impl.ts
Due: none

Adding a findById() to AuthProviderEntryDB
  components/gitpod-db/src/auth-provider-entry-db.ts
  components/gitpod-db/src/typeorm/auth-provider-entry-db-impl.ts
Due: none

major: update page header and use tabs
  components/dashboard/src/admin/AdminPageHeader.tsx
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/PageWithAdminSubMenu.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/admin/admin.routes.ts
Due: components-dashboard-app

update(nav menu): Set active state for admin menu
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

minor: fix active state for admin menu
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

update: fix width, top margin and active state
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/License.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/Settings.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/menu/Menu.tsx
Due: components-dashboard-app

[ws-manager-mk2] Add finalizer on workspace, handle deletion
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
  components/ws-manager-mk2/service/manager.go
Due: none

[dev-utils] include latest gpctl in dev-utils
  dev/leeway.Dockerfile
Due: none

Test
  components/dashboard/package.json
  components/public-api/typescript/package.json
  components/public-api/typescript/src/gitpod/experimental/v1/ide_client_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/ide_client_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/oidc_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/pagination_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/projects_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/projects_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/teams_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/teams_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/tokens_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/tokens_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/user_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/user_pb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  yarn.lock
Due: components-dashboard-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[ws-manager-mk2] Fix stuck on init/dispose failure
  components/ws-daemon/pkg/controller/controller.go
Due: components-ws-daemon-app

[ws-manager-mk2] Support class|network limiting and PSI
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/service/manager.go
Due: none

[public-api-server] Forward Origin header where provided
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/auth/context.go
  components/public-api-server/pkg/auth/context_test.go
  components/public-api-server/pkg/auth/middleware.go
  components/public-api-server/pkg/proxy/conn.go
  components/public-api-server/pkg/proxy/conn_test.go
Due: components-gitpod-protocol-go-lib

[server,dashboard] add endpoints to get ide credentials
  components/dashboard/src/service/service.tsx
  components/gitpod-protocol/src/frontend-dashboard-service.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/config-provider.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

fix formatting
  components/server/src/session-handler.ts
Due: none

[ws-manager-mk2] Fix workspace URL
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/main.go
Due: none

[server] make Gitpod cookie "stricter"
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/session-handler.ts
Due: none

[ws-manager-mk2] Timeout controller tests
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/controllers/timeout_controller_test.go
  components/ws-manager-mk2/controllers/workspace_controller_test.go
Due: none

[gitpod-db] Fix AuthProviderEntryDBImpl.findByUserId
  components/gitpod-db/src/auth-provider-entry.spec.db.ts
  components/gitpod-db/src/typeorm/auth-provider-entry-db-impl.ts
Due: none

minor: fix layout for workspaces and projects
  components/dashboard/src/admin/ProjectDetail.tsx
  components/dashboard/src/admin/WorkspaceDetail.tsx
Due: components-dashboard-app

minor: Add top margin for admin dashboard pages
  components/dashboard/src/admin/ProjectDetail.tsx
  components/dashboard/src/admin/TeamDetail.tsx
  components/dashboard/src/admin/UserDetail.tsx
  components/dashboard/src/admin/WorkspaceDetail.tsx
Due: components-dashboard-app

Replace loading SVG icon in the Loader component
  components/dashboard/src/admin/BlockedRepositories.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/dashboard/src/components/Loader.tsx
  components/dashboard/src/icons/Spinner.svg
Due: components-dashboard-app

Use context to store and populate origin
  components/public-api-server/pkg/auth/context.go
  components/public-api-server/pkg/auth/context_test.go
  components/public-api-server/pkg/auth/middleware.go
  components/public-api-server/pkg/origin/context.go
  components/public-api-server/pkg/origin/context_test.go
  components/public-api-server/pkg/origin/middleware.go
  components/public-api-server/pkg/origin/middleware_test.go
  components/public-api-server/pkg/proxy/conn.go
  components/public-api-server/pkg/proxy/conn_test.go
  components/public-api-server/pkg/server/server.go
Due: none

[experiment] Add "Sign in with SSO" to Login
  components/dashboard/src/Login.tsx
  components/dashboard/src/provider-utils.tsx
Due: components-dashboard-app

[supervisor-frontend] implement encryption for code
  components/gitpod-protocol/src/typings/globals.ts
  components/supervisor/frontend/src/ide/ide-metrics-service-client.ts
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
  components/supervisor/frontend/webpack.config.js
Due: components-supervisor-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
