Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

go mod download
  .gitpod.yml
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

[installer]: add validation rules to blockNewUsers in config block
  install/installer/pkg/config/v1/config.go
  install/installer/pkg/config/v1/validation.go
  install/installer/pkg/config/validation.go
Due: none

[server] Usage-Based: Don't block slot operations on old Team Subscriptions
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

[server] Show "Team Plans" to users who are about to uprgade to usage-based
  components/server/ee/src/billing/billing-mode.ts
Due: none

[dashboard] Show Team Subscription UI for owners without seat as well
  components/dashboard/src/settings/Teams.tsx
  components/dashboard/src/settings/settings-menu.ts
  components/gitpod-protocol/src/billing-mode.ts
  components/server/ee/src/billing/billing-mode.ts
Due: components-dashboard-app

[usage] Enable usage view with feature flag
  components/dashboard/src/Menu.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
Due: components-dashboard-app

[installer]: add shiftfs config to the mirror generation list
  install/installer/cmd/mirror_list.go
Due: none

[installer]: refactor the install bash script with the new installer cli
  .werft/jobs/build/build-and-publish.ts
  install/installer/scripts/kots-install.sh
  install/kots/manifests/gitpod-config-patch.yaml
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/gitpod-kots-config.yaml
  install/kots/manifests/gitpod-shiftfs-module-loader.yaml
  install/kots/manifests/gitpod-ssh-gateway-key.yaml
Due: none

Upgrade Leeway to v0.2.21
  dev/image/Dockerfile
Due: none

Bump image tags
  .gitpod.yml
  .werft/aks-installer-tests.yaml
  .werft/build.yaml
  .werft/cleanup-installer-tests.yaml
  .werft/debug.yaml
  .werft/eks-installer-tests.yaml
  .werft/gke-installer-tests.yaml
  .werft/ide-integration-tests-startup.yaml
  .werft/k3s-installer-tests.yaml
  .werft/platform-delete-preview-environments-cron.yaml
  .werft/platform-trigger-werft-cleanup.yaml
  .werft/workspace-run-integration-tests.yaml
Due: none

werft: Add workspace for with-integration-test
  .werft/jobs/build/job-config.ts
Due: none

Add withLocalPreview
  .github/pull_request_template.md
  .werft/jobs/build/build-and-publish.ts
  .werft/jobs/build/job-config.ts
  install/preview/BUILD.js
  install/preview/BUILD.yaml
Due: none

move ide config type define to ide-service-api
  components/ide-service-api/go/config/ideconfig.go
  components/ide-service/pkg/server/ideconfig.go
  components/ide-service/pkg/server/ideconfig_test.go
  components/ide-service/pkg/server/server.go
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ide-service/deployment.go
  install/installer/pkg/components/ide-service/ide_config_configmap.go
  install/installer/pkg/components/ide-service/objects.go
  install/installer/pkg/components/server/ide/constants.go
  install/installer/pkg/components/server/ide/objects.go
  install/installer/pkg/components/server/ide/types.go
  install/installer/pkg/components/server/objects.go
Due: none

[ide-service] fix test command
  components/ide-service/cmd/test.go
Due: none

When I removed the global access to fix https://github.com/gitpod-io/gitpod/issues/12964 it exposed the fact that our IAM permissions weren't correct to just use the S3 bucket.
  install/infra/modules/eks/storage.tf
Due: none

[db] Add deleted column to d_b_prebuilt_workspace
  components/gitpod-db/src/typeorm/migration/1663751455102-PrebuildWorkspaceDBSync.ts
Due: none

[db] Add deleted and _lastModified columns, index _lastModified for d_b_prebuilt_workspace_updatable
  components/gitpod-db/src/typeorm/migration/1663752957582-PrebuiltWorkspaceUpdatableDBSync.ts
Due: none

WIP: revert later
  components/BUILD.yaml
Due: none

[usage] Use DefaultClientOptions when creating grpc client connection
  components/usage/pkg/server/server.go
Due: none

WIP: One possible solution. Just rm -rf
  install/installer/BUILD.yaml
Due: none

[usage] Alert on stripe webhooks and invoice finalize
  operations/observability/mixins/meta/rules/usage.yaml
Due: none

[usage] Add link to GCP logs and grpc server dashboard
  operations/observability/mixins/meta/dashboards/components/usage.json
Due: none

[usage] Alert on Stripe webhook handling
  operations/observability/mixins/meta/rules/usage.yaml
Due: none

[dashboard] add pagination to user search
  components/dashboard/src/Pagination/Pagination.tsx
  components/dashboard/src/admin/ProjectsSearch.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/UserSearch.tsx
  components/dashboard/src/admin/WorkspacesSearch.tsx
Due: components-dashboard-app

[usage] Remove rounding of credits in UI
  components/dashboard/src/components/UsageView.tsx
Due: components-dashboard-app

[usage] Use credit cents when computing listed usage balance
  components/usage/pkg/apiv1/usage.go
  components/usage/pkg/db/cost_center.go
  components/usage/pkg/db/usage.go
  components/usage/pkg/db/usage_test.go
Due: none

Remove components from build cache after objcopy
  install/installer/BUILD.yaml
Due: none

Update gitpod config types
  components/gitpod-protocol/go/gitpod-config-types.go
Due: components-gitpod-protocol-go-lib

Enable configuration of core dumps in .gitpod.yml files
  components/gitpod-protocol/data/gitpod-schema.json
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/workspace-starter.ts
  components/workspacekit/cmd/rings.go
  components/ws-manager/pkg/manager/create.go
Due: components-workspacekit-app, components-ws-manager-app

[server] If getting usage-based notifications fails, log a warning instead of propagating the error to the dashboard
  components/server/ee/src/workspace/gitpod-server-impl.ts
Due: none

Disable core dumps
  components/workspacekit/cmd/rings.go
Due: components-workspacekit-app

[usage] Align credits and time in usage view
  components/dashboard/src/components/UsageView.tsx
Due: components-dashboard-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
