Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

update index (#19322)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Revert "Redirect on workspace stop"
  components/dashboard/src/service/service.tsx
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
  components/supervisor/frontend/src/shared/index.css
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-dashboard-app, components-supervisor-app

Revert "Redirect on workspace stop" (#19323)
  components/dashboard/src/service/service.tsx
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
  components/supervisor/frontend/src/shared/index.css
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-dashboard-app, components-supervisor-app

[observability] update dashboard not all ready alert (#19317)
  operations/observability/mixins/meta/rules/dashboard.yaml
  operations/observability/mixins/meta/rules/server.yaml
Due: none

Revert "Revert "Redirect on workspace stop" (#19323)"
  components/dashboard/src/service/service.tsx
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
  components/supervisor/frontend/src/shared/index.css
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-dashboard-app, components-supervisor-app

Fix
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/index.css
  components/supervisor/frontend/src/shared/loading-frame.ts
Due: components-supervisor-app

Fix
  components/supervisor/frontend/src/index.ts
Due: components-supervisor-app

[db] add migration to alter pat table allow null expirationTime
  components/gitpod-db/src/typeorm/entity/db-personal-access-token.ts
  components/gitpod-db/src/typeorm/migration/1705393804800-PersonalAccessTokenAllowNullExpireDateonPAT.ts
  components/gitpod-db/src/typeorm/personal-access-token-db-impl.ts
Due: none

fix migration
  components/gitpod-db/src/typeorm/migration/1705393804800-PersonalAccessTokenAllowNullExpireDateonPAT.ts
Due: none

[dashboard] Fix GitHub app integration URL in user settings
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

Update code web extension
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

fix url to `settings/applications`
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

[dashboard] Fix GitHub app integration URL in user settings (#19329)
  components/dashboard/src/user-settings/Integrations.tsx
Due: components-dashboard-app

[dashboard] allow no expiration date PAT
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/user-settings/ShowTokenModal.tsx
  components/dashboard/src/user-settings/TokenEntry.tsx
Due: components-dashboard-app

fix iso datetime
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
Due: components-dashboard-app

Fix entry
  components/dashboard/src/user-settings/TokenEntry.tsx
Due: components-dashboard-app

nit
  components/dashboard/src/user-settings/ShowTokenModal.tsx
Due: components-dashboard-app

[dashboard] allow no expiration date PAT (#19327)
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/PersonalAccessTokensCreateView.tsx
  components/dashboard/src/user-settings/ShowTokenModal.tsx
  components/dashboard/src/user-settings/TokenEntry.tsx
Due: components-dashboard-app

[server] fix BBS metadata `latest-commit-metadata` not defined cause prebuild trigger failed
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Due: none

Update code web extension (#19330)
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Add configuration id and search term filtering
  components/public-api/gitpod/v1/prebuild.proto
  components/public-api/go/v1/prebuild.pb.go
  components/public-api/typescript/src/gitpod/v1/prebuild_pb.ts
Due: none

Update code stable
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

:lipstick:
  components/dashboard/src/service/service.tsx
Due: components-dashboard-app

Revert "Revert "Redirect on workspace stop" (#19323)" (#19325)
  components/dashboard/src/service/service.tsx
  components/supervisor/frontend/src/index.ts
  components/supervisor/frontend/src/shared/frontend-dashboard-service.ts
Due: components-dashboard-app, components-supervisor-app

Update code stable (#19332)
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Add track event `team_joined` back
  components/server/src/orgs/organization-service.ts
Due: none

Add track event `team_joined` back (#19334)
  components/server/src/orgs/organization-service.ts
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.8102-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Add admin role to builtin admin back
  components/gitpod-db/src/typeorm/migration/1705591447620-AdminUserAddAdminRole.ts
Due: none

Add admin role to builtin admin back (#19337)
  components/gitpod-db/src/typeorm/migration/1705591447620-AdminUserAddAdminRole.ts
Due: none

[papi] add token service to gitpod.v1
  components/public-api/gitpod/v1/token.proto
  components/public-api/go/v1/token.pb.go
  components/public-api/go/v1/token_grpc.pb.go
  components/public-api/go/v1/v1connect/token.connect.go
  components/public-api/go/v1/v1connect/token.proxy.connect.go
  components/public-api/typescript/src/gitpod/v1/token_connect.ts
  components/public-api/typescript/src/gitpod/v1/token_pb.ts
  components/server/src/api/server.ts
  components/server/src/api/token-service-api.ts
  components/server/src/authorization/definitions.ts
  components/spicedb/schema/schema.yaml
  test/tests/smoke-test/collaborator_test.go
  test/tests/smoke-test/papi_create_temp_token_test.go
Due: none

Address feedback
  components/server/src/api/token-service-api.ts
  components/spicedb/schema/schema.yaml
Due: none

[installer] update log level of spicedb
  install/installer/pkg/components/spicedb/deployment.go
Due: none

Fix spice test cases
  components/spicedb/schema/schema.yaml
Due: none

fix db tests
  components/server/src/api/teams.spec.db.ts
Due: none

[papi] add api to allow organization owner to create a temporary token (#19324)
  components/public-api/gitpod/v1/token.proto
  components/public-api/go/v1/token.pb.go
  components/public-api/go/v1/token_grpc.pb.go
  components/public-api/go/v1/v1connect/token.connect.go
  components/public-api/go/v1/v1connect/token.proxy.connect.go
  components/public-api/typescript/src/gitpod/v1/token_connect.ts
  components/public-api/typescript/src/gitpod/v1/token_pb.ts
  components/server/src/api/server.ts
  components/server/src/api/teams.spec.db.ts
  components/server/src/api/token-service-api.ts
  components/server/src/authorization/definitions.ts
  components/spicedb/schema/schema.yaml
  test/tests/smoke-test/collaborator_test.go
  test/tests/smoke-test/papi_create_temp_token_test.go
Due: none

[server] fix BBS metadata `latest-commit-metadata` not defined cause prebuild trigger failed (#19331)
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Due: none

[installer] update log level of spicedb (#19339)
  install/installer/pkg/components/spicedb/deployment.go
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 241.8102-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.8102-EAP-CANDIDATE-SNAPSHOT (#19336)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
