Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-ee-kedge-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-poolkeeper-app, dev-sweeper-app, dev-version-manifest-app

[ws-manager-bridge] Skip stale prebuild events
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

ws-daemon: Use a pair of veths instead of slirp4netns
  components/ee/agent-smith/pkg/detector/proc_test.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/ports/slirp4netns.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/workspacekit/cmd/rings.go
  components/workspacekit/leeway.Dockerfile
  components/ws-daemon/nsinsider/main.go
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ee-agent-smith-app, components-supervisor-app, components-workspacekit-app, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

ws-daemon: Update the workspacekit documentation.
  docs/workspace/architecture.drawio.svg
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Cleanup local-app entrypoint
  components/local-app/main.go
  components/local-app/pkg/auth/auth.go
Due: components-local-app-app-linux

[installer] Allow to set default workspace timeout
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/ee/src/user/eligibility-service.ts
  components/server/ee/src/user/user-service.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/config.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/workspace-starter.ts
  install/installer/example-config.yaml
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/ws-manager/configmap.go
  install/installer/pkg/config/v1/config.go
Due: none

[observability] Update success criteria formula
  operations/observability/mixins/workspace/dashboards/success-criteria.json
Due: none

[prebuilds] Fix queued status when prebuild is running
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

Handle compressed response and follow redirects in openvsx proxy
  components/openvsx-proxy/pkg/modifyresponse.go
  components/openvsx-proxy/pkg/openvsxproxy_test.go
Due: none

Revert "[ws-manager-bridge] Skip stale prebuild events"
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

[ws-manager-bridge] Log handling of prebuild update events
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

[dashboard] Implement a PaymentContext and use it to hide payment features when payment is disabled
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/index.tsx
  components/dashboard/src/payment-context.tsx
  components/dashboard/src/settings/Account.tsx
  components/dashboard/src/settings/EnvironmentVariables.tsx
  components/dashboard/src/settings/Integrations.tsx
  components/dashboard/src/settings/Notifications.tsx
  components/dashboard/src/settings/Plans.tsx
  components/dashboard/src/settings/Preferences.tsx
  components/dashboard/src/settings/Teams.tsx
  components/dashboard/src/settings/settings-menu.ts
Due: components-dashboard-app

Revert '[ws-manager-bridge] Skip stale prebuild events'
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

[supervisor] remove supervisor_readiness for headless workspaces
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Start dockerd without experimental flag
  components/docker-up/dependencies.sh
  components/docker-up/docker-up/main.go
Due: none

Point Insiders back to `gp-code/main`
  .github/workflows/code-nightly.yaml
  WORKSPACE.yaml
Due: none

fix #6508: Allow users to define Jetbrains plugins to be installed on a given project
  components/gitpod-protocol/data/gitpod-schema.json
  components/gitpod-protocol/go/gitpod-config-types.go
  components/ide/jetbrains/backend-plugin/BUILD.yaml
  components/ide/jetbrains/backend-plugin/gradle.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodBranding.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodManager.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectManager.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
  components/ide/jetbrains/image/startup.sh
  components/ide/jetbrains/image/status/BUILD.yaml
  components/ide/jetbrains/image/status/go.mod
  components/ide/jetbrains/image/status/go.sum
  components/ide/jetbrains/image/status/main.go
Due: components-gitpod-protocol-go-lib

build JB images for stable and latest separately
  .werft/jobs/build/installer/installer.ts
  components/BUILD.yaml
  components/ide/jetbrains/image/BUILD.yaml
  install/installer/pkg/components/server/ide/configmap.go
  install/installer/pkg/config/v1/experimental/experimental.go
  install/installer/pkg/config/versions/versions.go
Due: none

Redirect web page when instance changed
  components/dashboard/src/start/StartWorkspace.tsx
  components/supervisor/frontend/src/index.ts
Due: components-dashboard-app, components-supervisor-app

[dashboard] support connect via SSH
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/workspaces/ConnectToSSHModal.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Due: components-dashboard-app

[db] Type Prebuild.statusVersion as string due to bigint db represenation
  components/gitpod-db/src/typeorm/entity/db-prebuilt-workspace.ts
  components/gitpod-db/src/typeorm/transformer.ts
  components/ws-manager-bridge/ee/src/bridge.ts
Due: components-ws-manager-bridge-app

Fix werft job wipe-devstaging
  .werft/wipe-devstaging.yaml
Due: none

dashboard: don't show anything in settings for saas
  components/dashboard/src/admin/Settings.tsx
Due: components-dashboard-app

WIP: Demo of configcat for webapp
  components/dashboard/package.json
  components/dashboard/src/experiments/configcat.ts
  components/dashboard/src/workspaces/Workspaces.tsx
  components/server/package.json
  components/server/src/experiments.ts
  components/server/src/workspace/gitpod-server-impl.ts
  yarn.lock
Due: components-dashboard-app

headers
  components/dashboard/src/experiments/configcat.ts
  components/server/src/experiments.ts
Due: components-dashboard-app

fix
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Fix
  components/dashboard/src/workspaces/Workspaces.tsx
Due: components-dashboard-app

Fix
  components/dashboard/src/experiments/configcat.ts
Due: components-dashboard-app

[licensor] fix fallback for `defaultlicense`
  components/licensor/ee/pkg/licensor/gitpod.go
  components/licensor/ee/pkg/licensor/licensor_test.go
  components/licensor/ee/pkg/licensor/replicated.go
Due: components-licensor-app

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-ee-kedge-app: any of: components/ee/kedge/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-poolkeeper-app: any of: dev/poolkeeper/
  dev-sweeper-app: any of: dev/sweeper/
  dev-version-manifest-app: any of: dev/version-manifest/
