Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[dashboard] show pinned workspaces
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Due: components-dashboard-app

[openssh] upgrade openssh to v9.8p1
  components/supervisor/openssh/leeway.Dockerfile
Due: components-supervisor-app

[github] throw up error message from GH
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/public-api/gitpod/v1/error.proto
  components/public-api/go/v1/error.pb.go
  components/public-api/typescript/src/gitpod/v1/error_pb.ts
  components/server/src/errors/index.ts
  components/server/src/github/github-context-parser.ts
  components/server/src/gitlab/gitlab-context-parser.ts
Due: components-dashboard-app

bring back to deep repo search when someone start searching anything on `/new?showExamples=true`
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
Due: components-dashboard-app

update
  components/supervisor/leeway.Dockerfile
  components/supervisor/pkg/supervisor/ssh.go
Due: components-supervisor-app

[openssh] upgrade openssh to v9.8p1 (#19994)
  components/supervisor/leeway.Dockerfile
  components/supervisor/openssh/leeway.Dockerfile
  components/supervisor/pkg/supervisor/ssh.go
Due: components-supervisor-app

stable broken
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle.properties
Due: none

restart to get more workspace space
  components/ide/jetbrains/backend-plugin/BUILD.yaml
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/gradle.properties
Due: none

[dashboard] Onboarding: Add Gitpod repository template to New workspace component (#19991)
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/predefined-repos.ts
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
  components/dashboard/src/icons/GitpodRepositoryTemplate.svg
  components/dashboard/src/start/start-workspace-options.ts
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
Due: components-dashboard-app

[dashboard] show pinned workspaces
  .devcontainer/Dockerfile
  components/dashboard/src/components/PendingChangesDropdown.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

Update YT Video
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Due: components-dashboard-app

[dashboard] Onboarding: new video onboarding for new workspace (#19987)
  components/dashboard/src/Analytics.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Due: components-dashboard-app

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Make it build
  components/ide/jetbrains/backend-plugin/BUILD.yaml
  components/ide/jetbrains/backend-plugin/build.gradle-latest.kts
  components/ide/jetbrains/backend-plugin/build.gradle-stable.kts
  components/ide/jetbrains/backend-plugin/build.gradle.kts
Due: none

Remove deprecated preload property
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Update for gen115
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

Remove deprecated preload property
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodTerminalService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodApplicationListener.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectListener.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/services/HeartbeatService.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

Revert "Remove deprecated preload property"
  components/ide/jetbrains/backend-plugin/build.gradle.kts
  components/ide/jetbrains/backend-plugin/gradle.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/AbstractGitpodTerminalService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodApplicationListener.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectListener.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/services/HeartbeatService.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

do not verify
  components/ide/jetbrains/backend-plugin/build.gradle-stable.kts
Due: none

[ws-manager] Don't skip content backup for failed prebuilds
  components/ws-daemon/pkg/controller/workspace_controller.go
Due: components-ws-daemon-app

[dashboard] show pinned workspaces (#19992)
  .devcontainer/Dockerfile
  components/dashboard/src/components/PendingChangesDropdown.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Due: components-dashboard-app

[dashboard] PrebuildDetailPage: Add button "Open Debug Workspace"
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
Due: components-dashboard-app

[ws-manager] Don't skip content backup for failed prebuilds (#19996)
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/ws-daemon/pkg/controller/workspace_controller.go
Due: components-dashboard-app, components-ws-daemon-app

Do not create fuse device if it already exists (#19968)
  components/ws-daemon/nsinsider/main.go
Due: components-ws-daemon-nsinsider-app, components-ws-daemon-app

[server] Drop old cookie migration path
  components/server/src/session-handler.spec.db.ts
  components/server/src/session-handler.ts
Due: none

Update for gen115 (#19995)
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/variables.tf
Due: none

redirect in the offline case
  components/gitpod-protocol/src/headless-workspace-log.ts
  components/public-api/typescript-common/src/prebuild-utils.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/headless-log-controller.ts
  components/server/src/workspace/headless-log-service.ts
  components/server/src/workspace/workspace-service.ts
Due: none

[dashboard] chore: Update copy texts for empty `/workspaces` page
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Due: components-dashboard-app

add some top margin
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Due: components-dashboard-app

[public-api] generate noise
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Dummy.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/EditorServiceOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/IdeClient.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Identityprovider.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Oidc.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/PaginationOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Projects.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Scm.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Stats.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Teams.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Tokens.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/UserOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Auditlogs.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Authprovider.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/ConfigurationOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Editor.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Envvar.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Error.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Installation.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Pagination.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/PrebuildOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Scm.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Sorting.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Ssh.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Token.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/UserOuterClass.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Verification.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/WorkspaceOuterClass.java
Due: none

[dashboard] chore: Update copy texts for empty `/workspaces` page (#19998)
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Due: components-dashboard-app

[dashboard] feat: Add predefined repositories to `/new`
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

[dashboard] feat: Add predefined repositories to `/new` (#19999)
  components/dashboard/src/components/RepositoryFinder.tsx
Due: components-dashboard-app

[server] Drop old cookie migration path (#19997)
  components/server/src/session-handler.spec.db.ts
  components/server/src/session-handler.ts
Due: none

[github] throw up error message from GH
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/public-api/gitpod/v1/error.proto
  components/public-api/go/v1/error.pb.go
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript/src/gitpod/v1/error_pb.ts
  components/server/src/errors/index.ts
  components/server/src/github/github-context-parser.ts
  components/server/src/gitlab/gitlab-context-parser.ts
Due: components-dashboard-app

add todo
  components/ide/jetbrains/backend-plugin/build.gradle-stable.kts
Due: none

[server] Refactor Prebuild resolution to happen in a single place
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/server/src/container-module.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/projects/projects-service.ts
Due: none

[dashboard, api] Show Prebuild details
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/dashboard/src/prebuilds/list/PrebuildListItem.tsx
  components/public-api/buf.gen.yaml
  components/public-api/gitpod/v1/prebuild.proto
  components/public-api/go/v1/prebuild.pb.go
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/prebuild_pb.ts
Due: components-dashboard-app

[github] throw up error message from GH (#19993)
  components/dashboard/src/workspaces/CreateWorkspacePage.tsx
  components/public-api/gitpod/v1/error.proto
  components/public-api/go/v1/error.pb.go
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript/src/gitpod/v1/error_pb.ts
  components/server/src/errors/index.ts
  components/server/src/github/github-context-parser.ts
  components/server/src/gitlab/gitlab-context-parser.ts
Due: components-dashboard-app

fixup! [server] Refactor Prebuild resolution to happen in a single place
  components/server/src/container-module.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/projects/projects-service.ts
Due: none
