Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Use Java SDK defined on JAVA_HOME by default on JetBrains IDEs
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodProjectManager.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Due: none

[changelog] updated changelog
  CHANGELOG.md
Due: none

Decrease spacing between the timestamp table header and the sorting icon
  components/dashboard/src/teams/TeamUsage.tsx
Due: components-dashboard-app

Add config for billInstancesAfter
  .werft/jobs/build/installer/installer.ts
  components/usage/config.json
Due: none

[installer-tests] Adding test support for s3 registry backend
  .werft/installer-tests.ts
  install/tests/Makefile
  install/tests/main.tf
  install/tests/manifests/kots-config-aws-s3-backend.yaml
  install/tests/output.tf
Due: none

DON'T MERGE THIS
  README.md
Due: none

[installer]: remove all podsecuritypolicies
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/pkg/common/common.go
  install/installer/pkg/components/cluster/objects.go
  install/installer/pkg/components/cluster/podsecuritypolicies.go
  install/installer/pkg/components/image-builder-mk3/clusterrole.go
  install/installer/pkg/components/registry-facade/objects.go
  install/installer/pkg/components/registry-facade/podsecuritypolicy.go
  install/installer/pkg/components/workspace/objects.go
  install/installer/pkg/components/workspace/podsecuritypolicies.go
Due: none

[installer]: remove all references to pod security policies
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/pkg/components/agent-smith/role.go
  install/installer/pkg/components/cluster/clusterrole.go
  install/installer/pkg/components/image-builder-mk3/clusterrole.go
  install/installer/pkg/components/image-builder-mk3/objects.go
  install/installer/pkg/components/registry-facade/clusterrole.go
  install/installer/pkg/components/workspace/objects.go
  install/installer/pkg/components/workspace/role.go
  install/installer/pkg/components/ws-daemon/clusterrole.go
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
Due: none

[installer]: move the kots install script into a bash file in Installer
  install/installer/BUILD.yaml
  install/installer/leeway.Dockerfile
  install/installer/scripts/kots-install.sh
  install/kots/manifests/gitpod-config-patch.yaml
  install/kots/manifests/gitpod-custom-registry-credentials.yaml
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/gitpod-kots-config.yaml
  install/kots/manifests/gitpod-registry-secret.yaml
Due: none

[installer]: move the installation status script to the Installer
  install/installer/scripts/kots-installation-status.sh
  install/kots/manifests/gitpod-installation-status.yaml
Due: none

[installer] Ensure compat with previous config version
  install/installer/pkg/components/ws-manager/configmap.go
  install/installer/pkg/config/v1/config.go
Due: none

[installer] Update golden files
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/config.yaml
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[installer] Update golden files
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/config.yaml
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[installer] Update golden file
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[installer]: add azure-setup render golden files
  install/installer/cmd/testdata/render/azure-setup/config.yaml
  install/installer/cmd/testdata/render/azure-setup/output.golden
Due: none

cleaning up customer license
  .werft/installer-tests.ts
  .werft/jobs/build/self-hosted-upgrade-tests.ts
  .werft/self-hosted-installer-tests.yaml
Due: none

[installer]: add aws-setup render golden files
  install/installer/cmd/testdata/render/aws-setup/config.yaml
  install/installer/cmd/testdata/render/aws-setup/output.golden
Due: none

[installer]: add gcp-setup render golden files
  install/installer/cmd/testdata/render/gcp-setup/config.yaml
  install/installer/cmd/testdata/render/gcp-setup/output.golden
Due: none

[terraform] Updating terraform GCP module
  install/infra/modules/gke/main.tf
  install/infra/modules/gke/variables.tf
  install/infra/single-cluster/gcp/Makefile
  install/infra/single-cluster/gcp/README.md
Due: none

[ready-probe-labeler] Refactor timeout handling
  dev/ready-probe-labeler/main.go
Due: none

Update helm to v3.9.3
  install/installer/go.mod
  install/installer/go.sum
  install/installer/third_party/charts/minio.go
  install/installer/third_party/charts/mysql.go
  install/installer/third_party/charts/rabbitmq.go
Due: none

Remove deprecated test (because gsutil)
  components/content-service/go.mod
  components/content-service/go.sum
  components/content-service/pkg/storage/gcloud_test.go
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-daemon/go.sum
  components/ws-manager/go.sum
  install/installer/go.sum
  test/go.sum
Due: components-content-service-app, components-supervisor-app, components-ws-daemon-app, components-ws-manager-app

Fix typecheck errors
  install/installer/cmd/mirror_kots.go
  install/installer/pkg/common/common_test.go
  install/installer/pkg/common/customize_test.go
  install/installer/pkg/common/render.go
  install/installer/pkg/common/render_test.go
  install/installer/pkg/components/blobserve/configmap.go
  install/installer/pkg/components/content-service/configmap_test.go
  install/installer/pkg/components/database/incluster/render_test.go
  install/installer/pkg/components/database/init/render_test.go
  install/installer/pkg/components/docker-registry/secret.go
  install/installer/pkg/components/gitpod/cronjob.go
  install/installer/pkg/components/ide-proxy/service_test.go
  install/installer/pkg/components/migrations/render_test.go
  install/installer/pkg/components/openvsx-proxy/service_test.go
  install/installer/pkg/components/proxy/service_test.go
  install/installer/pkg/components/public-api-server/objects_test.go
  install/installer/pkg/components/server/configmap_test.go
  install/installer/pkg/components/server/render_test.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/components/usage/objects_test.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/objects_test.go
  install/installer/pkg/components/ws-manager/configmap_test.go
  install/installer/pkg/components/ws-proxy/objects.go
Due: none

Remove post-process status removal
  .werft/jobs/build/installer/post-process.sh
Due: none

Fix installer golden files
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
Due: none

[loadgen] add support for passing feature flags
  dev/loadgen/cmd/benchmark.go
  dev/loadgen/configs/prod-benchmark-pvc.yaml
Due: dev-loadgen-app

ws-manager: Improve handling of sync.Map during initializing
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

ws-manager: Replace initializerMapLock with sync.Map
  components/ws-manager/pkg/manager/monitor.go
Due: components-ws-manager-app

Update docker-compose to v2.10.0
  components/docker-up/BUILD.yaml
Due: none

add support for aborting workspaces
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager/pkg/manager/annotations.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-manager/pkg/manager/metrics.go
  components/ws-manager/pkg/manager/monitor.go
  components/ws-manager/pkg/manager/status.go
Due: components-ws-manager-app
