Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

removing calc links since it doesn't exist anymore
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

Add comment
  components/dashboard/src/index.tsx
Due: components-dashboard-app

removing calc links since it doesn't exist anymore (#18584)
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
Due: components-dashboard-app

🐛 fix: CLS bug on Git providers settings page
  components/dashboard/src/user-settings/AuthEntryItem.tsx
Due: components-dashboard-app

🐛 fix: CLS bug on Git providers settings page (#18578)
  components/dashboard/src/user-settings/AuthEntryItem.tsx
Due: components-dashboard-app

Fix yarn.lock
  package.json
  yarn.lock
Due: none

renaming cap => maxPages
  components/server/src/bitbucket-server/bitbucket-server-api.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
  components/server/src/prebuilds/bitbucket-server-service.ts
  components/server/src/repohost/repo-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

fixing some stuttering widths changing as things load
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/projects/new-project/NewProjectAccountSelector.tsx
  components/dashboard/src/projects/new-project/NewProjectRepoSelection.tsx
Due: components-dashboard-app

update index (#18553)
  install/installer/leeway.Dockerfile
Due: none

add alert message for bbs searching
  components/dashboard/src/projects/new-project/NewProjectRepoSelection.tsx
Due: components-dashboard-app

Update generated
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Due: none

Incremental repo searching (#18566)
  components/dashboard/package.json
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/git-providers/provider-repositories-query.ts
  components/dashboard/src/hooks/use-state-with-debounce.ts
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/projects/new-project/NewProjectAccountSelector.tsx
  components/dashboard/src/projects/new-project/NewProjectRepoSelection.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/bitbucket-server/bitbucket-server-api.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
  components/server/src/prebuilds/bitbucket-server-service.ts
  components/server/src/repohost/repo-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  yarn.lock
Due: components-dashboard-app

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Due: components-blobserve-app, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-local-app-app-linux, components-registry-facade-app, components-service-waiter-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

fix: repo host url to lowercase by default
  components/server/src/workspace/context-parser.ts
Due: none

[fga] WorkspaceService.getWorkspace(s) (#18565)
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
Due: none

[server] FGA checks for all admin*Workspace methods
  components/server/src/authorization/definitions.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/spicedb/schema/schema.yaml
Due: none

rebase artifacts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[server] FGA checks for all admin*Workspace methods (#18569)
  components/server/src/authorization/definitions.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/spicedb/schema/schema.yaml
Due: none

[fga] only migrate non-deleted workspaces
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.spec.db.ts
  components/server/src/authorization/relationship-updater.ts
  components/server/src/redis/mutex.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[fga] only migrate non-deleted workspaces (#18588)
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/relationship-updater.spec.db.ts
  components/server/src/authorization/relationship-updater.ts
  components/server/src/redis/mutex.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Support managed redis (#18581)
  components/gitpod-db/src/redis/client.ts
  components/server/src/container-module.ts
  components/ws-manager-bridge/src/container-module.ts
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: components-ws-manager-bridge-app

[papi] List workspace classes (#18546)
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/v1connect/workspaces.connect.go
  components/public-api/go/experimental/v1/v1connect/workspaces.proxy.connect.go
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/go/experimental/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  components/server/src/api/workspaces.ts
Due: none

Update Desktop scopes
  components/server/src/oauth-server/db.ts
Due: none

[seccomp] Allow keyctl syscall
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[seccomp] Allow additional keys
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

Update Desktop scopes (#18589)
  components/server/src/oauth-server/db.ts
Due: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to 232.9559-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Due: none

update node to 18.17.1 (#18525)
  .github/actions/delete-preview/Dockerfile
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/preview-create/Dockerfile
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
  .gitpod.yml
  components/dashboard/.eslintrc.js
  components/dashboard/craco.config.js
  components/dashboard/package.json
  components/dashboard/postcss.config.js
  components/dashboard/src/components/forms/CheckboxInputField.tsx
  components/dashboard/src/components/modal.css
  components/dashboard/src/components/org-icon/styles.css
  components/dashboard/src/dedicated-setup/styles.css
  components/dashboard/src/index.tsx
  components/dashboard/tailwind.config.js
  components/gitpod-db/leeway.Dockerfile
  components/gitpod-db/package.json
  components/gitpod-protocol/package.json
  components/ide-metrics-api/typescript-grpcweb/package.json
  components/local-app-api/typescript-grpcweb/package.json
  components/server/leeway.Dockerfile
  components/server/package.json
  components/supervisor/frontend/package.json
  components/ws-manager-bridge/leeway.Dockerfile
  components/ws-manager-bridge/package.json
  dev/image/Dockerfile
  yarn.lock
Due: components-dashboard-app, components-supervisor-app, components-ws-manager-bridge-app

[fga] minor fixes
  components/server/src/authorization/relationship-updater.ts
  components/server/src/workspace/workspace-service.ts
Due: none

[server] Reconnect to spicedb without waiting 2 mins (+ fail on missing config + client call metrics)
  components/server/package.json
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/spicedb-authorizer.ts
  components/server/src/authorization/spicedb.ts
  components/server/src/container-module.ts
  components/server/src/test/service-testing-container-module.ts
  install/installer/pkg/components/spicedb/deployment.go
  yarn.lock
Due: none

[fga] reset user's fga state after logout
  components/server/src/user/user-controller.ts
Due: none

review comments
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/spicedb-authorizer.ts
Due: none

[fga] reset user's fga state after logout (#18593)
  components/server/src/user/user-controller.ts
Due: none

[fga] minor fixes (#18592)
  components/server/src/authorization/relationship-updater.ts
  components/server/src/workspace/workspace-service.ts
Due: none

[server] terminate ws on shutdown (#18550)
  components/server/src/express/ws-handler.ts
  components/server/src/init.ts
  components/server/src/server.ts
Due: none

[server] Reconnect to spicedb without waiting 2 mins (+ fail on missing config + client call metrics) (#18570)
  components/server/package.json
  components/server/src/authorization/authorizer.ts
  components/server/src/authorization/spicedb-authorizer.ts
  components/server/src/authorization/spicedb.ts
  components/server/src/container-module.ts
  components/server/src/test/service-testing-container-module.ts
  install/installer/pkg/components/spicedb/deployment.go
  yarn.lock
Due: none

Enable reading of keyring (#18594)
  components/ws-daemon/seccomp-profile-installer/main.go
Due: components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[ws-manager-mk2] Scrub status fields, add vscode launch.json
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/.vscode/launch.json
  components/ws-manager-mk2/controllers/workspace_controller.go
  components/ws-manager-mk2/example-config.json
  components/ws-manager-mk2/ws-manager-mk2.code-workspace
Due: none

[server] update gitlab REST client library
  components/server/package.json
  yarn.lock
Due: none

Path conditions:
  components-blobserve-app: any of: components/blobserve/
  components-common-go-lib: any of: components/common-go/
  components-content-service-app: any of: components/content-service/
  components-dashboard-app: any of: components/dashboard/
  components-ee-agent-smith-app: any of: components/ee/agent-smith/
  components-gitpod-cli-app: any of: components/gitpod-cli/
  components-gitpod-protocol-go-lib: any of: components/gitpod-protocol/go/
  components-image-builder-app: any of: components/image-builder/
  components-licensor-app: any of: components/licensor/
  components-local-app-api-go-lib: any of: components/local-app-api/go/
  components-local-app-app-linux: any of: components/local-app/
  components-registry-facade-app: any of: components/registry-facade/
  components-registry-facade-api-go-lib: any of: components/registry-facade-api/
  components-service-waiter-app: any of: components/service-waiter/
  components-supervisor-app: any of: components/supervisor/
  components-supervisor-api-go-lib: any of: components/supervisor-api/go/
  components-workspacekit-app: any of: components/workspacekit/
  components-ws-daemon-api-go-lib: any of: components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app: any of: components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app: any of: components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app: any of: components/ws-daemon/
  components-ws-manager-bridge-app: any of: components/ws-manager-bridge/
  components-ws-manager-app: any of: components/ws-manager/
  dev-blowtorch-app: any of: dev/blowtorch/
  dev-loadgen-app: any of: dev/loadgen/
  dev-version-manifest-app: any of: dev/version-manifest/
