Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

fix
  components/gitpod-db/go/dbtest/identity.go
  components/gitpod-db/go/dbtest/user.go
  components/gitpod-db/go/identity.go
  components/gitpod-db/go/user.go
  components/gitpod-db/go/user_test.go
Due: none

[gitpod-db] Add Identity.lastSigninTime
  components/gitpod-db/src/typeorm/entity/db-identity.ts
  components/gitpod-db/src/typeorm/migration/1685955742395-AddLastSigninTimeToIdentity.ts
  components/gitpod-protocol/src/protocol.ts
Due: none

fix
  components/gitpod-db/go/user.go
  components/gitpod-db/go/user_test.go
Due: none

revert useOIDCClientsQuery changes
  components/dashboard/src/data/oidc-clients/oidc-clients-query.ts
Due: components-dashboard-app

make use of lastSigninTime on Account page
  components/dashboard/src/user-settings/Account.tsx
Due: components-dashboard-app

[server] update lastSigninTime on signin
  components/server/src/iam/iam-session-app.ts
Due: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to 232.6734-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Due: none

[workspace] show ide alert on errors (#11035)
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

[workspace] refactor code for showing ide alert
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

[workspace] hide ide alert on stop phase (#11035)
  components/dashboard/src/start/StartWorkspace.tsx
Due: components-dashboard-app

[db] Find user by identity
  components/gitpod-db/go/user.go
  components/gitpod-db/go/user_test.go
Due: none

fixup tests
  components/gitpod-db/src/user-db.spec.db.ts
Due: none

fixup condition in createProject
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

Update KOTS app to release-2022.11.3
  install/kots/manifests/gitpod-installation-status.yaml
  install/kots/manifests/gitpod-installer-job.yaml
  install/kots/manifests/kots-app.yaml
Due: none

[wsman-api] Add maximum lifetime to workspace CRD
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
Due: none

[wsman-api] Add maximum lifetime to workspace request
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
Due: none

[wsman] Set maximum lifetime during workspace start
  components/ws-manager-mk2/service/manager.go
Due: none

[wsman] Check custom max lifetime
  components/ws-manager-mk2/controllers/timeout_controller.go
Due: none

Validate cloneUrl agains accessible repositories – WEB-402 (#17809)
  components/dashboard/src/projects/NewProject.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

fixup update of lastSigninTime
  components/server/src/iam/iam-session-app.ts
Due: none

don't log http headers
  components/gitpod-protocol/go/reconnecting-ws.go
Due: components-gitpod-protocol-go-lib

[jb-gw]: fix 232.6734-EAP-CANDIDATE-SNAPSHOT incompatibilities
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/GitpodConnectionProvider.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/common/GitpodConnectionHandleFactory.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/latest/GitpodConnectionHandle.kt
  components/ide/jetbrains/gateway-plugin/src/main/kotlin/io/gitpod/jetbrains/gateway/stable/GitpodConnectionHandle.kt
Due: none

fix
  components/gitpod-db/go/user.go
Due: none

renamed to cleanUser
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

[server] Add tests for resource-access and env-var-service
  components/server/src/auth/resource-access.spec.ts
  components/server/src/workspace/env-var-service.spec.ts
Due: none

[server] avoid returning DBUser on ws API – WEB-400 (#17823)
  components/server/src/workspace/gitpod-server-impl.ts
Due: none

fix
  components/gitpod-db/go/dbtest/identity.go
  components/gitpod-db/go/user_test.go
Due: none

clean up
  test/pkg/integration/apis.go
Due: none

[iam] Drop compatibility lookup
  components/server/src/iam/iam-session-app.ts
Due: none

fix
  components/server/src/iam/iam-session-app.ts
Due: none

[iam] Drop compatibility lookup (#17828)
  components/server/src/iam/iam-session-app.ts
Due: none

Add a Download Usage csv button (#17791)
  components/dashboard/package.json
  components/dashboard/src/components/Button.tsx
  components/dashboard/src/components/LinkButton.tsx
  components/dashboard/src/components/ProgressBar.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/UsageView.tsx
  components/dashboard/src/components/toasts/Toast.tsx
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/hooks/use-temporary-value.ts
  components/dashboard/src/icons/Download.svg
  components/dashboard/src/icons/SpinnerWhite.svg
  components/dashboard/src/teams/sso/OIDCClients.tsx
  components/dashboard/src/theme-context.tsx
  components/dashboard/src/usage/download/DownloadUsage.tsx
  components/dashboard/src/usage/download/download-usage-csv.ts
  components/dashboard/src/usage/download/get-usage-records.ts
  components/dashboard/src/usage/download/transform-usage-record.ts
  components/dashboard/tailwind.config.js
  components/usage/pkg/apiv1/usage.go
  yarn.lock
Due: components-dashboard-app

[wsman-mk2] Remove ws-manager-mk2 from experimental
  components/ws-daemon/pkg/daemon/config.go
  components/ws-daemon/pkg/daemon/daemon.go
  install/installer/pkg/components/ws-daemon/configmap.go
  install/installer/pkg/components/ws-daemon/constants.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-daemon/role.go
  install/installer/pkg/components/ws-daemon/rolebinding.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-manager-mk2/objects.go
  install/installer/pkg/components/ws-proxy/role.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: components-ws-daemon-app

adjust usage page for new designs
  components/dashboard/src/components/UsageView.tsx
Due: components-dashboard-app
