Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

Build previewctl using GitHub actions and enable job on main
  .github/workflows/build.yml
Due: none

[supervisor] active client notifications
  WORKSPACE.yaml
  components/gitpod-cli/cmd/docs.go
  components/gitpod-cli/cmd/open.go
  components/gitpod-cli/cmd/preview.go
  components/gitpod-cli/pkg/supervisor/client.go
  components/ide/code/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodManager.kt
  components/ide/jetbrains/image/leeway.Dockerfile
  components/supervisor-api/notification.proto
  components/supervisor/pkg/supervisor/notification.go
  components/supervisor/pkg/supervisor/supervisor.go
  components/supervisor/pkg/supervisor/supervisor_test.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-ide/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/workspace/ide/constants.go
Due: components-gitpod-cli-app, components-supervisor-app

Outputs are strings so we have to check explicitly
  .github/workflows/build.yml
Due: none

Fix delete-preview action
  .github/actions/delete-preview/entrypoint.sh
Due: none

Temporarily build the docker image on every build
  dev/preview/previewctl/BUILD.yaml
Due: none

leeway component to build vscode-web
  components/ide/code/extension/BUILD.yaml
  components/ide/code/extension/leeway.Dockerfile
Due: none

[admin] add phone number to user page
  components/dashboard/src/admin/UserDetail.tsx
Due: components-dashboard-app

Fix
  components/ws-manager/pkg/manager/metrics.go
Due: components-ws-manager-app

[changelog] updated changelog
  CHANGELOG.md
Due: none

[ws-manager-mk2] Configure health probes and leader election
  components/ws-manager-api/go/config/config.go
  components/ws-manager-mk2/main.go
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-manager-mk2/constants.go
  install/installer/pkg/components/ws-manager-mk2/deployment.go
Due: none

[spicedb] Remove dedicated cloud-sql-proxy config
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[spicedb] Disable remote telemetry
  install/installer/pkg/components/spicedb/deployment.go
Due: none

[spicedb] Add network policy
  install/installer/pkg/components/spicedb/networkpolicy.go
  install/installer/pkg/components/spicedb/objects.go
Due: none

[papi] Add signing secret for JWTs
  .werft/jobs/build/public-api/oidc-client-jwt-signing-key.yaml
  components/public-api-server/pkg/server/server.go
  components/public-api/go/config/config.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/cmd/testdata/render/agent-smith/output.golden
  install/installer/cmd/testdata/render/aws-setup/output.golden
  install/installer/cmd/testdata/render/azure-setup/output.golden
  install/installer/cmd/testdata/render/custom-pull-repository/output.golden
  install/installer/cmd/testdata/render/customization/output.golden
  install/installer/cmd/testdata/render/external-registry/output.golden
  install/installer/cmd/testdata/render/gcp-setup/output.golden
  install/installer/cmd/testdata/render/http-proxy/output.golden
  install/installer/cmd/testdata/render/kind-meta/output.golden
  install/installer/cmd/testdata/render/kind-webapp/output.golden
  install/installer/cmd/testdata/render/message-bus-password/output.golden
  install/installer/cmd/testdata/render/minimal/output.golden
  install/installer/cmd/testdata/render/overrides-inline/output.golden
  install/installer/cmd/testdata/render/pod-config/output.golden
  install/installer/cmd/testdata/render/shortname/output.golden
  install/installer/cmd/testdata/render/statefulset-customization/output.golden
  install/installer/cmd/testdata/render/telemetry/output.golden
  install/installer/cmd/testdata/render/use-pod-security-policies/output.golden
  install/installer/cmd/testdata/render/vsxproxy-pvc/output.golden
  install/installer/cmd/testdata/render/workspace-requests-limits/output.golden
  install/installer/pkg/components/public-api-server/configmap.go
  install/installer/pkg/components/public-api-server/configmap_test.go
  install/installer/pkg/components/public-api-server/constants.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/public-api-server/deployment_test.go
  install/installer/pkg/components/public-api-server/objects_test.go
  install/installer/pkg/config/v1/config.md
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

[spicedb] Remove duplicate DB_HOST env var for db-waiter
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/spicedb/migrations.go
Due: none

[spicedb] Fix migrations service account name
  install/installer/pkg/components/spicedb/migrations.go
Due: none

[dashboard] user visible rename team->organization
  components/dashboard/src/Menu.tsx
  components/dashboard/src/admin/TeamsSearch.tsx
  components/dashboard/src/admin/admin-menu.ts
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/BillingAccountSelector.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/UsageLimitReachedModal.tsx
  components/dashboard/src/components/UsageView.tsx
  components/dashboard/src/contexts/FeatureFlagContext.tsx
  components/dashboard/src/hooks/use-user-and-teams-loader.ts
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/projects/ProjectSettings.tsx
  components/dashboard/src/projects/RemoveProjectModal.tsx
  components/dashboard/src/settings/Plans.tsx
  components/dashboard/src/settings/Teams.tsx
  components/dashboard/src/settings/settings-menu.ts
  components/dashboard/src/settings/settings.routes.ts
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/teams/JoinTeam.tsx
  components/dashboard/src/teams/Members.tsx
  components/dashboard/src/teams/NewTeam.tsx
  components/dashboard/src/teams/TeamBilling.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/TeamUsageBasedBilling.tsx
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/server/src/user/user-controller.ts
  components/server/src/workspace/gitpod-server-impl.ts
Due: components-dashboard-app

Run cron every 4 hours
  .werft/platform-delete-preview-environments-cron.yaml
Due: none

[grafana] Cleanup server component dashboard
  operations/observability/mixins/meta/dashboards/components/server.json
Due: none

Remove scenario assuming workspace clusters run in GCP
  install/installer/cmd/testdata/render/kind-workspace/output.golden
  install/installer/pkg/components/ws-proxy/objects.go
Due: none

Update buildkit and containerd
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
Due: components-blobserve-app, components-registry-facade-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app

[slow-server] Change flag from bool to string (DB_HOST)
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/slowserver/deployment.go
  install/installer/pkg/components/slowserver/objects.go
  install/installer/pkg/components/slowserver/render_test.go
  install/installer/pkg/components/toxiproxy/objects.go
  install/installer/pkg/components/toxiproxy/objects_test.go
  install/installer/pkg/config/v1/experimental/experimental.go
Due: none

Only create infra if gha is enabled
  .github/workflows/build.yml
Due: none

deploy-gitpod is shared by everyone
  .github/CODEOWNERS
Due: none

DEV
  README.md
Due: none
