Repository gitpod-io/gitpod: changes, and which Codecov flags are due for each by the changed paths.
All: components-blobserve-app, components-common-go-lib, components-content-service-app, components-dashboard-app, components-ee-agent-smith-app, components-gitpod-cli-app, components-gitpod-protocol-go-lib, components-image-builder-app, components-licensor-app, components-local-app-api-go-lib, components-local-app-app-linux, components-registry-facade-app, components-registry-facade-api-go-lib, components-service-waiter-app, components-supervisor-app, components-supervisor-api-go-lib, components-workspacekit-app, components-ws-daemon-api-go-lib, components-ws-daemon-nsinsider-app, components-ws-daemon-seccomp-profile-installer-app, components-ws-daemon-app, components-ws-manager-bridge-app, components-ws-manager-app, dev-blowtorch-app, dev-loadgen-app, dev-version-manifest-app

codecov.yml:

# curl --data-binary @codecov.yml https://codecov.io/validate
codecov:
  require_ci_to_pass: yes # wait for all other statuses to pass before sending its status
  branch: main
  # strict_yaml_branch: main

coverage:
  precision: 2
  round: down
  range: "40...100"         # less than 40% having a red background

comment:
  layout: "reach,diff,flags"
  behavior: default         #  update, if exists. Otherwise post new.
  require_changes: true     # if true: only post the comment if coverage changes
  require_base: no          # [yes :: must have a base report to post]
  require_head: yes         # [yes :: must have a head report to post]

flags:
  components-blobserve-app:
    paths:
      - components/blobserve/
  components-common-go-lib:
    paths:
      - components/common-go/
  components-content-service-app:
    paths:
      - components/content-service/
  components-dashboard-app:
    paths:
      - components/dashboard/
  components-ee-agent-smith-app:
    paths:
      - components/ee/agent-smith/
  components-gitpod-cli-app:
    paths:
      - components/gitpod-cli/
  components-gitpod-protocol-go-lib:
    paths:
      - components/gitpod-protocol/go/
  components-image-builder-app:
    paths:
      - components/image-builder/
  components-licensor-app:
    paths:
      - components/licensor/
  components-local-app-api-go-lib:
    paths:
      - components/local-app-api/go/
  components-local-app-app-linux:
    paths:
      - components/local-app/
  components-registry-facade-app:
    paths:
      - components/registry-facade/
  components-registry-facade-api-go-lib:
    paths:
      - components/registry-facade-api/
  components-service-waiter-app:
    paths:
      - components/service-waiter/
  components-supervisor-app:
    paths:
      - components/supervisor/
  components-supervisor-api-go-lib:
    paths:
      - components/supervisor-api/go/
  components-workspacekit-app:
    paths:
      - components/workspacekit/
  components-ws-daemon-api-go-lib:
    paths:
      - components/ws-daemon-api/go/
  components-ws-daemon-nsinsider-app:
    paths:
      - components/ws-daemon/nsinsider/
  components-ws-daemon-seccomp-profile-installer-app:
    paths:
      - components/ws-daemon/seccomp-profile-installer/
  components-ws-daemon-app:
    paths:
      - components/ws-daemon/
  components-ws-manager-bridge-app:
    paths:
      - components/ws-manager-bridge/
  components-ws-manager-app:
    paths:
      - components/ws-manager/
  dev-blowtorch-app:
    paths:
      - dev/blowtorch/
  dev-loadgen-app:
    paths:
      - dev/loadgen/
  dev-version-manifest-app:
    paths:
      - dev/version-manifest/

[dev] Make Team Enterprise co-own everything
  .github/CODEOWNERS
Due: none

Autofix: trailing-spaces
  components/dashboard/src/icons/dataops-dark.svg
  components/dashboard/src/icons/dataops-light.svg
Due: components-dashboard-app

Autofix: upgrade-nvm-tools
  dev/image/Dockerfile
Due: none

Autofix: trailing-spaces (#19719)
  components/dashboard/src/icons/dataops-dark.svg
  components/dashboard/src/icons/dataops-light.svg
Due: components-dashboard-app

Autofix: upgrade-nvm-tools (#19720)
  dev/image/Dockerfile
Due: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 241.17011-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Due: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Upgrade gha `create-pull-request` to `v6`
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
Due: none

Build code 1.89.1
  WORKSPACE.yaml
Due: none

add devcontainer support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  WORKSPACE.yaml
  dev/install-dependencies.sh
Due: none

Add `scope` flag to idp commands
  components/gitpod-cli/cmd/idp-gcloud-token.go
  components/gitpod-cli/cmd/idp-login-aws.go
  components/gitpod-cli/cmd/idp-login-vault.go
  components/gitpod-cli/cmd/idp-login.go
  components/gitpod-cli/cmd/idp-token.go
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
  components/public-api-server/pkg/identityprovider/idp_test.go
  components/public-api/gitpod/experimental/v1/identityprovider.proto
  components/public-api/go/experimental/v1/identityprovider.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/identityprovider_pb.ts
Due: components-gitpod-cli-app

Build code 1.89.1 (#19726)
  WORKSPACE.yaml
Due: none

Print idea.log location
  test/tests/ide/jetbrains/gateway_test.go
Due: none

root
  .devcontainer/Dockerfile
Due: none

Test integration test
  test/tests/ide/jetbrains/gateway_test.go
Due: none

root2
  .devcontainer/devcontainer.json
Due: none

[code] upgrade Browser VS Code to 1.89.1
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

Log ide settings
  components/server/src/ide-service.ts
Due: none

Fix regular integration test
  components/gitpod-protocol/go/gitpod-service.go
  components/server/src/ide-service.ts
  test/pkg/integration/workspace.go
  test/tests/ide/jetbrains/gateway_test.go
Due: components-gitpod-protocol-go-lib

fixup
  test/pkg/integration/workspace.go
Due: none

use $HOME
  dev/preview/infrastructure/variables.tf
  dev/preview/workflow/preview/deploy-gitpod.sh
  dev/preview/workflow/preview/deploy-monitoring-satellite.sh
Due: none

Fix regular IDE integration tests (#19728)
  components/gitpod-protocol/go/gitpod-service.go
  test/tests/ide/jetbrains/gateway_test.go
Due: components-gitpod-protocol-go-lib

[JetBrains] Update IDE images to new build version (#19731)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Due: none

Upgrade gha `create-pull-request` to `v6` (#19724)
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
Due: none

Add devcontainer support (#19725)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  WORKSPACE.yaml
  dev/install-dependencies.sh
  dev/preview/infrastructure/variables.tf
  dev/preview/workflow/preview/deploy-gitpod.sh
  dev/preview/workflow/preview/deploy-monitoring-satellite.sh
Due: none

[code] upgrade Browser VS Code to 1.89.1 (#19729)
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/workspace/ide/constants.go
Due: none

[registry-facade] switch to use hostPort
  dev/preview/workflow/preview/post-process.sh
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/registry-facade/objects.go
Due: none

cleanup post-process.sh
  dev/preview/workflow/preview/post-process.sh
Due: none

review comments
  components/server/src/user/token-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Add Feature Flags
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/launcher/go.mod
  components/ide/jetbrains/launcher/go.sum
  components/ide/jetbrains/launcher/main.go
  components/supervisor/pkg/supervisor/supervisor.go
Due: components-supervisor-app

Opportunistic token refresh (for BitBucket Server) (#19715)
  components/gitpod-db/src/typeorm/entity/db-token-entry.ts
  components/gitpod-db/src/typeorm/migration/1715096375962-TokenReservedUntil.ts
  components/gitpod-db/src/typeorm/user-db-impl.ts
  components/gitpod-db/src/user-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/auth-provider.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/prometheus-metrics.ts
  components/server/src/user/token-provider.ts
  components/server/src/user/token-service.spec.db.ts
  components/server/src/user/token-service.ts
  components/server/src/workspace/workspace-starter.ts
Due: none

Adjust date in TEvaluator
  components/licensor/ee/pkg/licensor/replicated.go
Due: components-licensor-app

[server] listWorkspaceSessions API
  components/dashboard/src/service/json-rpc-workspace-client.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/v1connect/workspace.connect.go
  components/public-api/go/v1/v1connect/workspace.proxy.connect.go
  components/public-api/go/v1/workspace.pb.go
  components/public-api/go/v1/workspace_grpc.pb.go
  components/public-api/typescript-common/fixtures/toBlockedRepository_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_2.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_3.golden
  components/public-api/typescript-common/fixtures/toWorkspace3_adminPage_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_4.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_4.json
  components/public-api/typescript-common/fixtures/toWorkspace_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace_2.golden
  components/public-api/typescript-common/fixtures/toWorkspace_3.golden
  components/public-api/typescript-common/fixtures/toWorkspace_4.golden
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/workspace_connect.ts
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/spicedb/schema/schema.yaml
Due: components-dashboard-app

[dev] copied over CI from main
  .github/actions/delete-preview/Dockerfile
  .github/actions/delete-preview/entrypoint.sh
  .github/actions/delete-preview/metadata.yml
  .github/actions/deploy-gitpod/Dockerfile
  .github/actions/deploy-gitpod/entrypoint.sh
  .github/actions/deploy-gitpod/metadata.yml
  .github/actions/deploy-monitoring-satellite/Dockerfile
  .github/actions/deploy-monitoring-satellite/entrypoint.sh
  .github/actions/deploy-monitoring-satellite/metadata.yml
  .github/actions/integration-tests/action.yml
  .github/actions/preview-create/Dockerfile
  .github/actions/preview-create/entrypoint.sh
  .github/actions/preview-create/metadata.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/build.yml
  .github/workflows/code-nightly.yml
  .github/workflows/ide-integration-tests.yml
  .github/workflows/jetbrains-auto-update-template.yml
  .github/workflows/jetbrains-auto-update.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-updates.yml
  .github/workflows/lacework-inline-scanner.yml
  .github/workflows/preview-env-check-regressions.yml
  .github/workflows/preview-env-delete.yml
  .github/workflows/preview-env-gc.yml
  .github/workflows/workspace-integration-tests.yml
Due: none

[server] listWorkspaceSessions API (#19733)
  components/dashboard/src/service/json-rpc-workspace-client.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.ts
  components/gitpod-protocol/src/protocol.ts
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/v1connect/workspace.connect.go
  components/public-api/go/v1/v1connect/workspace.proxy.connect.go
  components/public-api/go/v1/workspace.pb.go
  components/public-api/go/v1/workspace_grpc.pb.go
  components/public-api/typescript-common/fixtures/toBlockedRepository_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_2.golden
  components/public-api/typescript-common/fixtures/toWorkspace2_3.golden
  components/public-api/typescript-common/fixtures/toWorkspace3_adminPage_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_4.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_4.json
  components/public-api/typescript-common/fixtures/toWorkspace_1.golden
  components/public-api/typescript-common/fixtures/toWorkspace_2.golden
  components/public-api/typescript-common/fixtures/toWorkspace_3.golden
  components/public-api/typescript-common/fixtures/toWorkspace_4.golden
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/workspace_connect.ts
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/workspace/workspace-service.spec.db.ts
  components/server/src/workspace/workspace-service.ts
  components/spicedb/schema/schema.yaml
Due: components-dashboard-app

fixup
  components/ide/jetbrains/launcher/main.go
Due: none

fix
  components/ide/jetbrains/launcher/main.go
Due: none
